<%-include('header');-%>
<%-include('language_sidebar');-%>
<main class="nk-pages">
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="what">
        <div class="container">
            <!--Block @s -->
            <div class="nk-block nk-block-text-wrap">
                <div class="section-head text-center wide-auto-sm">
                    <h２ class="title title-s４ animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">
                        DoubleHandsは何ですか？</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">分散的に収入を生成します</p>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title">NOT AN INVESTMENT</div>
                            <div>WAITする必要はありません</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title">NOT A TRADE</div>
                            <div>安全上のご注意</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title">NO SALES</div>
                            <div>製品「MAGICAL」</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">フラクタル数学</div>
                            <div>元の形式で</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">リスクフリー</div>
                            <div>ACCESSIBLE TO ALL</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">プロポーションとNUMBERS</div>
                            <div>NATUREによって発明</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 ">
                        <img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">
                            Este es el Contrato inteligente <i class="fa fa-check remark"></i> <span
                                class="remark">verificado</span> y de <i class="fa fa-code remark"></i> <span
                                class="remark">código abierto</span>, donde todos pueden ganar tanto como él
                            quiera, ya sea un nuevo iPhone o un nuevo apartamento. No hay necesidad de devolver
                            este dinero más tarde. <a class="remark" href="#">Ver contrato</a></p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-cubes remark"></i>イーサリアム：ビットコインの人気に次いで世界第二cryptocurrencyとインテリジェントな契約を作成する能力を持つ人気の最初の。スマート契約：イーサリアムがネットワークにロードされた後に編集または公開することはできませんcriptomonedas分散アルゴリズム、。
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-address-card remark"></i>インテリジェント契約CRYPTOHANDSにも理論的には、誰もがそのクリエイターを含め、それを変更したり削除することができ、ネットワークcriptomonedasのイーサリアムにロードされています。そのため、何も、何もそれがサイトまたは管理の閉鎖を消滅した場合でも、システムの作業を停止することはできません。
                        CRYPTOHANDSシステムは、誰にも属しており、独立して、サイトの運営はありません。
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"> <i
                            class="fa fa-user remark"></i>サイトの管理者がそれらをブロックしたり、それらを削除することはできませんので、すべてのユーザーのアカウントではなく、サイト上の知的契約によって維持されています。サイト上で自分のアカウント（パスワードなし）で示したインテリジェント契約イーサリアムから取られた各アカウントの情報のみを、CRYPTOHANDS。そのため、アカウントをハックし、メンバーの財布を変更することは不可能です。
                    </div>
                </div>
            </div>
            <!-- .block @e -->
        </div>
    </section>
    <!-- // -->
    <!-- // -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line">
                    <span class="line-1"></span><span class="line-2"></span><span class="line-3"></span><span
                        class="line-4"></span>
                    <span class="line-5"></span><span class="line-6"></span><span class="line-7"></span><span
                        class="line-8"></span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">¿Cómo
                    funciona?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Necesitas una Wallet de Ethereum y 0.08 ETH.
                    <br> (0.08 ETH = $<%= (platformData.prices.eth_usd * 0.08).toFixed(2) %> USDT) <br> <b>Paso 0:</b>
                    Si no tienes una Wallet de Ethereum puedes consultar más detalles en <a style="color: #39d884"
                        href='/faqeth'>Ethereum FAQ</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>

                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 1</span>
                                        <span class="roadmap-title teal">Registrarse</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_1.svg" alt="">
                                    </div>
                                    <p class="card-text">Para Registrarte y obtener el Nivel 1 en el Sistema,
                                        únicamente tienes
                                        que enviar 0.08 ETH a tu línea ascendente cada 2 meses; y la primera
                                        persona que vino después de Tí te devuelve estos fondos, cada dos meses
                                        también. Todas las demás transferencias se realizan expensas de los
                                        fondos ya ganados. Guía simple y clara en la página de <a
                                            href="/signup">registro</a></p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 2</span>
                                        <span class="roadmap-title teal">Ingresar</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i> -->
                                        <img class="roadmap-img" src="images/dark/hiwall_2.svg" alt="">
                                    </div>
                                    <p class="card-text"><span class="">Ingresa a tu cuenta</span>, utilizando
                                        solo la
                                        dirección de tu billetera de Ethereum (<span class="">sin
                                            contraseña</span>). La contraseña no es necesaria, ya que su cuenta
                                        está en un Contrato Inteligente, y no en el sitio web. Por lo tanto, su
                                        cuenta no puede ser bloqueada o eliminada del Sistema; incluso por la
                                        administración del sitio web. Además, tu monedero de Ethereum no puede
                                        ser hackeado o cambiado.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 3</span>
                                        <span class="roadmap-title teal">Obtener Referidos</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_3.svg" alt="">
                                    </div>
                                    <p class="card-text">Hay cuatro formas de obtener referidos:</p>
                                    <ul class="list list-dot card-text">
                                        <li>Atraer referidos a tu estructura en DoubleHands</li>
                                        <li>Obtener referencias a tus líneas ascendentes por "desbordamientos"
                                            (según lo programado en el Contrato Inteligente).</li>
                                        <li>Esperar a que el Sistema te brinde referencias gratuitas por si
                                            mismo.</li>
                                        <li>Tus referencias de CryptoHands, atómicamente se convertirán en
                                            referencias en DoubleHands.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 4</span>
                                        <span class="roadmap-title teal">Recibir Ingresos</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_4.svg" alt="">
                                    </div>
                                    <p class="card-text">Recibe transacciones automáticas desde el Contrato
                                        Inteligente
                                        directamente en tu monedero de Ethereum. De acuerdo con el siguiente
                                        cuadro, en el primer nivel se transfiere 0.16 ETH, en el siguiente nivel
                                        0.64 ETH, y en el tercero 2.56 ETH. (8 niveles en total, 3500 ETH de
                                        ingresos por mes, 40000 ETH de ingresos por año). <span
                                            style="font-weight: bold;">No es necesario aceptar transacciones, ni
                                            solicitar pagos. Los fondos llegan directamente a tu
                                            billetera.</span></p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 5</span>
                                        <span class="roadmap-title teal">Repetir Todos los Meses</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_5.svg" alt="">
                                    </div>
                                    <p class="card-text">Si tienes más de 3,500 ETH y 510 referidos anónimos
                                        (las cifras se dan
                                        como ejemplo de un resultado y no son un requisito previo). ¿Qué hacer a
                                        continuación? Se puede repetir cada dos meses, conservando una
                                        estructura. Y cuantas menos personas queden en su estructura mayores
                                        serán sus ingresos. Sus rerferencias inactivas y abandonadas, una
                                        "puerta" a todas tus referencias de la misma línea, en caso de
                                        inactividad.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 6</span>
                                        <span class="roadmap-title teal">¿Qué sigue?</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_6.svg" alt="">
                                    </div>
                                    <p class="card-text">Nadie puede cerrar tu cuenta, detener los pagos o
                                        realizar cambios en el
                                        sistema, ya que el Contrato Inteligente se carga en la red de Ethereum.
                                        No se puede eliminar, ni cambiar. Se pueden invitar referidos sin un
                                        sitio web, y enlaces de referencia, directamente a un Contrato
                                        Inteligente. Por lo tanto, el Sistema DoubleHands existirá mientras
                                        exista Ethereum, y esta existirá mientras exista el Internet.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">
                    <a href="/comofunciona" class="btn btn-grad">Ver más detalles de cómo funciona</a>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="container ov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">配当性向</h2>
                </div>
                <!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid ＃１0122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">レベル</th>
                                <th>価格</th>
                                <th>紹介</th>
                                <th>収入</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.08</span>ETH</td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">０。１６</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>＃２</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.１６</span>ETH</td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">０。６４</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">０。３２</span>ETH</td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">２。５６</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>＃４</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.６４</span>ETH</td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">１０。２４</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>＃５</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">１。２８</span>ETH</td>
                                    <td>３２</td>
                                    <td><span class="teal" style="font-weight: bold;">４０。９６</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>＃６</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span>ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">１６３。８４</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>＃７</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">５。１２</span> ETH</td>
                                    <td>１２８</td>
                                    <td><span class="teal" style="font-weight: bold;">６５５。３６</span> ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">＃８</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" /><span
                                            class="blue" style="font-weight: bold;">１０。２４</span> ETH</td>
                                    <td>２５６</td>
                                    <td><span class="teal" style="font-weight: bold;">２６２１。４４</span> ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">合計であなたのゲイン：<img src='images/dark/eth-white.png'
                                        class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span>ETH隔月、年2万ETH。<span
                                        style="color:#ff3b30">＊</span> <span style="color: #ffe620">＊＊</span> <span
                                        style="color: #39d884 ">＊＊＊</span></div>
                                <div style="font-size:14px">厳密収入：ETH 3495.2 20971.2年間64日とETHため。当期純利益は年間64日間ETH 3474.8
                                    20848.8とETH。
                                </div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color:#ff3b30">*</span>年間ETH
                                20000の量は、最初の年の間にすべてのレベルでの単一ステップ、及びそれが0％になる傾向がある受信の可能性とを達成することはほとんど不可能であり、理論上可能な最大の利益です。
                            </div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color: #ffe620">＊＊</span>実際には、実際の条件では、この半分量に非常に現実的である、と受信の確率は、すべてのレベルを通過しても、完全なパスで100％になる傾向
                            </div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span
                                    style="color: #39d884 ">＊＊＊</span>しかし、「リピート」機能をETH2万（より、非アクティブな参照のおかげで）の可能性がDoubleHandsの各参加者のために100％になる傾向
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block @e -->
    </section>
    <!-- // -->
    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="section bg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">
                    Ventajas</h2>
            </div><!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Ausencia de riesgos</div>
                            <div class="advantage-desc-left">Tus costos en el proyecto no pasarán más de 0.08
                                ETH
                                por
                                dos meses, los cuales serán devueltos con el primer referido. No hay
                                "solicitudes
                                de pago" y no es necesario esperar. Sus fondos se transfieren inmediatamente a
                                su
                                billetera.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Sin necesidad de invitación</div>
                            <div class="advantage-desc-left">El sistema encuentra referencias para uste por sí mismo.
                                Los participantes que no llegan con un enlace de referncia, se convierten en referidos
                                consolidados y se distribuyen de manera uniforme entre los usuarios a partir de aquellos
                                que hayan comprado previamente el nivel 1.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Referidos de tus líneas ascendentes</div>
                            <div class="advantage-desc-left">Cuando se llenen las 2 ranuras de tu línea ascendente de
                                primer a octavo nivel, los referidos invitados serán tuyos, o sea que se contertirán en
                                referidos propios de los cuales también obtendrás ganancias.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Referidos Inactivos</div>
                            <div class="advantage-desc-left">Los referidos inactivos multiplican tus ganancias. Si tus
                                referidos inactivo está en la 5ta línea ascendente, entonces recibirás 31 transferencias
                                + adicionalmente 32 more transacciones de todos sus referidos de la 5ta línea.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Conexión con CryptoHands</div>
                            <div class="advantage-desc-left">Los enlaces de referencia de CryptoHands y DoubleHands
                                están conectados; es por esto que es posible expandir tu estructura solo en uno de ambos
                                proyectos, y la estructura del otro proyecto se construirá automáticamente.</div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;">
                        <img class="banner-gfx-icon banner-gfx-icon-1" src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">

                            <div class="advantage-desc-right ">Este es un sistema que nadie controla de manera central.
                                El factor humano (incluido el adminsitrador) está completamente ausente. Nadie puede
                                detener, realizar cambios en el Sistema o retener fondos. El contrato inteligente de
                                código abierto no se puede eliminar de la red de Ethereum.</div>
                            <div class="advantage-value-right teal">Descentralización Total</div>
                        </div>
                        <div class="advantage-container">

                            <div class="advantage-desc-right ">La administración del proyecto no tiene acceso a los
                                fondos, todos los cálculos y transferencias se realizan a través de un contrato
                                inteligente (que no es posible modificar), y que inmediatamente redirige todos los
                                fondos a las billeteras de Ethereum correspondientes.</div>
                            <div class="advantage-value-right teal">Transacciones directamente entre
                                participantes</div>
                        </div>
                        <div class="advantage-container">

                            <div class="advantage-desc-right ">Incluso si el sitio web del proyecto dejara de existir,
                                el contrato inteligente del sistema permanecerá disponible eternamente en la cadena de
                                bloques de Ethereum.</div>
                            <div class="advantage-value-right teal">Imposible detener el Sistema</div>
                        </div>
                        <div class="advantage-container">

                            <div class="advantage-desc-right">Las ganancias recibidas se pueden repetir todos los años.
                                Mientras menos personas en tu estructura utilicen esta función, mayor será tu ganancia.
                                Todas los referidos inactivos también son una "puerta" a todos los referidos del mismo
                                nivel.</div>
                            <div class="advantage-value-right teal">Función de "Renovar"</div>
                        </div>
                        <div class="advantage-container">

                            <div class="advantage-desc-right">Gracias al registro simplificado "a través de CryptoHands"
                                es posible unirte a tu línea ascendente desde CryptoHands; asimismo, tus referencias de
                                CryptoHands pueden convertirse en referencias de DoubleHands automáticamente.</div>
                            <div class="advantage-value-right teal">Registrarse a través de CryptoHands</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">
                Estos son solo algunas de las ventajas. ¿Tienes alguna pregunta? <br> <a href="/faq"
                    style="color: #39d884 !important" class="">Ver Preguntas Frecuentes</a><br> <a href="/faq"
                    style="color: #39d884 !important">Ver Preguntas Frecuentes sobre Ethereum</a>
            </div>
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light " id="partners">
        <div class="">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm tc-light">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">
                    Estadísticas en vivo</h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <i class="fa fa-users" style="font-size:6em"></i>
                            </div>
                            <div>
                                <h3><%= platformData.totalUsers %></h3>
                                <div>Total de participantes</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table text-center" style="width: 100%;">
                                    <tr>
                                        <td class="stats-level-title">Nivel 1</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[0].total %></td>
                                        <td class="stats-level-title">Nivel 2</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[1].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Nivel 3</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[2].total %></td>
                                        <td class="stats-level-title">Nivel 4</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[3].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Nivel 5</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[4].total %></td>
                                        <td class="stats-level-title">Nivel 6</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[5].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Nivel 7</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[6].total %></td>
                                        <td class="stats-level-title">Nivel 8</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[7].total %></td>
                                    </tr>
                                </table>

                            </div>
                            <div class="token-action" style="margin-top:20px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login">INICIAR
                                    SESIÓN</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <img src="images/dark/points.svg" style="height: 100px; width: auto" alt="">
                            </div>

                            <div>
                                <h3>12636</h3>
                                <div>Invitados en línea</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table">
                                    <tr>
                                        <td class="stats-left">Años del proyecto</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.projectTime %></span> años
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Transacciones</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.total %></span></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Txs 24 horas</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:55px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup">ABRIR
                                    CUENTA</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <img src="images/dark/eth-white.png" style="height: 100px; width: auto" alt="">
                            </div>
                            <div style="margin-top:20px">
                                <table id="txs-table" class="table">
                                    <tr>
                                        <td class="stats-left">Equivalente BTC</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.btc_volume %></span> BTC
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Equivalente a $</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Últimas 24 horas</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>
                                            ETH</td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">1 ETH</td>
                                        <td class="stats-right">= <span class="teal"
                                                style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>
                                            USDT</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:80px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                    href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">VER
                                    DIRECCIÓN</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
        <div class="transform-line"></div>
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Txs">NUEVAS
                    TRANSACCIONES</h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="row">
                <div class="col-mb-10 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                    <table class="table table-responsive text-center" style="">
                        <thead>
                            <th style="padding: 0;" class="teal">Fecha</th>
                            <th style="padding: 0;" class="teal">Nivel</th>
                            <th style="padding: 0;" class="teal">Cantidad</th>
                            <th style="padding: 0" class="teal">Destino</th>
                        </thead>
                        <tbody>
                            <% for(let tx of platformData.moneyTxs) {%>
                            <tr>
                                <td>Hace <span class="timeSince"><%= tx.time %></span></td>
                                <td><%= tx.level %></td>
                                <td><%=  platformData.levels[tx.level].price %></td>
                                <td><a href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>"><%= tx.userAddress %></a>
                                </td>
                            </tr>
                            <% } %>

                        </tbody>
                    </table>
                    <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue"><a
                            href="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>">Todas las
                            estadísticas están disponibles en Etherscan</a></div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->

    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="height: 100vh;overflow: hidden;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">よくある質問</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">私たちは、あなたがシステムの動作についての質問を有することができる知っています。</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">システム</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">登録</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">紹介</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">レベル</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">機能「リピート」</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">リスク</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">
                                            同様のシステムの出現はすでにcriptomonedasを存在していた前に、なぜそれが良いですか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>はい、確かに、このようなシステムは5年間、及びインターネットの出現前に存在していた、と彼らが働きます。しかし、彼はいくつかの主要な問題を抱えていました。<br><br>1）さまざまな決済システムは、常に財布の参加を阻止します。<br>2）人と人に資金を転送ヒト因子と定数手順の形で全て得られた結果と確認手動転送ではありません。<br>3）再発はなかったです。人は一度構造を作成し、一度に比較的大きなものの、お金を受け取りました。そして、彼らは深い構造にすべてのねじれを持って、参加者はより取得できませんでした。<br>4）を閉じるか、システムの遮断、そして時にはハックサイトを意味し、サイトをハック。<br><br>Criptomonedasとイーサリアム解き、これらすべての問題：<br><br>1）財布にも理論的にブロックすることはできません。コインの逆：どのような場合には、お財布の紛失しない制御を行います。他の人とあなたの財布を交換することは不可能になります。<br>2）公共の取引やインスタント自動確認。人的要因が完全に排除されます。<br>3）私たちは、参加者が以前に他のシステムに適用されていた「リピート」機能を、でした。あなたは、構造体を作成し、毎年の収入を受け取ったら。あなたの構造の人々が、毎年の参加を延長しない場合、あなたの収入は何度も増します。その他のページのそれは「REPEAT」セクションでどのように動作します。インテリジェントCRYPTOHANDS契約がメインネットワークイーサリアムにロードされ、誰もがその開発者を含め、それを削除することはできませんと4）を閉じるか、どのような方法でハイジャックサイトでは、システムの動作に影響を与えます。<br><br>この人類の歴史の中で初めて（大声どんなに音）のために、サイトが閉じているときに、アカウントにも理論的に海賊版、とされないことを本当の100％の保証があることを意味し、スマート契約とはシステム自体はとにかく存在し続けます。<br>また、世界のどのプログラマーは同じスマート契約と同じスマート契約上のサイト構造を作ることができる構造の任意のリーダーに基づいて新しいサイトを作成することができます。したがって、システムは、プロジェクトの投与による行為から保護されています。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">ここでお金を稼ぐ方法は？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Rápidopスタートガイドはです<a
                                                        href="#">家</a>セクションの「仕組み」。<br>詳細な手順は、別のページにあります。<a
                                                        href="#">どのように動作します</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">彼らは私のアカウントをブロックします閉じないか、という保証は何ですか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>これが最も重要な問題の一つです！<br><br>人類の歴史の中で初めて、そこに99％であるが、100％は誰プロジェクト（これはcryptocurrencyの特徴である）の投与を含む、あなたの財布やあなたのアカウントをブロックすることはできないことを保証します。<br><br>guarateesがページに書かれています。どのようにそれが最後の「保証」のポイントで動作します。<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">
                                            DoubleHandsに登録する方法は？<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>ログイン（メールまたは電話）とパスワードによる登録は時代遅れの概念です。アカウントへのアクセスを失ったメール手段へのアクセスが失わ以来。<br><br>そのラインの第一レベルの成功した購入は、登録の事実を昇順です。<br><br>簡単なガイドは、ページのSIGNに存在しています：。<br><br>それはセクション「登録」のしくみの詳細なガイド。<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">それはアップライン（招待）なしで登録することは可能ですか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>アップラインなしでシステムにログインすることは不可能です。あなたがアップラインを指定しない場合は、インテリジェントな契約は、トランザクションを受け入れることはありません。それはアイデアのレベルでの基本的なポイントの一つです。<br><br>フィールド「データ」は、コメントまたは任意の財布の追加機能ではありません。これは、チェーン自体イーサリアムブロックの不可欠な部分です。<br><br>招待者の紹介リンクまたはQRコードを経由して自動登録しながら、あなたのアップラインのアドレスを「データ」フィールドを含むすべてのデータは、自動的に指定されています。ただ、「ワンクリックで登録。」ボタンをクリックしてください<br><br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">どのようにあなたのアカウントにアクセスするには？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>あなたはページの署名にあなたのアカウントにアクセスすることができます<br><br>ハッキングまたはブロックすることができませんパスワードとアカウントなしで完全にあなたのアカウントにログオンします。<br><br>それは、「ログイン」のページをしくみに自分のアカウントにログオンする方法を学びます。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">
                                            私は紹介を誘致する必要がありますか？<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>システムの基礎は、参考文献から構造を構築することで、参照があなたの利益の源であるが、興味深い事実は、参照が必要なことです。<br><br>「オーバーフロー」と「自由な参考資料」：招待に加えて、次の2つの方法からの参照を取得することができます。これらの各方法については、以下の段落で以下読み込みます。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">どのように多くの紹介を招待することができますし、彼らがどのように分布していますか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>個人的に、私はあなたに直接接続されていると呼ばれている2つの参照、招待することができます「参照1行目を。」<br><br>（個人的にあなたに招か）2参照1行目はまた彼の参照の2を誘います。構造4におけるこれらの参加者は、「参考文献2行目」です。<br><br>次いで類推によって、それは参照3日8と基準線16ライン4を有しています。<br><br>すでに2を持っているときの参照を招待し続けた場合、以降の参照は、その構造の深さに取り付けられ、10番目のラインまでの第二、第三の参照などになっています。これは、「オーバーフロー」と呼ばれています。あなたはオーバーフロー「？」「とは何か」、次の段落に「オーバーフロー」についての詳細を見ることができます。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">「オーバーフロー」とは何ですか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>オーバーフローはあなたのために、すなわち2つのリフェラル、「オーバーフロー」の次の通過参照して、すべてのギャップを埋める、すべてのライン、それらのアップラインからの紹介を得る方法です。<br><br>例：priumeraのアップライン（システムへの招待）が2つの参照を招待し、より魅力的な継続的な、またはすぐに広告掲載を停止していません。第三基準は「オーバーフロー」によってあなたになります。<br><br>注：オーバーフローだけでなく全てのライン8における基準構造510に加えて、多くのスペースを埋める8完全にすべての行を埋めるだけでなく、ライン10を下回る、1536。<br><br>ライン10の後に、ガス量は、支払の量以上になります。可能な最大リミットイーサリアムガスは8000000。したがって、インテリジェントな契約によって、無限のオーバーフローは、定義により不可能なであるため、多くはである何、行き過ぎは、cryptocurrencyのイーサリアム自体によって制限されています。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">「オーバーフロー」の仕事の何行？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>簡単に：<br><br>ライン5包括的にスマート契約を通じてサイトなし。オーバーフロー行は包括的10まで実行します。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">「自由の紹介」とは何ですか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>無償の参照は紹介リンクせずに何らかの理由で来ているシステムのメンバーです。<br><br>無償の参照は、システム全体に均一に分布し、そして以前にシステムに記録されたもの上昇ラインで開始されます。<br><br>重要な注意：参照は、インテリジェントな契約を通じて、しかし、サイトのシステムによりNOシステムを通じて無料配布されています。<br><br>これは巧妙な契約を行い、なぜこれが唯一のものです：<br><br>参照は、大きな石を消費するシステムの成長とインテリジェントな契約を通じて無料配布された場合は、そのユーザーには有益ではないであろうガスの多くは、。
                                                    「オーバーフロー」を含む他のすべては、インテリジェントな契約によって配布されています。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">私は、最初のレベルを購入しないように参照を招待することはできますか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>あなたはできますが、無料の紹介となり、システムではなく、あなたの他のメンバーに到達します。システムは、レベル1を購入する前に、「知っている」はありませんので。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">
                                            システム内のレベルは何ですか？<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>レベル：これは、それに応じて、「深さ」内の参照から報酬を受ける権利を付与する状態です。<br><br>例：<br>あなたが2で個人的に招待参照のレベル1（紹介ライン1）を購入するための報酬を受け取るために、レベル1の資格を与えます。<br>レベル2はあなたに個人的にそのゲスト（参考文献2ライン）上の参考文献2レベル2参照4名様をご購入のための報酬を受ける権利を与えます。<br>あなたはレベル3参照8行3を購入するための報酬を受け取るために、レベル3の資格を与えます。<br>レベル6は、64レベル6の基準線6を購入するための報酬を受け取るためにあなたの権利が与えられています。<br><br>あなたは7
                                                    128の参照ライン7を購入するための報酬を受け取るために、レベル7資格を与えます。<br><br>そして、最後の第八のレベルは、8行8つの参照の第八レベルを購入するための報酬を受け取るためにあなたの権利が与えられています。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">私はレベル3なしですぐにレベル2缶Iを購入するレベル4を持っている場合は？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>レベルのみを順次、順番に購入されています。あなたは第三を持たずに4レベルを購入しようとした場合、インテリジェント契約が転送を受け付けません。この場合、お金はどこにも行かず、あなたと一緒に滞在します。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">
                                            私の紹介は、例えば、3行目は、レベル3を購入したい場合はどうなりますが、私はまだ唯一のレベル2のシステムを持っていますか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>次の処理が行われます。<br><br>悪いニュース：<br>お金はあなたに行くが、この場合では、同じ行にあなたのアップライン、第三はありません。あなたが時間内にレベルを購入した場合、これは発生しません。加えて、（最初は除く）、それ以降のすべてのレベルや稼いだお金ではなく、彼自身から購入されています。また。状況が「危険」になり、それぞれのレベルを購入する時間を十分に持っているときは、事前に参照してください。<br>（最初は除く）の各レベルでのゲインは、後続のすべての購入のための資金、何度もレベルのコストよりも大きく、さらには新しいレベルを購入するこの後者の場合であるので、それは、怖いではない、一度起こった場合彼らはあなたに行くの参照の残りの部分と同じレベルの。<br><br>グッドニュース：<br>あなたの紹介から、誰かが時間内にレベルを購入していない場合は、お金はあなたがしようとしています。ご参考の一つでもは、例えば、何らかの理由でライン3は、（財布に例えば、失われたアクセス）システムから三行目の転送お金のすべての参照を8（ない彼の）引退した場合YOU！
                                                    3行目に他のすべての参照は、あなたもお金を移します。<br>一例が、参照のために与えられています。二つ以上は何がありますか？あなたの収入は何倍に増加します。<br><br>結果：より多くの拒否または非アクティブの参照は、その構造を持っている、ものが最も時々あなたの収入BE
                                                    WILL</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">
                                            どのような機能は、「繰り返し」で、なぜそれが必要なのか？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>「リピート」機能を使用すると、毎月のすべての時間を取得した利益を繰り返すことができますオプションです。また、システムを残した参考文献のそれぞれは、彼らの報酬を掛けます。<br><br>動作原理は、ページに詳細に記載されています。<a
                                                        href="#">どのように動作します</a>「繰り返し」インチ</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">あなたは月にレベルを拡張する場合はどうなりますか？<span
                                            class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>あなたのアカウントは永久にシステムに残り、いつでも延長し、再び所得水準を受け取ることができます。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">
                                            著作権はありますか？<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>はい、誰の力ので、あなたは誰にお金を転送します。すべてのトランザクションが自発的です。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">著作権はありますか？<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>はい、誰の力ので、あなたは誰にお金を転送します。すべてのトランザクションが自発的です。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">リスクがここにありますか？何もしそうなら、何？<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>サイト全体我々は、システム内の危険を書きません。これにより、我々はすべてのお金はすぐにお財布に転送し、それに格納されていることを意味します。これは、危険がないことを意味します。<br><br>しかし、彼らの最初の参照の登録と記録との間の時間間隔で、彼は彼のアップラインに0.08
                                                ETHを転送する状況が作成されますが、まだその最初の参照を受信して​​いないことを価値が検討しています。<br>したがって、技術的に理論上の最大のリスクは0.08
                                                ETHあります。これら0.08
                                                ETHは、第1の基準から即座に返されます。<br><br>特に任意の参照を招待していない場合でも、遅かれ早かれ、あなたは参加せず、次の方法で紹介を受け取ります。<br>1）その上昇線オーバーフロー<br>2）フリー基準システム。<br><br>そのため、この象徴的なリスクは0になる傾向があります。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>