<%- include('header'); -%>

<%- include('language_sidebar'); -%>
<main class="nk-pages">
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="what">
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-text-wrap">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">¿Qué
                        es DoubleHands?</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Genera ingresos de manera
                        descentralizada</p>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title"> NO ES UNA INVERSIÓN</div>
                            <div>NO HAY NECESIDAD DE ESPERAR</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title"> NO ES UN COMERCIO</div>
                            <div>SIN RIESGOS</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title"> NO SON VENTAS</div>
                            <div>PRODUCTOS "MÁGICOS"</div>
                        </div>
                    </div>
                </div><!-- .row -->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">MATEMÁTICA FRACTAL</div>
                            <div>EN SU FORMA ORIGINAL</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">LIBRE DE RIESGOS</div>
                            <div>ACCESIBLE PARA TODOS</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">PROPORCIONES Y NÚMEROS</div>
                            <div>INVENTADO POR LA NATURALEZA</div>
                        </div>
                    </div>
                </div><!-- .row -->

                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 ">
                        <img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">
                            Este es el Contrato inteligente <i class="fa fa-check remark"></i> <span
                                class="remark">verificado</span> y de <i class="fa fa-code remark"></i> <span
                                class="remark">código abierto</span>, donde todos pueden ganar tanto como él
                            quiera, ya sea un nuevo iPhone o un nuevo apartamento. No hay necesidad de devolver
                            este dinero más tarde. <a class="remark" href="#">Ver contrato</a></p>
                    </div>
                </div>

                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;">
                        <i class="fa fa-cubes remark"></i> Ethereum: la SEGUNDA criptomoneda en el mundo por
                        popularidad después de Bitcoin y la PRIMERA por popularidad con la capacidad de creación
                        inteligente de contratos. Contrato inteligente: es un algoritmo de distribución de
                        criptomonedas, que no puede editarse ni publicarse después de cargarse en la red
                        Ethereum.
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;">
                        <i class="fa fa-address-card remark"></i> El contrato inteligente CRYPTOHANDS se carga
                        en la red de criptomonedas Ethereum y, incluso en teoría, nadie puede cambiarlo o
                        eliminarlo, incluidos sus creadores. Por lo tanto, nada ni nada puede detener el trabajo
                        del Sistema, incluso en caso de que desaparezca el cierre del sitio o la administración.
                        El sistema CRYPTOHANDS no pertenece a nadie y funciona independientemente del sitio.
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;">
                        <i class="fa fa-user remark"></i> Las cuentas de todos los usuarios se mantienen por el
                        contrato inteligente no en el sitio, lo que el administrador del sitio no puede
                        bloquearlas ni eliminarlas. En su cuenta (sin contraseña) en el sitio de CRYPTOHANDS
                        solo se muestra la información sobre cada cuenta, tomada del contrato inteligente
                        Ethereum. Por lo tanto, es imposible hackear una cuenta y cambiar la billetera de un
                        miembro.
                    </div>
                </div>
            </div><!-- .block @e -->
        </div>
    </section>
    <!-- // -->


    <!-- // -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line">
                    <span class="line-1"></span><span class="line-2"></span><span class="line-3"></span><span
                        class="line-4"></span>
                    <span class="line-5"></span><span class="line-6"></span><span class="line-7"></span><span
                        class="line-8"></span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">¿Cómo
                    funciona?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Necesitas una Wallet de Ethereum y 0.08 ETH.
                    <br> (0.08 ETH = $<%= (platformData.prices.eth_usd * 0.08).toFixed(2) %> USDT) <br> <b>Paso 0:</b>
                    Si no tienes una Wallet de Ethereum puedes consultar más detalles en <a style="color: #39d884"
                        href='/faqeth'>Ethereum FAQ</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>

                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 1</span>
                                        <span class="roadmap-title teal">Registrarse</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_1.svg" alt="">
                                    </div>
                                    <p class="card-text">Para Registrarte y obtener el Nivel 1 en el Sistema,
                                        únicamente tienes
                                        que enviar 0.08 ETH a tu línea ascendente cada 2 meses; y la primera
                                        persona que vino después de Tí te devuelve estos fondos, cada dos meses
                                        también. Todas las demás transferencias se realizan expensas de los
                                        fondos ya ganados. Guía simple y clara de la</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 2</span>
                                        <span class="roadmap-title teal">Ingresar</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i> -->
                                        <img class="roadmap-img" src="images/dark/hiwall_2.svg" alt="">
                                    </div>
                                    <p class="card-text"><span class="">Ingresa a tu cuenta</span>, utilizando
                                        solo la
                                        dirección de tu billetera de Ethereum (<span class="">sin
                                            contraseña</span>). La contraseña no es necesaria, ya que su cuenta
                                        está en un Contrato Inteligente, y no en el sitio web. Por lo tanto, su
                                        cuenta no puede ser bloqueada o eliminada del Sistema; incluso por la
                                        administración del sitio web. Además, tu monedero de Ethereum no puede
                                        ser hackeado o cambiado.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 3</span>
                                        <span class="roadmap-title teal">Obtener Referidos</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_3.svg" alt="">
                                    </div>
                                    <p class="card-text">Hay cuatro formas de obtener referidos:</p>
                                    <ul class="list list-dot card-text">
                                        <li>Atraer referidos a tu estructura en DoubleHands</li>
                                        <li>Obtener referencias a tus líneas ascendentes por "desbordamientos"
                                            (según lo programado en el Contrato Inteligente).</li>
                                        <li>Esperar a que el Sistema te brinde referencias gratuitas por si
                                            mismo.</li>
                                        <li>Tus referencias de CryptoHands, atómicamente se convertirán en
                                            referencias en DoubleHands.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 4</span>
                                        <span class="roadmap-title teal">Recibir Ingresos</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_4.svg" alt="">
                                    </div>
                                    <p class="card-text">Recibe transacciones automáticas desde el Contrato
                                        Inteligente
                                        directamente en tu monedero de Ethereum. De acuerdo con el siguiente
                                        cuadro, en el primer nivel se transfiere 0.16 ETH, en el siguiente nivel
                                        0.64 ETH, y en el tercero 2.56 ETH. (8 niveles en total, 3500 ETH de
                                        ingresos por mes, 40000 ETH de ingresos por año). <span
                                            style="font-weight: bold;">No es necesario aceptar transacciones, ni
                                            solicitar pagos. Los fondos llegan directamente a tu
                                            billetera.</span></p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 5</span>
                                        <span class="roadmap-title teal">Repetir Todos los Meses</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_5.svg" alt="">
                                    </div>
                                    <p class="card-text">Si tienes más de 3,500 ETH y 510 referidos anónimos
                                        (las cifras se dan
                                        como ejemplo de un resultado y no son un requisito previo). ¿Qué hacer a
                                        continuación? Se puede repetir cada dos meses, conservando una
                                        estructura. Y cuantas menos personas queden en su estructura mayores
                                        serán sus ingresos. Sus rerferencias inactivas y abandonadas, una
                                        "puerta" a todas tus referencias de la misma línea, en caso de
                                        inactividad.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head">
                                        <span class="roadmap-time">Paso 6</span>
                                        <span class="roadmap-title teal">¿Qué sigue?</span>
                                        <img class="roadmap-img" src="images/dark/hiwall_6.svg" alt="">
                                    </div>
                                    <p class="card-text">Nadie puede cerrar tu cuenta, detener los pagos o
                                        realizar cambios en el
                                        sistema, ya que el Contrato Inteligente se carga en la red de Ethereum.
                                        No se puede eliminar, ni cambiar. Se pueden invitar referidos sin un
                                        sitio web, y enlaces de referencia, directamente a un Contrato
                                        Inteligente. Por lo tanto, el Sistema DoubleHands existirá mientras
                                        exista Ethereum, y esta existirá mientras exista el Internet.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">
                    <a href="/comofunciona" class="btn btn-grad">Ver más detalles de cómo funciona</a>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="container ov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">
                        Tabla de Ganancias</h2>
                </div><!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid #10122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">Nivel</th>
                                <th>Precio</th>
                                <th>Referidos</th>
                                <th>Ingresos</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.08</span> ETH</td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">0.16</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.16</span> ETH</td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">0.64</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.32</span> ETH</td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">2.56</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.64</span> ETH</td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">10.24</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">1.28</span> ETH</td>
                                    <td>32</td>
                                    <td><span class="teal" style="font-weight: bold;">40.96</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#6</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span> ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">163.84</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#7</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">5.12</span> ETH</td>
                                    <td>128</td>
                                    <td><span class="teal" style="font-weight: bold;">655.36</span> ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">#8</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" /><span
                                            class="blue" style="font-weight: bold;">10.24</span> ETH</td>
                                    <td>256</td>
                                    <td><span class="teal" style="font-weight: bold;">2621.44</span> ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">Tu ganancia en total: <img src='images/dark/eth-white.png'
                                        class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span> ETH every two
                                    months and 20,000 ETH
                                    per year. <span style="color:#ff3b30">*</span> <span
                                        style="color: #ffe620">**</span>
                                    <span style="color: #39d884 ">***</span></div>
                                <div style="font-size:14px">Estrictamente ingreso: 3495.2 ETH por 64 días y
                                    20971.2
                                    ETH por año. Beneficio neto: 3474.8 ETH por 64 días y 20848.8 ETH por año.

                                </div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color:#ff3b30">*</span> La cantidad de 20000 ETH por año es el
                                beneficio teórico máximo posible, que es
                                casi imposible de lograr con un paso único de todos los niveles durante el
                                primer
                                año, y la probabilidad de su recepción tiende a 0%.
                            </div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #ffe620">**</span> En la práctica, en condiciones reales es
                                bastante realista hacer la MITAD de esta
                                cantidad, y la probabilidad de recibirlo tiende a 100% incluso con un paso
                                completo
                                a través de todos los niveles
                            </div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #39d884 ">***</span> Pero con la función "REPETIR" la
                                posibilidad de hacer 20,000 ETH (y más, gracias
                                a referencias inactivas) tiende al 100% para CADA participante de DOUBLEWAY
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .block @e -->
    </section>
    <!-- // -->
    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="section bg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">
                    Ventajas</h2>
            </div><!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Ausencia de riesgos</div>
                            <div class="advantage-desc-left">Tus costos en el proyecto no pasarán más de 0.08
                                ETH
                                por
                                dos meses, los cuales serán devueltos con el primer referido. No hay
                                "solicitudes
                                de pago" y no es necesario esperar. Sus fondos se transfieren inmediatamente a
                                su
                                billetera.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Sin necesidad de invitaci</div>
                            <div class="advantage-desc-left">El sistema encuentra referencias para uste por sí mismo.
                                Los participantes que no llegan con un enlace de referncia, se convierten en referidos
                                consolidados y se distribuyen de manera uniforme entre los usuarios a partir de aquellos
                                que hayan comprado previamente el nivel 1.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Referidos de tus líneas ascendentes</div>
                            <div class="advantage-desc-left">Cuando se llenen las 2 ranuras de tu línea ascendente de
                                primer a octavo nivel, los referidos invitados serán tuyos, o sea que se contertirán en
                                referidos propios de los cuales también obtendrás ganancias.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Referidos Inactivos</div>
                            <div class="advantage-desc-left">Los referidos inactivos multiplican tus ganancias. Si tus
                                referidos inactivo está en la 5ta línea ascendente, entonces recibirás 31 transferencias
                                + adicionalmente 32 more transacciones de todos sus referidos de la 5ta línea.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Conexión con CryptoHands</div>
                            <div class="advantage-desc-left">Los enlaces de referencia de CryptoHands y DoubleHands
                                están conectados; es por esto que es posible expandir tu estructura solo en uno de ambos
                                proyectos, y la estructura del otro proyecto se construirá automáticamente.</div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;">
                        <img class="banner-gfx-icon banner-gfx-icon-1" src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">

                            <div class="advantage-desc-right ">Este es un sistema que nadie controla de manera central.
                                El factor humano (incluido el adminsitrador) está completamente ausente. Nadie puede
                                detener, realizar cambios en el Sistema o retener fondos. El contrato inteligente de
                                código abierto no se puede eliminar de la red de Ethereum.</div>
                            <div class="advantage-value-right teal">Descentralización Total</div>
                        </div>
                        <div class="advantage-container">

                            <div class="advantage-desc-right ">La administración del proyecto no tiene acceso a los
                                fondos, todos los cálculos y transferencias se realizan a través de un contrato
                                inteligente (que no es posible modificar), y que inmediatamente redirige todos los
                                fondos a las billeteras de Ethereum correspondientes.</div>
                            <div class="advantage-value-right teal">Transacciones directamente entre
                                participantes</div>
                        </div>
                        <div class="advantage-container">

                            <div class="advantage-desc-right ">Incluso si el sitio web del proyecto dejara de existir,
                                el contrato inteligente del sistema permanecerá disponible eternamente en la cadena de
                                bloques de Ethereum.</div>
                            <div class="advantage-value-right teal">Imposible detener el Sistema</div>
                        </div>
                        <div class="advantage-container">

                            <div class="advantage-desc-right">Las ganancias recibidas se pueden repetir todos los años.
                                Mientras menos personas en tu estructura utilicen esta función, mayor será tu ganancia.
                                Todas los referidos inactivos también son una "puerta" a todos los referidos del mismo
                                nivel.</div>
                            <div class="advantage-value-right teal">Función de "Renovar"</div>
                        </div>
                        <div class="advantage-container">

                            <div class="advantage-desc-right">Gracias al registro simplificado "a través de CryptoHands"
                                es posible unirte a tu línea ascendente desde CryptoHands; asimismo, tus referencias de
                                CryptoHands pueden convertirse en referencias de DoubleHands automáticamente.</div>
                            <div class="advantage-value-right teal">Registrarse a través de CryptoHands</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">
                Estos son solo algunas de las ventajas. ¿Tienes alguna pregunta? <br> <a href="/faq"
                    style="color: #39d884 !important" class="">Ver Preguntas Frecuentes</a><br> <a href="/faq"
                    style="color: #39d884 !important">Ver Preguntas Frecuentes sobre Ethereum</a>
            </div>
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light " id="partners">
        <div class="">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm tc-light">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">
                    Estadísticas en vivo</h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <i class="fa fa-users" style="font-size:6em"></i>
                            </div>
                            <div>
                                <h3><%= platformData.totalUsers %></h3>
                                <div>Total de participantes</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table text-center" style="width: 100%;">
                                    <tr>
                                        <td class="stats-level-title">Nivel 1</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[0].total %></td>
                                        <td class="stats-level-title">Nivel 2</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[1].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Nivel 3</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[2].total %></td>
                                        <td class="stats-level-title">Nivel 4</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[3].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Nivel 5</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[4].total %></td>
                                        <td class="stats-level-title">Nivel 6</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[5].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Nivel 7</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[6].total %></td>
                                        <td class="stats-level-title">Nivel 8</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[7].total %></td>
                                    </tr>
                                </table>

                            </div>
                            <div class="token-action" style="margin-top:20px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login">INICIAR
                                    SESIÓN</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <img src="images/dark/points.svg" style="height: 100px; width: auto" alt="">
                            </div>

                            <div>
                                <h3>12636</h3>
                                <div>Invitados en línea</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table">
                                    <tr>
                                        <td class="stats-left">Años del proyecto</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.projectTime %></span> años
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Transacciones</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.total %></span></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Txs 24 horas</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:55px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup">ABRIR
                                    CUENTA</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <img src="images/dark/eth-white.png" style="height: 100px; width: auto" alt="">
                            </div>
                            <div style="margin-top:20px">
                                <table id="txs-table" class="table">
                                    <tr>
                                        <td class="stats-left">Equivalente BTC</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.btc_volume %></span> BTC
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Equivalente a $</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Últimas 24 horas</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>
                                            ETH</td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">1 ETH</td>
                                        <td class="stats-right">= <span class="teal"
                                                style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>
                                            USDT</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:80px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                    href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">VER
                                    DIRECCIÓN</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
        <div class="transform-line"></div>
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Transacciones">NUEVAS
                    TRANSACCIONES</h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="row">
                <div class="col-mb-10 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                    <table class="table text-center" style="">
                        <thead>
                            <th style="padding: 0;" class="teal">Fecha</th>
                            <th style="padding: 0;" class="teal">Nivel</th>
                            <th style="padding: 0;" class="teal">Cantidad</th>
                            <th style="padding: 0" class="teal">Destino</th>
                        </thead>
                        <tbody>
                            <% for(let tx of platformData.moneyTxs) {%>
                            <tr>
                                <td>Hace <span class="timeSince"><%= tx.time %></span></td>
                                <td><%= tx.level %></td>
                                <td><%=  platformData.levels[tx.level].price %></td>
                                <td><a href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>"><%= tx.userAddress %></a>
                                </td>
                            </tr>
                            <% } %>

                        </tbody>
                    </table>
                    <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue"><a
                            href="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>">Todas las
                            estadísticas están disponibles en Etherscan</a></div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->

    <section class="section bg-theme bg-theme-dark tc-light" id="faqs">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">
                    Preguntas Frecuentes</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Sabemos que puedes tener preguntas
                    sobre el funcionamiento del sistema.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">

                            <li><a class="active" data-toggle="tab" href="#sistema-1">Sistema</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">Registro</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">Referidos</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">Niveles</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">Función "Repetir"</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">Riesgos</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">
                                            Antes de la aparición de las criptomonedas ya existian sistemas
                                            similares ¿Por qué es mejor?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Sí, de hecho, tales sistemas existían hace 5 hace años y
                                                    antes del advenimiento de Internet, y FUNCIONAN.
                                                    Sin embargo, tuvo varios problemas importantes: <br><br>

                                                    1) Los diferentes sistemas de pago bloqueaban constantemente
                                                    las billeteras de los participantes.<br>
                                                    2) Confirmación manual de transferencias con todas las
                                                    consecuencias resultantes en forma de factor humano y
                                                    procedimientos constantes, quién transfirió fondos a quién y
                                                    quién no.<br>
                                                    3) No hubo recurrencia. Una persona una vez creó una
                                                    estructura y una vez recibió dinero, aunque relativamente
                                                    grande. Y luego todos los giros se metieron profundamente en
                                                    la estructura, y el participante no consiguió más.<br>
                                                    4) Cerrar o hackear un sitio significaba un bloqueo del
                                                    sistema, y en ocasiones hackear sitios.<br><br>

                                                    Las Criptomonedas y Ethereum resuelve TODOS estos
                                                    problemas:<br><br>

                                                    1) Wallet no se puede bloquear ni siquiera en teoría. El
                                                    reverso de la moneda: en ningún caso, no pierdas el control
                                                    de tu billetera. Será imposible reemplazar su billetera con
                                                    otras.<br>
                                                    2) Transacciones públicas y confirmaciones automáticas
                                                    instantáneas. El factor humano se excluye por completo.<br>
                                                    3) Hicimos la función "REPETIR", que los propios
                                                    participantes habían solicitado previamente en otros
                                                    sistemas. Una vez creada una estructura y recibir ingresos
                                                    todos los años.
                                                    Si las personas en su estructura no prolongan su
                                                    participación cada año, sus ingresos aumentan muchas veces.
                                                    Más en la página Cómo funciona en la sección "REPETIR".
                                                    4) Cerrar o piratear el sitio de ninguna manera afectará el
                                                    funcionamiento del sistema, ya que el contrato inteligente
                                                    CRYPTOHANDS se carga en la red principal de Ethereum y nadie
                                                    puede eliminarlo, incluidos sus desarrolladores.<br><br>
                                                    Esto significa que, por primera vez en la historia de la
                                                    humanidad (no importa cuán fuerte suene), hay un verdadero
                                                    100% de garantías de que la cuenta no será pirateada, e
                                                    incluso teóricamente cuando el sitio está cerrado, el Smart
                                                    Contract y el Sistema en sí seguirá existiendo en cualquier
                                                    caso.<br>
                                                    Además, cualquier programador en el mundo podrá crear un
                                                    NUEVO sitio basado en el mismo contrato inteligente, y
                                                    cualquier líder de la estructura puede hacer una estructura
                                                    de sitio en el mismo contrato inteligente. Por lo tanto, el
                                                    sistema está protegido de cualquier acción de la
                                                    administración del proyecto.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">
                                            ¿Cómo ganar dinero aquí?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>La guía de inicio rápidop está en la <a href="#">Página
                                                        principal</a> en la sección de "Cómo funciona". <br>
                                                    Las instrucciones detalladas están en una página separada.
                                                    <a href="#">Cómo funciona</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">
                                            ¿Cuáles son las garantías de que no cerrarán o bloquearán mi cuenta?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>¡Esta es una de las preguntas más importantes! <br><br>

                                                    Por primera vez en la historia de la humanidad, no hay 99%,
                                                    pero 100% garantiza que NADIE PUEDE BLOQUEAR SU billetera o
                                                    su cuenta, incluso la administración del proyecto (esta es
                                                    una característica de la criptomoneda). <br><br>

                                                    Los guaratees están escritos en la página. Cómo funciona en
                                                    el último punto "Garantías".<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">
                                            ¿Cómo registrarse en DoubleHands?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>El registro mediante inicio de sesión (correo o teléfono) y
                                                    contraseña es un concepto desactualizado. Dado que la
                                                    pérdida de acceso al correo significa una pérdida de acceso
                                                    a la cuenta.<br><br>

                                                    La compra exitosa del nivel 1st por parte de su línea
                                                    ascendente es el hecho de registrarse.<br><br>

                                                    Breve guía está presente en la página REGÍSTRATE:.<br><br>

                                                    Guía detallada Cómo funciona en la sección de
                                                    "Registrarse".<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">
                                            ¿Es posible registrarse sin línea ascendente (invitador)?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Es imposible registrarse en el sistema sin la línea
                                                    ascendente. Si no especifica ninguna línea ascendente, el
                                                    contrato inteligente no aceptará la transacción. Ese es uno
                                                    de los puntos fundamentales en el nivel de idea. <br><br>

                                                    El campo "Datos" NO es un comentario ni una característica
                                                    adicional de ninguna billetera. Esta es una parte integral
                                                    de la propia cadena de bloques Ethereum.<br><br>

                                                    Si bien el registro automático a través de un enlace de
                                                    referencia o el código QR del invitador, todos los datos,
                                                    incluido el campo "DATOS" con la dirección de su línea
                                                    ascendente, se especifican automáticamente. Solo tiene que
                                                    hacer clic en el botón "Registrarse en 1 clic".<br><br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">
                                            ¿Cómo ingresar a su cuenta?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Puedes acceder a tu cuenta en la página APUNTARSE <br><br>

                                                    Iniciar sesión en su cuenta es completamente sin contraseña
                                                    y la cuenta no puede ser pirateada o bloqueada.<br><br>

                                                    Más información sobre cómo iniciar sesión en su cuenta en la
                                                    página Cómo funciona en la sección "Iniciar sesión".
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">
                                            ¿Necesito atraer referidos?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Aunque la base del sistema es construir una estructura a
                                                    partir de referencias, y las referencias son la fuente de su
                                                    beneficio, un hecho interesante es que NO se REQUIEREN
                                                    referencias.<br><br>

                                                    Además de la invitación, puede obtener referencias de dos
                                                    maneras más: "Desbordamientos" y "Referencias gratuitas".
                                                    Para cada uno de estos métodos, lea a continuación en los
                                                    siguientes párrafos.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">
                                            ¿Cuántos referidos puedo invitar y cómo se distribuyen?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Personalmente, solo puede invitar referencias de 2, que se
                                                    adjuntan directamente a usted y se denominan "referencias de
                                                    la línea 1st".<br><br>

                                                    2 de sus referencias de línea 1st (personalmente invitado
                                                    por usted) también invita a 2 de sus referencias. Estos
                                                    participantes de 4 en su estructura son "referencias de la
                                                    línea 2nd".<br><br>

                                                    Luego, por analogía, tiene referencias 8 de la línea 3rd y
                                                    referencias 16 de la línea 4.<br><br>

                                                    Si continúa invitando referencias cuando ya tiene 2, las
                                                    referencias posteriores se adjuntan a la profundidad de su
                                                    estructura y se convierten en sus referencias de la 2da, 3ra
                                                    y así sucesivamente hasta la 10ma línea. Esto se llama
                                                    "desbordamiento".
                                                    Puede ver más sobre "desbordamiento" en el siguiente párrafo
                                                    "¿Qué es" desbordamiento "?".
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">
                                            ¿Qué es "desbordamiento"?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>El desbordamiento es el método para obtener referidos de sus
                                                    líneas ascendentes de todas las líneas, en el cual, al
                                                    llenar todos los espacios libres con 2 referidos, el
                                                    siguiente pasa a su referencia por "desbordamiento", es
                                                    decir, para usted.<br><br>
                                                    Ejemplo: su priumera línea ascendente (su invitador al
                                                    sistema) invitó a dos referencias y continuó invitando más,
                                                    o no detuvo inmediatamente la publicidad. La tercera
                                                    referencia sera para usted por "desbordamiento".<br><br>
                                                    Nota: Los desbordamientos llenan no solo todas sus líneas 8
                                                    por completo, sino que también descienden por debajo de su
                                                    línea 10, llenando 1536 más espacios además de su estructura
                                                    de referencias 510 en todas las líneas 8. <br><br>
                                                    Después de la línea 10, la cantidad de gas se convierte en
                                                    más que la cantidad de pago. Y áun más, los desbordamientos
                                                    están limitados por la propia criptomoneda Ethereum, ya que
                                                    el límite máximo posible de gas de Ethereum es 8000000. Por
                                                    lo tanto, los desbordamientos infinitos por el contrato
                                                    inteligente son imposibles por definición.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">
                                            ¿En qué línea funcionan los "desbordamientos"?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Brevemente: <br><br>
                                                    Sin un sitio a través de un contrato inteligente hasta
                                                    líneas 5 inclusive. Los desbordamientos funcionan hasta 10
                                                    líneas inclusive.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">
                                            ¿Que son los "referidos gratis"?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Las referencias gratuitas son miembros del sistema que han
                                                    venido por alguna razón SIN un enlace de referencia.<br><br>

                                                    Las referencias gratuitas se distribuyen de manera uniforme
                                                    en todo el sistema, y ​​comenzando con esas líneas
                                                    ascendentes, que anteriormente se registraron en el
                                                    sistema.<br><br>

                                                    NOTA IMPORTANTE: Las referencias gratuitas se distribuyen a
                                                    través del sistema NO mediante un contrato inteligente, sino
                                                    mediante el sistema del sitio.<br><br>
                                                    Esto es lo ÚNICO que no hace un contrato inteligente y es
                                                    por eso:<br><br>
                                                    Si las referencias gratuitas se distribuyeran mediante un
                                                    contrato inteligente, con el crecimiento del Sistema habría
                                                    grandes cálculos que consumirían una gran cantidad de gas,
                                                    lo que no sería beneficioso para los usuarios.
                                                    Todo lo demás, incluido el "desbordamiento", se distribuye
                                                    por contrato inteligente.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">
                                            ¿Puedo invitar referencias al no comprar el primer nivel?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Puede, pero se convertirán en referencias gratuitas y
                                                    llegarán a otros miembros del sistema, no a usted. Como el
                                                    sistema no te "conoce" antes de comprar el nivel 1.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">
                                            ¿Qué son los Niveles en el sistema?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Nivel: este es el estado que otorga el derecho a recibir una
                                                    remuneración de las referencias en su estructura de la
                                                    "profundidad" correspondiente.<br><br>

                                                    Ejemplo:<br>
                                                    El nivel 1 le da derecho a recibir una recompensa por
                                                    comprar el nivel 1 de referencias invitadas personalmente
                                                    por 2 (su línea de referencias 1).<br>
                                                    El nivel 2 le otorga el derecho de recibir una recompensa
                                                    por comprar el nivel 2 de referencias 4 invitadas por sus
                                                    referencias 2 invitadas personalmente anteriormente (sus
                                                    referencias 2 de línea).<br>
                                                    El nivel 3 le da derecho a recibir una recompensa por
                                                    comprar el nivel 3 de sus referencias 8 de la línea 3.<br>
                                                    El nivel 6 le da derecho a recibir una recompensa por
                                                    comprar el nivel 6 de 64 referencias de la línea 6.
                                                    <br><br>

                                                    El nivel 7 le da derecho a recibir una recompensa por
                                                    comprar el nivel 7 de sus referencias 128 de la línea
                                                    7.<br><br>
                                                    Y el último octavo nivel le da derecho a recibir una
                                                    recompensa por la compra de un octavo nivel de 8 referencias
                                                    de la línea 8.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">
                                            Si tengo el Nivel 2 ¿Puedo comprar el nivel 4 de inmediato sin tener
                                            un nivel 3?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Los niveles se compran solo secuencialmente y en orden. Si
                                                    intenta comprar el nivel 4th sin tener el 3rd, el contrato
                                                    inteligente no aceptará la transferencia. En este caso, el
                                                    dinero no irá a ninguna parte y permanecerá con usted.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">
                                            ¿Qué sucederá si mi referido, por ejemplo, la línea 3, quiere
                                            comprarme el nivel 3, pero todavía tengo solo el nivel 2 en el
                                            sistema?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Lo siguiente sucederá:<br><br>

                                                    Malas noticias:<br>
                                                    El dinero no irá a usted, sino a su línea ascendente de la
                                                    misma línea, en este caso el 3rd.
                                                    Si compra niveles a tiempo, esto NO sucederá. Además, todos
                                                    los niveles posteriores (excepto el primero) ya se compran
                                                    del dinero ganado, no del propio.
                                                    Además. Verá de antemano cuándo la situación se vuelve
                                                    "peligrosa", y tendrá tiempo suficiente para comprar cada
                                                    nivel.<br>
                                                    Si sucedió una vez, NO da miedo, ya que la ganancia en cada
                                                    nivel (excepto el primero) es muchas veces mayor que el
                                                    costo del nivel, e incluso en este caso después de comprar
                                                    el nivel tarde, los fondos para TODAS las compras
                                                    posteriores de el mismo nivel por el resto de referencias
                                                    van a ti.<br><br>

                                                    Buenas noticias:<br>
                                                    Si alguien de sus referencias no compra el nivel a tiempo,
                                                    el dinero para usted va a usted.
                                                    Si incluso una de sus referencias, por ejemplo, la línea 3,
                                                    por alguna razón se retiró del sistema (por ejemplo, perdió
                                                    el acceso a la billetera), entonces TODAS las referencias 8
                                                    (no las suyas) de la tercera línea le transfieren dinero a
                                                    USTED ! Todas las demás referencias de la línea 3rd también
                                                    le transfieren dinero.<br>
                                                    Se da un ejemplo solo para una referencia. ¿Y si hay dos o
                                                    varios? Su ingreso aumenta muchas veces.<br><br>
                                                    Resultado: Cuantas más referencias rechazadas o inactivas
                                                    tenga en su estructura, AQUELLAS MÁS, a veces, SU INGRESO
                                                    SERÁ
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">
                                            ¿Qué es la función "REPETIR" y por qué es necesaria?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>La función "REPETIR" es una opción que le permite repetir las
                                                    ganancias que ha obtenido todo el tiempo cada mes.
                                                    Además, cada una de sus referencias que abandonaron el
                                                    sistema multiplica su recompensa.<br><br>

                                                    El principio de funcionamiento se describe en detalle en la
                                                    página. <a href="#">Cómo funciona</a> en la sección
                                                    "REPETIR".
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">
                                        ¿Qué pasará si no extiendes los niveles en un mes?
                                        <span class="accordion-icon accordion-icon-s2"></span>
                                    </h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>Su cuenta permanece en el Sistema para siempre, y en cualquier
                                                momento puede extender los niveles y nuevamente recibir
                                                ingresos.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">
                                            ¿Es Legal?
                                            <span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>Sí, ya que nadie te obliga a transferir dinero a nadie. Todas
                                                    las transacciones son voluntarias.


                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">
                                        ¿Es Legal?
                                        <span class="accordion-icon accordion-icon-s2"></span>
                                    </h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>Sí, ya que nadie te obliga a transferir dinero a nadie. Todas las
                                                transacciones son voluntarias.


                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">
                                        ¿Hay algún riesgo aquí? ¿De ser así, cuáles?
                                        <span class="accordion-icon accordion-icon-s2"></span>
                                    </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>En todas partes del sitio escribimos que NO HAY RIESGO en el
                                                sistema. Con esto queremos decir que todo el dinero se
                                                transfiere inmediatamente a su billetera y se almacena en él.
                                                Esto significa que NO HAY RIESGO.<br><br>
                                                Sin embargo, vale la pena considerar que en el intervalo de
                                                tiempo entre su registro y el registro de su primera referencia,
                                                se crea una situación en la que se transfirió a su línea
                                                ascendente 0.08 ETH, pero aún no los ha recibido de su primera
                                                referencia.<br>
                                                Por lo tanto, técnicamente el riesgo teórico máximo es 0.08 ETH.
                                                Estos 0.08 ETH le serán devueltos inmediatamente desde la
                                                primera referencia.<br><br>

                                                Incluso si específicamente NO INVITÓ A NINGUNA REFERENCIA, tarde
                                                o temprano recibirá referencias de las siguientes maneras sin su
                                                participación:<br>
                                                1) por desbordamiento de sus líneas ascendentes,<br>
                                                2) referencia gratuita del sistema.<br><br>
                                                Por lo tanto, incluso este riesgo simbólico tiende a 0.


                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>

</main>

<%- include('footer'); -%>