<%- include('dash_header'); -%>
<div id="right-col" class="pa-right-col" style="min-height: 0px; margin-bottom: 0px;">

    <div class="row">
        <div class="col-mb-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pa-well text-center ">
                <h3 style="color: white;padding:30px 0px">Mis Referidos</h3>


                <div class="row" style="margin-top:30px;margin-bottom:30px">
                    <div class="col-mb-12 text-center">
                        <table class="table table-responsive  table-hover tx-container"
                            style="margin: 0px auto; width: 50% !important;display:none; margin-top:40px">
                            <thead>
                                <th style="width: 25%;text-align: left;">Línea Ascendente</th>
                                <th>Cantidad</th>
                                <th>#</th>
                                <th>Fecha</th>
                            </thead>
                            <tbody>
                                <% i = 1 %>
                                <% for(tx of userData.myTxs) { %><tr>
                                    <% if(tx.name == 'regLevelEvent') %>
                                    <td><a
                                            href="<%= `${etherscanExplorer}/${tx.txHash}` %>"><%= tx.name == 'regLevelEvent' ? tx.referrer : tx.tx.input %></a>
                                    </td>
                                    <td><%= platformData.levels[tx.name == 'regLevelEvent' ? 1 : tx.level].price %> ETH
                                    </td>
                                    <td><%= i %></td>
                                    <td class="date"><%= tx.time %></td>
                                </tr>
                                <% i++ %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>




    <%- include('dash_footer'); -%>