<%-include('header');-%>

<main class="nk-pages">
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="what">
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-text-wrap">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">What
                        is DoubleHands?</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Generates income in a decentralized
                        manner</p>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title">NOT AN INVESTMENT</div>
                            <div>THERE IS NO NEED TO WAIT</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title">NOT A TRADE</div>
                            <div>SAFELY</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title">NO SALES</div>
                            <div>PRODUCTS "MAGICAL"</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">FRACTAL MATHEMATICS</div>
                            <div>In its original form</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">RISK FREE</div>
                            <div>ACCESSIBLE TO ALL</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">PROPORTIONS AND NUMBERS</div>
                            <div>INVENTED BY NATURE</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 "><img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">This
                            is the smart Contract<i class="fa fa-check remark"></i> <span
                                class="remark">verified</span>and of<i class="fa fa-code remark"></i> <span
                                class="remark">Open Source</span>Where everyone can earn as much as he wants, either a
                            new iPhone or a new apartment. No need to repay this money later.<a class="remark"
                                href="#">View contract</a></p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-cubes remark"></i>Ethereum: The second cryptocurrency in the world after
                        Bitcoin popularity and the first for popularity with the ability to create intelligent
                        contracts. Smart Contract: a criptomonedas distribution algorithm, which can not be edited or
                        published after ethereum loaded into the network.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-address-card remark"></i>Intelligent contract CRYPTOHANDS is loaded into the
                        network criptomonedas ethereum and, even in theory, no one can change or delete it, including
                        its creators. Therefore, nothing and nothing can stop the work of the system, even if it
                        disappears the closure of the site or administration. The CRYPTOHANDS system does not belong to
                        anyone and operates independently of the site.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-user remark"></i>The accounts of all users are maintained by intelligent
                        contract not on site, so the administrator of the site can not block them or remove them. In
                        your account (no password) on the site CRYPTOHANDS only information on each account, taken from
                        the intelligent contract ethereum shown. Therefore, it is impossible to hack an account and
                        change the wallet of a member.</div>
                </div>
            </div>
            <!-- .block @e -->
        </div>
    </section>
    <!-- // -->
    <!--// -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4">
                    </span> <span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                    <span class="line-8">
                    </span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">How
                    does it work?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Ethereum need a Wallet and 0.08 ETH.
                    <br>(12:08 ETH = $
                    <%= (platformData.prices.eth_usd * 0.08).toFixed(2) %>USDT)
                    <br> <b>Paso 0:</b>If you do not have a Wallet ethereum can check more details<a
                        style="color: #39d884" href='/faqeth'>Ethereum FAQ</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head"><span class="roadmap-time">Paso 1</span><span
                                            class="roadmap-title teal">Check in</span><img class="roadmap-img"
                                            src="images/dark/hiwall_1.svg" alt=""></div>
                                    <p class="card-text">To Register and get the Level 1 on the system, you only have to
                                        send 0.08 ETH to your upline every 2 months; and the first person that came
                                        after you, you back these funds, every two months as well. All other transfers
                                        are made at the expense of the funds already won. Simple and clear guide on
                                        page<a href="/signup">registry</a></p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head"><span class="roadmap-time">Paso 2</span><span
                                            class="roadmap-title teal">Enterokay</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i>--><img class="roadmap-img"
                                            src="images/dark/hiwall_2.svg" alt=""></div>
                                    <p class="card-text"><span class="">Log in to your account</span>Using only the
                                        address of your wallet ethereum (<span class="">without password</span>). The
                                        password is not required because your account is in a contract Smart, and not on
                                        the website. Therefore, your account can not be blocked or deleted from the
                                        system; even by the administration of the website. In addition, your purse
                                        ethereum can not be hacked or changed.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head"><span class="roadmap-time">Paso 3</span><span
                                            class="roadmap-title teal">Get Referrals</span><img class="roadmap-img"
                                            src="images/dark/hiwall_3.svg" alt=""></div>
                                    <p class="card-text">There are four ways to get referrals:</p>
                                    <ul class="list list-dot card-text">
                                        <li>Attract referrals to your structure DoubleHands</li>
                                        <li>Get your upline references to "overflows" (as scheduled in the contract
                                            Smart).</li>
                                        <li>Wait for the system will provide free referrals for yourself.</li>
                                        <li>Your references CryptoHands, atomically will become DoubleHands references.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head"><span class="roadmap-time">Paso 4</span><span
                                            class="roadmap-title teal">receive Income</span><img class="roadmap-img"
                                            src="images/dark/hiwall_4.svg" alt=""></div>
                                    <p class="card-text">Get automatic transactions from the contract Intelligent
                                        directly to your purse ethereum. According to the following table, the first
                                        level is transferred 0.16 ETH, at the next level ETH 0.64 and 2.56 in the third
                                        ETH. (8 levels in total, 3500 ETH income per month, 40000 ETH income per year).
                                        <span style="font-weight: bold;">One need not accept transactions or request
                                            payment. The funds come directly to your wallet.</span>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head"><span class="roadmap-time">Paso 5</span><span
                                            class="roadmap-title teal">Repeat every month</span><img class="roadmap-img"
                                            src="images/dark/hiwall_5.svg" alt=""></div>
                                    <p class="card-text">If you have more than 3,500 anonymous ETH and 510 referrals
                                        (the figures are given as an example of a result and are not a prerequisite).
                                        What to do next? It may be repeated every two months, while retaining a
                                        structure. And fewer people stay in their older structure will be their income.
                                        His rerferencias inactive and abandoned, a "door" to all your references on the
                                        same line, in case of inactivity.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head"><span class="roadmap-time">Paso 6</span><span
                                            class="roadmap-title teal">Whats Next?</span><img class="roadmap-img"
                                            src="images/dark/hiwall_6.svg" alt=""></div>
                                    <p class="card-text">No one can close your account, stop payments or make changes to
                                        the system, since the contract is loaded into the Intelligent Network ethereum.
                                        You can not delete or change. They can invite referrals without a website, and
                                        reference links directly to a Smart Contract. Therefore, the system will exist
                                        as long as there DoubleHands ethereum, and this will exist as long as the
                                        Internet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4"> <a href="/comofunciona"
                        class="btn btn-grad">See more details of how it works</a> </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!--//-->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="containerov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">Payout
                        Ratio</h2>
                </div>
                <!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid #10122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">level</th>
                                <th>Price</th>
                                <th>Referrals</th>
                                <th>Income</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" />
                                        <span class="blue" style="font-weight: bold;">0.08</span>ETH</td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">0.16</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.16</span>ETH</td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">0.64</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.32</span>ETH</td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">2.56</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.64</span>ETH</td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">10.24</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">1.28</span>ETH</td>
                                    <td>32</td>
                                    <td><span class="teal" style="font-weight: bold;">40.96</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#6</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span>ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">163.84</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#7</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">5.12</span>ETH</td>
                                    <td>128</td>
                                    <td><span class="teal" style="font-weight: bold;">655.36</span>ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">#8</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" /><span
                                            class="blue" style="font-weight: bold;">10.24</span>ETH</td>
                                    <td>256</td>
                                    <td><span class="teal" style="font-weight: bold;">2621.44</span>ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">Your gain in total:<img src='images/dark/eth-white.png'
                                        class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span>ETH every two months and 20,000 ETH per
                                    year.<span style="color:#ff3b30">*</span> <span style="color: #ffe620">**</span>
                                    <span style="color: #39d884 ">***</span></div>
                                <div style="font-size:14px">Strictly income: ETH 3495.2 20971.2 for 64 days and ETH per
                                    year. Net income: ETH 3474.8 20848.8 for 64 days and ETH per year.</div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color:#ff3b30">*</span>The amount of ETH 20000 per year is the theoretical
                                maximum possible benefit, it is almost impossible to achieve with a single step at all
                                levels during the first year, and the likelihood of receiving it tends to 0%.</div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color: #ffe620">**</span>In practice, in real conditions it is quite
                                realistic to half this amount, and the probability of receiving tends to 100% even with
                                a complete pass through all levels</div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #39d884 ">***</span>But with the "repeat" function the possibility
                                of ETH 20,000 (and more, thanks to inactive references) tends to 100% for each
                                participant of DOUBLEWAY</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block @e -->
    </section>
    <!-- // -->
    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="sectionbg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">Advantage
                </h2>
            </div>
            <!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">No risk</div>
                            <div class="advantage-desc-left">Your costs in the project will not pass over 0.08 ETH for
                                two months, which will be returned with the first referral. No "payment applications"
                                and you need not wait. Your funds are immediately transferred to your wallet.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Without invitation</div>
                            <div class="advantage-desc-left">The system finds references to USTE itself. Participants
                                not arrive with a link referncia, become these consolidated and distributed evenly among
                                users from those who have previously purchased level 1.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Referrals from your upline</div>
                            <div class="advantage-desc-left">When the 2 slots fill your ascending line first to eighth
                                level, guests referrals will be yours, or that contertirán own referrals in which you
                                also get profits.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">referrals Inactivos</div>
                            <div class="advantage-desc-left">Inactive referred to multiply your winnings. If your
                                referral is inactive in the 5th line up, then you receive further 32 + 31 transfers more
                                of all transactions relating to the 5th line.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">CryptoHands connection</div>
                            <div class="advantage-desc-left">The reference links CryptoHands and DoubleHands are
                                connected; That is why it is possible to expand your single structure in one of the two
                                projects, and structure of the other project is automatically built.</div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;"><img class="banner-gfx-icon banner-gfx-icon-1"
                            src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">This is a system that no centrally controlled. The human
                                factor (including the board administrator) is completely absent. No one can stop, make
                                changes to the system or withhold funds. Smart open source contract can not be deleted
                                ethereum network.</div>
                            <div class="advantage-value-right teal">decentralization Total</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Project management does not have access to funds, all
                                calculations and transfers are made through a smart contract (it is not possible to
                                change), and immediately redirect all funds to the corresponding ethereum wallets.</div>
                            <div class="advantage-value-right teal">Transactions between delegations</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Even if the website of the project ceased to exist, the
                                contract intelligent system available will remain forever in the chain of blocks
                                ethereum.</div>
                            <div class="advantage-value-right teal">Unable to stop System</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">The proceeds received may be repeated every year. While
                                fewer people in your structure using this function, the greater your profit. All
                                inactive referrals are also a "gateway" to all referrals to the same level.</div>
                            <div class="advantage-value-right teal">Function "Renew"</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">Thanks to the simplified registration "through
                                CryptoHands" can join your upline from CryptoHands; Also, your references CryptoHands
                                can become DoubleHands references automatically.</div>
                            <div class="advantage-value-right teal">Register through CryptoHands</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">These are just some of the
                advantages. Do you have any question?
                <br> <a href="/faq" style="color: #39d884 !important" class="">See FAQ</a>
                <br> <a href="/faq" style="color: #39d884 !important">See FAQs about ethereum</a></div>
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light " id="partners">
        <div class="">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm tc-light">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">Live
                    Statistics</h2>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><i
                                    class="fa fa-users" style="font-size:6em"></i></div>
                            <div>
                                <h3><%=platformData.totalUsers %></h3>
                                <div>Total participants</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table text-center" style="width: 100%;">
                                    <tr>
                                        <td class="stats-level-title">Level 1</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[0].total %>
                                        </td>
                                        <td class="stats-level-title">Level 2</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[1].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Level 3</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[2].total %>
                                        </td>
                                        <td class="stats-level-title">Level 4</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[3].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">level 5</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[4].total %>
                                        </td>
                                        <td class="stats-level-title">level 6</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[5].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">level 7</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[6].total %>
                                        </td>
                                        <td class="stats-level-title">level 8</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[7].total %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:20px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login">LOG IN</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/points.svg" style="height: 100px; width: auto" alt=""></div>
                            <div>
                                <h3>12636</h3>
                                <div>Guests online</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table">
                                    <tr>
                                        <td class="stats-left">Years of the project</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.projectTime %></span>years
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">dealings</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.total %></span></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Xs 24 hours</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:55px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup">OPEN
                                    ACCOUNT</a></div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/eth-white.png" style="height: 100px; width: auto" alt=""></div>
                            <div style="margin-top:20px">
                                <table id="txs-table" class="table">
                                    <tr>
                                        <td class="stats-left">BTC equivalent</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.btc_volume %></span>BTC
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Equivalent to $</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Last 24 hours</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>ETH
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">1 ETH</td>
                                        <td class="stats-right">= <span class="teal"
                                                style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>USDT
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:80px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                    href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>"> SEE
                                    ADDRESS</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
        <div class="transform-line"></div>
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Transacciones">NEW
                    TRANSACTIONS</h2>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="row">
                <div class="col-mb-10 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                    <table class="table text-center" style="">
                        <thead>
                            <th style="padding: 0;" class="teal">Date</th>
                            <th style="padding: 0;" class="teal">level</th>
                            <th style="padding: 0;" class="teal">Quantity</th>
                            <th style="padding: 0" class="teal">Destination</th>
                        </thead>
                        <tbody>
                            <% for(let tx of platformData.moneyTxs) {%>
                            <tr>
                                <td>Make<span class="timeSince"><%= tx.time %></span></td>
                                <td>
                                    <%= tx.level %>
                                </td>
                                <td>
                                    <%=  platformData.levels[tx.level].price %>
                                </td>
                                <td>
                                    <a href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>">
                                        <%= tx.userAddress %>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue">
                        <ahref="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>"> All statistics
                            are available in Etherscan</a>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Frequent
                    questions</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">We know you may have questions about the
                    operation of the system.</p>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">System</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">Registry</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">Referrals</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">levels</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">Function "Repeat"</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">risks</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">Before
                                            the emergence of similar systems already existed criptomonedas Why is it
                                            better?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Yes, indeed, such systems existed for 5 years and before the advent
                                                    of the Internet, and they work. However, he had several major
                                                    problems:
                                                    <br>
                                                    <br>1) Different payment systems constantly blocking wallets
                                                    participants.
                                                    <br>2) Confirmation manual transfers with all the resulting
                                                    consequences in the form of human factor and constant procedures,
                                                    who transferred funds to whom and who is not.
                                                    <br>3) There was no recurrence. A person once created a structure
                                                    and once received money, although relatively large. And then they
                                                    got all the twists deep into the structure, and the participant did
                                                    not get more.
                                                    <br>4) Close or hack a site meant a blockade of the system, and
                                                    sometimes hack sites.
                                                    <br>
                                                    <br>The Criptomonedas and ethereum solves all these problems:
                                                    <br>
                                                    <br>1) Wallet can not be blocked even in theory. The reverse of the
                                                    coin: in any case, do not lose control of your wallet. It will be
                                                    impossible to replace your wallet with others.
                                                    <br>2) public transactions and instant automatic confirmations. The
                                                    human factor is excluded completely.
                                                    <br>3) We did the "Repeat" function, which the participants had
                                                    previously applied in other systems. Once you create a structure and
                                                    receive income every year. If people in your structure does not
                                                    extend its participation each year, your income increases many
                                                    times. More on page How it works in the "REPEAT" section. 4) Close
                                                    or hijack the site in any way affect the operation of the system, as
                                                    the intelligent CRYPTOHANDS contract is loaded into the main network
                                                    ethereum and no one can delete it, including its developers.
                                                    <br>
                                                    <br>This means that for the first time in the history of mankind (no
                                                    matter how sound loud), there is a real 100% guarantee that the
                                                    account will not be pirated, and even theoretically when the site is
                                                    closed, the Smart Contract and system itself will continue to exist
                                                    anyway.
                                                    <br>In addition, any programmer in the world can create a new site
                                                    based on the same smart contract and any leader of the structure can
                                                    make a site structure on the same smart contract. Therefore, the
                                                    system is protected from any action by the administration of the
                                                    project.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">How to make money here?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Rápidop start guide is in the<a href="#">Homepage</a>in the section
                                                    "How it works".
                                                    <br>Detailed instructions are on a separate page.<a href="#">How
                                                        does it work</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">What are the guarantees that they will not close or
                                            block my account?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>This is one of the most important questions!
                                                    <br>
                                                    <br>For the first time in the history of mankind, there is 99%, but
                                                    100% guarantees that no one can block your wallet or your account,
                                                    including administration of the project (this is a feature of
                                                    cryptocurrency).
                                                    <br>
                                                    <br>The guaratees are written on the page. How it works in the last
                                                    "Guarantees" point.
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">How
                                            to register in DoubleHands?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Registration by login (email or telephone) and password is an
                                                    outdated concept. Since the loss of access to the mail means lost
                                                    access to the account.
                                                    <br>
                                                    <br>The successful purchase of the 1st level of its line is
                                                    ascending the fact of registration.
                                                    <br>
                                                    <br>Brief guide is present in the page SIGN :.
                                                    <br>
                                                    <br>Detailed guide How it works in the section "Register".
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">Is it possible to register without upline
                                            (inviter)?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>It is impossible to log into the system without the upline. If you do
                                                    not specify upline, intelligent contract will not accept the
                                                    transaction. That is one of the fundamental points in the level of
                                                    idea.
                                                    <br>
                                                    <br>The field "data" is not a comment or an additional feature of
                                                    any wallet. This is an integral part of the chain itself ethereum
                                                    blocks.
                                                    <br>
                                                    <br>While the automatic registration via a referral link or QR code
                                                    of the inviter, all data, including "data" field with the address of
                                                    your upline, are specified automatically. Just click on the button
                                                    "Register in one click."
                                                    <br>
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">How to access your account?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>You can access your account on page SIGNING
                                                    <br>
                                                    <br>You log on to your account is completely without password and
                                                    account can not be hacked or blocked.
                                                    <br>
                                                    <br>Learn how to log on to your account on the How it Works page in
                                                    the "Login".</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">Do I
                                            need to attract referrals?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Although the basis of the system is to build a structure from
                                                    references, and references are the source of your benefit, an
                                                    interesting fact is that references are required.
                                                    <br>
                                                    <br>In addition to the invitation, you can get references from two
                                                    ways: "Overflows" and "free References". For each of these methods,
                                                    read below in the following paragraphs.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">How many referrals can invite and how they are
                                            distributed?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Personally, I can only invite 2 references, which are attached
                                                    directly to you and are called "references the 1st line."
                                                    <br>
                                                    <br>2 references 1st line (personally invited by you) also invites 2
                                                    of his references. These participants in structure 4 are "references
                                                    2nd line".
                                                    <br>
                                                    <br>Then, by analogy, it has reference 8 and references 3rd line 16
                                                    line 4.
                                                    <br>
                                                    <br>If continues to invite references when already has two,
                                                    subsequent references are attached to the depth of its structure and
                                                    become references of the 2nd, 3rd and so on until the 10th line.
                                                    This is called "overflow". You can see more about "overflow" in the
                                                    following paragraph "What is" overflow "?".</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">What is "overflow"?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>The overflow is the method of obtaining referrals from their upline
                                                    of all lines, which, filling all gaps with 2 referrals, the next
                                                    passing reference to "overflow", ie for you.
                                                    <br>
                                                    <br>Example: the priumera upline (the inviter to the system) invited
                                                    two references and continued inviting more, or not immediately
                                                    stopped advertising. The third reference will be to you by
                                                    "overflow".
                                                    <br>
                                                    <br>Note: Overflows not only fill all its lines 8 completely, but
                                                    also fall below the line 10, 1536 filling more space in addition to
                                                    its reference structure 510 in all lines 8.
                                                    <br>
                                                    <br>After line 10, the gas quantity becomes more than the amount of
                                                    payment. What's more, the excesses are limited by the cryptocurrency
                                                    ethereum itself, since the maximum possible limit ethereum gas is
                                                    8000000. Therefore, the infinite overflows by intelligent contract
                                                    are impossible by definition.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">What line of "overflow" work?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Briefly:
                                                    <br>
                                                    <br>Without a site through a smart contract to lines 5 inclusive.
                                                    Overflows lines run until 10 inclusive.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">What are the "free referrals"?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Gratuitous references are members of the system who have come for
                                                    some reason without referral link.
                                                    <br>
                                                    <br>Gratuitous references are distributed evenly throughout the
                                                    system, and starting with those ascending lines which previously
                                                    were recorded in the system.
                                                    <br>
                                                    <br>IMPORTANT NOTE: The references are distributed free through the
                                                    NO system through intelligent contract, but by the system of the
                                                    site.
                                                    <br>
                                                    <br>This is the only thing that makes clever contract and this is
                                                    why:
                                                    <br>
                                                    <br>If references were distributed free through intelligent contract
                                                    with the growth of the system would consume large stones that a lot
                                                    of gas, which would not be beneficial to users. Everything else,
                                                    including the "overflow" is distributed by intelligent contract.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">Can I invite references to not buying the first
                                            level?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>You can, but will become free referrals and reach other members of
                                                    the system, not you. Since the system will not "know" before buying
                                                    level 1.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">What
                                            are the levels in the system?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Level: This is the state that grants the right to receive
                                                    remuneration from the references in its "depth" accordingly.
                                                    <br>
                                                    <br>Example:
                                                    <br>Level 1 entitles you to receive a reward for purchasing the
                                                    Level 1 of references invited personally by 2 (the referral line 1).
                                                    <br>Level 2 gives you the right to receive a reward for purchasing
                                                    the Level 2 References 4 guests for their guests personally
                                                    references 2 above (references 2 line).
                                                    <br>Level 3 entitles you to receive a reward for purchasing the
                                                    Level 3 references 8 line 3.
                                                    <br>Level 6 entitles you to receive a reward for purchasing the 64
                                                    level 6 reference line 6.
                                                    <br>
                                                    <br>Level 7 entitles you to receive a reward for purchasing 7 of 128
                                                    references line 7.
                                                    <br>
                                                    <br>And the last eighth level entitles you to receive a reward for
                                                    buying an eighth level of 8 line 8 references.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">If I have Level 2 Can I buy level 4 immediately
                                            without level 3?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Levels are purchased only sequentially and in order. If you try to
                                                    buy the 4th level without having the 3rd, intelligent contract will
                                                    not accept the transfer. In this case, money is not going anywhere
                                                    and will stay with you.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">What will happen if my referral, for example, line
                                            3, Level 3 wants to buy, but I still have only the level 2 system?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>The following will happen:
                                                    <br>
                                                    <br>Bad news:
                                                    <br>The money will not go to you, but your upline on the same line,
                                                    in this case the 3rd. If you buy levels in time, this will not
                                                    happen. In addition, all subsequent levels (except the first) and
                                                    are purchased from the money earned, not his own. Further. You see
                                                    in advance when the situation becomes "dangerous" and have time
                                                    enough to buy each level.
                                                    <br>If it happened once, not scary, since the gain at each level
                                                    (except the first) is many times greater than the cost of the level,
                                                    and even in this later case of buying the level later, funding for
                                                    all subsequent purchases of the same level for the rest of
                                                    references they go to you.
                                                    <br>
                                                    <br>Good news:
                                                    <br>If someone from your referrals do not buy the level in time, the
                                                    money you are going to you. If even one of your references, for
                                                    example, line 3, for some reason retired from the system (for
                                                    example, lost access to the wallet), then all references 8 (not his)
                                                    of the third line transfer money to you ! All other references to
                                                    the 3rd line you also transfer money.
                                                    <br>One example is given for reference. What if there are two or
                                                    more? Your income increases many times.
                                                    <br>
                                                    <br>Result: The more rejected or inactive references have in their
                                                    structure, THOSE MOST sometimes WILL BE YOUR INCOME</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">What
                                            is the function "Repeat" and why is it necessary?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>The "repeat" function is an option that allows you to repeat the
                                                    gains obtained all the time every month. In addition, each of the
                                                    references that left the system multiplies their reward.
                                                    <br>
                                                    <br>The principle of operation is described in detail on page.<a
                                                        href="#">How does it work</a>in the "Repeat".</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">What happens if you extend levels in a month?<span
                                            class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>Your account remains in the system forever, and at any time can extend
                                                and again receive income levels.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">
                                            Copyright is?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>Yes, because no one forces you to transfer money to anyone. All
                                                    transactions are voluntary.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">Copyright is?<span
                                            class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>Yes, because no one forces you to transfer money to anyone. All
                                                transactions are voluntary.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">Is there a risk here? What if so, what?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>Throughout the site we write no risk in the system. By this we mean that
                                                all the money is immediately transferred to your wallet and stored in
                                                it. This means there is no risk.
                                                <br>
                                                <br>However, it is worth considering that in the interval of time
                                                between registration and recording of their first reference, a situation
                                                in which he transferred to his upline 0.08 ETH is created, but has not
                                                yet received its first reference .
                                                <br>Therefore, technically the maximum theoretical risk is 0.08 ETH.
                                                These 0.08 ETH will be returned immediately from the first reference.
                                                <br>
                                                <br>Even if specifically did not invite any reference, sooner or later
                                                you will receive referrals in the following ways without their
                                                participation:
                                                <br>1) overflow its ascending lines,
                                                <br>2) free reference system.
                                                <br>
                                                <br>Therefore, even this symbolic risk tends to 0.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
            </div>
            <!-- .block @e -->
        </div>
    </section>
</main>
<%- include('footer'); -%>