<%-include('header');-%>
<main class="nk-pages">
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
            <!-- Block @s -->
            <div class="container">
                <div class="section-head text-center wide-auto-sm tc-light" style="margin-top: 100px">
                    <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span class="line-3"></span>
                        <span class="line-4">
                            </span> <span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                            <span class="line-8">
                                </span>
                    </div>
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">Come funziona?</h2></div>
                <!-- Block @s -->
                <div class="nk-block nk-block-roadmap" style="margin-top:40px">
                    <p class="animated" data-animate="fadeInUp" data-delay=".2" style="font-size:22px;text-align: center;">Quattro semplici passaggi</p>
                    <div class="row justify-content-center">
                        <div class="col-xl-3">
                            <div class="step-ext">
                                <div class="step-int"><img class="step-img" src="<%= host %>/images/dark/step_1.svg" alt=""></div>
                                <h4 class="step-title">1. Registro</h4>
                                <p class="step-description">0,08 ETH inviare il vostro livello superiore, che tornerà dopo il primo riferimento</p>
                            </div>
                        </div>
                        <!-- .col -->
                        <div class="col-xl-3">
                            <div class="step-ext">
                                <div class="step-int"><img class="step-img" src="<%= host %>/images/dark/step_2.svg" alt=""></div>
                                <h4 class="step-title">2. Accedere</h4>
                                <p class="step-description">1, nessuna password clic (non chiediamo mai chiavi private)</p>
                            </div>
                        </div>
                        <!-- .col -->
                        <div class="col-xl-3">
                            <div class="step-ext">
                                <div class="step-int"><img class="step-img" src="<%= host %>/images/dark/step_3.svg" alt=""></div>
                                <h4 class="step-title">3. Referenti Attirare</h4>
                                <p class="step-description">Attrarre rinvii o rinvii si aspettano che il sistema di</p>
                            </div>
                        </div>
                        <!-- .col -->
                        <div class="col-xl-3">
                            <div class="step-ext">
                                <div class="step-int-last"><img class="step-img" src="<%= host %>/images/dark/step_4.svg" alt=""></div>
                                <h4 class="step-title">4. reddito</h4>
                                <p class="step-description">Ricevere fondi immediatamente al portafoglio ETH, senza richieste di conferma o di pagamento</p>
                            </div>
                        </div>
                        <!-- .col -->
                    </div>
                    <!-- .row -->
                    <div style="margin-top:60px">
                        <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento" style="text-align: center;">il funzionamento dettagliato</h2>
                        <div class="row step-detail-container">
                            <div class="col-2"><img src="<%= host %>/images/dark/hiwall_0.svg" alt=""></div>
                            <div class="col-8 ">
                                <h3>0. Ethereum</h3>
                                <div>Se non si dispone di un portafoglio Ethereum Leggi M [come su di essa nel FAQ Ethereum</div>
                            </div>
                        </div>
                        <div class="row step-detail-container">
                            <div class="col-2"><img src="<%= host %>/images/dark/hiwall_1.svg" alt=""></div>
                            <div class="col-8 ">
                                <h3>1. Iscriviti</h3>
                                <h4>1.1.</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/1_1.svg" alt=""></div>
                                <div class="step-detail-description">0,08 ETH inviare dal tuo portafoglio Ethereum tuo livello superiore. E il primo utente è venuto dopo è tornato questo importo.
                                    <br>
                                    <br>Che trasmette 0,08 ETH alla smart contratto di indirizzo e immettere un numero del vostro portafoglio Ethereum monte nel campo "di inserimento dati" obbligatoria (in caso contrario, il contratto intelligente non accetterà il trasferimento e fondi rimanere con voi). Se si utilizza MetaMask, la transazione è fatto con un clic 1 e sarà inserito l'indirizzo del tuo livello superiore nei "dati di input" AUTOMATICAMENTE campo.
                                    <br>
                                    <br>contratto di Intelligent reindirizza immediatamente i fondi per il tuo livello superiore prima linea (che invita diretta) e assegna il primo livello nel sistema. Una transazione di successo registrerà nel sistema e il 1 ° livello assegnato al proprio account (informazioni dettagliate sui livelli inferiori). guida semplice e chiara a pagina. Sottoscrivi.</div>
                                <div style="padding: 8px 16px; color: #04de71; border-radius: 6px; background: rgba(4,222,113, .14); margin-top: 30px">! importante Se l'indirizzo del vostro portafoglio da cui manda fondi è CryptoHands, allora non si può specificare ascendenti, ma semplicemente trasferire i fondi alla direzione del contratto intelligente. In questo caso, la linea è verso l'alto la linea CryptoHands ascendente vicina, che è DoubleWay. Non solo overflow ha ottenuto, ma anche altri riferimenti che sono stati registrati più tardi di quanto, anche se erano loro uplines in CryptoHands.</div>
                                <h4 class="step-detail-subtitle">1.2.</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/1_2.svg" alt=""></div>
                                <div class="step-detail-description">Questi saranno 0,08 ETH pienamente restituito dopo il primo riferimento.</div>
                            </div>
                        </div>
                        <div class="row step-detail-container">
                            <div class="col-2"><img src="<%= host %>/images/dark/hiwall_2.svg" alt=""></div>
                            <div class="col-8 ">
                                <h3>2. Accedere</h3>
                                <h4>2.1.</h4>
                                <div class="step-detail-description">Accedi al tuo account inserendo solo il numero della vostra Ethereum portafoglio (nessuna password) o mediante MetaMask.
                                    <br>
                                    <br>L'account non può essere violato, perché non c'è nulla che la pirateria e nessuna password. Quando si inserisce l'indirizzo sul tuo conto, queste informazioni verranno intraprese blocchi portafoglio catena e Ethereum visualizzata, nessuno può bloccare l'account, tra cui la gestione del progetto, e il portafogli non possono essere trasferite su un altro.
                                    <br>
                                    <br>Ethereum vostro portafoglio non può bloccare a causa di decentramento. Questa è una caratteristica del criptovaluta.
                                    <br>
                                    <br><span style="color: red">Noi non ti chiederà mai di inserire la chiave privata.</span></div>
                            </div>
                        </div>
                        <div class="row step-detail-container">
                            <div class="col-2"><img src="<%= host %>/images/dark/hiwall_3.svg" alt=""></div>
                            <div class="col-8 ">
                                <h3>3. Attirare o attendere rinvii</h3>
                                <h4>3.1.</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/3_1.svg" alt=""></div>
                                <div class="step-detail-description">Dopo aver acquistato il livello 1, è possibile invitare personalmente 2. Questi riferimenti sono riferimenti 1 ° linea.</div>
                                <h4 style="margin-top:80px">3.2.</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/3_2.svg" alt=""></div>
                                <div class="step-detail-description">Se hai invitato 2 referenze e poi invitato il 3 °, si verrà indirizzati automaticamente ai vostri riferimenti in ordine dalla parte superiore della lista e se ognuno di loro ha 2 spazi occupati, vi sarà diretto per fare riferimento il vostro riferimento. Overflow linee corrono fino al 10 compreso. Dettagli domande più frequenti.</div>
                                <h4 style="margin-top:80px">3.3. rinvii liberi.</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/3_3.svg" alt=""></div>
                                <div class="step-detail-description">riferimenti gratuiti sono distribuiti in modo uniforme in tutto il sistema, a cominciare da quelle linee ascendenti che in precedenza sono stati registrati nel sistema.</div>
                            </div>
                        </div>
                        <div class="row step-detail-container">
                            <div class="col-2"><img src="<%= host %>/images/dark/hiwall_4.svg" alt=""></div>
                            <div class="col-8 ">
                                <h3>4. reddito</h3>
                                <h4>4.1. (1 livello)</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_1.svg" alt=""></div>
                                <div class="step-detail-description">Il primo riferimento è invitato o ricevuti dal sistema trasferirà 0,08 ETH. E Riferimenti 2 della linea di 1 ° grado di ricevere 0,16 ETH in totale.</div>
                                <h4 style="margin-top:80px">4.2. (Livello 2)</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_2.svg" alt=""></div>
                                <div class="step-detail-description">Poi trasferisce tutto ETH 0,16 al monte a monte (la seconda linea a monte), in modo da acquistare al 2 ° livello.
                                    <br>Il secondo e tutti i livelli successivi possono essere acquistati subito dopo l'acquisto del livello precedente, senza aspettare che tutti gli spazi sono pieni di riferimenti. Maggiori informazioni qui di seguito.
                                    <br>Quando si acquista il livello 2 di loro a monte dei riferimenti riferimenti seconda linea (riferimenti o 2 ° linea) può acquistare il livello 2. Persone 4 0.16 ETH lui trasferito e si dispone di 0,64 ETH nella seconda livello complessivo.</div>
                                <h4 style="margin-top:80px">4.3. (3 livelli)</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_3.svg" alt=""></div>
                                <div class="step-detail-description">Dopo l'acquisto il secondo livello si possono acquistare il livello di 3 °, facendo una transazione 0,32 ETH sua upline 3 °.
                                    <br>8 riferimenti ora la 3a linea può acquistare il 3 ° livello. In totale, 2,64 ETH e può essere trasferito a voi al 3 ° livello.</div>
                                <h4 style="margin-top:80px">4.4. (4 livello)</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_4.svg" alt=""></div>
                                <div class="step-detail-description">È possibile acquistare il 4 ° livello trasferendo 0.64 ETH la sua linea a monte 4 °. 16 riferimenti linea 4 può fare di trasferire presso l'ETH. 0,64 ciascuna E nel 4 ° livello che possono essere trasferiti da 10.24 ETH in totale.</div>
                                <h4 style="margin-top:80px">4.5. (5 livelli)</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_5.svg" alt=""></div>
                                <div class="step-detail-description">Livello 5 può comprare una transazione da 1,28 ETH alla sua linea a monte della linea 5. Dopo di che, la loro riferimenti online 5st può acquistare il 5 ° livello. Ognuno dei riferimenti 32 invia ETH 1.28. In totale, può essere trasferito al 5 ° livello ETH 40.96.</div>
                                <h4 style="margin-top:80px">4.6. (Livello 6)</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_6.svg" alt=""></div>
                                <div class="step-detail-description">Livello 6 può essere acquistato presso la vostra linea a monte 6 da un trasferimento di 2,56 ETH.
                                    <br>Dopo aver acquistato i riferimenti 6 ° linea 6 ° livello in grado di acquistare un 6 ° livello. 64 persone possono trasferire si ETH 2,56 per ciascuno di essi. In totale, si sarà trasferito da ETH 163.84 al sesto piano.</div>
                                <h4 style="margin-top:80px">4.7. (7 livello)</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_7.svg" alt=""></div>
                                <div class="step-detail-description">Per acquistare il 7 ° livello, è necessario trasferire 5.12 ETH sua upline 7RD. Dopo aver acquistato il 7 ° livello, i riferimenti della linea 7 può comprare 7 ° livello. 128 persone possono muoversi si ETH 5.12 per ciascuno di essi. In totale nel 7 ° livello, si può essere trasferito dalla ETH 655,36.</div>
                                <h4 style="margin-top:80px">4.8. (8 livelli)</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_8.svg" alt=""></div>
                                <div class="step-detail-description">Per acquistare l'ultima 8 ° livello, è necessario trasferire il suo monte 10.24 ETH della linea 8.
                                    <br>Dopo aver acquistato l'8 ° livello si può accedere ETH 10,24 estensioni da 256 Il vostro riferimenti online 8 °. In totale nel 8 ° livello è possibile ricevere ETH 2.621,44.</div>
                                <h4 style="margin-top:80px">4.9 Guadagni totali</h4>
                                <h5 style="margin-top:80px">4.9.1 Il totale delle entrate al mese.</h5>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_9_1.svg" alt=""></div>
                                <div class="step-detail-description">A rigor di reddito 64 Giorni: 3495,2 ETH. L'utile netto per 64 giorni: 3474,8 ETH. (Next: 3500 ETH).</div>
                                <h5 style="margin-top:80px">4.9.2 Il totale delle entrate al mese.</h5>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/4_9_2.svg" alt=""></div>
                                <div class="step-detail-description">reddito rigorosamente annuale: 20.971,2 ETH. L'utile netto per l'anno: 20.848,8 ETH. (Next: 20000 ETH).<span style="color:#ff3b30">*</span> <span style="color:#ffcc00">**</span><span style="color:#4cd964">***</span>
                                    <br>
                                    <br><span style="color:#ff3b30">*</span>La somma di 20.000 all'anno escluso superprofitti ETH è il massimo guadagno possibile teorica, che è quasi impossibile da ottenere nel primo anno, e la probabilità di ricevere avvicina a 0%.
                                    <br>
                                    <br><span style="color:#ffcc00">**</span>In pratica, in termini reali, fare la metà di questa quantità è molto realistica, e la probabilità di ricevere tende a 100% anche nel primo anno.
                                    <br>
                                    <br> <span style="color:#4cd964">***</span>Ma con la funzione "Repeat", la capacità di ETH 20.000 all'anno (e grazie a riferimenti inattivi) tende al 100% per ogni membro della DOUBLEWAY.
                                    <br>
                                    <br> </div>
                            </div>
                        </div>
                        <div class="row step-detail-container">
                            <div class="col-2"><img src="<%= host %>/images/dark/hiwall_5.svg" alt=""></div>
                            <div class="col-8 ">
                                <h3>5. Quali sono le prospettive? Si ripete ogni mese.</h3>
                                <h4></h4>
                                <div class="step-detail-description">È stata ottenuta una struttura 2 referenze invitati da soli + 4 riferimenti seconda riga + 2 riferimenti terza riga + 8 riferimenti quarta linea ecc = 3 riferimenti, e ha già ricevuto più di 16 ETH circa anno, e allora? Una volta solo per i soldi e basta?
                                    <br>
                                    <br>Alla fine, il denaro smette di venire a voi e tutti i proventi approfondire la struttura. E il costo di ripetuti acquisti di livelli è incomparabilmente più conveniente che i guadagni che hanno già ricevuto, e può ricevere di nuovo se si ripete tutto dall'inizio. E già ha riferimenti, quindi non è necessario invitare chiunque altro. Pertanto, un nuovo acquisto a tutti i livelli, a partire dal primo. E quindi, ogni due mesi, recuperare l'importo sollevato per tutto il tempo.
                                    <br>
                                    <br>Tutti i riferimenti riacquistate i livelli di NO ogni due mesi per voi di diventare un "porta" per tutti i riferimenti alla stessa linea.
                                    <br>
                                    <br>Pertanto, un minor numero di persone a rimanere nella loro struttura, maggiore è il profitto.
                                    <br>
                                    <br>Il principio del lavoro è simile a quello del paragrafo 4.10.
                                    <br>
                                    <br>Ogni livello dura 64 giorni. Ogni livello di estensione è allo stesso tempo. Ogni livello può essere acquistato per un massimo di 2 periodi di 64 giorni di anticipo. Se avete acquistato il vostro livello di riferimento 2 volte di fila, quindi si ottiene tutti questi soldi. I dati provenienti da tutti i livelli convenientemente presentate in un account personale.</div>
                            </div>
                        </div>
                        <div class="row step-detail-container">
                            <div class="col-2"><img src="<%= host %>/images/dark/hiwall_6.svg" alt=""></div>
                            <div class="col-8 ">
                                <h3>6. Attrarre o aspettare di cui</h3>
                                <div class="step-detail-description">Se si crea una grande struttura che riceverà denaro ogni due mesi, solo aumentando i ricavi e se i riferimenti diventano inattivi, che cosa GARANZIA ricevere se il sito non si chiude o se l'amministrazione non mancherà di sostenere il progetto?</div>
                                <h4 style="margin-top:80px">6.1. Ethereum garantire che il vostro portafoglio non sarà bloccato ..</h4>
                                <div class="step-detail-description">Bloccando raccoglitore Ethereum è impossibile per definizione a causa delle caratteristiche di blockchain.
                                    <br>
                                    <br>Il rovescio della medaglia: se si perde il controllo del vostro portafoglio, nessuno dovrà restituire.
                                    <br>
                                    <br><span style="color:#ff3b30">Noi non ti chiederà mai di inserire la chiave privata.</span></div>
                                <h4 style="margin-top:80px">6.2. Garantire che il tuo account nel sistema di NO è bloccato o violato.</h4>
                                <div class="step-detail-img-container"><img class="step-detail-img" src="<%= host %>/images/dark/3_3.svg" alt=""></div>
                                <div class="step-detail-description">Blocco o dirottare un account è anche impossibile per definizione. Il tuo account non è sul sito web e server, ma nel contratto di Ethereum intelligente la rete principale. Ciò significa che chiunque, compresi coloro che sviluppano un contratto intelligente non può modificarla, correggere o rimuoverlo in teoria.
                                    <br>
                                    <br>Informazioni sul sito è disponibile nel tuo account senza password, e caricato sul sito da statistiche pubbliche di contratto Ethereum intelligente.</div>
                                <h4 style="margin-top:80px">6.3. La garanzia che è protetto contro la risoluzione del sito e la scomparsa dell'amministrazione.</h4>
                                <h5 style="margin-top:80px">6.3.1.</h5>
                                <div class="step-detail-description">Intelligente, contratto e conto esistere autonomamente dal sito, e anche vicino il sito non può apportare modifiche al sistema, dal momento che ciascuno dei suoi prelievi riferimenti aumenta ripetutamente i loro profitti (vedi esempio sopra nella nota 4.9) .</div>
                                <h5 style="margin-top:80px">6.3.2.</h5>
                                <div class="step-detail-description">Qualsiasi programmatore al mondo può fare un sito mirror dello stesso contratto intelligente.</div>
                                <h5 style="margin-top:80px">6.3.3.</h5>
                                <div class="step-detail-description">capigruppo (sia il tuo livello superiore e riferimenti ivi) possono creare un sito per un computer specifico.
                                    <br>
                                    <br>Ogni membro è protetta anche per questo punto. Iscriviti adesso, mentre tutto appena iniziato!))</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Block @e -->
            </div>
        </section>
    </main>
    <%- include('footer'); -%>