<%-include('header');-%>
<%-include('language_sidebar');-%>
<main class="nk-pages">
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="what">
        <div class="container">
            <!--Block@s-->
            <div class="nk-block nk-block-text-wrap">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">Che
                        cosa è DoubleHands?</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Genera reddito in modo decentrato</p>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title">NON UN INVESTIMENTO</div>
                            <div>Nessuna necessità di attendere</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title">NON UN COMMERCIO</div>
                            <div>IN SICUREZZA</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title">NO SALES</div>
                            <div>PRODOTTI "MAGICO"</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">FRACTAL MATEMATICA</div>
                            <div>Nella sua forma originale</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">RISCHIO GRATIS</div>
                            <div>ACCESSIBILE A TUTTI</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">PROPORZIONI E NUMERI</div>
                            <div>Inventato da NATURA</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 "><img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">
                            Questa è la smart Contratto<i class="fa fa-check remark"></i>
                            <span class="remark">verificata</span>e<i class="fa fa-code remark"></i>
                            <span class="remark">open source</span>Dove tutti possono guadagnare fino a che vuole, sia
                            un nuovo iPhone o un nuovo appartamento. Non c'è bisogno di ripagare questo denaro in
                            seguito.
                            <a class="remark" href="#">Visualizza contratto</a></p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-cubes remark"></i>Ethereum: Il secondo criptovaluta al mondo dopo Bitcoin
                        popolarità e la prima per popolarità con la possibilità di creare contratti intelligenti.
                        Intelligente contratto: un algoritmo di distribuzione criptomonedas, che non può essere
                        modificato o pubblicato dopo Ethereum caricato in rete.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-address-card remark"></i>Intelligent contratto CRYPTOHANDS viene caricato nella
                        criptomonedas rete Ethereum e, anche in teoria, nessuno può modificare o eliminarlo, tra cui i
                        suoi creatori. Pertanto, nulla e nulla può fermare il lavoro del sistema, anche se scompare la
                        chiusura del sito o di amministrazione. Il sistema CRYPTOHANDS non appartiene a nessuno e
                        funziona indipendentemente dal sito.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-user remark"></i>I conti di tutti gli utenti sono mantenuti per contratto
                        intelligente non sul posto, in modo che l'amministratore del sito non è in grado di bloccare o
                        rimuoverli. Nel tuo account (nessuna password) sul sito CRYPTOHANDS uniche informazioni su ogni
                        conto, preso dal contratto di Ethereum intelligente mostrato. Pertanto, è impossibile hack un
                        account e cambiare il portafoglio dell'utente.</div>
                </div>
            </div>
            <!-- .block @e -->
        </div>
    </section>
    <!-- // -->
    <!-- // -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4">
                    </span><span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                    <span class="line-8">
                    </span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">Come
                    funziona?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Ethereum bisogno di un portafoglio e
                    0,08ETH.
                    <br>(12:08ETH = $
                    <%= (platformData.prices.eth_usd * 0.08).toFixed(2) %>USDT)
                    <br> <b>Fase 0:</b>Se non si dispone di un Ethereum Portafoglio possibile verificare i dettagli<a
                        style="color: #39d884" href='/faqeth/it'>Ethereum FAQ</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head"><span class="roadmap-time">step 1</span><span
                                            class="roadmap-title teal">Registrazione</span><img class="roadmap-img"
                                            src="images/dark/hiwall_1.svg" alt=""></div>
                                    <p class="card-text">Per registrarsi e ottenere il livello 1 del sistema, è
                                        sufficiente inviare 0,08ETH al tuo livello superiore ogni 2 mesi; e la prima
                                        persona che è venuto dopo, si torna questi fondi, ogni due mesi come bene. Tutti
                                        gli altri trasferimenti sono effettuati a spese dei fondi già vinto. guida
                                        semplice e chiara a pagina
                                        <a href="/signup/it">registro</a>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head"><span class="roadmap-time">step 2</span><span
                                            class="roadmap-title teal">deposito</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i>--><img class="roadmap-img"
                                            src="images/dark/hiwall_2.svg" alt=""></div>
                                    <p class="card-text"><span class="">Accedi al tuo account</span>Utilizzando solo
                                        l'indirizzo del vostro Ethereum portafoglio (<span class="">Password no</span>).
                                        La password non è necessaria perché il tuo account è in un contratto
                                        intelligente, e non sul sito web. Pertanto, il tuo account non può essere
                                        bloccata o cancellata dal sistema; anche da parte dell'amministrazione del sito.
                                        Inoltre, l'Ethereum borsa non può essere violato o modificato.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head"><span class="roadmap-time">passaggio 3</span><span
                                            class="roadmap-title teal">ottenere rinvii</span><img class="roadmap-img"
                                            src="images/dark/hiwall_3.svg" alt=""></div>
                                    <p class="card-text">Ci sono quattro modi per ottenere rinvii:</p>
                                    <ul class="list list-dot card-text">
                                        <li>Attrarre i rinvii alle tue DoubleHands struttura</li>
                                        <li>I tuoi riferimenti upline di "overflow" (come previsto dal contratto Smart).
                                        </li>
                                        <li>Attendere che il sistema fornirà i rinvii liberi per voi stessi.</li>
                                        <li>I suoi riferimenti CryptoHands, atomicamente diventeranno riferimenti
                                            DoubleHands.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head"><span class="roadmap-time">step 4</span><span
                                            class="roadmap-title teal">percepire un reddito</span><img
                                            class="roadmap-img" src="images/dark/hiwall_4.svg" alt=""></div>
                                    <p class="card-text">Ottenere transazioni automatiche dal contratto Intelligent
                                        direttamente sul tuo Ethereum borsa. Secondo la seguente tabella, il primo
                                        livello è trasferito 0,16ETH, al livello immediatamenteETH 0,64 e 2,56 nel
                                        terzoETH. (8 livelli in totale, 3500ETH di reddito al mese, 40000ETH di reddito
                                        all'anno).
                                        <spanstyle="font-weight: bold;">Non Basta accettare transazioni o richiesta di
                                            pagamento. I fondi arrivano direttamente al tuo portafoglio.</span>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head"><span class="roadmap-time">punto 5</span><span
                                            class="roadmap-title teal">Ripetere ogni mese</span><img class="roadmap-img"
                                            src="images/dark/hiwall_5.svg" alt=""></div>
                                    <p class="card-text">Se si dispone di più di 3.500 anonimaETH e 510 rinvii (le cifre
                                        sono dato come esempio di un risultato e non sono un prerequisito). Cosa fare
                                        dopo? Può essere ripetuto ogni due mesi, pur mantenendo una struttura. E un
                                        minor numero di persone a rimanere nella loro struttura più vecchia sarà il loro
                                        reddito. I suoi rerferencias inattivo e abbandonato, una "porta" per tutti i
                                        riferimenti sulla stessa linea, in caso di inattività.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head"><span class="roadmap-time">passaggio 6</span><span
                                            class="roadmap-title teal">Quali sono le prospettive?</span><img
                                            class="roadmap-img" src="images/dark/hiwall_6.svg" alt=""></div>
                                    <p class="card-text">Nessuno può chiudere il conto, pagamenti di stop o modifiche
                                        apportate al sistema, dal momento che il contratto viene caricato nel
                                        Intelligent Ethereum rete. Non è possibile eliminare o modificare. Essi possono
                                        invitare i rinvii senza un sito web, e il riferimento collega direttamente ad un
                                        contratto di Smart. Pertanto, il sistema esisterà finché ci DoubleHands
                                        Ethereum, e questo esisterà fino a quando l'Internet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4"><a href="/comofunciona/it"
                        class="btn btn-grad">Vedi i dettagli di come funziona</a></div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="container ov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">payout
                        ratio</h2>
                </div>
                <!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid #10122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">livello</th>
                                <th>prezzo</th>
                                <th>Referenti</th>
                                <th>reddito</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.08</span>ETH</td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">0.16</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.16</span>ETH</td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">0.64</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.32</span>ETH</td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">2.56</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.64</span>ETH</td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">10.24</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">1.28</span> ETH</td>
                                    <td>32</td>
                                    <td><span class="teal" style="font-weight: bold;">40.96</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#6</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span> ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">163.84</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#7</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">5.12</span> ETH</td>
                                    <td>128</td>
                                    <td><span class="teal" style="font-weight: bold;">655.36</span> ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">#8</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" /><span
                                            class="blue" style="font-weight: bold;">10.24</span> ETH</td>
                                    <td>256</td>
                                    <td><span class="teal" style="font-weight: bold;">2621.44</span> ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">Il tuo guadagno in totale:<img
                                        src='images/dark/eth-white.png' class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span>ETH ogni due mesi e 20.000 ETH all'anno.
                                    <span style="color:#ff3b30">*</span> <span style="color: #ffe620">**</span>
                                    <span style="color: #39d884 ">***</span></div>
                                <div style="font-size:14px">A rigor di reddito: ETH 3.495,2 20.971,2 per 64 giorni e ETH
                                    all'anno. Utile netto: ETH 3.474,8 20.848,8 per 64 giorni e ETH all'anno.</div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color:#ff3b30">*</span>La quantità di ETH 20000 all'anno è il teorico massimo
                                beneficio possibile, è quasi impossibile da ottenere con un singolo passo a tutti i
                                livelli durante il primo anno, e la probabilità di ricevere tende a 0%.</div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color: #ffe620">**</span>In pratica, in condizioni reali è abbastanza
                                realistico metà di questa somma, e la probabilità di ricevere tende a 100% anche con un
                                passaggio completo attraverso tutti i livelli</div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #39d884 ">***</span>Ma con la funzione di "ripetizione" la
                                possibilità di ETH 20.000 (e più, grazie ai riferimenti inattive) tende a 100% per ogni
                                partecipante di DoubleHands</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block @e -->
    </section>
    <!-- // -->
    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="section bg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">vantaggio
                </h2>
            </div>
            <!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Nessun rischio</div>
                            <div class="advantage-desc-left">I costi del progetto non passano 0,08 ETH per due mesi, che
                                verrà restituita con il primo rinvio. Non ci sono "le applicazioni di pagamento" e non è
                                necessario attendere. I fondi vengono immediatamente trasferiti al vostro portafoglio.
                            </div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">senza invito</div>
                            <div class="advantage-desc-left">I reperti di sistema riferimenti a uste sé. I partecipanti
                                non arrivano con un referncia collegamento, diventano questi consolidati e distribuiti
                                in modo uniforme tra gli utenti provenienti da coloro che hanno acquistato in precedenza
                                il livello 1.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Referenti dal vostro upline</div>
                            <div class="advantage-desc-left">Quando i 2 slot riempiono la linea ascendente prima al
                                ottavo livello, gli ospiti rinvii sarà vostra, o che possiedono rinvii contertirán in
                                cui è anche ottenere profitti.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">rinvii Inactivos</div>
                            <div class="advantage-desc-left">Inattivo cui moltiplicare la vincita. Se il riferimento è
                                inattivo nel 5 ° line up, poi si riceve più di 32 + 31 trasferimenti più di tutte le
                                operazioni relative alla linea 5.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">collegamento CryptoHands</div>
                            <div class="advantage-desc-left">I collegamenti di riferimento CryptoHands e DoubleHands
                                sono connessi; Questo è il motivo per cui è possibile espandere la vostra struttura
                                unica in uno dei due progetti, e la struttura del altro progetto è costruito
                                automaticamente.
                            </div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;"><img class="banner-gfx-icon banner-gfx-icon-1"
                            src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Questo è un sistema che controllava non centralmente. Il
                                fattore umano (compreso l'amministratore) è completamente assente. Nessuno può fermare,
                                le modifiche apportate al sistema o fondi trattenere. Intelligente contratto open source
                                non può essere eliminato rete Ethereum.</div>
                            <div class="advantage-value-right teal">il decentramento totale</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">gestione del progetto non ha accesso ai fondi, tutti i
                                calcoli e trasferimenti si effettuano tramite un contratto intelligente (non è possibile
                                cambiare), e subito reindirizzare tutti i fondi ai corrispondenti portafogli Ethereum.
                            </div>
                            <div class="advantage-value-right teal">Le transazioni tra le delegazioni</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Anche se il sito web del progetto cessato di esistere, il
                                sistema intelligente contratto disponibile rimarrà per sempre nella catena di blocchi
                                Ethereum.
                            </div>
                            <div class="advantage-value-right teal">Incapace di fermare Sistema</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">I proventi ricevuti possono essere ripetute ogni anno.
                                Mentre meno persone nella struttura di utilizzare questa funzione, maggiore è il
                                profitto. Tutti i rinvii non attivi sono anche una "porta d'ingresso" per tutti i
                                riferimenti allo stesso livello.</div>
                            <div class="advantage-value-right teal">Funzione "Rinnova"</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">Grazie alla registrazione semplificata "attraverso
                                CryptoHands" può entrare nella tua upline da CryptoHands; Inoltre, i vostri riferimenti
                                CryptoHands possono diventare automaticamente i riferimenti DoubleHands.</div>
                            <div class="advantage-value-right teal">Registrati attraverso CryptoHands</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">Questi sono solo alcuni dei
                vantaggi. Avete delle domande?
                <br> <a href="/faq/it" style="color: #39d884 !important" class="">See FAQ</a>
                <br> <a href="/faq/it" style="color: #39d884 !important">Vedi Domande frequenti sul Ethereum</a> </div>
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light " id="partners">
        <div class="">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm tc-light">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">
                    Statistiche in tempo reale</h2>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><i
                                    class="fa fa-users" style="font-size:6em"></i> </div>
                            <div>
                                <h3><%= platformData.totalUsers %></h3>
                                <div>Totale partecipanti</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table text-center" style="width: 100%;">
                                    <tr>
                                        <td class="stats-level-title">livello 1</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[0].total %>
                                        </td>
                                        <td class="stats-level-title">livello 2</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[1].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">livello 3</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[2].total %>
                                        </td>
                                        <td class="stats-level-title">livello 4</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[3].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">livello 5</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[4].total %>
                                        </td>
                                        <td class="stats-level-title">livello 6</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[5].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">livello 7</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[6].total %>
                                        </td>
                                        <td class="stats-level-title">livello 8</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[7].total %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:20px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login/it">LOG IN</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/points.svg" style="height: 100px; width: auto" alt=""></div>
                            <div>
                                <h3>12636</h3>
                                <div>ospiti online</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table">
                                    <tr>
                                        <td class="stats-left">Anni del progetto</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%=platformData.projectTime %></span>anni
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">relazioni</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.total %></span></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Xs 24 ore</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:55px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup/it">CONTO
                                    APERTO</a></div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/eth-white.png" style="height: 100px; width: auto" alt=""></div>
                            <div style="margin-top:20px">
                                <table id="txs-table" class="table">
                                    <tr>
                                        <td class="stats-left">Equivalente BTC</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.btc_volume %></span>BTC
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Equivalente a $</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Ultime 24 ore</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>ETH
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">1 ETH</td>
                                        <td class="stats-right">= <span class="teal"
                                                style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>USDT
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:80px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                    href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>"> See
                                    Indirizzo</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
        <div class="transform-line"></div>
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Txs">NUOVE
                    OPERAZIONI</h2>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="row">
                <div class="col-mb-10 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                    <table class="table table-responsive text-center" style="">
                        <thead>
                            <th style="padding: 0;" class="teal">data</th>
                            <th style="padding: 0;" class="teal">livello</th>
                            <th style="padding: 0;" class="teal">quantità</th>
                            <th style="padding: 0" class="teal">Destino</th>
                        </thead>
                        <tbody>
                            <% for(let tx of platformData.moneyTxs) {%>
                            <tr>
                                <td>fa<span class="timeSince"><%= tx.time %></span></td>
                                <td>
                                    <%= tx.level %>
                                </td>
                                <td>
                                    <%=  platformData.levels[tx.level].price %>
                                </td>
                                <td>
                                    <a href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>">
                                        <%= tx.userAddress %>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue">
                        <a href="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>"> Tutte le
                            statistiche sono disponibili in Etherscan</a>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">domande
                    frequenti</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Sappiamo che può avere domande circa il
                    funzionamento del sistema.</p>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">Sistema</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">Registro</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">Referenti</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">livelli</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">Funzione "Repeat"</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">rischi</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">Prima
                                            della nascita di sistemi simili già esisteva criptomonedas Perché è
                                            meglio?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Sì, in effetti, tali sistemi esistevano per 5 anni e prima
                                                    dell'avvento di Internet, e funzionano. Tuttavia, ha avuto diversi
                                                    problemi principali:
                                                    <br>
                                                    <br>1) diversi sistemi di pagamento bloccando costantemente
                                                    portafogli partecipanti.
                                                    <br>2) conferma manuale trasferimenti con tutte le conseguenze in
                                                    forma di fattori e costanti procedure umani, che hanno trasferito
                                                    fondi a chi e che non è.
                                                    <br>3) Non c'era nessuna recidiva. Una persona una volta ha creato
                                                    una struttura e una volta ricevuto il denaro, anche se relativamente
                                                    grande. E poi tutti i giri sono messi in profondità nella struttura,
                                                    e il partecipante fallito di più.
                                                    <br>4) Chiudere o hack un sito significava un blocco del sistema, e,
                                                    talvolta, Hack siti.
                                                    <br>
                                                    <br>I Criptomonedas e risolve Ethereum tutti questi problemi:
                                                    <br>
                                                    <br>1) raccoglitore non può essere bloccata anche in teoria. Il
                                                    rovescio della medaglia: in ogni caso, fare il controllo non perdere
                                                    del vostro portafoglio. Sarà impossibile per sostituire il vostro
                                                    portafoglio con gli altri.
                                                    <br>2) le operazioni pubbliche e Instant conferme automatiche. Il
                                                    fattore umano è esclusa del tutto.
                                                    <br>3) Abbiamo fatto la funzione "Repeat", che i partecipanti
                                                    avevano precedentemente applicato in altri sistemi. Una volta che si
                                                    crea una struttura e ricevere reddito ogni anno. Se le persone nella
                                                    struttura non si estende la sua partecipazione ogni anno, il reddito
                                                    aumenta molte volte. Ulteriori informazioni a pagina Come funziona
                                                    nella sezione "REPEAT". 4) Chiudere o dirottare il sito in alcun
                                                    modo influenzare il funzionamento del sistema, in quanto il
                                                    contratto CRYPTOHANDS intelligente viene caricato nella principale
                                                    Ethereum rete e nessuno può eliminarla, compresi i suoi
                                                    sviluppatori.
                                                    <br>
                                                    <br>Ciò significa che per la prima volta nella storia dell'umanità
                                                    (non importa quanto forte suono), v'è una vera e propria garanzia al
                                                    100% che l'account non verrà pirata, e anche teoricamente quando il
                                                    sito è chiuso, il Contratto intelligente e sistema stesso continuerà
                                                    ad esistere comunque.
                                                    <br>Inoltre, qualsiasi programmatore al mondo in grado di creare un
                                                    nuovo sito in base al medesimo contratto intelligente e un leader
                                                    della struttura può fare una struttura del sito sullo stesso
                                                    contratto intelligente. Pertanto, il sistema è protetto da qualsiasi
                                                    azione da parte dell'amministrazione del progetto.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">Come fare soldi qui?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>La Guida rapida è nella<a href="#">casa</a>nella sezione "Come
                                                    funziona".
                                                    <br>istruzioni dettagliate su una pagina separata.<a href="#">Come
                                                        funziona</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">Quali sono le garanzie che essi non chiudere o
                                            bloccare il mio conto?<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Questa è una delle domande più importanti!
                                                    <br>
                                                    <br>Per la prima volta nella storia del genere umano, v'è il 99%, ma
                                                    al 100% garantisce che nessuno può bloccare il portafoglio o il tuo
                                                    account, compresa l'amministrazione del progetto (questa è una
                                                    caratteristica di criptovaluta).
                                                    <br>
                                                    <br>I guaratees sono scritti sulla pagina. Come funziona l'ultimo
                                                    punto "garanzie".
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">Come
                                            registrarsi in DoubleHands?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Iscrizione entro il login (email o telefono) e la password è un
                                                    concetto superato. Dal momento che la perdita di accesso alla posta
                                                    significa accesso persa al conto.
                                                    <br>
                                                    <br>L'acquisto di successo del 1 ° livello della sua linea è
                                                    ascendente il fatto di registrazione.
                                                    <br>
                                                    <br>Breve guida è presente nella pagina di registrazione:.
                                                    <br>
                                                    <br>Guida dettagliata Come funziona nella sezione "Registrati".
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">E 'possibile registrarsi senza monte (inviter)?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>È impossibile accedere al sistema senza il monte. Se non si specifica
                                                    a monte, contratto intelligente non accetterà la transazione. Questo
                                                    è uno dei punti fondamentali del livello di idea.
                                                    <br>
                                                    <br>I "dati" campo non è un commento o una funzione aggiuntiva di
                                                    qualsiasi portafoglio. Questa è una parte integrante della catena
                                                    stessa blocchi Ethereum.
                                                    <br>
                                                    <br>Mentre la registrazione automatica tramite un link di
                                                    riferimento o il codice QR della persona che invita, tutti i dati,
                                                    compresi campo "Dati" con l'indirizzo del tuo livello superiore,
                                                    sono specificati automaticamente. Basta fare clic sul pulsante
                                                    "Registra in uno scatto."
                                                    <br>
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">Come accedere al tuo account?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>È possibile accedere al tuo account a pagina FIRMA
                                                    <br>
                                                    <br>Si accede al proprio account è completamente senza password e
                                                    l'account non può essere violato o bloccato.
                                                    <br>
                                                    <br>Ulteriori informazioni su come accedere al vostro account sul
                                                    Come funziona pagina nel "Login".</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">Ho
                                            bisogno di attirare i rinvii?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Anche se la base del sistema è quello di costruire una struttura dai
                                                    riferimenti e riferimenti sono la fonte del vostro beneficio, un
                                                    fatto interessante è che i riferimenti sono necessari.
                                                    <br>
                                                    <br>Oltre all'invito, è possibile ottenere riferimenti da due modi:
                                                    "overflow" e "Riferimenti liberi". Per ciascuno di questi metodi,
                                                    leggere qui di seguito nei paragrafi seguenti.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">Quanti rinvii possono invitare e come sono
                                            distribuiti?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Personalmente, posso solo invitare 2 riferimenti, che sono attaccati
                                                    direttamente a voi e sono chiamati "i riferimenti alla prima linea".
                                                    <br>
                                                    <br>2 riferimenti linea 1 (personalmente invitato da te) invita
                                                    anche 2 dei suoi riferimenti. Questi i partecipanti nella struttura
                                                    4 sono "i riferimenti seconda linea".
                                                    <br>
                                                    <br>Poi, per analogia, che ha riferimento 8 e riferimenti 3 ° linea
                                                    16 linea 4.
                                                    <br>
                                                    <br>Se continua a invitare i riferimenti quando ha già due, i
                                                    riferimenti successivi sono attaccati alla profondità della sua
                                                    struttura e diventano riferimenti del 2 °, 3 ° e così via fino alla
                                                    linea 10. Questo si chiama "troppo pieno". Si può vedere di più su
                                                    "overflow" nel seguente paragrafo "Che cosa è" troppo pieno "?".</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Che cosa è "troppo pieno"?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>L'overflow è il metodo per ottenere rinvii da loro monte di tutte le
                                                    linee, che, riempiendo tutte le lacune con 2 rinvii, la prossima
                                                    accenno a "overflow", cioè per voi.
                                                    <br>
                                                    <br>Esempio: il monte priumera (la persona che invita al sistema)
                                                    hanno invitato due riferimenti e ha continuato invitando più, o non
                                                    immediatamente fermato la pubblicità. Il terzo riferimento sarà
                                                    offerto da "troppo pieno".
                                                    <br>
                                                    <br>Nota: overflow non solo riempire tutte le linee 8 completamente,
                                                    ma anche cadere sotto la linea 10, 1536 riempiendo più spazio in
                                                    aggiunta alla sua struttura di riferimento 510 in tutte le linee 8.
                                                    <br>
                                                    <br>Dopo la linea 10, la quantità di gas diventa più che l'importo
                                                    del pagamento. In più, gli eccessi sono limitate dalla criptovaluta
                                                    Ethereum stessa, poiché il massimo possibile gas limite Ethereum è
                                                    8000000. Pertanto, le infinite overflow per contratto intelligenti
                                                    sono impossibili per definizione.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Che tipo di lavoro "troppo pieno"?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Brevemente:
                                                    <br>
                                                    <br>Senza un sito attraverso un contratto intelligente per le linee
                                                    5 inclusive. Overflow linee corrono fino al 10 compreso.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">Quali sono i "rinvii liberi"?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>riferimenti gratuiti sono membri del sistema che sono venuti per
                                                    qualche ragione, senza link di riferimento.
                                                    <br>
                                                    <br>riferimenti gratuiti sono distribuiti uniformemente in tutto il
                                                    sistema, e partendo da quelle linee ascendenti che in precedenza
                                                    sono stati registrati nel sistema.
                                                    <br>
                                                    <br>NOTA IMPORTANTE: I riferimenti sono distribuiti gratuitamente
                                                    attraverso il sistema di NO attraverso contratto di intelligente, ma
                                                    dal sistema del sito.
                                                    <br>
                                                    <br>Questa è l'unica cosa che rende contratto intelligente e questo
                                                    è il motivo:
                                                    <br>
                                                    <br>Se i riferimenti sono stati distribuiti gratuitamente attraverso
                                                    contratto di intelligente con la crescita del sistema sarebbe
                                                    consumare grandi pietre che un sacco di gas, che non sarebbe
                                                    vantaggioso per gli utenti. Tutto il resto, compreso il "troppo
                                                    pieno" è distribuito da contratto intelligente.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">Posso invitare i riferimenti a non comprare il primo
                                            livello?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>È possibile, ma diventerà rinvii liberi e raggiungere gli altri
                                                    membri del sistema, non è. Dal momento che il sistema non "sapere"
                                                    prima del livello di acquisto 1.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">Quali
                                            sono i livelli del sistema?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Livello: Questo è lo stato che garantisce il diritto di ricevere una
                                                    remunerazione dai riferimenti nella sua "profondità" di conseguenza.
                                                    <br>
                                                    <br>esempio:
                                                    <br>Livello 1 dà diritto a ricevere una ricompensa per l'acquisto
                                                    del Livello 1 di riferimenti invitati personalmente da 2 (la linea
                                                    di riferimento 1).
                                                    <br>Livello 2 vi dà il diritto di ricevere un premio per l'acquisto
                                                    del livello 2 Riferimenti 4 ospiti per i loro ospiti fa riferimento
                                                    personalmente 2 di cui sopra (riferimenti 2 linee).
                                                    <br>Livello 3 dà diritto a ricevere un premio per l'acquisto del
                                                    livello 3 riferimenti 8 linea 3.
                                                    <br>Livello 6 dà diritto a ricevere un premio per l'acquisto della
                                                    linea di riferimento 64 livello 6 6.
                                                    <br>
                                                    <br>Livello 7 dà diritto a ricevere un premio per l'acquisto di 7 di
                                                    128 riferimenti linea 7.
                                                    <br>
                                                    <br>E l'ultimo ottavo livello dà diritto a ricevere un premio per
                                                    l'acquisto di un ottavo livello dell'8 linea 8 riferimenti.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">Se ho Livello 2 Posso acquistare livello 4
                                            immediatamente senza livello 3?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>I livelli sono acquistati solo in sequenza e in ordine. Se si tenta
                                                    di acquistare il 4 ° livello senza avere il terzo, il contratto
                                                    intelligente non accetterà il trasferimento. In questo caso, il
                                                    denaro non va da nessuna parte e rimarrà con te.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">Che cosa accadrà se il mio riferimento, ad esempio,
                                            la linea 3, livello 3 vuole comprare, ma ho ancora solo il sistema di
                                            livello 2?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Di seguito accadrà:
                                                    <br>
                                                    <br>Cattive notizie:
                                                    <br>Il denaro non andrà a voi, ma il vostro livello superiore sulla
                                                    stessa linea, in questo caso il 3 °. Se si acquista i livelli nel
                                                    tempo, questo non accadrà. Inoltre, tutti i livelli successivi
                                                    (tranne il primo) e sono acquistati da soldi guadagnati, non suo.
                                                    Inoltre. Si vede in anticipo quando la situazione diventa
                                                    "pericolosa" e avere il tempo sufficiente per acquistare ogni
                                                    livello.
                                                    <br>Se è successo una volta, non paura, dal momento che il guadagno
                                                    ad ogni livello (tranne il primo) è molte volte superiore al costo
                                                    del livello, e anche in questo caso in seguito di acquistare il
                                                    livello successivo, il finanziamento per tutti i successivi acquisti
                                                    dello stesso livello per il resto dei riferimenti vanno a voi.
                                                    <br>
                                                    <br>Buone notizie:
                                                    <br>Se qualcuno dal tuo referral non si compra il livello nel tempo,
                                                    il denaro che si sta per voi. Se anche uno solo dei vostri
                                                    riferimenti, ad esempio, della linea 3, per qualche ragione si
                                                    ritirò dal sistema (per esempio, l'accesso persa per il
                                                    portafoglio), poi tutti i riferimenti 8 (non la sua) del denaro
                                                    trasferimento terza linea VOI! Tutti gli altri riferimenti al 3 °
                                                    linea anche trasferire denaro.
                                                    <br>Un esempio è dato per riferimento. E se ci sono due o più? Il
                                                    vostro reddito aumenta molte volte.
                                                    <br>
                                                    <br>Risultato: I riferimenti più respinte o inattive hanno nella
                                                    loro struttura, i più volte sarà il vostro REDDITO</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">Qual
                                            è la funzione "Repeat" e perché è necessaria?<span
                                                class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>La funzione "repeat" è un'opzione che permette di ripetere i guadagni
                                                    ottenuti per tutto il tempo ogni mese. Inoltre, ciascuno dei
                                                    riferimenti che hanno lasciato le moltiplica sistema la loro
                                                    ricompensa.
                                                    <br>
                                                    <br>Il principio di funzionamento è descritto in dettaglio a pag.<a
                                                        href="#">Come funziona</a>nel "Repeat".</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">Che cosa succede se si estende i livelli in un
                                        mese?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>Il tuo account rimane nel sistema per sempre, e in ogni momento può
                                                estendere e ancora ricevere i livelli di reddito.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">Il
                                            copyright è?<span class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>Sì, perché nessuna forza uno di trasferire denaro a chiunque. Tutte
                                                    le transazioni sono volontari.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">Il copyright è?<span
                                            class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>Sì, perché nessuna forza uno di trasferire denaro a chiunque. Tutte le
                                                transazioni sono volontari.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">C'è un rischio qui? E se sì, quali?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>In tutto il sito scriviamo nessun rischio nel sistema. Con questo
                                                intendiamo dire che tutto il denaro è immediatamente trasferito al
                                                vostro portafoglio e memorizzati in esso. Questo significa che non c'è
                                                alcun rischio.
                                                <br>
                                                <br>Tuttavia, è opportuno considerare che nell'intervallo di tempo tra
                                                la registrazione e la registrazione del loro primo riferimento, una
                                                situazione in cui si è trasferito al suo livello superiore si crea 0.08
                                                PF, ma non ha ancora ricevuto il primo riferimento .
                                                <br>Pertanto, tecnicamente il rischio massimo teorico è 0,08 ETH. Queste
                                                0.08 ETH verrà restituito immediatamente dal primo riferimento.
                                                <br>
                                                <br>Anche se espressamente non invitare alcun riferimento, prima o poi,
                                                si riceverà i rinvii nei seguenti modi senza la loro partecipazione:
                                                <br>1) traboccare sue linee ascendenti,
                                                <br>2) sistema di riferimento libera.
                                                <br>
                                                <br>Pertanto, anche questo rischio simbolico tende a 0.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
            </div>
            <!-- .block @e -->
        </div>
    </section>
</main>
<%- include('footer'); -%>