<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="<%= host %>/images/favicon.png">
    <!-- Site Title  -->
    <title><%= title %> | DoubleHands - Il modo più semplice e sicuro per guadagnare denaro con le criptovalute</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="<%= host %>/assets/css/vendor.bundle.css?ver=192">
    <link rel="stylesheet" href="<%= host %>/assets/css/style-dark.css?ver=192" id="changeTheme">
    <!-- Extra CSS -->
    <link rel="stylesheet" href="<%= host %>/assets/css/theme.css?ver=192">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= host %>/images/dark/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= host %>/images/dark/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= host %>/images/dark/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= host %>/images/dark/favicon/site.webmanifest">
    <link rel="mask-icon" href="<%= host %>/images/dark/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
        .imageRot {
            -webkit-animation: spin 22s ease-in-out;
            -moz-animation: spin 22s ease-in-out;
            animation: spin 22s ease-in-out;
        }

        @-moz-keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @-webkit-keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @media (max-width: 992px) {
            #signup-container {
                margin-top: 40px;
                height: 60vh !important;
            }

            #signup-innercontainer {
                top: 2vh !important;

            }
        }


        #signup-btn:before {
            /* background-color:#007bff !important; */
            background-color: #1c7545b3 !important;
        }

        ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: red;
            opacity: 1;
            /* Firefox */
        }
    </style>

</head>


<body class="nk-body body-wider theme-dark mode-onepage">

    <div class="nk-wrap">
        <header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
            <!-- Header @s -->
            <%- include('header__menu') -%>
            <!-- Banner @s -->
            <div class="header-banner bg-theme-dark">
                <div class="nk-banner">
                    <div class="banner banner-mask-fix banner-fs banner-single tc-light">
                        <div class="banner-wrap" style="height: 100%;">

                            <div class="row align-items-center justify-content-center gutter-vr-30px"
                                style="margin-top:50px;height: 100%">

                                <div class="col-lg-6 text-center text-lg-center">
                                    <div style="vertical-align: middle;">
                                        <div class="row">
                                            <div class="col-8 offset-2">
                                                <h1 style="padding:10px">Registrar cuenta</h1>
                                                <div id='signupForm-1' style="display: <%= rid ? 'none' : 'block' %>">
                                                    <h6 style="margin-bottom:40px; color: #dc3535;text-align:justify">
                                                        Sei venuto senza un link di riferimento o non ha funzionato,
                                                        quindi la tua upline è sconosciuta.<br><br> Se conosci l'ID
                                                        Ethereum o l'indirizzo della tua upline, inseriscilo nel campo
                                                        sottostante e fai clic su "Registrati".</h6>
                                                    <input id="upline"
                                                        placeholder="Ingresa el ID o la dirección de Ethereum de tu línea ascendente "
                                                        type="text" class="input-solid input-solid-md required email"
                                                        style="background:#0b0c22;border:1px solid #171a4b">
                                                    <a id="signup-btn" onclick="App.enterUpline()"
                                                        style="margin-top: 20px;width:100%;padding:20px 40px;background-image: linear-gradient(to right, #39d884 0%, #28a745 100%)"
                                                        href="#"
                                                        class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                        <h5 style="font-size:1em"><i class="fa fa-user-plus"
                                                                style="font-size:15px"></i> Iscriviti</h5>
                                                    </a>
                                                    <h6 style="color: white;margin-top:30px;font-size:16px"
                                                        id="networkResponse"></h6>
                                                    <div style="padding-top:20px">Consigliato per:</div>
                                                    <div style="margin-bottom: 40px">
                                                        <p
                                                            style="margin-top: 12px; color: #888888; font-size: 13px; font-weight: 400;">
                                                            <i class="fas fa-desktop"
                                                                style="vertical-align: middle; "></i>
                                                            <span
                                                                style="vertical-align: middle;margin-right: 4px;">:</span>
                                                            <img class="button_signup_descrlogo_img"
                                                                style="display:inline-block;height: 18px;"
                                                                src="<%= host %>/images/dark/metamask-fox.svg">
                                                            <i class="fas fa-mobile-alt"
                                                                style="vertical-align: middle; margin-left: 12px;"></i>
                                                            <span
                                                                style="vertical-align: middle;margin-right: 4px;">:</span>
                                                            <img class="button_signup_descrlogo_img"
                                                                style="display:inline-block;height: 18px;"
                                                                src="<%= host %>/images/dark/trustwallet_icon.svg">
                                                            <img class="button_signup_descrlogo_img"
                                                                style="display:inline-block;height: 18px;"
                                                                src="<%= host %>/images/dark/coinbase_icon.png">

                                                        </p>
                                                    </div>

                                                    <p
                                                        style="position: relative; margin-top: 36px; margin-bottom: 36px; height: 16px; line-height: 16px;">
                                                        <span
                                                            style="position: absolute; top: 50%; left: 0; right: 0; margin-top: -0.5px; width: 100%; height: 1px; background: rgba(242, 244, 255, 0.14);"></span>
                                                        <span
                                                            style="position: relative; height: 16px; line-height: 16px; display: inline-block; ; padding: 0 8px; color: #888888;">ó</span>
                                                    </p>
                                                    <div style="text-align: left;margin-top: 40px;padding-bottom: 10px">
                                                        Ottieni una upline dal sistema. Senza una upline, l'accordo
                                                        intelligente non accetterà il trasferimento</div>

                                                    <a onclick="App.getUpline()"
                                                        style="margin-top: 20px;width:100%;padding:20px 40px" href="#"
                                                        class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                        <h5 style="font-size:1em">Ottieni linea crescente</h5>
                                                    </a>
                                                </div>
                                                <style>
                                                    .tab-list {
                                                        white-space: nowrap;
                                                        font-size: 0;
                                                        margin-bottom: 15px;
                                                        margin-top: 40px;
                                                        justify-content: center;
                                                    }

                                                    .active>.pa-btn,
                                                    .pa-btn--active {
                                                        background-color: #39d884;
                                                        color: #888888;
                                                        color: #f2f4ff;
                                                        text-decoration: none;
                                                        border-color: #555555;
                                                    }

                                                    .pa-btn--tab.pa-btn {
                                                        border-color: #ffffff33;
                                                        color: #2094fa;
                                                        margin-left: -1px;
                                                        margin-right: -1px;
                                                    }

                                                    @media (max-width:1200px) {
                                                        .pa-btn--tab {
                                                            width: auto;
                                                        }

                                                        .tab-list {
                                                            display: inline-block !important;
                                                        }


                                                    }

                                                    .pa-btn--tab {
                                                        width: auto;
                                                        padding-left: 22px;
                                                        padding-right: 22px;
                                                        border-radius: 0;
                                                    }

                                                    .pa-btn {
                                                        width: 160px;
                                                        white-space: normal;
                                                        border-radius: 2px;
                                                        border-radius: 24px;
                                                        border-radius: 0;
                                                        border: 1px solid #555555;
                                                        color: #2094fa;
                                                        font-family: "Open Sans";
                                                        font-size: 14px;
                                                        font-weight: 600;
                                                        line-height: 1.2;
                                                        text-decoration: none;
                                                        display: inline-block;
                                                        text-transform: uppercase;
                                                        transition: 0.3s all ease;
                                                        padding: 12px 0 12px;
                                                        background: #0b0c22;
                                                        cursor: pointer;
                                                    }
                                                </style>

                                                <div id='signupForm-2' style="display:<%= rid ? 'block' : 'none' %>">
                                                    <h5>(Acquisto di livello 1)</h5>
                                                    <ul class="tab-list text-center"
                                                        style="margin-bottom: 40px;display:flex">
                                                        <li id="method1" class="methodSelector active"><a href="#tab_1"
                                                                data-toggle="tab" class="pa-btn pa-btn--tab"
                                                                aria-expanded="true">automaticamente</a></li>
                                                        <li id="method2" class="methodSelector"><a href="#tab_2"
                                                                data-toggle="tab" class="pa-btn pa-btn--tab"
                                                                aria-expanded="false">manualmente</a></li>
                                                        <li id="method3" class="methodSelector"><a href="#tab_3"
                                                                data-toggle="tab" class="pa-btn pa-btn--tab"
                                                                aria-expanded="false">vía
                                                                CryptoHands</a></li>
                                                    </ul>
                                                    <div id="signupMethod1" class="signupMethod" style="">
                                                        <div style="display: flex;">


                                                            <a id="signup-btn"
                                                                onclick="App.signup(<%= rid && (rid)  %>)"
                                                                style="margin-top: 20px;width:100%;padding:20px 40px;background-image: linear-gradient(to right, #39d884 0%, #28a745 100%)"
                                                                href="#"
                                                                class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                                <h3 style="font-size:1.8em"><i class="fa fa-user-plus"
                                                                        style="font-size:15px"></i> Registrati con un
                                                                    clic
                                                                </h3>
                                                            </a>
                                                        </div>

                                                        <h6 style="color: white;margin-top:30px;font-size:16px"
                                                            id="networkResponse"></h6>
                                                        <div style="padding-top:20px">Consigliato per:</div>
                                                        <div style="margin-bottom: 40px">
                                                            <p
                                                                style="margin-top: 12px; color: #888888; font-size: 13px; font-weight: 400;">
                                                                <i class="fas fa-desktop"
                                                                    style="vertical-align: middle; "></i>
                                                                <span
                                                                    style="vertical-align: middle;margin-right: 4px;">:</span>
                                                                <img class="button_signup_descrlogo_img"
                                                                    style="display:inline-block;height: 18px;"
                                                                    src="<%= host %>/images/dark/metamask-fox.svg">
                                                                <i class="fas fa-mobile-alt"
                                                                    style="vertical-align: middle; margin-left: 12px;"></i>
                                                                <span
                                                                    style="vertical-align: middle;margin-right: 4px;">:</span>
                                                                <img class="button_signup_descrlogo_img"
                                                                    style="display:inline-block;height: 18px;"
                                                                    src="<%= host %>/images/dark/trustwallet_icon.svg">
                                                                <img class="button_signup_descrlogo_img"
                                                                    style="display:inline-block;height: 18px;"
                                                                    src="<%= host %>/images/dark/coinbase_icon.png">

                                                            </p>
                                                        </div>

                                                        <p
                                                            style="position: relative; margin-top: 36px; margin-bottom: 36px; height: 16px; line-height: 16px;">
                                                            <span
                                                                style="position: absolute; top: 50%; left: 0; right: 0; margin-top: -0.5px; width: 100%; height: 1px; background: rgba(242, 244, 255, 0.14);"></span>
                                                            <span
                                                                style="position: relative; height: 16px; line-height: 16px; display: inline-block; ; padding: 0 8px; color: #888888;">Nota</span>
                                                        </p>
                                                        <div
                                                            style="text-align: justify;margin-top: 40px;padding-bottom: 10px">
                                                            Prestare attenzione, per eseguire la registrazione
                                                            automatica sul dispositivo mobile, è necessario accedere
                                                            all'applicazione, selezionare il menu DApp (browser) e
                                                            inserire il collegamento di riferimento nella
                                                              barra degli indirizzi. Quindi nello stesso browser
                                                            decentralizzato
                                                            integrato, vai alla pagina di registrazione e registrati con
                                                            1 clic.</div>
                                                    </div>

                                                    <div id="signupMethod2" class="signupMethod" style="display:none">
                                                        <div
                                                            style="text-align: justify; margin-top: 20px; padding-bottom: 10px; font-size: 14px; color: #ffffff; /* font-weight: bold; */ background: #1ca05a; padding: 20px; border-radius: 10px; font-family: sans-serif;">
                                                            ¡Importante! No envíe fondos desde los servicios de
                                                            intercambio y acciones al contrato inteligente; en ese caso,
                                                            el conteo inteligente no aceptará los fondos. Primero,
                                                            registre SU billetera Ethereum y rellénela. Realice una
                                                            transacción al contrato inteligente, con la indicación de la
                                                            dirección Ethereum de su línea ascendente en el campo
                                                            "DATOS", solo desde su billetera.</div>
                                                        <div
                                                            style="text-align: justify;font-size: 14px; margin-top:20px">
                                                            Invia DAL TUO portafoglio Ethereum 0.08 ETH all'indirizzo
                                                            del contratto intelligente. Nel campo Input Data inserisci
                                                            l'indirizzo Ethereum della tua upline.
                                                        </div>
                                                        <div style="text-align: left;margin-top: 30px;">
                                                            <div>
                                                                <div>Invia a (indirizzo del contratto intelligente):
                                                                </div>
                                                                <input type="text" readonly
                                                                    value="<%= platformData.contractAddress %>"
                                                                    class="input-solid input-solid-md required email"
                                                                    style="background:#0b0c22;border:1px solid #171a4b">
                                                            </div>
                                                            <div style="margin-top:15px">
                                                                <div>L'importo in ETH:</div>
                                                                <input type="text" readonly value="0.08"
                                                                    class="input-solid input-solid-md required email"
                                                                    style="background:#0b0c22;border:1px solid #171a4b">
                                                            </div>
                                                            <div style="margin-top:15px">
                                                                <div>Inserisci i DATI (il tuo indirizzo di upline)
                                                                    :</div>
                                                                <input id="uplineManualSignup" type="text" readonly
                                                                    value=""
                                                                    class="input-solid input-solid-md required email"
                                                                    style="background:#0b0c22;border:1px solid #171a4b">
                                                            </div>
                                                            <div
                                                                style="text-align: justify;margin-top:30px; font-size: 14px;">
                                                                Dopo una transazione andata a buon fine, la
                                                                registrazione (acquisto a livello 1) verrà completata
                                                                automaticamente e sarà possibile accedere al sistema.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="signupMethod3" class="signupMethod" style="display:none">
                                                        <div
                                                            style="text-align: justify;font-size: 14px; margin-top:30px">
                                                            Invia DAL TUO portafoglio Ethereum 0.08 ETH all'indirizzo
                                                            del contratto intelligente. Nel campo Input Data inserisci
                                                            l'indirizzo Ethereum della tua upline.
                                                        </div>
                                                        <div style="margin-top:40px;margin-bottom:40px">

                                                            <input type="text" readonly
                                                                value="<%= platformData.contractAddress %>"
                                                                class="input-solid input-solid-md required email"
                                                                style="background:#0b0c22;border:1px solid #171a4b">
                                                        </div>
                                                        <div
                                                            style="text-align: justify;font-size: 14px; margin-top:20px">
                                                            Invia DAL TUO portafoglio Ethereum 0.08 ETH all'indirizzo
                                                            del contratto intelligente. Nel campo Input Data inserisci
                                                            l'indirizzo Ethereum della tua upline.
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div><!-- .col -->
                                <div id="signup-container" class="col-lg-6 text-center text-lg-center"
                                    style="height: 90vh; background: #0b0c22;padding:0">
                                    <div id="signup-innercontainer"
                                        style="vertical-align: middle;position: relative; top: 15vh">
                                        <div class="row" style="height: 100%;">
                                            <div class="col-8 offset-2">
                                                <img id="headerImg" src="images/dark/blue.png" style="height: 200px;"
                                                    alt="">
                                                <div
                                                    style="text-align: center;width: 100%;display: inline-block;margin: 20px 0px;">
                                                    <img style="display: inline-block;margin: 0 !important;padding: 0 !important;max-height: 100px;"
                                                        src="<%= host %>/images/dark/logo.png" />
                                                </div>
                                                <h5>La formula più antica del mondo e la tecnologia Blockchain</h5>
                                                <!-- <a style="margin-top: 20px;width:40%;padding:20px 40px" href="#"
                                                    class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                    <h5 style="font-size:1em"><i class="fa fa-user-plus"
                                                            style="font-size:15px;"></i> Registrarme</h5>
                                                </a> -->
                                                <a style="margin-top: 20px;width:40%;padding:20px 40px" href="/login/it"
                                                    class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                    <h5 style="font-size:1em"><i class="fa fa-user-plus"
                                                            style="font-size:15px;"></i> accesso</h5>
                                                </a>
                                                <div class="nk-block block-footer" style="margin-top: 60px">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="wgs wgs-text text-center mb-3">
                                                                <ul class="social pdb-m justify-content-center">
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.65"><a
                                                                            href="<%= platformData.facebook %>"><em
                                                                                class="social-icon fab fa-facebook-f"></em></a>
                                                                    </li>
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.7"><a
                                                                            href="<%= platformData.twitter %>"><em
                                                                                class="social-icon fab fa-twitter"></em></a>
                                                                    </li>
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.75"><a
                                                                            href="<%= platformData.youtube %>"><em
                                                                                class="social-icon fab fa-youtube"></em></a>
                                                                    </li>
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.8"><a
                                                                            href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>"><em
                                                                                class="social-icon fab fa-github"></em></a>
                                                                    </li>
                                                                </ul>
                                                                <div class="copyright-text copyright-text-s3 ">
                                                                    <p><span class="d-sm-block">Tutti i diritti
                                                                            riservati. © 2020,
                                                                            DoubleHands
                                                                        </span></p>
                                                                </div>
                                                                <div style="font-size: 14px;margin-top: 20px"><a
                                                                        href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">Gestione
                                                                        intelligente del contratto</a></div>
                                                                <div style="font-size: 14px"><a href="/terminos"">Termini e condizioni</a>
                                                                </div>
                                                                <div style=" font-size: 14px"><a
                                                                            href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">Open
                                                                            source</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->



                        </div>
                    </div>
                </div><!-- .nk-banner -->
                <div class="nk-ovm mask-c-dark shape-v mask-contain-bottom"></div>

                <!-- Place Particle Js -->
                <div id="particles-bg" class="particles-container particles-bg" data-pt-base="#00c0fa"
                    data-pt-base-op=".3" data-pt-line="#2b56f5" data-pt-line-op=".5" data-pt-shape="#00c0fa"
                    data-pt-shape-op=".2"></div>
            </div>
            <!-- .header-banner @e -->
        </header>

        <div id="tx-alert-success"
            style="position: fixed; bottom: 0; left:0; right: 0; margin: auto; background-color: #39d884; width: 100%; z-index: 20;  padding: 16px 64px; display: none;">
            <div style="color: white; font-weight: 500; font-size: 2em; ">Transazione inviata</div>
            <div style="color: white; font-weight: 500; font-size: 1.2em;">Puoi vedere lo stato della transazione qui:
                <a style="color: #0c195a; font-weight: 500; text-decoration: underline;" href=""
                    id="signup-tx">etherscan.io</a></div>
        </div>

        <div id="tx-alert-error"
            style="position: fixed; bottom: 0; left:0; right: 0; margin: auto; background-color: #dc3545; width: 100%; z-index: 20;  padding: 16px 64px;display:none ">
            <div style="color: white; font-weight: 500; font-size: 2em; ">Errore durante il tentativo di inviare la
                transazione </div>
            <div style="color: white; font-weight: 500; font-size: 1.2em;">Si è verificato un errore imprevisto durante
                il tentativo di eseguire l'operazione.
            </div>
        </div>

        <div class="modal fade" id="metamaskModal" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em
                            class="ti ti-close"></em></a>
                    <div class="modal-body p-md-4 p-lg-5">

                        <div class="row">
                            <div class="col-10 offset-1 text-center">
                                <h3 class="title title-md">Scarica MetaMask</h3>
                                <a href="https://metamask.io/"><img src="/images/dark/download-metamask-dark.png"
                                        alt=""></a>
                                <p style="text-align: justify;margin-top:20px">Per registrarsi e accedere
                                    automaticamente alla piattaforma è necessario installare il portafoglio Ethereum,
                                    MetaMask per browser.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="preloader"><span class="spinner spinner-round"></span></div>

    <!-- JavaScript -->
    <script src="<%= host %>/assets/js/jquery.bundle.js?ver=192"></script>
    <script src="<%= host %>/assets/js/scripts.js?ver=192"></script>
    <script src="<%= host %>/assets/js/charts.js"></script>
    <script>

        $(document).ready(function () {

            $("#headerImg").addClass("imageRot")

            setTimeout(function () {
                $("#headerImg").removeClass("imageRot")
            }, 22200)

            $('#headerImg').click(function () {
                $("#headerImg").addClass("imageRot")
                setTimeout(function () {
                    $("#headerImg").removeClass("imageRot")
                }, 22200)
            })

            // method selection
            $('#method1').click(function (e) {
                e.preventDefault()
                $('.signupMethod').hide()
                $('.methodSelector').removeClass('active')
                $('#method1').addClass('active')
                $('#signupMethod1').show()
            })

            $('#method2').click(function (e) {
                e.preventDefault()
                $('.signupMethod').hide()
                $('.methodSelector').removeClass('active')
                $('#method2').addClass('active')
                $('#signupMethod2').show()
            })

            $('#method3').click(function (e) {
                e.preventDefault()
                $('.signupMethod').hide()
                $('.methodSelector').removeClass('active')
                $('#method3').addClass('active')
                $('#signupMethod3').show()
            })
        })
    </script>
    <script src="<%= `${host}/assets/js/bundle.js` %>"></script>
    <%- include('language_sidebar'); -%>
</body>

</html>