<%-include('header');-%>

<main class="nk-pages">
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="what">
        <div class="container">
            <!--Block@s-->
            <div class="nk-block nk-block-text-wrap">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">
                        ¿Quées DoubleHands?</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Engendre des revenus de manière
                        décentralisée</p>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title">PAS UN INVESTISSEMENT</div>
                            <div>PAS BESOIN D'ATTENDRE</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title">PAS DU COMMERCE</div>
                            <div>EN TOUTE SÉCURITÉ</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title">CHIFFRE D'AFFAIRES NO</div>
                            <div>PRODUITS « MAGIQUE »</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">Fractal MATHÉMATIQUES</div>
                            <div>Dans sa forme originale</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">RISQUE GRATUIT</div>
                            <div>À TOUS ACCESSIBLE</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">CHIFFRES ET PROPORTIONS</div>
                            <div>NATURE Inventé par</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 "><img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">Ce
                            contrat est le smart<i class="fa fa-check remark"></i>
                            <span class="remark">vérifiées</span>et de<i class="fa fa-code remark"></i>
                            <span class="remark">open source</span>Où tout le monde peut gagner autant qu'il veut,
                            que ce soit un nouvel iPhone ou un nouvel appartement. Pas besoin de rembourser cet
                            argent plus tard.<a class="remark" href="#">Voir le contrat</a>
                        </p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-cubes remark"></i>Ethereum: La deuxième dans le monde crypto-monnaie après
                        Bitcoin la popularité et la première pour la popularité avec la possibilité de créer des
                        contrats intelligents. Smart contrat: un algorithme de distribution de criptomonedas, qui ne
                        peut pas être édité ou publié après Ethereum chargé dans le réseau.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-address-card remark"></i>contrat Intelligent CRYPTOHANDS est chargé dans le
                        réseau criptomonedas Ethereum et, même en théorie, personne ne peut modifier ou supprimer, y
                        compris ses créateurs. Par conséquent, rien et rien ne peut arrêter le travail du système, même
                        si elle disparaît la fermeture du site ou de l'administration. Le système ne CRYPTOHANDS
                        appartient à personne et fonctionne indépendamment du site.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-user remark"></i>Les comptes de tous les utilisateurs sont tenus par contrat
                        intelligents sur place, donc l'administrateur du site ne peut pas les bloquer ou les supprimer.
                        Dans votre compte (aucun mot de passe) sur le site CRYPTOHANDS seulement des informations sur
                        chaque compte, pris du Ethereum contrat intelligente montré. Il est donc impossible de pirater
                        un compte et changer le porte-monnaie d'un membre.</div>
                </div>
            </div>
            <!-- .block @e -->
        </div>
    </section>
    <!-- // -->
    <!-- // -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4">
                    </span><span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                    <span class="line-8">
                    </span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">
                    Comment ça marche?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Ethereum ont besoin d'un
                    portefeuille et 0,08ETH.
                    <br>(12:08ETH =$
                    <%= (platformData.prices.eth_usd * 0.08).toFixed(2) %>USDT)
                    <br> <b>Étape 0:</b>Si vous ne disposez pas d'un Ethereum de portefeuille peut vérifier plus
                    de détails<a style="color: #39d884" href='/faqeth'>Ethereum FAQ</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head"><span class="roadmap-time">Étape 1</span><span
                                            class="roadmap-title teal">Inscription</span><img class="roadmap-img"
                                            src="images/dark/hiwall_1.svg" alt=""></div>
                                    <p class="card-text">Pour vous inscrire et obtenir le niveau 1 sur le
                                        système, il suffit d'envoyer 0,08ETH à votre upline tous les 2 mois; et
                                        la première personne qui est venue après que vous, vous sauvegardez ces
                                        fonds, tous les deux mois aussi bien. Tous les autres transferts sont
                                        faits au détriment des fonds déjà gagnés. Guide simple et clair à la
                                        page
                                        <ahref=" /signup">inscription</a>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head"><span class="roadmap-time">étape 2</span><span
                                            class="roadmap-title teal">dépôt</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i>--><img class="roadmap-img"
                                            src="images/dark/hiwall_2.svg" alt=""></div>
                                    <p class="card-text"><span class="">Connectez-vous à votre compte</span>En
                                        utilisant uniquement l'adresse de votre porte-monnaie Ethereum (<span
                                            class="">mot de passe ne</span>). Le mot de passe est nécessaire
                                        parce que votre compte est dans un contrat intelligent, et non sur le
                                        site. Par conséquent, votre compte ne peut pas être bloqué ou supprimé
                                        du système; même par l'administration du site. En outre, votre Ethereum
                                        bourse ne peut pas être piraté ou modifié.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head"><span class="roadmap-time">étape 3</span><span
                                            class="roadmap-title teal">Obtenez des références</span><img
                                            class="roadmap-img" src="images/dark/hiwall_3.svg" alt=""></div>
                                    <p class="card-text">Il y a quatre façons d'obtenir des références:</p>
                                    <ul class="list list-dot card-text">
                                        <li>Attirer des références à votre structure DoubleHands</li>
                                        <li>Obtenez vos références Upline à « trop-pleins » (comme prévues dans
                                            le contrat intelligent).</li>
                                        <li>Attendez que le système fournira des références gratuits pour
                                            vous-même.</li>
                                        <li>Vos références CryptoHands, seront atomiquement devenues des
                                            références DoubleHands.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head"><span class="roadmap-time">étape 4</span><span
                                            class="roadmap-title teal">recevoir le revenu</span><img class="roadmap-img"
                                            src="images/dark/hiwall_4.svg" alt=""></div>
                                    <p class="card-text">Obtenez les transactions automatiques du contrat
                                        Intelligent directement à votre Ethereum bourse. Selon le tableau
                                        suivant, le premier niveau est transféré 0,16ETH, au niveauETH 0,64 et
                                        2,56 au troisième EPF. (8 niveaux au total, 3500 revenuETH par mois,
                                        40000 revenuETH par an).
                                        <span style="font-weight: bold;">Il ne faut pas accepter les transactions
                                            ou le paiement de la demande. Les fonds viennent directement à votre
                                            porte-monnaie.</span>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head"><span class="roadmap-time">étape 5</span><span
                                            class="roadmap-title teal">Répéter chaque mois</span><img
                                            class="roadmap-img" src="images/dark/hiwall_5.svg" alt=""></div>
                                    <p class="card-text">Si vous avez plus de 3500 anonymesETH et 510 références
                                        (les chiffres sont donnés à titre d'exemple d'un résultat et ne sont pas
                                        une condition préalable). Que faire ensuite? Il peut être répété tous
                                        les deux mois, tout en conservant une structure. Et moins de gens
                                        restent dans leur ancienne structure sera leur revenu. Ses rerferencias
                                        inactif et abandonné, une « porte » à toutes vos références sur la même
                                        ligne, en cas d'inactivité.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head"><span class="roadmap-time">étape 6</span><span
                                            class="roadmap-title teal">Suivant?</span><img class="roadmap-img"
                                            src="images/dark/hiwall_6.svg" alt=""></div>
                                    <p class="card-text">Personne ne peut fermer votre compte, les paiements
                                        d'arrêt ou apporter des modifications au système, puisque le contrat est
                                        chargé dans le Ethereum réseau intelligent. Vous ne pouvez pas supprimer
                                        ou modifier. Ils peuvent inviter des références sans un site Web et
                                        référence des liens directement à un contrat intelligent. Par
                                        conséquent, le système existera tant qu'il y DoubleHands Ethereum, et
                                        cela existera aussi longtemps que l'Internet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4"><a href="/comofunciona"
                        class="btn btn-grad">Voir plus de détails sur la façon dont cela
                        fonctionne</a></div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="container ov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">
                        Ratio de distribution</h2>
                </div>
                <!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid #10122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">niveau</th>
                                <th>prix</th>
                                <th>Parrainages</th>
                                <th>revenu</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" />
                                        <span class="blue" style="font-weight: bold;">0.08</span>ETH
                                    </td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">0.16</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" />
                                        <span class="blue" style="font-weight: bold;">0.16</span>ETH
                                    </td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">0.64</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" />
                                        <span class="blue" style="font-weight: bold;">0.32</span>ETH
                                    </td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">2.56</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" />
                                        <span class="blue" style="font-weight: bold;">0.64</span>ETH
                                    </td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">10.24</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">1.28</span> ETH</td>
                                    <td>32</td>
                                    <td><span class="teal" style="font-weight: bold;">40.96</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#6</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span> ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">163.84</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#7</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">5.12</span> ETH</td>
                                    <td>128</td>
                                    <td><span class="teal" style="font-weight: bold;">655.36</span> ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">#8</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" />
                                        <span class="blue" style="font-weight: bold;">10.24</span> ETH
                                    </td>
                                    <td>256</td>
                                    <td><span class="teal" style="font-weight: bold;">2621.44</span> ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">Votre gain au total:<img src='images/dark/eth-white.png'
                                        class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span>ETH tous les deux
                                    mois et 20 000 ETH par an.<span style="color:#ff3b30">*</span> <span
                                        style="color: #ffe620">**</span><span style="color: #39d884 ">***</span>
                                </div>
                                <div style="font-size:14px">Strictement revenu: ETH 3495,2 20971,2 pour 64 jours
                                    et ETH par an. Résultat net: ETH 3474,8 20848,8 pour 64 jours et ETH par an.
                                </div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color:#ff3b30">*</span>Le montant de l'ETH 20000 par an est le
                                bénéfice maximum théorique possible, il est presque impossible de réaliser avec
                                une seule étape à tous les niveaux au cours de la première année, et la
                                probabilité de recevoir tend à 0%.</div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color: #ffe620">**</span>Dans la pratique, dans des conditions
                                réelles, il est tout à fait réaliste de la moitié de ce montant, et la
                                probabilité de réception a tendance à 100% même avec un passage complet à tous
                                les niveaux</div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #39d884 ">***</span>Mais avec la fonction « répétition » la
                                possibilité de ETH 20 000 (et plus, grâce à des références inactives) tend à
                                100% pour chaque participant de DoubleHands</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block @e -->
    </section>
    <!-- // -->
    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="section bg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">
                    avantage</h2>
            </div>
            <!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Aucun risque</div>
                            <div class="advantage-desc-left">Vos coûts du projet ne passeront pas plus de 0,08
                                ETH pendant deux mois, qui seront retournés avec la première saisine. Non «
                                demandes de paiement » et vous ne devez pas attendre. Vos fonds sont
                                immédiatement transférés à votre porte-monnaie.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">sans invitation</div>
                            <div class="advantage-desc-left">Le système trouve des références à s'uste. Les
                                participants n'arrivent avec un lien referncia, deviennent ceux-ci consolidés et
                                répartis équitablement entre les utilisateurs de ceux qui ont déjà acheté le
                                niveau 1.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Les références de votre upline</div>
                            <div class="advantage-desc-left">Lorsque les 2 emplacements remplissent votre ligne
                                ascendante première-huitième niveau, invités références seront à vous, ou que
                                les propres références contertirán où vous obtenez également des bénéfices.
                            </div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Parrainages Inactivos</div>
                            <div class="advantage-desc-left">Inactive appelé multiplier vos gains. Si votre
                                renvoi est inactif dans la 5ème ligne, alors vous recevez encore 32 + 31
                                transferts plus de toutes les transactions relatives à la 5ème ligne.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">connexion CryptoHands</div>
                            <div class="advantage-desc-left">Les liens de référence CryptoHands et DoubleHands
                                sont connectés; Voilà pourquoi il est possible d'élargir votre structure unique
                                dans l'un des deux projets, et la structure de l'autre projet est
                                automatiquement construit.</div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;"><img class="banner-gfx-icon banner-gfx-icon-1"
                            src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Ceci est un système qui ne contrôle centralisé.
                                Le facteur humain (y compris l'administrateur) est complètement absent. Personne
                                ne peut arrêter, apporter des modifications au système ou des fonds WithHold.
                                Smart contrat open source ne peut pas être supprimé réseau Ethereum.</div>
                            <div class="advantage-value-right teal">décentralisation totale</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Gestion de projet n'a pas accès à des fonds, tous
                                les calculs et les transferts sont effectués par un contrat intelligent (il est
                                impossible de changer), et rediriger immédiatement tous les fonds aux
                                portefeuilles de Ethereum correspondants.</div>
                            <div class="advantage-value-right teal">Les transactions entre les délégations</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Même si le site du projet a cessé d'exister, le
                                contrat système intelligent disponible restera à jamais dans la chaîne de blocs
                                Ethereum.</div>
                            <div class="advantage-value-right teal">Impossible d'arrêter système</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">Le produit reçu peut être répété chaque année.
                                Alors que moins de gens dans votre structure à l'aide de cette fonction, plus
                                votre profit. Toutes les références inactives sont aussi une « passerelle » à
                                tous les renvois au même niveau.</div>
                            <div class="advantage-value-right teal">Fonction « renouveler »</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">Merci à l'enregistrement simplifié « par
                                CryptoHands » peuvent se joindre à votre upline de CryptoHands; En outre, vos
                                références CryptoHands peuvent devenir des références DoubleHands
                                automatiquement.</div>
                            <div class="advantage-value-right teal">Inscrivez-vous par CryptoHands</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">Ce ne sont que
                quelques-uns des avantages. Tu as des questions?
                <br> <a href="/faq" style="color: #39d884 !important" class="">Voir FAQ</a>
                <br> <a href="/faq" style="color: #39d884 !important">Voir FAQ sur Ethereum</a></div>
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light " id="partners">
        <div class="">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm tc-light">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">
                    Statistiques en direct</h2>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><i
                                    class="fa fa-users" style="font-size:6em"></i></div>
                            <div>
                                <h3><%= platformData.totalUsers %></h3>
                                <div>Total de participantes</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table text-center" style="width: 100%;">
                                    <tr>
                                        <td class="stats-level-title">Niveau 1</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[0].total %>
                                        </td>
                                        <td class="stats-level-title">niveau 2</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[1].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">niveau 3</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[2].total %>
                                        </td>
                                        <td class="stats-level-title">niveau 4</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[3].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">niveau 5</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[4].total %>
                                        </td>
                                        <td class="stats-level-title">niveau 6</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[5].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">niveau 7</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[6].total %>
                                        </td>
                                        <td class="stats-level-title">niveau 8</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[7].total %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:20px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login">COMMENCER LA
                                    SESSION</a></div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <img src="images/dark/points.svg" style="height: 100px; width: auto" alt="">
                            </div>
                            <div>
                                <h3>12636</h3>
                                <div>invités en ligne</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table">
                                    <tr>
                                        <td class="stats-left">Années du projet</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.projectTime %></span>ans
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">relations</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.total %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Xs 24 heures</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:55px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup">OUVRIR UN
                                    COMPTE</a></div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <img src="images/dark/eth-white.png" style="height: 100px; width: auto" alt="">
                            </div>
                            <div style="margin-top:20px">
                                <table id="txs-table" class="table">
                                    <tr>
                                        <td class="stats-left">BTC équivalent</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.btc_volume %></span>BTC
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Équivalent à $</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Dernières 24 heures</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>ETH
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">1 ETH</td>
                                        <td class="stats-right">= <span class="teal"
                                                style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>USDT
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:80px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                    href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">VER
                                    DIRECCIÓN</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
        <div class="transform-line"></div>
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class=" title title-s4 animated " data-animate="
                                    fadeInUp " data-delay=" .1 " title="
                                    Txs ">NOUVELLES TRANSACTIONS</h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="
                                    row ">
                <div class=" col-mb-10 col-sm-10 col-md-12 col-lg-12
                                    col-xl-12 ">
                    <table class=" table table-responsive
                                    text-center " style=" ">
                        <thead>
                            <th style=" padding:
                                    0; " class=" teal ">date</th>
                            <th style=" padding: 0; " class="
                                    teal ">niveau</th>
                            <th style=" padding: 0; " class=" teal ">quantité</th>
                            <th style="
                                    padding: 0 " class="
                                    teal ">destination</th>
                        </thead>
                        <tbody><% for(let tx of platformData.moneyTxs) {%><tr>
                                <td>il y a<span class="
                                    timeSince "><%= tx.time %></span></td>
                                <td><%= tx.level %></td>
                                <td><%=  platformData.levels[tx.level].price %></td>
                                <td><a href="
                                    <%=` ${etherscanExplorer}/tx/${tx.txHash}` %>">
                                        <%= tx.userAddress %>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue">
                        <ahref="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>«>
                            Toutes les statistiques sont disponibles dans Etherscan</a>
                    </div>
                </div>
            </div> <!-- Block @e -->
        </div>
    </section> <!-- // -->
    <section class=" section bg-theme bg-theme-dark tc-light " id="faqs ">
        <div class="container ">
            <div class="section-head text-center wide-auto-sm ">
                <h2 class="title title-s4 animated " data-animate="fadeInUp " data-delay=".1 " title="FAQS ">
                    Questions fréquentes</h2>
                <p class="animated " data-animate="fadeInUp " data-delay=".2 ">Nous savons que vous avez des
                    questions sur le fonctionnement du système.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block ">
                <div class="row justify-content-center ">
                    <div class="col-xl-8 col-lg-10 ">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated " data-animate="fadeInUp " data-delay=".3 ">
                            <li><a class="active " data-toggle="tab " href="#sistema-1 ">système</a></li>
                            <li><a data-toggle="tab " href="#faq-registro ">inscription</a></li>
                            <li><a data-toggle="tab " href="#faq-referidos ">Parrainages</a></li>
                            <li><a data-toggle="tab " href="#faq-niveles ">niveaux</a></li>
                            <li><a data-toggle="tab " href="#faq-repetir ">Fonction « Répéter »</a></li>
                            <li><a data-toggle="tab " href="#faq-riesgos ">risques</a></li>
                        </ul>
                        <div class="tab-content animated " data-animate="fadeInUp " data-delay=".4 ">
                            <div class="tab-pane fade show active " id="sistema-1 ">
                                <div class="accordion accordion-faq " id="#faq-67 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-67 ">
                                            Avant l'émergence de systèmes similaires
                                            existaient déjà criptomonedas Pourquoi est-il mieux?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-67 " class="collapse " data-parent="#faq-67 ">
                                            <div class="accordion-content ">
                                                <p>Oui, en effet, de tels systèmes existaient pendant 5 ans et
                                                    avant l'avènement de l'Internet, et ils travaillent.
                                                    Cependant, il a eu plusieurs problèmes majeurs:<br><br>1)
                                                    Les différents systèmes de paiement bloquant constamment les
                                                    participants portefeuilles.<br>2) Confirmation des
                                                    transferts manuels avec toutes les conséquences que le
                                                    facteur humain et des procédures constantes, qui a transféré
                                                    des fonds à qui et qui ne sont pas.<br>3) Il n'y avait pas
                                                    de récidive. Une personne une fois créé une structure et une
                                                    fois reçu de l'argent, bien que relativement grande. Et puis
                                                    ils ont tous les tours en profondeur dans la structure, et
                                                    le participant n'a pas obtenu plus.<br>4) Fermer ou pirater
                                                    un site signifiait un blocage du système, et parfois des
                                                    sites pirater.<br><br>Les Criptomonedas et Ethereum permet
                                                    de résoudre tous ces problèmes:<br><br>1) Porte-monnaie ne
                                                    peut pas être bloqué, même en théorie. Le revers de la
                                                    médaille: dans tous les cas, ne contrôle pas perdre de votre
                                                    portefeuille. Il sera impossible de remplacer votre
                                                    porte-monnaie avec les autres.<br>2) opérations publiques et
                                                    confirmations automatiques instantanées. Le facteur humain
                                                    est totalement exclue.<br>3) Nous avons fait la fonction «
                                                    Répéter », que les participants avaient déjà appliqué dans
                                                    d'autres systèmes. Une fois que vous créez une structure et
                                                    de recevoir des revenus chaque année. Si les gens dans votre
                                                    structure ne prolonge pas sa participation chaque année,
                                                    votre revenu augmente plusieurs fois. Plus la page Comment
                                                    ça marche dans la section « REPEAT ». 4) Fermer ou pirater
                                                    le site de quelque manière affecter le fonctionnement du
                                                    système, comme le contrat de CRYPTOHANDS intelligent est
                                                    chargé dans le réseau principal Ethereum et personne ne peut
                                                    le supprimer, y compris ses développeurs.<br><br>Cela
                                                    signifie que pour la première fois dans l'histoire de
                                                    l'humanité (quel que soit son fort), il y a une réelle
                                                    garantie à 100% que le compte ne sera pas piraté, et même
                                                    théoriquement lorsque le site est fermé, Smart et contrat
                                                    système lui-même continuera d'exister de toute façon.<br>De
                                                    plus, tout programmeur dans le monde peut créer un nouveau
                                                    site basé sur le même contrat intelligent et tout dirigeant
                                                    de la structure peut faire une structure de site sur le même
                                                    contrat intelligent. Par conséquent, le système est protégé
                                                    contre toute action par l'administration du projet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-67-2 ">Comment faire de l'argent ici?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-67-2 " class="collapse show " data-parent="#faq-67 ">
                                            <div class="accordion-content ">
                                                <p>Le Guide de démarrage rapide est dans le<a href="# ">Page
                                                        principal</a>dans la section « Comment ça marche
                                                    ».<br>Des instructions détaillées sont sur une page
                                                    séparée.<a href="# ">Comment ça marche?</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-67-3 ">Quelles sont les garanties qu'ils ne seront
                                            pas fermer ou bloquer mon compte?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-67-3 " class="collapse " data-parent="#faq-67 ">
                                            <div class="accordion-content ">
                                                <p>C'est l'une des plus importantes questions!<br><br>Pour la
                                                    première fois dans l'histoire de l'humanité, il y a 99%,
                                                    mais 100% garantit que personne ne peut bloquer votre
                                                    porte-monnaie ou votre compte, y compris l'administration du
                                                    projet (ce qui est une caractéristique de
                                                    crypto-monnaie).<br><br>Les guaratees sont écrits sur la
                                                    page. Comment ça marche dans le dernier point « Garanties
                                                    ».<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-registro ">
                                <div class="accordion accordion-faq " id="faq-68 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-68-1 ">
                                            Comment inscrire à DoubleHands?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-68-1 " class="collapse show " data-parent="#faq-68 ">
                                            <div class="accordion-content ">
                                                <p>Inscription par connexion (courriel ou par téléphone) et le
                                                    mot de passe est un concept dépassé. Depuis la perte d'accès
                                                    au courrier signifie un accès perdu au
                                                    compte.<br><br>L'achat réussie du 1er niveau de sa ligne est
                                                    ascendante du fait de l'enregistrement.<br><br>bref guide
                                                    est présent dans la page de connexion.<br><br>Guide détaillé
                                                    Comment ça marche dans la section « Inscription ».<br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-68-2 ">Est-il possible d'enregistrer sans upline
                                            (INVITER)?<span class="accordion-icon accordion-icon-s2 "></span>
                                        </h5>
                                        <div id="faq-68-2 " class="collapse " data-parent="#faq-68 ">
                                            <div class="accordion-content ">
                                                <p>Il est impossible de se connecter au système sans upline. Si
                                                    vous ne spécifiez pas upline, contrat intelligente
                                                    n'acceptera la transaction. C'est l'un des points
                                                    fondamentaux du niveau d'idée.<br><br>Le champ « data » est
                                                    pas un commentaire ou une fonctionnalité supplémentaire de
                                                    tout portefeuille. Ceci est une partie intégrante de la
                                                    chaîne elle-même bloque Ethereum.<br><br>Bien que
                                                    l'enregistrement automatique via un lien de référence ou un
                                                    code QR du INVITER, toutes les données, y compris champ «
                                                    données » avec l'adresse de votre upline, sont spécifiés
                                                    automatiquement. Il suffit de cliquer sur le bouton «
                                                    enregistrer en un seul clic. »<br><br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-68-3 ">Comment accéder à votre compte?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-68-3 " class="collapse " data-parent="#faq-68 ">
                                            <div class="accordion-content ">
                                                <p>Vous pouvez accéder à votre compte à la page
                                                    SIGNER<br><br>Vous vous connectez à votre compte est tout à
                                                    fait sans mot de passe et compte ne peut pas être piraté ou
                                                    bloqué.<br><br>Apprenez à vous connecter à votre compte sur
                                                    le Fonctionnement page dans la « Connexion ».</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-referidos ">
                                <div class="accordion accordion-faq " id="faq-69 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-69-1 ">
                                            Ai-je besoin d'attirer des
                                            parrainages?<span class="accordion-icon accordion-icon-s2 "></span>
                                        </h5>
                                        <div id="faq-69-1 " class="collapse show " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>Bien que la base du système est de construire une structure
                                                    de références et les références sont la source de votre
                                                    prestation, un fait intéressant est que les références ne
                                                    sont requises.<br><br>En plus de l'invitation, vous pouvez
                                                    obtenir des références de deux façons: « Débordements » et «
                                                    Références libres ». Pour chacune de ces méthodes, lire
                                                    ci-dessous dans les paragraphes suivants.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-2 ">Combien de références peut inviter et la
                                            façon dont ils sont distribués?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-2 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>Personnellement, je ne peux qu'inviter 2 références, qui sont
                                                    attachés directement à vous et sont appelés « fait référence
                                                    à la 1ère ligne. »<br><br>2 références 1ère ligne (sur
                                                    invitation personnelle par vous) invite également deux de
                                                    ses références. Ces participants dans la structure 4 sont «
                                                    références 2e ligne ».<br><br>Puis, par analogie, il a 8
                                                    référence et références 3e ligne 16 ligne 4.<br><br>Si
                                                    continue d'inviter des références quand a déjà deux, les
                                                    références suivantes sont jointes à la profondeur de sa
                                                    structure et deviennent des références du 2e, 3e et ainsi de
                                                    suite jusqu'à la 10e ligne. Ceci est appelé « débordement ».
                                                    Vous pouvez en savoir plus sur « débordement » dans le
                                                    paragraphe suivant: « Qu'est-ce » débordement « ? ».</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-3 ">Qu'est-ce « débordement »?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-3 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>Le trop-plein est la méthode d'obtention des références de
                                                    leur upline de toutes les lignes, qui, remplissant toutes
                                                    les lacunes avec 2 références, la prochaine référence de
                                                    passage à « débordement », soit pour vous.<br><br>Exemple:
                                                    le upline priumera (le INVITER au système) ont invité deux
                                                    références et ont continué d'inviter plus ou pas
                                                    immédiatement arrêté la publicité. La troisième référence
                                                    sera à vous par « débordement ».<br><br>Remarque:
                                                    Débordements ne remplir que toutes ses lignes 8
                                                    complètement, mais aussi tomber en dessous de la ligne 10,
                                                    1536 remplissage plus d'espace en plus de sa structure de
                                                    référence 510 dans toutes les lignes 8.<br><br>Après la
                                                    ligne 10, la quantité de gaz devient plus que le montant du
                                                    paiement. De plus, les excès sont limités par le Ethereum de
                                                    lui-même crypto-monnaie, puisque le gaz de Ethereum limite
                                                    maximum est 8000000. Par conséquent, les trop-pleins infinis
                                                    par contrat intelligents sont impossibles par définition.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-3 ">Quelle ligne de travail « trop-plein
                                            »?<span class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-3 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>brièvement:<br><br>Sans un site par le biais d'un contrat
                                                    intelligent aux lignes 5 inclus. Débordement lignes jusqu'au
                                                    10 inclus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-5 ">Quels sont les « références libres »?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-5 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>les références sont membres Gratuitous du système qui sont
                                                    venus pour une raison quelconque, sans lien de
                                                    parrainage.<br><br>références Gratuitous sont répartis
                                                    uniformément dans tout le système, et en commençant par les
                                                    lignes ascendantes qui ont été enregistrées précédemment
                                                    dans le système.<br><br>NOTE IMPORTANTE: Les références sont
                                                    distribués gratuitement à travers le système NO par contrat
                                                    intelligent, mais par le système du site.<br><br>Ceci est la
                                                    seule chose qui fait un contrat intelligent et voici
                                                    pourquoi:<br><br>Si les références sont distribués
                                                    gratuitement par contrat avec la croissance intelligente du
                                                    système qu'ils consomment de grandes calculs beaucoup de
                                                    gaz, qui ne serait pas bénéfique pour les utilisateurs. Tout
                                                    le reste, y compris le « débordement » est distribué par
                                                    contrat intelligent.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-6 ">Puis-je inviter les références à ne pas
                                            acheter le premier niveau?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-6 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>Vous pouvez, mais deviendrez libres références et rejoindre
                                                    d'autres membres du système, et non pas vous. Étant donné
                                                    que le système ne « savoir » avant le niveau d'achat 1.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-niveles ">
                                <div class="accordion accordion-faq " id="faq-70 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-70-1 ">
                                            Quels sont les niveaux dans le
                                            système?<span class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-70-1 " class="collapse show " data-parent="#faq-70 ">
                                            <div class="accordion-content ">
                                                <p>Niveau: C'est l'État qui accorde le droit de recevoir une
                                                    rémunération des références dans sa « profondeur » en
                                                    conséquence.<br><br>exemple:<br>Niveau 1 vous permet de
                                                    recevoir une récompense pour l'achat du niveau 1 de
                                                    références invités personnellement par 2 (la ligne de
                                                    référence 1).<br>Niveau 2 vous donne le droit de recevoir
                                                    une récompense pour l'achat de niveau 2 Références 4
                                                    personnes pour leurs invités références personnelles 2
                                                    ci-dessus (références 2 lignes).<br>Niveau 3 vous de
                                                    recevoir, intitulée une récompense pour l'achat de niveau 3
                                                    références 8 ligne 3.<br>Niveau 6 vous donne droit à
                                                    recevoir une récompense pour l'achat du 64 niveau 6 ligne de
                                                    référence 6.<br><br>Niveau 7 vous de recevoir, intitulée une
                                                    récompense pour l'achat de 7 128 références de la ligne
                                                    7.<br><br>Et le dernier huitième niveau vous permet de
                                                    recevoir une récompense pour l'achat d'un huitième niveau de
                                                    8 ligne 8 références.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-70-2 ">Si je Niveau 2 Puis-je acheter niveau 4
                                            immédiatement sans niveau 3?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-70-2 " class="collapse " data-parent="#faq-70 ">
                                            <div class="accordion-content ">
                                                <p>Les niveaux sont achetés uniquement de façon séquentielle et
                                                    dans l'ordre. Si vous essayez d'acheter le 4ème niveau sans
                                                    avoir le 3ème, le contrat intelligente n'acceptera pas le
                                                    transfert. Dans ce cas, l'argent ne va nulle part et restera
                                                    avec vous.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-70-3 ">Que se passerait-il si mon renvoi, par
                                            exemple, la ligne 3, Niveau 3 veut acheter, mais je dois encore que
                                            le système de niveau 2?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-70-3 " class="collapse " data-parent="#faq-70 ">
                                            <div class="accordion-content ">
                                                <p>Ce qui suit se produira:<br><br>Mauvaises
                                                    nouvelles:<br>L'argent ne va pas à vous, mais votre upline
                                                    sur la même ligne, dans ce cas, le 3ème. Si vous achetez des
                                                    niveaux dans le temps, cela ne se produira pas. En outre,
                                                    tous les niveaux suivants (sauf le premier) et sont achetés
                                                    à l'argent gagné, pas le sien. En outre. Vous voyez à
                                                    l'avance quand la situation devient « dangereuse » et avoir
                                                    assez de temps pour acheter chaque niveau.<br>S'il est
                                                    arrivé une fois, ne fait pas peur, puisque le gain à chaque
                                                    niveau (sauf le premier) est plusieurs fois supérieur au
                                                    coût du niveau, et même dans ce dernier cas d'acheter le
                                                    niveau plus tard, le financement de tous les achats
                                                    ultérieurs du même niveau pour le reste des références
                                                    qu'ils vont à vous.<br><br>Bonnes nouvelles:<br>Si quelqu'un
                                                    de vos filleuls ne pas acheter le niveau dans le temps,
                                                    l'argent que vous allez vous. Si même une de vos références,
                                                    par exemple, la ligne 3, pour une raison quelconque à la
                                                    retraite du système (par exemple, l'accès perdu au
                                                    porte-monnaie), puis toutes les références 8 (pas son) de
                                                    l'argent de transfert troisième ligne à vous ! Toutes les
                                                    autres références à la 3ème ligne vous transférez aussi de
                                                    l'argent.<br>Un exemple est donné à titre de référence. Que
                                                    faire s'il y a deux ou plus? Votre revenu augmente plusieurs
                                                    fois.<br><br>Résultat: Les références plus rejetés ou
                                                    inactifs ont dans leur structure, PLUS parfois CEUX QUI AURA
                                                    VOTRE REVENU</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-repetir ">
                                <div class="accordion accordion-faq " id="faq-71 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-71-1 ">
                                            Quelle est la fonction « Répéter » et
                                            pourquoi est-il nécessaire?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-71-1 " class="collapse show " data-parent="#faq-71 ">
                                            <div class="accordion-content ">
                                                <p>La fonction « répétition » est une option qui vous permet de
                                                    répéter les gains obtenus tout le temps tous les mois. En
                                                    outre, chacune des références qui ont quitté le système
                                                    multiplie leur récompense.<br><br>Le principe de
                                                    fonctionnement est décrit en détail à la page.<a href="# ">Comment
                                                        ça marche?</a>dans la « répétition ».
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                    <h5 class="accordion-title collapsed " data-toggle="collapse "
                                        data-target="#faq-71-4 ">Qu'advient-il si vous étendez les niveaux dans
                                        un mois?<span class="accordion-icon accordion-icon-s2 "></span></h5>
                                    <div id="faq-71-4 " class="collapse " data-parent="#faq-71 ">
                                        <div class="accordion-content ">
                                            <p>Votre compte reste dans le système pour toujours et à tout moment
                                                peut étendre et recevoir à nouveau les niveaux de revenus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-riesgos ">
                                <div class="accordion accordion-faq " id="faq-72 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-72-1 ">Le
                                            droit d'auteur?<span class="accordion-icon accordion-icon-s2 "></span> </h5>
                                        <div id="faq-72-1 " class="collapse show " data-parent="#faq-72 ">
                                            <div class="accordion-content ">
                                                <p>Oui, car aucune force de celui que vous de transférer de
                                                    l'argent à tout le monde. Toutes les transactions sont
                                                    volontaires.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                    <h5 class="accordion-title collapsed " data-toggle="collapse "
                                        data-target="#faq-72-4 ">Le droit d'auteur?<span
                                            class="accordion-icon accordion-icon-s2 "></span> </h5>
                                    <div id="faq-72-4 " class="collapse " data-parent="#faq-72 ">
                                        <div class="accordion-content ">
                                            <p>Oui, car aucune force de celui que vous de transférer de l'argent
                                                à tout le monde. Toutes les transactions sont volontaires.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                    <h5 class="accordion-title collapsed " data-toggle="collapse "
                                        data-target="#faq-72-5 ">Y at-il ici un risque? Et si oui, quoi?<span
                                            class="accordion-icon accordion-icon-s2 "></span> </h5>
                                    <div id="faq-72-5 " class="collapse " data-parent="#faq-72 ">
                                        <div class="accordion-content ">
                                            <p>Tout au long du site, nous écrivons aucun risque dans le système.
                                                Nous entendons par là que tout l'argent est immédiatement
                                                transféré à votre porte-monnaie et stockée. Cela signifie qu'il
                                                n'y a pas de risque.<br><br>Toutefois, il convient de considérer
                                                que, dans l'intervalle de temps entre l'enregistrement et
                                                l'enregistrement de leur première référence, une situation dans
                                                laquelle il a été transféré à son upline 0,08 ETH est créé, mais
                                                n'a pas encore reçu sa première référence .<br>Par conséquent,
                                                techniquement le risque théorique maximum est de 0,08 ETH. Ces
                                                0,08 ETH sera retourné immédiatement de la première
                                                référence.<br><br>Même si spécifiquement ne pas inviter toute
                                                référence, tôt ou tard vous recevrez des références de la
                                                manière suivante sans leur participation:<br>1) déborder ses
                                                lignes montantes,<br>2) Système de référence libre.<br><br>Par
                                                conséquent, même ce risque symbolique tend à 0.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>