<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>DoubleHands | The easiest and safest way to earn money with Cryptocurrencies</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=192">
    <link rel="stylesheet" href="assets/css/style-dark.css?ver=192" id="changeTheme">
    <!-- Extra CSS -->
    <link rel="stylesheet" href="assets/css/theme.css?ver=192">
    <!-- Favicon -->    
    <link rel="apple-touch-icon" sizes="180x180" href="<%= host %>/images/dark/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= host %>/images/dark/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= host %>/images/dark/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= host %>/images/dark/favicon/site.webmanifest">
    <link rel="mask-icon" href="<%= host %>/images/dark/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <style>
        .right-nav {
            width: 333px;
            background-color: #10122d;
            position: absolute;
        }

        .right-nav__title {
            color: #f2f4ff;

            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            padding: 32px 0 28px 48px;
        }

        .right-nav__show {
            position: absolute;
            right: 16px;
            top: 27px;
            width: 24px;
            height: 24px;
            transition: 0.3s all ease;
        }

        .pa-navigation {
            padding-bottom: 70px;
        }

        .clearfix {
            zoom: 1;
        }

        .nav-top__soc--right {
            text-align: center;
            margin: 145px 0 24px;
        }

        .nav-top__soc {
            font-size: 0;
            position: relative;
            z-index: 10;
        }

        .right-nav__copy {
            color: #f2f4ff;

            font-size: 13px;
            font-weight: 400;
            text-align: center;
            padding: 0 5px;
        }

        .right-nav__links {
            text-align: center;
            margin: 16px 0;
        }

        .page {
            position: relative;
            /* background: #f2f2f2 url(../img/new/career_back.png) center center no-repeat; */
            padding-top: 80px;
            background-size: contain;
        }

        .page--pa {
            /* background: #222222; */
            background-size: 100% auto;
            padding-top: 0;
        }

        .pa-navigation__link_i {
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            left: -35px;
            top: -3px;
            fill: #888888;
            transition: 0.3s all ease;
        }

        .currency {
            display: inline-block;
            padding: 20px 65px 8px;
            text-align: center;
            color: #f2f4ff;
            text-transform: uppercase;
            font-weight: 300;
        }

        .currencies_vs {
            will-change: transform;
            border-top: 1px solid rgba(242, 244, 255, 0.14);
            position: relative;
            z-index: 2;
            background: #10122d;
            max-height: 100%;

        }

        .currency__data {
            color: #f2f4ff;
            font-size: 12px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
        }

        .currencies_vs_account .currency {
            color: #888888;
        }

        .currencies_vs:before,
        .currencies_vs:after {
            content: ' ';
            width: 200px;
            position: absolute;
            top: 0;
            z-index: 2;
            height: 100%;
            display: none;
        }

        .pa-navigation__link {
            position: relative;
            display: inline-block;
            padding: 25px 10px 20px 81px;
            color: #888888;

            font-size: 14px;
            transition: 0.3s all ease;
            border-radius: 2px;
            width: 100%;
        }



        .menu-title {
            color: #fff;
            font-weight: 400;
        }

        .menu-icon {
            font-size: 22px;
            padding-right: 15px;
        }

        .right-nav--small {
            width: 65px;
            overflow: hidden;
        }

        .right-nav--small .pa-navigation__link {
            padding-left: 25px;
            white-space: nowrap;
            color: transparent;
        }

        .right-nav--small .right-nav__title {
            color: transparent;
            white-space: nowrap;
        }

        .social-sidebar-small {
            display: block;
        }

        .pa-right-col {
            margin: 15px 15px 0 348px;
        }

        .pa-breads {
            padding: 17px 10px 12px 46px;
            background: #ffffff url(/logo/logo_icon.svg) no-repeat 16px 16px;
            -webkit-background-size-no: 16px 16px;
            background-size: 16px 16px;
            padding: 16px 16px;
            line-height: 16px;
        }

        .pa-well {
            box-shadow: none;
            border-radius: 2px;
            background-color: #3746ff;
            padding: 32px 0 32px;
            margin-bottom: 15px;
            background-image: url(images/dark/bg_faqeth.svg)
        }

        .bread__item {
            display: block;
            float: left;
            margin-right: 16px;

        }

        .bread__link--current {
            color: #888888;
            text-decoration: none;
        }

        .bread__link {

            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: #e7e9ff;

            position: relative;
        }

        .pa-well--investor {
            background: #3746ff url(images/dark/bg_eth.svg) center center repeat;
            background-size: cover;
        }

        .pa-well--status {
            overflow: hidden;
            position: relative;
        }

        .pa-well--status:before {
            content: ' ';
            position: absolute;
            top: 0;
            transform: translate(0, 85px);
            left: 50%;
            margin-left: -96px;
            width: 192px;
            height: 132px;
            background: url(../img/new/pa_saphire@2x.png);
            background-size: cover;
            z-index: 0;
            opacity: 0;
            will-change: transform;
        }

        .container {
            max-width: none !important;
        }

        .pa-card {
            background: #171a40;
            padding: 32px 20px;
            color: white;
            margin-top: 20px;
            margin-right: 1px;
        }

        .btn-outline.on-bg-theme:before {
            background-color: rgba(32, 148, 250, .17) !important;
        }

        .form-group--copy b {
            background: black url(images/dark/pa_icon_add.svg) no-repeat center;
            -webkit-background-size: 24px 24px;
            background-size: 24px 24px;
            border-radius: 0 24px 24px 0;
            border-radius: 0;
            cursor: pointer;
        }

        .form-group>b {
            width: 64px;
            height: 48px;
            border: none;
            display: block;
            position: absolute;
            right: 0;
            top: 12px;
        }

        .form-group {
            position: relative;
        }

        .card-col {
            padding-left: 0px !important;
        }

        .social-icon-lg {
            width: 64px;
            height: 64px;
            font-size: 2.2em;
            line-height: 64px;
            border-radius: 50%;
            transition: 0.3s;
            color: #28384c;
            background: #fff;
            margin: 25px;
        }

        @media (max-width: 992px) {
            .pa-card {
                margin-left: 1px;
                text-align: center !important;
            }

            .pa-right-col {
                margin: 15px 15px 0px 80px !important;
                z-index: 1;
            }

            .right-nav {
                z-index: 3;
            }

            .form-group {
                margin: 0 20px !important;
            }

            .pa-icon {
                display: none;
            }

            .card-col {
                padding-left: 15px !important;
                margin-top: 15px !important;
            }

            .pa-btn--tab {
                width: auto;
            }

            .tab-list {
                display: inline-block !important;
            }

            .stats-alert {
                margin-left: 5% !important;
                margin-right: 5% !important;
            }

        }

        @media (min-width: 992px) {
            .menu-item {
                padding-right: 30px !important;
            }

            .menu-sub {
                left: -120px !important;
            }
        }

        .tab-list {
            white-space: nowrap;
            font-size: 0;
            margin-bottom: 15px;
            margin-top: 40px;
            justify-content: center;
        }

        .active>.pa-btn,
        .pa-btn--active {
            background-color: #39d884;

            color: white !important;
            text-decoration: none;
            border-color: #555555;
        }

        .pa-btn--tab.pa-btn {
            border-color: #ffffff33;
            color: #2094fa;
            margin-left: -1px;
            margin-right: -1px;
        }

        .pa-btn--tab {
            width: auto;
            padding-left: 22px;
            padding-right: 22px;
            border-radius: 0;
        }

        .pa-btn {
            width: 160px;
            white-space: normal;
            border-radius: 2px;
            border-radius: 24px;
            border-radius: 0;
            border: 1px solid #555555;
            color: #2094fa;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 600;
            line-height: 1.2;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            transition: 0.3s all ease;
            padding: 12px 0 12px;
            background: #0b0c22;
            cursor: pointer;
        }

        /*Transactions*/
        table tr,
        .table thead th {
            border-bottom: none !important;
            border-top: none !important;
            color: white;
            text-align: center;
        }

        .table-hover tbody tr:hover {
            color: white;
            /* background-color: #10122d; */
            background-color: #39d884;

        }

        #right-col>div>div>div>div.row>div>table>tbody>tr>td>a {
            color: white;
            text-decoration: underline;
        }

        /* Stats */
        .stats-icon {
            font-size: 1.5em;
            cursor: pointer;
        }

        .stats-ref-row {
            display: none;
        }

        #statsReferralsByLevel>tbody>tr>td,
        #statsReferrersByLine>tbody>tr>td {
            text-align: left !important;
        }


        /* .stats-table tbody tr:hover {
            color: white;
            
            background-color: #10122d;
        } */
    </style>

</head>


<body class="nk-body body-wider theme-dark mode-onepage">

    <div class="nk-wrap">
        

        <main class="nk-pages">

            
            <section class="page page--pa" id="faqs" style="">
                <nav class="right-nav" >
                    <h2 class="right-nav__title">Área privada</h2>
                    <a href="#" class="right-nav__show" id="toggle-sidebar-btn">
                        <i id="toggle-sidebar-icon" style="color:white" class="fa fa-ellipsis-v"></i>
                    </a>
                    <ul class="clearfix pa-navigation" style="padding-bottom:0px !important">
                        <li class="pa-navigation__item">
                            <a href="/dashboard"
                                class="pa-navigation__link pa-navigation__link--dashboard  pa-navigation__link--active-no ">
                                <h6 class="menu-title">
                                    <i class="fa fa-user-circle menu-icon"></i>

                                    <span class="menu-text">DASHBOARD</span> </h6>
                            </a>
                        </li>

                        <li class="pa-navigation__item">
                            <a href="/reflinks" class="pa-navigation__link pa-navigation__link--links ">
                                <h6 class="menu-title">
                                    <i class="fa fa-share-alt menu-icon"></i>
                                    <span class="menu-text">PROMOTION</span> </h6>
                            </a>
                        </li>
                        <li class="pa-navigation__item">
                            <a href="/qrcodes" class="pa-navigation__link pa-navigation__link--qrcodes ">
                                <h6 class="menu-title">
                                    <i class="fa fa-qrcode menu-icon"></i>
                                    <span class="menu-text">QR CODES</span> </h6>
                            </a>
                        </li>

                        <li class="pa-navigation__item">
                            <a href="/transactions" class="pa-navigation__link pa-navigation__link--transactions ">
                                <h6 class="menu-title">
                                    <i class="fa fa-th-list menu-icon"></i>
                                    <span class="menu-text">TRANSACTIONS</span> </h6>
                            </a>
                        </li>
                        <li class="pa-navigation__item">
                            <a href="/stats" class="pa-navigation__link pa-navigation__link--stats ">
                                <h6 class="menu-title">
                                    <i class="fa fa-chart-line menu-icon"></i>
                                    <span class="menu-text">STATS</span></h6>
                            </a>
                        </li>
                        <li class="pa-navigation__item">
                            <a href="/referrals" class="pa-navigation__link pa-navigation__link--team ">
                                <h6 class="menu-title">
                                    <i class="fa fa-users menu-icon"></i>
                                    <span class="menu-text">REFERRALS</span> </h6>
                            </a>
                        </li>



                        <li class="pa-navigation__item">
                            <a href="/uplines" class="pa-navigation__link pa-navigation__link--uplines  collapsed ">
                                <h6 class="menu-title">
                                    <i class="fa fa-arrow-up menu-icon"></i>
                                    <span class="menu-text">UPLINES</span> </h6>
                            </a>
                        </li>

                        <style>
                            .bodyaccountyes .li_logout_bodyaccountno {
                                display: none;
                            }

                            .bodyaccountno .li_logout_bodyaccountyes {
                                display: none;
                            }
                        </style>

                        <li class="pa-navigation__item li_logout_bodyaccountno">
                            <a href="/logout" class="pa-navigation__link pa-navigation__link--logout">
                                <h6 class="menu-title">
                                    <i class="fa fa-user menu-icon"></i>
                                    <span class="menu-text">LOG OUT</span> </h6>
                            </a>
                        </li>

                    </ul>



                    <style>
                        .accfootersocbutton_a {
                            margin-left: 16px;
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            border-radius: 24px;
                            background: rgba(242, 244, 255, 0.14);
                            padding: 8px;
                            transition: 0.3s all ease;
                        }

                        .accfootersocbutton_a:hover {
                            background: rgba(242, 244, 255, 0.21);
                        }

                        .accfootersocbutton_bgchat {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            display: block;
                            width: 100%;
                            height: 100%;
                            fill: #f2f4ff;
                        }

                        .accfootersocbutton_i {
                            position: relative;
                            display: block;
                            width: 16px;
                            height: 16px;
                            fill: #f2f4ff;
                        }
                    </style>
                    
                    <div class="right-nav__copy" style="color: white;">
                        All rights reserved
                        © 2020 DoubleHands
                    </div>
                    <div class="right-nav__links">
                        <a href="https://etherscan.io/address/<%= platformData.contractAddress %>" target="_blank"
                            class="" style="color: white;">Smart Contract Address</a><br>
                        <a href="/terminos" target="_blank" class="" style="color: white;">Terms & Conditions</a><br>
                        <a href="https://etherscan.io/address/<%= platformData.contractAddress %>" target="_blank"
                            class="" style="color: white;">Open Source</a>
                    </div>
                </nav>
<div id="right-col" class="pa-right-col" style="min-height: 0px; margin-bottom: 0px;">
    <style>

    </style>
    <div class="row">
        <div class="col-mb-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pa-well text-center " style="background-color: #10122d !important">
                <h3 style="color: white;padding:30px 0px">DoubleHands Admin</h3>   
                
               
                <div class="row">
                    <div class="col-5 offset-1" style="text-align:center;padding-left:20px">
                       <div style="text-align: center;color:#39d884;font-size:28px"> <i class="fa fa-user"></i></div>
                        <h3 style="color:white;margin-bottom:20px">Usuarios<br> <%= platformData.totalUsers %></h3>                        
                    </div>
                    <div class="col-5" style="text-align:center;padding-right:20px">
                        <div style="text-align: center;color:#39d884;font-size:28px"> <i class="fa fa-users"></i></div>
                       <h3 style="color:white;margin-bottom:20px">Referidos<br> <%= userData.totalReferrals %></h3> 
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 offset-1" style="text-align:center;padding-left:20px">
                        <div style="text-align: center;color:#39d884;font-size:28px"> <i class="fa fa-stream"></i></div>
                        <h3 style="color:white;margin-bottom:20px">Txs <br> <%= platformData.txs.total %></h3>                 
                    </div>
                    <div class="col-5" style="text-align:center;padding-right:20px">
                        <div style="text-align: center;color:#39d884;font-size:28px"> <i class="fa fa-stream"></i></div>
                        <h3 style="color:white;margin-bottom:20px">Txs 24hrs <br> <%= platformData.txs.last24hTotal %></h3>
                        
                    </div>
                </div>


                <div class="row">
                    <div class="col-5 offset-1" style="text-align:center;padding-left:20px">
                        <div style="text-align: center;color:#39d884;font-size:28px"> <i class="fa fa-cubes"></i></div>
                        <h3 style="color:white;margin-bottom:20px">Volumen<br> $<%= platformData.txs.usd_volume %> USD</h3>                    
                    </div>
                    <div class="col-5" style="text-align:center;padding-right:20px">
                        <div style="text-align: center;color:#39d884;font-size:28px"> <i class="fa fa-cubes"></i></div>
                        <h3 style="color:white;margin-bottom:20px">Volumen 24hrs<br> $<%= (parseFloat(platformData.txs.last24hVolume) * parseFloat(platformData.prices.eth_usd)).toFixed(2) %> USD</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5 offset-1" style="text-align:center;padding-left:20px">
                       <div style="text-align: center;color:#39d884;font-size:28px"> <i class="fa fa-money-bill"></i></div>
                       <h3 style="color:white;margin-bottom:20px">Ganancias USD<br> $<%= parseFloat(userData.totalEarnings) * parseFloat(platformData.prices.eth_usd) %> USD</h3>                    
                    </div>
                    <div class="col-5" style="text-align:center;padding-right:20px">
                        <div style="text-align: center;color:#39d884;font-size:28px"> <i class="fa fa-money-bill"></i></div>
                        <h3 style="color:white;margin-bottom:20px">Ganancias ETH<br> <%= userData.totalEarnings %> ETH</h3>
                    </div>
                </div>
                
                       

                
                    
                
                
            </div>
        </div>


    </div>

    <style>
        .pa-stats-card {
            background-color: #171a40;
            text-align: center;
            color: white;
        }

        .card-title {
            font-weight: 500;
            font-size: 28px;
            padding-top: 32px;
        }

        .card-active {
            color: rgb(76, 217, 100);
        }

        .cart-inactive {
            color: rgb(39, 104, 255);
        }

        .card-price {
            font-size: 24px;
            font-weight: 500;
            margin: 15px 0;
        }

        .card-bottom-box {
            background-color: #1c1f4f;
            margin-top: 32px;
            padding: 16px
        }

        .card-referral-no {
            font-weight: bold;
            font-size: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid #ffffff14;
        }

        .card-revenue {
            font-weight: bold;
            font-size: 16px;
        }

        .pa-btn-leveldisabled {
            border-color: #555555;
            color: #555555;
            cursor: default;
        }

        .btn-buy {
            background-image: linear-gradient(to right, #39d884 0%, #27c21d 100%) !important;
        }

        .pa-card:hover {
            background-color: #3746ff !important;
        }

        .card-icon {


            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        .card-icon-hover {

            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    </style>



</div>
</section>


</main>

</div>

<div class="preloader"><span class="spinner spinner-round"></span></div>

<!-- JavaScript -->
<script src="assets/js/jquery.bundle.js?ver=192"></script>
<script src="assets/js/scripts.js?ver=192"></script>
<script src="assets/js/charts.js"></script>
<script>

    $(document).ready(function () {
        const userAddress = `0x81eaAb6234571b004aE91BD0b640214540b69964`
        fetch(`<%= host %>/api/setUserAddress/${userAddress}`)




        let menu = 1
        $('#toggle-sidebar-btn').click(function (e) {
            e.preventDefault()
            const screenSize = document.documentElement.clientWidth
            if (menu == 1) {
                $('.right-nav').addClass('right-nav--small')
                $('.menu-text').hide()
                $('#toggle-sidebar-icon').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h')
                $('.accfootersocbutton_a').css('display', 'block').css('margin-bottom', '15px')
                $('.right-nav__copy,.right-nav__links').hide()
                if (screenSize > 922) {
                    $('#right-col').css('margin', '15px 15px 0 80px')
                }
                menu = 0
            } else if (menu == 0) {
                $('.right-nav').removeClass('right-nav--small')
                $('.menu-text').fadeIn(800)
                $('#toggle-sidebar-icon').removeClass('fa-ellipsis-h').addClass('fa-ellipsis-v')
                $('.accfootersocbutton_a').css('display', 'inline-block').css('margin-bottom', '0px')
                $('.right-nav__copy,.right-nav__links').show()
                if (screenSize > 992) {
                    $('#right-col').css('margin', '15px 15px 0 348px')
                }
                menu = 1
            }
        })

        const screenSize = document.documentElement.clientWidth
        if (screenSize < 992) {
            $('.right-nav').addClass('right-nav--small')
            $('.menu-text').hide()
            $('#toggle-sidebar-icon').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h')
            $('.accfootersocbutton_a').css('display', 'block').css('margin-bottom', '15px')
            $('.right-nav__copy,.right-nav__links').hide()
            $('#right-col').css('margin', '15px 15px 0 90px')
            menu = 0
        }

        $(window).on('resize', function () {
            var win = $(this); //this = window

            if (win.width() < 992) {
                $('.right-nav').addClass('right-nav--small')
                $('.menu-text').hide()
                $('#toggle-sidebar-icon').removeClass('fa-ellipsis-v').addClass('fa-ellipsis-h')
                $('.accfootersocbutton_a').css('display', 'block').css('margin-bottom', '15px')
                $('.right-nav__copy,.right-nav__links').hide()
                $('#right-col').css('margin', '15px 15px 0 90px')
                menu = 0
            } else {
                $('.right-nav').removeClass('right-nav--small')
                $('.menu-text').fadeIn(800)
                $('#toggle-sidebar-icon').removeClass('fa-ellipsis-h').addClass('fa-ellipsis-v')
                $('.accfootersocbutton_a').css('display', 'inline-block').css('margin-bottom', '0px')
                $('.right-nav__copy,.right-nav__links').show()
                $('#right-col').css('margin', '15px 15px 0 348px')
                menu = 1
            }
        });


        // Format level expiration date
        $('.expDate').each(function () {
            const expDate = new Date($(this).html() * 1000)
            const now = new Date()
            const diffTime = Math.abs(expDate - now)
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))
            $(this).html(diffDays + ' días')
        })

        // Stats card hover
        $('.pa-card').hover(function () {
            $(this).find('i').addClass('card-icon-hover')
        }, function () {
            $(this).find('i').addClass('card-icon').removeClass('card-icon-hover')
        })

        // Copy url btn
        const agentUrl = $('#agent-url').val()
        $('#copyUrlBtn').click(function () {
            navigator.clipboard.writeText(agentUrl).then(function () {
                console.log('Copying to clipboard was successful...')
            }, function () {
                console.log('Could not copy text...')
            })
        })

        $('.toastr-success').each(function () {
            var $self = $(this);
            $self.on("click", function (e) {
                toastr.clear();
                toastr.options = {
                    "closeButton": true,
                    "newestOnTop": false,
                    "preventDuplicates": true,
                    "positionClass": "toast-bottom-center",
                    "showDuration": "1000",
                    "hideDuration": "10000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000"
                };
                toastr.success('<em class="ti ti-check toast-message-icon"></em> ¡Enlace copiado correctamente!');
                e.preventDefault();
            });
        });


        // Transactions

        $('.methodSelector').click(function () {
            $('.methodSelector').removeClass('active')
            $(this).addClass('active')
            $('.tx-container').hide()
            const table = $(this).data('table')
            if (table == 1) $('#inTxs').show()
            else if (table == 2) $('#myTxs').show()
            else if (table == 3) $('#extraEarnings').show()
            else if (table == 4) $('#lostEarnings').show()
        })

        // format date
        // Format level expiration date
        $('.date').each(function () {
            let date = new Date($(this).html() * 1000)
            date = date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()
            $(this).html(date)
        })

        $('.date2').each(function () {
            let date = new Date($(this).html() * 1000)
            date = date.getDate() + '/' + date.getMonth() + '/' + date.getFullYear()
            $(this).html(date)
        })


        // Stats
        $('.stats-icon').click(function () {
            const icon = $(this)
            if ($(icon).data('show') == 0) {
                $(icon).removeClass('fa-plus-square').addClass('fa-minus-square')
                $(icon).data('show', 1)
                const type = $(this).data('type')
                if (type == 'level') {
                    const level = $(this).data('level')
                    $('.stats-ref-row').each(function (i, row) {
                        if ($(row).data('type') == type && $(row).data('level') == level) $(row).show()
                    })
                }
                else if (type == 'line') {
                    const line = $(this).data('line')
                    $('.stats-ref-row').each(function (i, row) {
                        if ($(row).data('type') == type && $(row).data('line') == line) $(row).show()
                    })
                }
            }
            else if ($(icon).data('show') == 1) {
                $(icon).data('show', 0)
                $(icon).removeClass('fa-minus-square').addClass('fa-plus-square')
                const type = $(this).data('type')
                if (type == 'level') {
                    const level = $(this).data('level')
                    $('.stats-ref-row').each(function (i, row) {
                        if ($(row).data('type') == type && $(row).data('level') == level) $(row).hide()
                    })
                }
                else if (type == 'line') {
                    const line = $(this).data('line')
                    $('.stats-ref-row').each(function (i, row) {
                        if ($(row).data('type') == type && $(row).data('line') == line) $(row).hide()
                    })
                }
            }

        })



    })

</script>
<script src="<%= `${host}/assets/js/bundle.js` %>"></script>
</body>

</html>