<%-include('header');-%>

<main class="nk-pages">
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="what">
        <div class="container">
            <!--Block@s-->
            <div class="nk-block nk-block-text-wrap">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">Что
                        такое DoubleHands?</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Формирует доход децентрализованно</p>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title">НЕ ИНВЕСТИРОВАНИЕ</div>
                            <div>нет никакой необходимости ждать</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title">НЕ ТОРГОВЛЯ</div>
                            <div>БЕЗОПАСНО</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title">НЕТ ПРОДАЖ</div>
                            <div>ПРОДУКТЫ «ВОЛШЕБНЫЙ»</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">FRACTAL МАТЕМАТИКА</div>
                            <div>В своем первоначальном виде</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">Безрисковая</div>
                            <div>ДОСТУПНЫЕ ВСЕМ</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">ПРОПОРЦИИ И ЦИФРЫ</div>
                            <div>Изобретены природой</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 "><img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">Это
                            умный контракт<i class="fa fa-check remark"></i>
                            <span class="remark">подтвержденному</span>и<i class="fa fa-code remark"></i>
                            <span class="remark">с открытым исходным кодом</span>Где каждый может зарабатывать столько,
                            сколько он хочет, либо новый iPhone или новая квартира. Нет необходимости, чтобы вернуть эти
                            деньги позже.<a class="remark" href="#">Вид контракта</a></p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-cubes remark"></i>Ethereum: Второй криптовалюта в мире после Bitcoin
                        популярности и первый по популярности с возможностью создания интеллектуальных контрактов. Смарт
                        контракт: алгоритм распределения criptomonedas, которые не могут быть изменены или опубликован
                        после того, как загружен Эфириум в сеть.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-address-card remark"></i>Интеллектуальный контракт CRYPTOHANDS загружается в
                        Эфириум сети criptomonedas и даже в теории, никто не может изменить или удалить его, в том числе
                        его создателей. Таким образом, ничто и ничто не может остановить работу системы, даже если она
                        исчезнет закрытие сайта или администрации. Система CRYPTOHANDS не принадлежит никому и работает
                        независимо от сайта.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-user remark"></i>Счета всех пользователей поддерживаются интеллектуальным
                        договор не на месте, поэтому администратор сайта не может блокировать их или удалить их. В Вашей
                        учетной записи (без пароля) на сайте CRYPTOHANDS только информация о каждой учетной записи,
                        взятой из интеллектуального контракта Эфириума показан на рисунке. Поэтому невозможно взломать
                        учетную запись и изменить бумажник члена.</div>
                </div>
            </div>
            <!-- .block @e -->
        </div>
    </section>
    <!-- // -->
    <!-- // -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4">
                    </span><span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                    <span class="line-8">
                    </span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">Как
                    это работает?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Ethereum нужен бумажник и 0,08ETH.
                    <br>(12:08ETH =$
                    <%= (platformData.prices.eth_usd * 0.08).toFixed(2) %>USDT)
                    <br> <b>Шаг 0:</b>Если у вас нет Кошелек Эфириума может проверить более подробную информацию<a
                        style="color: #39d884" href='/faqeth'>Ethereum FAQ</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head"><span class="roadmap-time">шаг 1</span><span
                                            class="roadmap-title teal">Регистрация</span><img class="roadmap-img"
                                            src="images/dark/hiwall_1.svg" alt=""></div>
                                    <p class="card-text">Для того, чтобы зарегистрироваться и получить Уровень 1 в
                                        системе, вам нужно только отправить 0,08ETH в вашем вышестоящий каждый 2 месяца;
                                        и первый человек, который пришел после вас, вы обратно этих средств, каждые два
                                        месяца, как хорошо. Все остальные переводы осуществляются за счет средств, уже
                                        выиграли. Простой и понятный путеводитель на странице
                                        <ahref=" /signup">регистрация</a>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head"><span class="roadmap-time">шаг 2</span><span
                                            class="roadmap-title teal">депозит</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i>--><img class="roadmap-img"
                                            src="images/dark/hiwall_2.svg" alt=""></div>
                                    <p class="card-text"><span class="">Войдите в свой аккаунт</span>Используя только
                                        адрес вашего бумажника Эфириума (<span class="">нет пароля</span>). Пароль не
                                        требуется, потому что ваш счет в контрактном Smart, а не на сайте. Таким
                                        образом, ваша учетная запись не может быть заблокирована или удалена из системы;
                                        даже администрации сайта. Кроме того, ваш кошелек Эфириум не может быть взломан
                                        или изменен.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head"><span class="roadmap-time">шаг 3</span><span
                                            class="roadmap-title teal">Получить Переходы</span><img class="roadmap-img"
                                            src="images/dark/hiwall_3.svg" alt=""></div>
                                    <p class="card-text">Есть четыре способа получить рефералов:</p>
                                    <ul class="list list-dot card-text">
                                        <li>Привлекайте рефералов в вашей структуре DoubleHands</li>
                                        <li>Получите ваши ссылки Upline на «переливы» (в соответствии с графиком в
                                            контракте Смарт).</li>
                                        <li>Подождите, пока система будет предоставлять бесплатные рефералов для себя.
                                        </li>
                                        <li>Ваши ссылки CryptoHands, атомарно станут ссылками DoubleHands.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head"><span class="roadmap-time">шаг 4</span><span
                                            class="roadmap-title teal">получать доход</span><img class="roadmap-img"
                                            src="images/dark/hiwall_4.svg" alt=""></div>
                                    <p class="card-text">Получить автоматические транзакции от контракта Intelligent
                                        непосредственно кошелька Эфириума. В соответствии со следующей таблицей, первый
                                        уровень передается 0,16ETH, на следующем уровнеETH 0,64 и 2,56 в третьемETH. (8
                                        уровней в общей сложности, 3500ETH дохода в месяц, 40000ETH дохода в год).
                                        <spanstyle="font-weight: bold;">Не нужно принимать транзакции или запроса
                                            платежа. Средства поступают непосредственно на ваш кошелек.</span>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head"><span class="roadmap-time">шаг 5</span><span
                                            class="roadmap-title teal">Повторите каждый месяц</span><img
                                            class="roadmap-img" src="images/dark/hiwall_5.svg" alt=""></div>
                                    <p class="card-text">Если у вас есть более чем 3500 анонимнуюETH и 510 рефералов
                                        (цифры приведены в качестве примера результата и не является обязательным
                                        условием). Что делать дальше? Это может повторяться каждые два месяца, сохраняя
                                        при этом структуру. И меньше людей остаться в их старой структуре будет их
                                        доход. Его rerferencias неактивный и заброшен, а «дверь» для всех ссылок на ту
                                        же строку, в случае бездействия.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head"><span class="roadmap-time">шаг 6</span><span
                                            class="roadmap-title teal">Что дальше?</span><img class="roadmap-img"
                                            src="images/dark/hiwall_6.svg" alt=""></div>
                                    <p class="card-text">Никто не может закрыть свой счет, приостановленные платежи или
                                        изменения, вносимые в систему, поскольку контракт загружается в интеллектуальной
                                        сети Эфириума. Вы не можете удалить или изменить. Они могут приглашать рефералов
                                        без веб-сайта, а также справочные ссылки непосредственно на смарт-контракта.
                                        Таким образом, система будет существовать до тех пор, пока DoubleHands Эфириума,
                                        и это будет существовать до тех пор, как Интернет.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4"><a href="/comofunciona"
                        class="btn btn-grad">Смотрите более подробную информацию о том, как это работает</a></div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="container ov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">Коэффициент
                        выплат</h2>
                </div>
                <!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid #10122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">уровень</th>
                                <th>цена</th>
                                <th>Переходов</th>
                                <th>доход</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" />
                                        <span class="blue" style="font-weight: bold;">0.08</span>ETH</td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">0.16</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.16</span>ETH</td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">0.64</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.32</span>ETH</td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">2.56</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.64</span>ETH</td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">10.24</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">1.28</span> ETH</td>
                                    <td>32</td>
                                    <td><span class="teal" style="font-weight: bold;">40.96</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#6</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span> ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">163.84</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#7</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">5.12</span> ETH</td>
                                    <td>128</td>
                                    <td><span class="teal" style="font-weight: bold;">655.36</span> ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">#8</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" /><span
                                            class="blue" style="font-weight: bold;">10.24</span> ETH</td>
                                    <td>256</td>
                                    <td><span class="teal" style="font-weight: bold;">2621.44</span> ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">Ваш выигрыш в общей сложности:<img
                                        src='images/dark/eth-white.png' class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span>ETH каждые два месяца и 20 000 ETH в
                                    год.<span style="color:#ff3b30">*</span>
                                    <spanstyle="color: #ffe620">**</span><span style="color: #39d884 ">***</span>
                                </div>
                                <div style="font-size:14px">Строго доход: ETH 3495,2 20971,2 в течение 64 дней и ETH в
                                    год. Чистая прибыль: ETH 3474,8 20848,8 в течение 64 дней и ETH в год.</div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color:#ff3b30">*</span>Сумма ETH 20000 в год теоретическая максимально
                                возможная выгода, это почти невозможно достичь с одного шага на всех уровнях в течение
                                первого года, и вероятность получения она имеет тенденцию к 0%.</div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color: #ffe620">**</span>На практике, в реальных условиях это вполне реально
                                половину этой суммы, а вероятность получения стремится к 100%, даже при полном
                                прохождении через все уровни</div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #39d884 ">***</span>Но с помощью функции «повтора» возможность ETH
                                20000 (и более, благодаря неактивным ссылкам), как правило, 100% для каждого участника
                                DoubleHands</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block @e -->
    </section>
    <!-- // -->
    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="section bg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">выгода</h2>
            </div>
            <!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Нет риска</div>
                            <div class="advantage-desc-left">Ваши затраты в проекте не будут проходить через 0,08 ETH в
                                течение двух месяцев, которые будут возвращены с первым направлением. Нет «платежные
                                приложения», и вы не нужно ждать. Ваши средства немедленно переведены на ваш кошелек.
                            </div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Без приглашения</div>
                            <div class="advantage-desc-left">Ссылки система находит Uste себя. Участники не прибывают со
                                ссылкой referncia, становятся они объединены и распределены равномерно среди
                                пользователей из тех, кто ранее приобрел 1-го уровня.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Переходы с Вашего вышестоящим</div>
                            <div class="advantage-desc-left">Когда 2 слота заполнить вашу восходящую линию первым до
                                восьмого уровня, гости рефералы будут вашими, или что contertirán собственных
                                направления, в которых вы также получаете прибыль.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">рефералов Inactivos</div>
                            <div class="advantage-desc-left">Неактивные называют умножить свой выигрыш. Если направление
                                неактивен в 5-й линии вверх, то вы получите дополнительно 32 + 31 передает больше всех
                                операций, связанных с 5-й линии.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">подключение CryptoHands</div>
                            <div class="advantage-desc-left">Опорные ссылки CryptoHands и DoubleHands подключены; Именно
                                поэтому можно расширить единую структуру в одном из двух проектов, а также структура
                                другого проекта автоматически построена.</div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;"><img class="banner-gfx-icon banner-gfx-icon-1"
                            src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Это система, которая не централизованно не
                                контролируется. Человеческий фактор (в том числе администратора) полностью отсутствует.
                                Никто не может остановить, внести изменения в систему или удерживать денежные средства.
                                Смарт контракт с открытым исходным кодом не может быть удален Эфириумом сети.</div>
                            <div class="advantage-value-right teal">децентрализации Всего</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Управление проектов не имеет доступ к фондам, все расчеты
                                и переводы, сделанные через смарт-контракт (это не возможно изменение), и немедленно
                                перенаправить все средства на соответствующем Эфириуме кошельки.</div>
                            <div class="advantage-value-right teal">Сделки между делегациями</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Даже если веб-сайт проекта перестал существовать,
                                контракт интеллектуальная система доступна навсегда останется в цепочке блоков Эфириума.
                            </div>
                            <div class="advantage-value-right teal">Невозможно остановить систему</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">Доходы, полученные могут повторяться каждый год. Хотя
                                меньше людей в вашей структуре, используя эту функцию, тем больше прибыль. Все
                                неактивные рефералы также «шлюз» для всех направлений на тот же уровень.</div>
                            <div class="advantage-value-right teal">Функция «Обновить»</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">Благодаря упрощенной регистрации «через CryptoHands» может
                                присоединиться к CryptoHands из вышестоящих; Кроме того, ваши ссылки CryptoHands может
                                стать ссылками DoubleHands автоматически.</div>
                            <div class="advantage-value-right teal">Регистрация через CryptoHands</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">Таковы лишь некоторые из
                преимуществ. Есть ли у вас какие-либо вопросы?
                <br> <a href="/faq" style="color: #39d884 !important" class="">См FAQ</a>
                <br> <a href="/faq" style="color: #39d884 !important">См часто задаваемые вопросы о Эфириуме</a></div>
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light " id="partners">
        <div class="">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm tc-light">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">Живая
                    статистика</h2>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><i
                                    class="fa fa-users" style="font-size:6em"></i></div>
                            <div>
                                <h3><%= platformData.totalUsers %></h3>
                                <div>Всего участников</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table text-center" style="width: 100%;">
                                    <tr>
                                        <td class="stats-level-title">уровень 1</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[0].total %>
                                        </td>
                                        <td class="stats-level-title">уровень 2</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[1].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">уровень 3</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[2].total %>
                                        </td>
                                        <td class="stats-level-title">уровень 4</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[3].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">уровень 5</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[4].total %>
                                        </td>
                                        <td class="stats-level-title">уровень 6</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[5].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">уровень 7</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[6].total %>
                                        </td>
                                        <td class="stats-level-title">уровень 8</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[7].total %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:20px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login">ВХОД</a></div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/points.svg" style="height: 100px; width: auto" alt=""></div>
                            <div>
                                <h3>12636</h3>
                                <div>гостей сейчас</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table">
                                    <tr>
                                        <td class="stats-left">Годы проекта</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.projectTime %></span>лет
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">сделки</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.total %></span></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Xs 24 часа</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:55px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup">ОТКРЫТЬ
                                    СЧЕТ</a></div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/eth-white.png" style="height: 100px; width: auto" alt=""></div>
                            <div style="margin-top:20px">
                                <table id="txs-table" class="table">
                                    <tr>
                                        <td class="stats-left">эквивалент BTC</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.btc_volume %></span>BTC
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Эквивалент $</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Последние 24 часа</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>ETH
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">1 ETH</td>
                                        <td class="stats-right">= <span class="teal"
                                                style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>USDT
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:80px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                    href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">VER
                                    DIRECCIÓN</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
        <div class="transform-line"></div>
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class=" title title-s4 animated " data-animate="
                                    fadeInUp " data-delay=" .1 " title="
                                    Transacciones ">НОВЫЕ СДЕЛКИ</h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="
                                    row ">
                <div class=" col-mb-10 col-sm-10 col-md-12 col-lg-12
                                    col-xl-12 ">
                    <table class=" table
                                    text-center " style=" ">
                        <thead>
                            <th style=" padding:
                                    0; " class=" teal ">дата</th>
                            <th style=" padding: 0; " class="
                                    teal ">уровень</th>
                            <th style=" padding: 0; " class="
                                    teal ">количество</th>
                            <th style=" padding: 0 " class="
                                    teal ">назначения</th>
                        </thead>
                        <tbody><% for(let tx of platformData.moneyTxs) {%><tr>
                                <td>назад<span class="
                                    timeSince "><%= tx.time %></span></td>
                                <td><%= tx.level %></td>
                                <td><%=  platformData.levels[tx.level].price %></td>
                                <td><a href="
                                    <%=` ${etherscanExplorer}/tx/${tx.txHash}` %>">
                                        <%= tx.userAddress %>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue">
                        <ahref="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>«> Все
                            статистические данные в Etherscan</a>
                    </div>
                </div>
            </div> <!-- Block @e -->
        </div>
    </section> <!-- // -->
    <section class=" section bg-theme bg-theme-dark tc-light " id="faqs ">
        <div class="container ">
            <div class="section-head text-center wide-auto-sm ">
                <h2 class="title title-s4 animated " data-animate="fadeInUp " data-delay=".1 " title="FAQS ">Часто
                    задаваемые вопросы</h2>
                <p class="animated " data-animate="fadeInUp " data-delay=".2 ">Мы знаем, что могут возникнуть вопросы о
                    работе системы.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block ">
                <div class="row justify-content-center ">
                    <div class="col-xl-8 col-lg-10 ">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated " data-animate="fadeInUp " data-delay=".3 ">
                            <li><a class="active " data-toggle="tab " href="#sistema-1 ">Система</a></li>
                            <li><a data-toggle="tab " href="#faq-registro ">регистрация</a></li>
                            <li><a data-toggle="tab " href="#faq-referidos ">Переходов</a></li>
                            <li><a data-toggle="tab " href="#faq-niveles ">уровни</a></li>
                            <li><a data-toggle="tab " href="#faq-repetir ">Функция «Повторить»</a></li>
                            <li><a data-toggle="tab " href="#faq-riesgos ">риски</a></li>
                        </ul>
                        <div class="tab-content animated " data-animate="fadeInUp " data-delay=".4 ">
                            <div class="tab-pane fade show active " id="sistema-1 ">
                                <div class="accordion accordion-faq " id="#faq-67 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-67 ">До
                                            появления подобных систем уже существует criptomonedas Почему лучше?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-67 " class="collapse " data-parent="#faq-67 ">
                                            <div class="accordion-content ">
                                                <p>Да, действительно, такие системы существовали в течение 5 лет и до
                                                    появления Интернета, и они работают. Тем не менее, у него было
                                                    несколько серьезных проблем:<br><br>1) Различные платежные системы
                                                    постоянно блокируют участник бумажников.<br>2) подтверждение ручной
                                                    переводы с всеми вытекающими отсюда последствиями в виде
                                                    человеческого фактора и постоянных процедур, которые переданы
                                                    средства, кому и кто нет.<br>3) Там не было рецидивов. Человек
                                                    когда-то создал структуру и когда-то получил деньги, хотя и
                                                    относительно большой. И тогда они получили все закручивается глубоко
                                                    в структуру, и участник не получил больше.<br>4) Закрыть или
                                                    взломать сайт означало блокаду системы, а иногда и взломать
                                                    сайты.<br><br>В Criptomonedas и Эфириум решает все эти
                                                    проблемы:<br><br>1) Кошелек может быть заблокирован даже в теории.
                                                    На оборотной стороне монеты: в любом случае, не теряйте контроль
                                                    вашего кошелька. Это будет невозможно заменить ваш кошелек с
                                                    другими.<br>2) государственные операции и мгновенные автоматические
                                                    подтверждения. Человеческий фактор исключен полностью.<br>3) Мы
                                                    сделали функцию «Repeat», которую участники применявшийся ранее в
                                                    других системах. После того, как вы создаете структуру и получать
                                                    доход каждый год. Если люди в вашей структуре не распространяются
                                                    своим участия каждого года, ваш доход увеличивается во много раз.
                                                    Подробнее на странице Как это работает в разделе «REPEAT». 4)
                                                    Закрыть или угнать сайт каким-либо образом влиять на работу системы,
                                                    как умный контракт CRYPTOHANDS загружается в основной сети Эфириума,
                                                    и никто не может удалить его, в том числе его
                                                    разработчиками.<br><br>Это означает, что впервые в истории
                                                    человечества (независимо от того, как звук громкого), существует
                                                    реальная 100% гарантия того, что учетная запись не будет пиратская,
                                                    и даже теоретически, если сайт закрыт, смарт-контракт и сама система
                                                    будет продолжать существовать в любом случае.<br>Кроме того, любой
                                                    программист в мире может создать новый сайт, основанный на том же
                                                    смарт контракта и любого руководителя структуры может сделать
                                                    структуру сайта на той же смарт-контракта. Таким образом, система
                                                    защищена от каких-либо действий со стороны администрации проекта.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-67-2 ">Как заработать деньги здесь?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-67-2 " class="collapse show " data-parent="#faq-67 ">
                                            <div class="accordion-content ">
                                                <p>Краткое руководство находится в<a href="# ">дома</a>в разделе «Как
                                                    это работает».<br>Подробные инструкции на отдельной странице.<a
                                                        href="# ">Как это работает</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-67-3 ">Каковы гарантии, что они не будут закрывать или
                                            блокировать мой счет?<span class="accordion-icon accordion-icon-s2 "></span>
                                        </h5>
                                        <div id="faq-67-3 " class="collapse " data-parent="#faq-67 ">
                                            <div class="accordion-content ">
                                                <p>Это один из самых важных вопросов!<br><br>Впервые в истории
                                                    человечества, есть 99%, но 100% гарантии, что никто не может
                                                    блокировать ваш кошелек или ваш счет, в том числе администрации
                                                    проекта (это особенность криптовалюта).<br><br>В guaratees написано
                                                    на этой странице. Как это работает в последней «Гарантии» точки.<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-registro ">
                                <div class="accordion accordion-faq " id="faq-68 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-68-1 ">
                                            Как зарегистрироваться в DoubleHands?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-68-1 " class="collapse show " data-parent="#faq-68 ">
                                            <div class="accordion-content ">
                                                <p>Регистрация по авторизации (по электронной почте или по телефону) и
                                                    пароль является устаревшим понятием. Поскольку потеря доступа к
                                                    почте означает потерянный доступ к учетной записи.<br><br>Успешная
                                                    покупка 1-го уровня своей линии поднимается факт
                                                    регистрации.<br><br>Краткое руководство присутствует в странице
                                                    ЗНАК:.<br><br>Подробное руководство Как это работает в разделе
                                                    «Регистрация».<br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-68-2 ">Можно ли зарегистрироваться без вышестоящей
                                            (приглашающего)?<span class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-68-2 " class="collapse " data-parent="#faq-68 ">
                                            <div class="accordion-content ">
                                                <p>Невозможно войти в систему без вышестоящего. Если вы не укажете
                                                    вышестоящие, интеллектуальный договор не будет принимать сделку. Это
                                                    один из основных моментов в уровне идеи.<br><br>Поле «данные» не
                                                    комментарий или дополнительный признак любого кошелька. Это является
                                                    неотъемлемой частью самой цепи Эфириума блоков.<br><br>В то время
                                                    автоматической регистрации через реферальную ссылку или QR код
                                                    приглашающего, все данные, включая поле «данные» с адресом вашей
                                                    вышестоящей, определяются автоматически. Просто нажмите на кнопку
                                                    «Регистрация в один клик».<br><br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-68-3 ">Как получить доступ к вашей учетной записи?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-68-3 " class="collapse " data-parent="#faq-68 ">
                                            <div class="accordion-content ">
                                                <p>Вы можете получить доступ к учетной записи на странице
                                                    ПОДПИСАНИЕМ<br><br>Вы войти в свою учетную запись полностью без
                                                    пароля и учетной записи не может быть взломан или
                                                    заблокирован.<br><br>Узнайте, как войти в свой аккаунт на Как это
                                                    работает страница в «Вход».</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-referidos ">
                                <div class="accordion accordion-faq " id="faq-69 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-69-1 ">
                                            Мне нужно, чтобы привлечь рефералов ли?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-1 " class="collapse show " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>Хотя основа системы является построение структуры из ссылок, и ссылки
                                                    являются источником вашей пользы, интересный факт, что ссылки не
                                                    требуется.<br><br>В дополнение к приглашению, вы можете получить
                                                    ссылки из двух способов: «переполняется» и «бесплатно» Список
                                                    литературы. Для каждого из этих методов, читайте ниже в следующих
                                                    пунктах.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-2 ">Сколько рефералов может предложить и как они
                                            распределяются?<span class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-2 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>Лично я могу только пригласить 2 ссылки, которые прикреплены
                                                    непосредственно к вам и называются «ссылка на 1-й линии.»<br><br>2
                                                    ссылки первой линии (лично пригласил вас) также предлагает 2 из его
                                                    ссылок. Эти участники в структуре 4, являются «ссылки второй
                                                    строкой».<br><br>Тогда, по аналогии, он имеет ссылки 8 и ссылки
                                                    третья строка 16 строка 4.<br><br>Если по-прежнему предлагает
                                                    ссылки, когда уже есть два, последующие ссылки прикрепляются на
                                                    глубину ее структуры и становятся ссылки 2-го, 3-го и так далее до
                                                    10-й линии. Это называется «переполнение». Вы можете увидеть больше
                                                    о «перелива» в следующем абзаце: «Что такое» переполнение «?».</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-3 ">Что такое «переполнение»?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-3 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>Переполнение является способом получения рефералов от их вышестоящих
                                                    всех линий, которые, заполняя все пробела 2 рефералов, следующим
                                                    прохождение ссылку на «переполнение», то есть для
                                                    вас.<br><br>Пример: priumera вышестоящий (приглашающий к системе)
                                                    предложил две ссылки и продолжал приглашать больше, или не сразу
                                                    перестал размещать рекламу. Третья ссылка будет вам
                                                    «перелив».<br><br>Примечание: Переполнение не только заполнить все
                                                    свои линии-полностью, но и упасть ниже линий 10, 1536, заполняющих
                                                    больше места в дополнении к своей опорной структуре 510 во всех
                                                    строках 8.<br><br>После того, как линии 10, количество газа
                                                    становится больше, чем сумма платежа. Более того, избытки ограничены
                                                    сама криптовалюта Эфириумом, так как максимально возможный предел
                                                    Эфириум газ 8000000. Таким образом, бесконечные переливы по
                                                    разумному договору невозможно по определению.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-3 ">Что линия «перелив» работа?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-3 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>кратко:<br><br>Без сайта через смарт-контракт на линию-включительно.
                                                    Переливы линии не работать до 10 включительно.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-5 ">Что такое «свободные рефералы»?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-5 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>Безвозмездные ссылки являются членами системы, которые приехали по
                                                    какой-то причине без реферальной ссылки.<br><br>Безвозмездные ссылки
                                                    равномерно распределены по всей системе, и, начиная с теми линиями,
                                                    восходящими, которые ранее были записаны в системе.<br><br>ВАЖНО:
                                                    ссылки распространяются бесплатно через систему NO через
                                                    интеллектуальный контракт, но в системе сайта.<br><br>Это
                                                    единственное, что делает умный контракт и вот почему:<br><br>Если
                                                    ссылки были распространены бесплатно через интеллектуальный контракт
                                                    с ростом системы будет потреблять большие камни, которые много газа,
                                                    который не был бы полезным для пользователей. Все остальное, в том
                                                    числе «перелива» распространяются по интеллектуальному договору.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-69-6 ">Могу ли я пригласить ссылки на не покупать первый
                                            уровень?<span class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-69-6 " class="collapse " data-parent="#faq-69 ">
                                            <div class="accordion-content ">
                                                <p>Вы можете, но стать свободными рефералов и достичь других членов
                                                    системы, а не вы. Так как система не будет «знать» до того уровня
                                                    покупки 1.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-niveles ">
                                <div class="accordion accordion-faq " id="faq-70 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-70-1 ">
                                            Какие уровни в системе?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-70-1 " class="collapse show " data-parent="#faq-70 ">
                                            <div class="accordion-content ">
                                                <p>Уровень: Это состояние, которое дает право на получение
                                                    вознаграждения от ссылок в его «глубине»
                                                    соответственно.<br><br>пример:<br>Уровень 1 дает право получить
                                                    вознаграждение за покупку 1-го уровня ссылок, приглашенных лично 2
                                                    (направление линии 1).<br>Уровень 2 дает право на получение
                                                    вознаграждения за покупку Уровня 2 Справки 4 гостей для своих гостей
                                                    лично ссылается 2 выше (ссылки 2 линии).<br>Уровень 3 дает право
                                                    получить вознаграждение за покупку ссылок 8 линии 3 Уровень
                                                    3.<br>Уровень 6 дает право на получение вознаграждения за
                                                    приобретение 64 6 уровня опорной линии 6.<br><br>Уровень 7 дает
                                                    право получать вознаграждение за покупку 7 из 128 ссылок линии
                                                    7.<br><br>И последний восьмой уровень дает право получить
                                                    вознаграждение за покупку восьмого уровня 8 линии 8 ссылок.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-70-2 ">Если у меня есть Уровень 2 Can I уровень купить 4
                                            сразу без 3-го уровня?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-70-2 " class="collapse " data-parent="#faq-70 ">
                                            <div class="accordion-content ">
                                                <p>Уровни приобретаются только последовательно и по порядку. Если вы
                                                    пытаетесь купить 4-го уровня, не имея 3-й, умный контракт не будет
                                                    принимать передачу. В этом случае деньги не денутся и останутся с
                                                    вами.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title collapsed " data-toggle="collapse "
                                            data-target="#faq-70-3 ">Что произойдет, если мой реферал, например, линия
                                            3, уровень 3 хочет купить, но я до сих пор только системы 2-го уровня?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-70-3 " class="collapse " data-parent="#faq-70 ">
                                            <div class="accordion-content ">
                                                <p>Произойдет следующее:<br><br>Плохие новости:<br>Деньги не пойдут к
                                                    вам, но ваш вышестоящий на той же линии, в этом случае третий. Если
                                                    вы покупаете уровни времени, этого не произойдет. Кроме того, все
                                                    последующие уровни (за исключением первого) и приобретаются от
                                                    заработанных денег, а не его собственных. Кроме того. Вы видите
                                                    заранее, когда ситуация становится «опасным» и иметь достаточно
                                                    времени, чтобы купить каждый уровень.<br>Если это случилось один
                                                    раз, не страшно, так как усиление на каждом уровне (кроме первого)
                                                    во много раз больше, чем стоимость уровня, и даже в этом последнем
                                                    случае покупки уровня позже, финансирование для всех последующих
                                                    покупок одного и того же уровня для остальных ссылок они идут к
                                                    вам.<br><br>Хорошие новости:<br>Если кто-то из ваших рефералов не
                                                    покупают уровень во время, деньги, которые вы собираетесь к вам.
                                                    Если даже один из ваших ссылок, например, линия 3, по какой-то
                                                    причине ушла из системы (например, потерял доступ к кошельку), то
                                                    все ссылки 8 (не его) переводные денег третьей линии ВЫ! Все
                                                    остальные ссылки на 3-й строке и передать деньги.<br>Один из
                                                    примеров приведен в качестве примера. Что делать, если есть два или
                                                    больше? Ваш доход увеличивается во много раз.<br><br>Результат:
                                                    Более отвергнутые или неактивные ссылки имеют в своей структуре, ТЕХ
                                                    САМЫХ иногда БУДЕТ ВАШ ДОХОД</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-repetir ">
                                <div class="accordion accordion-faq " id="faq-71 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-71-1 ">
                                            Что такое функция «Repeat» и зачем она нужна?<span
                                                class="accordion-icon accordion-icon-s2 "></span></h5>
                                        <div id="faq-71-1 " class="collapse show " data-parent="#faq-71 ">
                                            <div class="accordion-content ">
                                                <p>Функция «повтор» вариант, который позволяет вам повторить выигрыш
                                                    получается все время каждый месяц. Кроме того, каждый из ссылок,
                                                    которые покинули систему умножает свою награду.<br><br>Принцип
                                                    работы подробно описан на стр.<a href="# ">Как это работает</a>в
                                                    «Повторить».</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                    <h5 class="accordion-title collapsed " data-toggle="collapse "
                                        data-target="#faq-71-4 ">Что произойдет, если вы расширяете уровни в месяц?<span
                                            class="accordion-icon accordion-icon-s2 "></span></h5>
                                    <div id="faq-71-4 " class="collapse " data-parent="#faq-71 ">
                                        <div class="accordion-content ">
                                            <p>Ваша учетная запись остается в системе навсегда, и в любое время может
                                                расширить и снова получать уровни дохода.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="faq-riesgos ">
                                <div class="accordion accordion-faq " id="faq-72 ">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                        <h5 class="accordion-title " data-toggle="collapse " data-target="#faq-72-1 ">
                                            Авторское право?<span class="accordion-icon accordion-icon-s2 "></span>
                                        </h5>
                                        <div id="faq-72-1 " class="collapse show " data-parent="#faq-72 ">
                                            <div class="accordion-content ">
                                                <p>Да потому, что никто не заставляет вас передать деньги кому-либо. Все
                                                    сделки являются добровольными.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                    <h5 class="accordion-title collapsed " data-toggle="collapse "
                                        data-target="#faq-72-4 ">Авторское право?<span
                                            class="accordion-icon accordion-icon-s2 "></span> </h5>
                                    <div id="faq-72-4 " class="collapse " data-parent="#faq-72 ">
                                        <div class="accordion-content ">
                                            <p>Да потому, что никто не заставляет вас передать деньги кому-либо. Все
                                                сделки являются добровольными.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt ">
                                    <h5 class="accordion-title collapsed " data-toggle="collapse "
                                        data-target="#faq-72-5 ">Есть ли риск здесь? Что делать, если да, то что?<span
                                            class="accordion-icon accordion-icon-s2 "></span> </h5>
                                    <div id="faq-72-5 " class="collapse " data-parent="#faq-72 ">
                                        <div class="accordion-content ">
                                            <p>На всем участке мы пишем никакого риска в системе. Под этим мы имеем в
                                                виду, что все деньги немедленно переведены на ваш кошелек и в нем
                                                хранятся. Это означает, что нет никакого риска.<br><br>Тем не менее,
                                                стоит учесть, что в интервале времени между регистрацией и записью их
                                                первого упоминания, ситуация, в которой он перешел к его вышестоящим
                                                создается 0,08 ETH, но до сих пор не получил свою первую ссылку
                                                ,<br>Таким образом, технически максимальный теоретический риск 0,08 ETH.
                                                Эти 0,08 ETH будет немедленно возвращен из первой ссылки.<br><br>Даже
                                                если специально не приглашать каких-либо ссылок, то рано или поздно вы
                                                будете получать рефералов следующими способами без их участия:<br>1)
                                                переполнить свои восходящие линии,<br>2) бесплатно система
                                                отсчета.<br><br>Таким образом, даже этот символический риск стремится к
                                                0.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>