<%-include('header');-%>
<%-include('language_sidebar');-%>
<main class="nk-pages">
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="what">
        <div class="container">
            <!--Block@s-->
            <div class="nk-block nk-block-text-wrap">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">Was
                        ist DoubleHands?</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Einkünfte erzielt werden dezentral</p>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title">NICHT EINE INVESTITION</div>
                            <div>Keine Notwendigkeit zu warten</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title">KEIN HANDEL</div>
                            <div>SICHER</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title">NO SALES</div>
                            <div>PRODUCTS "magical"</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">FRACTAL MATHEMATIK</div>
                            <div>In seiner ursprünglichen Form</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">RISIKO</div>
                            <div>FÜR ALLE</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">ANTEILE UND ZAHLEN</div>
                            <div>BY NATURE ERFUNDEN</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 "><img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">Dies
                            ist der intelligente Vertrag<i class="fa fa-check remark"></i>
                            <span class="remark">verifizierten</span>und<i class="fa fa-code remark"></i>
                            <span class="remark">Open Source</span>Wo jeder kann so viel verdienen, wie er will,
                            entweder ein neues iPhone oder eine neue Wohnung. Keine Notwendigkeit, später dieses
                            Geld zurückzahlen.<a class="remark" href="#">Ansicht Vertrag</a>
                        </p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-cubes remark"></i>Astraleum: Die zweite Kryptowährung in der Welt nach Bitcoin
                        Popularität und die erste für die Popularität mit der Fähigkeit, intelligente Verträge zu
                        erstellen. Smart-Vertrag: ein criptomonedas Verteilungsalgorithmus, der bearbeitet werden kann
                        oder veröffentlicht nach Astraleum in das Netzwerk geladen.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-address-card remark"></i>Intelligente Vertrag CRYPTOHANDS geladen in das
                        Netzwerk criptomonedas Astraleum und auch in der Theorie kann niemand ändern oder löschen,
                        einschließlich seiner Schöpfer. Daher kann nichts und nichts, um die Arbeit des Systems stoppen,
                        auch wenn es die Schließung des Standorts oder der Verwaltung verschwindet. Das CRYPTOHANDS
                        System gehört nicht zu jedermann und arbeitet unabhängig von der Stelle.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-user remark"></i>Die Konten aller Nutzer werden durch intelligenten Vertrag
                        nicht vor Ort gehalten, so dass der Administrator der Website nicht, sie blockiert oder
                        entfernen kann. In Ihrem Konto (kein Passwort) auf der Website CRYPTOHANDS nur Informationen
                        über jedes Konto, von dem intelligenten Vertrag Astraleum genommen gezeigt. Daher ist es
                        unmöglich, ein Konto und ändern Sie die Brieftasche eines Mitglieds zu hacken.</div>
                </div>
            </div>
            <!-- .block @e -->
        </div>
    </section>
    <!-- // -->
    <!-- // -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4">
                    </span><span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                    <span class="line-8">
                    </span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">Wie
                    funktioniert es?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Astraleum brauchen eine Mappe und 0,08ETH.
                    <br>(00.08ETH = $
                    <%= (platformData.prices.eth_usd * 0.08).toFixed(2) %>USDT)
                    <br> <b>Schritt 0:</b>Wenn Sie nicht über eine Geldbörse Astraleum können mehr Details überprüfen<a
                        style="color: #39d884" href='/faqeth'>Astraleum FAQ</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head"><span class="roadmap-time">Schritt 1</span><span
                                            class="roadmap-title teal">Registrieren</span><img class="roadmap-img"
                                            src="images/dark/hiwall_1.svg" alt=""></div>
                                    <p class="card-text">alle 2 Monate anmelden und erhalten die Stufe 1 auf dem System,
                                        müssen Sie nur 0,08ETH zu Ihren Upline senden; und die erste Person, die nach
                                        dem Sie gekommen sind, sichern Sie diese Mittel, alle zwei Monate als gut. Alle
                                        anderen Transfers werden auf Kosten der Mittel bereits gewonnen hat. Einfache
                                        und klare Führung auf Seite
                                        <ahref=" /signup">Anmeldung</a>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head"><span class="roadmap-time">Schritt 2</span><span
                                            class="roadmap-title teal">Anzahlung</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i>--><img class="roadmap-img"
                                            src="images/dark/hiwall_2.svg" alt=""></div>
                                    <p class="card-text"><span class="">Anmeldung zu Ihrem Konto</span>Mit nur die
                                        Adresse Ihrer Brieftasche Astraleum (<span class="">kein Passwort</span>). Das
                                        Passwort ist nicht erforderlich, weil Ihr Konto in einem Vertrag Smart ist, und
                                        nicht auf der Website. Daher kann Ihr Konto nicht aus dem System gesperrt oder
                                        gelöscht werden; auch von der Verwaltung der Website. Darüber hinaus können Sie
                                        Ihre Geldbörse Astraleum nicht gehackt oder geändert werden.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head"><span class="roadmap-time">Schritt 3</span><span
                                            class="roadmap-title teal">Get Empfehlungen</span><img class="roadmap-img"
                                            src="images/dark/hiwall_3.svg" alt=""></div>
                                    <p class="card-text">Es gibt vier Möglichkeiten, Empfehlungen zu erhalten:</p>
                                    <ul class="list list-dot card-text">
                                        <li>Attract Verweise auf Ihre Struktur DoubleHands</li>
                                        <li>Holen Sie sich Ihre Upline Verweise auf „Überlauf“ (wie im Vertrag
                                            vorgesehen Smart).</li>
                                        <li>Warten Sie das System kostenlos Empfehlungen für sich selbst sorgen wird.
                                        </li>
                                        <li>Ihre Referenzen CryptoHands wird atomar DoubleHands Referenzen werden.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head"><span class="roadmap-time">Schritt 4</span><span
                                            class="roadmap-title teal">erhalten Einkommen</span><img class="roadmap-img"
                                            src="images/dark/hiwall_4.svg" alt=""></div>
                                    <p class="card-text">Erhalten Sie automatische Transaktionen vom Vertrag Intelligent
                                        direkt auf Ihren Geldbeutel Astraleum. Nach der folgenden Tabelle ist die erste
                                        Stufe 0,16ETH, auf der nächsten EbeneETH 0,64 und 2,56 in dem drittenETH
                                        übertragen. (8 Stufen insgesamt 3500ETH Einkommen pro Monat, 40000ETH Einkommen
                                        pro Jahr).
                                        <spanstyle="font-weight: bold;">Man braucht keine Transaktionen oder fordern die
                                            Zahlung zu akzeptieren. Die Mittel kommen direkt auf Ihren
                                            Geldbeutel.</span>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head"><span class="roadmap-time">Schritt 5</span><span
                                            class="roadmap-title teal">Wiederholen Sie jeden Monat</span><img
                                            class="roadmap-img" src="images/dark/hiwall_5.svg" alt=""></div>
                                    <p class="card-text">Wenn Sie mehr als 3.500 anonymeETH und 510 Verweise haben (die
                                        Figuren als Beispiel eines Resultats gegeben und sind keine Voraussetzung). Was
                                        als nächstes zu tun? Es kann alle zwei Monate wiederholt werden, während eine
                                        Struktur erhalten bleibt. Und weniger Menschen bleiben in ihrer älteren Struktur
                                        wird ihr Einkommen sein. Seine rerferencias inaktiv und verlassen, eine „Tür“
                                        für alle Ihre Referenzen auf der gleichen Linie, bei Inaktivität.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head"><span class="roadmap-time">Schritt 6</span><span
                                            class="roadmap-title teal">Was kommt als nächstes?</span><img
                                            class="roadmap-img" src="images/dark/hiwall_6.svg" alt=""></div>
                                    <p class="card-text">Niemand kann Ihr Konto, Stop-Zahlungen oder Änderungen an dem
                                        System schließen, da der Vertrag in das Intelligent Network Astraleum geladen
                                        wird. Sie können nicht ändern oder löschen. Sie können Empfehlungen ohne eine
                                        Website laden und Referenz verbindet direkt mit einem Smart-Vertrag. Daher wird
                                        das System vorhanden sein, solange es DoubleHands Astraleum, und dies wird so
                                        lange wie das Internet existiert.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4"><a href="/comofunciona"
                        class="btn btn-grad">Sehen Sie mehr Details, wie es funktioniert</a></div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="container ov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">
                        Auszahlungsverhältnis</h2>
                </div>
                <!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid #10122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">Ebene</th>
                                <th>Preis</th>
                                <th>Empfehlungen</th>
                                <th>Einnahmen</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.08</span>ETH</td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">0.16</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.16</span>ETH</td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">0.64</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.32</span>ETH</td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">2.56</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.64</span>ETH</td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">10.24</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">1.28</span> ETH</td>
                                    <td>32</td>
                                    <td><span class="teal" style="font-weight: bold;">40.96</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#6</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span> ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">163.84</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#7</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">5.12</span> ETH</td>
                                    <td>128</td>
                                    <td><span class="teal" style="font-weight: bold;">655.36</span> ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">#8</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" /><span
                                            class="blue" style="font-weight: bold;">10.24</span> ETH</td>
                                    <td>256</td>
                                    <td><span class="teal" style="font-weight: bold;">2621.44</span> ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">Ihr Gewinn insgesamt:<img src='images/dark/eth-white.png'
                                        class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span>ETH alle zwei Monate und 20.000 ETH pro
                                    Jahr.<span style="color:#ff3b30">*</span> <span style="color: #ffe620">**</span>
                                    <span style="color: #39d884 ">***</span></div>
                                <div style="font-size:14px">Streng Einkommen: ETH 3.495,2 20.971,2 für 64 Tage und ETH
                                    pro Jahr. Nettoergebnis: ETH 3.474,8 20.848,8 für 64 Tage und ETH pro Jahr.</div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color:#ff3b30">*</span>Die Höhe der ETH 20000 pro Jahr ist der theoretisch
                                maximal mögliche Nutzen, ist es fast unmöglich ist, mit dem ersten Schritt auf allen
                                Ebenen während des ersten Jahres, und die Wahrscheinlichkeit zu erreichen, empfangen sie
                                auf 0% tendieren.</div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color: #ffe620">**</span>In der Praxis unter realen Bedingungen ist es
                                durchaus realistisch auf die Hälfte dieser Menge, und die Wahrscheinlichkeit des
                                Empfangens neigt zu 100% selbst bei einem vollständigen Durchlauf durch alle Ebenen
                            </div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #39d884 ">***</span>Aber mit der „Repeat“ -Funktion die Möglichkeit
                                der ETH 20.000 (und dank inaktiven Referenzen) neigt zu 100% für jeden Teilnehmer von
                                DoubleHands</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block @e -->
    </section>
    <!-- // -->
    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="section bg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">Nutzen</h2>
            </div>
            <!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">kein Risiko</div>
                            <div class="advantage-desc-left">Ihre Kosten im Projekt nicht mehr als 0,08 ETH für zwei
                                Monate vergehen, die mit der ersten Befassung zurückgegeben werden. Keine
                                „Zahlungsanwendungen“ und Sie müssen nicht warten. Ihre Mittel werden sofort zu Ihrer
                                Brieftasche übertragen.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">ohne Einladung</div>
                            <div class="advantage-desc-left">Das System findet auf sich selbst verweist auf USTE.
                                Teilnehmer, die nicht mit einem Link referncia ankommen, werden diese konsolidiert und
                                gleichmäßig unter den Nutzern von denen verteilt, die zuvor 1 Ebene erworben haben.
                            </div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Empfehlungen von Ihrer Upline</div>
                            <div class="advantage-desc-left">Wenn die zwei Schlitze Ihre aufsteigende Linie füllen erste
                                bis achte Ebene werden die Gäste Empfehlungen bei Ihnen, oder dass contertirán eigenen
                                Empfehlungen, in denen Sie auch Gewinne erhalten.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">Einladungen Inactivos</div>
                            <div class="advantage-desc-left">Inaktive bezeichnet Ihre Gewinne vervielfachen. Wenn Ihre
                                Empfehlung in der fünften Zeile nach oben inaktiv ist, dann erhalten Sie weitere 32 + 31
                                Transfers mehr aller Transaktionen auf die 5. Zeile beziehen.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">CryptoHands Verbindung</div>
                            <div class="advantage-desc-left">Die Referenzverbindungen CryptoHands und DoubleHands
                                verbunden sind; Deshalb ist es möglich, Ihre einzige Struktur in eines der beiden
                                Projekte zu erweitern, und die Struktur des anderen Projektes wird automatisch erstellt.
                            </div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;"><img class="banner-gfx-icon banner-gfx-icon-1"
                            src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Dies ist ein System, das nicht zentral gesteuert. Der
                                menschliche Faktor (einschließlich dem Administrator) völlig fehlt. Niemand kann
                                aufhören, Änderungen an dem System oder Zurückbehaltung Fond. Smart Open-Source-Vertrag
                                kann nicht Astraleum Netzwerk gelöscht werden.</div>
                            <div class="advantage-value-right teal">Dezentralisierung Gesamt</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Projektmanagement haben keinen Zugriff auf die Mittel,
                                alle Berechnungen und Überweisungen werden durch einen intelligenten Vertrag (es ist
                                nicht möglich, ändern), und sofort umleiten alle Mittel an die entsprechenden Astraleum
                                Wallets.</div>
                            <div class="advantage-value-right teal">Transaktionen zwischen den Delegationen</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">Auch wenn die Website des Projekts nicht mehr existiert,
                                wird der Vertrag intelligentes System verfügbar bleiben für immer in der Kette der
                                Blöcke Astraleum.</div>
                            <div class="advantage-value-right teal">Unfähig-System zu stoppen</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">Der Erlös erhalten kann jedes Jahr wiederholt werden.
                                Während weniger Menschen in Ihrer Struktur mit dieser Funktion, desto größer ist Ihr
                                Gewinn. Alle inaktiven Empfehlungen sind auch ein „Gateway“ für alle Verweise auf das
                                gleiche Niveau.</div>
                            <div class="advantage-value-right teal">Funktion „Erneuern“</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">Dank der vereinfachten Anmeldung „durch CryptoHands“ Ihre
                                Upline von CryptoHands beitreten können; Außerdem können Sie Ihre Referenzen CryptoHands
                                DoubleHands Referenzen werden automatisch.</div>
                            <div class="advantage-value-right teal">Registrieren durch CryptoHands</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">Dies sind nur einige der Vorteile.
                Haben Sie Fragen?
                <br> <a href="/faq" style="color: #39d884 !important" class="">Siehe FAQ</a>
                <br> <a href="/faq" style="color: #39d884 !important">Siehe FAQs zu Astraleum</a> </div>
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light " id="partners">
        <div class="">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm tc-light">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">
                    Live-Statistiken</h2>
            </div>
            <!-- .section-head @e -->
            <!-- Block @s -->
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><i
                                    class="fa fa-users" style="font-size:6em"></i> </div>
                            <div>
                                <h3><%= platformData.totalUsers %></h3>
                                <div>Gesamtstimmen</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table text-center" style="width: 100%;">
                                    <tr>
                                        <td class="stats-level-title">Stufe 1</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[0].total %>
                                        </td>
                                        <td class="stats-level-title">Stufe 2</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[1].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Stufe 3</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[2].total %>
                                        </td>
                                        <td class="stats-level-title">Stufe 4</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[3].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Stufe 5</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[4].total %>
                                        </td>
                                        <td class="stats-level-title">Stufe 6</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[5].total %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">Stufe 7</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[6].total %>
                                        </td>
                                        <td class="stats-level-title">Stufe 8</td>
                                        <td class="stats-level-num">
                                            <%= platformData.totalUsersByLevel[7].total %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:20px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login">LOG IN</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/points.svg" style="height: 100px; width: auto" alt=""></div>
                            <div>
                                <h3>12636</h3>
                                <div>Gäste online</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table">
                                    <tr>
                                        <td class="stats-left">Jahre des Projekts</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%=platformData.projectTime %></span>Jahre
                                            alt</td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Umgang</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.total %></span></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Xs 24 Stunden</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:55px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup">Konto
                                    eröffnen</a></div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/eth-white.png" style="height: 100px; width: auto" alt=""></div>
                            <div style="margin-top:20px">
                                <table id="txs-table" class="table">
                                    <tr>
                                        <td class="stats-left">BTC Äquivalent</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.btc_volume %></span>BTC
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Entspricht $</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Die letzten 24 Stunden</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>ETH
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">1 ETH</td>
                                        <td class="stats-right">= <span class="teal"
                                                style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>USDT
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:80px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                    href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">VER
                                    DIRECCIÓN</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
        <div class="transform-line"></div>
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Txs">
                    NEUE TRANSAKTIONEN
                </h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="row">
                <div class="col-mb-10 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                    <table class="table table-responsive text-center" style="">
                        <thead>
                            <th style="padding: 0;" class="teal">Datum</th>
                            <th style="padding: 0;" class="teal">Ebene</th>
                            <th style="padding: 0;" class="teal">Menge</th>
                            <th style="padding: 0" class="teal">Ziel</th>
                        </thead>
                        <tbody><% for(let tx of platformData.moneyTxs) {%><tr>
                                <td>vor<span class="timeSince"><%= tx.time %></span></td>
                                <td><%= tx.level %></td>
                                <td><%=  platformData.levels[tx.level].price %></td>
                                <td><a href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>"><%= tx.userAddress %></a>
                                </td>
                            </tr><% } %></tbody>
                    </table>
                    <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue">
                        <ahref="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>„>
                            Alle sind in Etherscan lasestadísticas
                            </a>
                    </div>
                </div>
            </div><!-- Block @e -->
        </div>
    </section><!-- // -->
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">Häufig
                    gestellte Fragen</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Wir wissen, dass Sie Fragen über den Betrieb
                    des Systems haben.</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">System</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">Anmeldung</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">Empfehlungen</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">Ebenen</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">Funktion „Repeat“</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">Risiken</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">Vor dem
                                            Aufkommen von ähnlichen Systemen bereits criptomonedas existierte Warum ist
                                            es besser?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Ja, in der Tat, solche Systeme existieren seit 5 Jahren und vor dem
                                                    Aufkommen des Internets, und sie arbeiten. Allerdings hatte er
                                                    mehrere große Probleme:<br><br>1) Verschiedene Zahlungssysteme
                                                    ständig blockiert Portemonnaies Teilnehmer.<br>2) Bestätigung
                                                    manuelle Transfers mit allen sich daraus ergebenden Konsequenzen in
                                                    Form von menschlichen Faktor und ständige Verfahren, die Mittel an
                                                    die übertragen und wer nicht.<br>3) Es gab keine Wiederholung. Eine
                                                    Person einmal eine Struktur und einmal Geld erhalten, erstellt,
                                                    obwohl relativ groß. Und dann bekamen sie alle Drehungen tief in die
                                                    Struktur und die Teilnehmer nicht mehr haben.<br>4) In der Nähe oder
                                                    Hack eine Website, eine Blockade des Systems gemeint, und manchmal
                                                    Hack-Sites.<br><br>Die Criptomonedas und Astraleum löst all diese
                                                    Probleme:<br><br>1) Wallet kann nicht einmal in der Theorie
                                                    blockiert werden. Die Rückseite der Medaille: in jedem Fall nicht
                                                    verlieren die Kontrolle über Ihren Geldbeutel. Es wird unmöglich
                                                    sein, den Geldbeutel mit anderen zu ersetzen.<br>2) öffentliche
                                                    Transaktionen und sofortige automatische Bestätigungen. Der
                                                    menschliche Faktor ist vollständig ausgeschlossen.<br>3) Wir haben
                                                    die „Repeat“ -Funktion, die die Teilnehmer zuvor in anderen Systemen
                                                    angewandt hatten. Sobald erstellen Sie eine Struktur und Einkommen
                                                    erhalten jedes Jahr. Wenn die Menschen in Ihrer Struktur nicht seine
                                                    Teilnahme verlängern jedes Jahr erhöht Ihr Einkommen oft. Mehr auf
                                                    Seite Wie es funktioniert in der „REPEAT“ Abschnitt. 4) Schließen
                                                    oder kapern die Website in irgendeiner Weise den Betrieb des Systems
                                                    beeinträchtigen, da die intelligente CRYPTOHANDS Vertrag in das
                                                    Hauptnetz Astraleum geladen wird, und niemand kann es löschen,
                                                    einschließlich seiner Entwickler.<br><br>Dies bedeutet, dass zum
                                                    ersten Mal in der Geschichte der Menschheit (egal, wie Ton laut),
                                                    gibt es eine echte 100% ige Garantie, dass das Konto nicht unerlaubt
                                                    werden, und auch nur theoretisch, wenn die Seite geschlossen ist,
                                                    der Smart-Vertrag und System selbst wird weiterhin ohnehin vorhanden
                                                    sind.<br>Darüber hinaus kann jeder Programmierer in der Welt eine
                                                    neue Website erstellen, die auf dem gleichen intelligenten Vertrag
                                                    basiert und jeder Führer der Struktur kann eine Website-Struktur auf
                                                    demselben Smart Vertrag machen. Daher wird das System von jeder
                                                    Handlung durch die Verwaltung des Projektes geschützt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">Wie hier Geld zu machen?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Die Kurzanleitung ist in der<a href="#">Zuhause</a>im Abschnitt „So
                                                    funktioniert es“.<br>Detaillierte Anweisungen sind auf einer
                                                    separaten Seite.<a href="#">So funktioniert es</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">Was sind die Garantien, dass sie nicht in der Nähe
                                            werden oder mein Konto sperren?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Dies ist eine der wichtigsten Fragen!<br><br>Zum ersten Mal in der
                                                    Geschichte der Menschheit gibt es 99%, aber 100% garantiert, dass
                                                    niemand die Brieftasche oder Ihr Konto sperren kann, einschließlich
                                                    der Verwaltung des Projektes (das ist ein Merkmal von
                                                    Kryptowährung).<br><br>Die guaratees werden auf der Seite
                                                    geschrieben. So funktioniert es in dem letzten „Garantien“
                                                    Punkt.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">Wie
                                            in DoubleHands registrieren?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Anmeldung per Login (E-Mail oder Telefon) und das Passwort ist ein
                                                    veraltetes Konzept. Da der Verlust des Zugangs zu der Mail bedeutet
                                                    verlorenen Zugriff auf das Konto.<br><br>Der erfolgreiche Erwerb der
                                                    ersten Stufe seiner Linie steigt die Tatsache der
                                                    Registrierung.<br><br>Kurzanleitung ist in der Seite
                                                    SIGN:.<br><br>Ausführliche Anleitung Wie es im Abschnitt „Register“
                                                    arbeitet.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">Ist es möglich, ohne Upline (Einladenden)
                                            registrieren?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Es ist unmöglich, ohne die Upline in das System einloggen. Wenn Sie
                                                    Upline nicht angeben, wird intelligenter Vertrag nicht die
                                                    Transaktion annehmen. Das ist einer der wesentlichen Punkte in der
                                                    Ebene der Idee.<br><br>Das Feld „Daten“ kein Kommentar oder ein
                                                    zusätzliches Merkmal jedes Portemonnaie. Dies ist ein integraler
                                                    Teil der Kette selbst Astraleum Blöcke.<br><br>Während die
                                                    automatische Registrierung über einen Einladungslink oder QR-Code
                                                    des Einladenden, werden alle Daten, einschließlich der „Daten“ mit
                                                    der Adresse Ihrer Upline, werden automatisch festgelegt. Klicken Sie
                                                    einfach auf den Button „Register mit einem Klick.“<br><br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">Wie Ihr Konto zugreifen?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>Sie können Ihr Konto auf Seite SIGNING zugreifen<br><br>Sie melden
                                                    sich an Ihrem Konto ganz ohne Passwort und Konto kann nicht gehackt
                                                    oder blockiert werden.<br><br>Erfahren Sie, wie Ihr Konto auf dem
                                                    anmelden Wie es Seite in der „Login“ Works.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">Muss
                                            ich Verweise gewinnen?<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Obwohl die Basis des Systems eine Struktur von Referenzen zu bauen
                                                    ist, und Referenzen sind die Quelle von Ihrem eigenen Vorteile, eine
                                                    interessante Tatsache ist, dass Referenzen erforderlich
                                                    sind.<br><br>Neben der Einladung können Sie Referenzen von zwei
                                                    Möglichkeiten erhalten: „Überlauf“ und „freie Referenzen“. Für jede
                                                    dieser Methoden, lesen Sie weiter unten in den folgenden Absätzen.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">Wie viele Empfehlungen kann laden und wie sie
                                            verteilt sind?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Persönlich kann ich lade nur zwei Referenzen, die direkt an Sie
                                                    gebunden sind, und werden als „Referenzen die erste Zeile.“<br><br>2
                                                    Referenzen 1. Zeile (von Ihnen persönlich eingeladen) lädt auch 2
                                                    seiner Referenzen. Diese Teilnehmer in der Struktur 4 sind
                                                    „Referenzen 2. Zeile“.<br><br>Dann wird durch Analogie, hat es
                                                    Bezugszeichen 8 und Referenzen 3. Zeile 16, Zeile 4.<br><br>Wenn
                                                    weiterhin Verweise auf einladen, wenn bereits zwei hat, werden
                                                    nachfolgende Verweise auf die Tiefe der Struktur befestigt und
                                                    Referenzen der 2., 3. und so weiter bis zur 10. Zeile werden. Dies
                                                    wird als „Überlauf“ bezeichnet. Sie können mehr über „Überlauf“ im
                                                    folgenden Absatz siehe Überlauf „Was ist“ „?“.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Was ist ein „Überlauf“?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Überlauf ist die Methode der Überweisungen von ihren vorgeschalteten
                                                    aller Zeilen zu erhalten, die, alle Lücken mit 2 Verweisen Füllen
                                                    der nächsten Durchgang Bezugnahme auf „Überlauf“, das heißt für
                                                    Sie.<br><br>Beispiel: die priumera Upline (der Einladende zum
                                                    System) eingeladen zwei Referenzen und weiterhin mehr einladend,
                                                    oder nicht sofort gestoppt Werbung. Die dritte Referenz wird durch
                                                    „Überlauf“ für Sie sein.<br><br>Hinweis: Überläufe nicht nur füllen
                                                    Sie alle seine Linien 8 vollständig, sondern auch unterhalb der
                                                    Linie 10, 1536 fallen mehr Raum zusätzlich zu seiner
                                                    Referenzstruktur 510 8 in allen Linien zu füllen.<br><br>Nach Zeile
                                                    10 wird die Gasmenge mehr als die Höhe der Zahlung. Was mehr ist,
                                                    sind die Auswüchse durch die Kryptowährung Astraleum selbst
                                                    begrenzt, da die maximal mögliche Grenze Astraleum Gas 8000000 Daher
                                                    ist die unendlichen Überläufe durch intelligenten Vertrag per
                                                    Definition nicht möglich sind.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">Was Linie „Überlauf“ Arbeit?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>kurz:<br><br>Ohne eine Website über einen Smart-Vertrag Linien
                                                    einschließlich 5. Überläufe Linien laufen, bis einschließlich 10.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">Was sind die „freien Verweise“?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Gratuitous Referenzen sind Mitglieder des Systems, die aus
                                                    irgendeinem Grund ohne Einladungslink gekommen
                                                    sind.<br><br>Gratuitous Referenzen sind gleichmäßig über das gesamte
                                                    System verteilt ist, und mit den aufsteigenden Linien ausgehend, die
                                                    zuvor in dem System gespeichert wurden.<br><br>WICHTIGER HINWEIS:
                                                    Die Referenzen sind frei durch das NO-System durch intelligenten
                                                    Vertrag verteilt, sondern durch das System der Website.<br><br>Dies
                                                    ist die einzige Sache, die cleveren Vertrag macht und aus diesem
                                                    Grunde:<br><br>Wenn Referenzen wurden mit dem Wachstum des Systems
                                                    durch intelligenten Vertrag kostenlos verteilt würden große Steine,
                                                    dass eine Menge Gas verbrauchen, die nicht von Vorteile für die
                                                    Nutzer sein würde. Alles andere, einschließlich der „Überlauf“ wird
                                                    durch intelligente Vertrag verteilt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">Kann ich Verweise auf nicht den Kauf der ersten
                                            Ebene einladen?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>Sie können, aber frei Verweise werden und andere Mitglieder des
                                                    Systems erreichen, nicht Sie. Da das System nicht „wissen“, vor dem
                                                    Kauf sehen Stufe 1.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">Was
                                            sind die Ebenen im System?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Level: Das ist der Staat, der das Recht gewährt Vergütung aus den
                                                    Referenzen in seinem „Tiefen“ entsprechend zu
                                                    empfangen.<br><br>Beispiel:<br>Stufe 1 haben Sie Anspruch, eine
                                                    Belohnung für den Kauf des Level 1 von Referenzen persönlich von 2
                                                    (die Befassung Linie 1) eingeladen erhalten.<br>Stufe 2 gibt Ihnen
                                                    das Recht, eine Belohnung für den Kauf der Level 2-Referenzen 4
                                                    Gäste für ihre Gäste zu empfangen persönlich verweist 2 oben
                                                    (Referenzen 2 Linie).<br>Level 3 berechtigt Sie eine Belohnung für
                                                    den Kauf der Stufe 3 Referenzen 8 Linie 3 zu erhalten.<br>Stufe 6
                                                    berechtigt Sie eine Belohnung erhalten für den Kauf des 64 Level 6
                                                    Referenzlinie 6.<br><br>Stufe 7 berechtigt Sie eine Belohnung für
                                                    den Kauf von 7 von 128 Referenzen 7 Leitung zu empfangen.<br><br>Und
                                                    die letzte, achte Ebene berechtigt Sie eine Belohnung erhalten für
                                                    eine achte Stufe von 8 Linie 8 Referenzen kaufen.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">Wenn ich kaufen Stufe 2 Can I Stufe 4 sofort ohne
                                            Stufe 3?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Levels sind nur sequentiell und gekauft, um. Wenn Sie versuchen, die
                                                    vierte Ebene zu kaufen, ohne den dritter ist, wird intelligenter
                                                    Vertrag nicht um die Übertragung akzeptieren. In diesem Fall wird
                                                    das Geld nicht an jedem Ort und mit Ihnen bleiben.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">Was passiert, wenn meine Überweisung, zum Beispiel,
                                            Zeile 3, Level 3 kaufen möchte, aber ich habe immer noch das Level 2-System
                                            nur?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>Passiert folgendes:<br><br>Schlechte Nachrichten:<br>Das Geld wird
                                                    nicht für Sie, sondern Ihre Upline auf der gleichen Linie, in diesem
                                                    Fall ist die dritte. Wenn Sie Ebenen in der Zeit kaufen, wird dies
                                                    nicht passieren. Darüber hinaus werden alle nachfolgenden Ebenen
                                                    (außer dem ersten) und werden von dem verdienten Geld gekauft, nicht
                                                    seine eigene. Darüber hinaus. Sie sehen im Voraus, wenn die
                                                    Situation „gefährlich“ und hat Zeit genug wird, um jeden Level zu
                                                    kaufen.<br>Wenn es einmal passiert ist, nicht beängstigend, da die
                                                    Verstärkung auf jeder Ebene (außer dem ersten) um ein Vielfaches
                                                    größer als die Kosten der Ebene, und auch in diesem Fall später von
                                                    der Ebene Kauf später für alle nachfolgenden Käufe Finanzierung auf
                                                    dem gleichen Niveau für den Rest Referenzen gehen sie zu
                                                    Ihnen.<br><br>Gute Nachrichten:<br>Wenn jemand aus Ihren
                                                    Empfehlungen nicht das Niveau in der Zeit kaufen, das Geld, das Sie
                                                    Ihnen gehen. Wenn auch nur eine Ihrer Referenzen, zum Beispiel,
                                                    Zeile 3, aus irgendeinem Grund aus dem System ausgeschieden (zum
                                                    Beispiel verlorenen Zugang zu den Geldbeutel), dann werden alle
                                                    Referenzen 8 (nicht sein) der dritten Linie Geld überweisen SIE!
                                                    Alle weiteren Verweise auf die 3. Zeile übertragen Sie auch
                                                    Geld.<br>Ein Beispiel ist als Referenz angegeben. Was passiert, wenn
                                                    es zwei oder mehr? Ihr Einkommen erhöht sich viele
                                                    Male.<br><br>Ergebnis: Je mehr abgelehnt oder inaktive Referenzen
                                                    haben in ihrer Struktur, die am meisten manchmal wird Ihr Einkommen
                                                    BE</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">Was
                                            ist die Funktion „Repeat“ und warum ist sie notwendig?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>Die „Repeat“ -Funktion ist eine Option, die Sie die Gewinne erhalten
                                                    die ganze Zeit jeden Monat wiederholen können. jede der Referenzen
                                                    Darüber hinaus, dass das System vervielfacht ihren Lohn
                                                    übrig.<br><br>Das Funktionsprinzip ist im Detail auf Seite
                                                    beschrieben.<a href="#">So funktioniert es</a>im „Repeat“.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">Was passiert, wenn Sie Ebene in einem Monat
                                        verlängern?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>Ihr Konto bleibt im System immer, und kann jederzeit erweitern und wieder
                                                Einkommen erhalten.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">¿Es
                                            Legal?<span class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>Ja, denn niemand zwingt Sie Geld an jeden zu übertragen. Alle
                                                    Transaktionen sind freiwillig.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">¿Es Legal?<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>Ja, denn niemand zwingt Sie Geld an jeden zu übertragen. Alle
                                                Transaktionen sind freiwillig.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">Gibt es ein Risiko hier? Was passiert, wenn ja,
                                        welche?<span class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>In der gesamten Website schreiben wir kein Risiko im System. Damit meinen
                                                wir, dass das ganze Geld sofort auf Ihren Geldbeutel übertragen und
                                                darin gespeichert. Das heißt, es besteht keine Gefahr.<br><br>Allerdings
                                                ist es erwähnenswert, dass in dem Zeitintervall zwischen Registrierung
                                                und Aufnahme ihrer ersten Referenz unter Berücksichtigung, eine
                                                Situation, in der er seine Upline übertrug 0,08 ETH erstellt wird, ist
                                                aber noch nicht seine erste Referenz erhalten .<br>Daher technisch das
                                                maximale theoretische Risiko 0,08 ETH. Diese 0,08 ETH wird sofort von
                                                der ersten Referenz zurückgegeben.<br><br>Auch wenn speziell keinen
                                                Hinweis eingeladen hat, früher oder später werden Sie Verweise auf
                                                folgende Weise ohne ihre Teilnahme erhalten:<br>1) Überlauf seiner
                                                aufsteigenden Linien,<br>2) freies Referenzsystem.<br><br>Daher wird
                                                selbst dieses symbolische Risiko gegen 0.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>