<%-include('header');-%>

<main class="nk-pages">
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="what">
        <div class="container">
            <!--Block @s -->
            <div class="nk-block nk-block-text-wrap">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">
                        DoubleHands 무엇입니까?</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">분산 방식으로 소득을 생성</p>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title">아닌 투자</div>
                            <div>NO 필요에 대기하지</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title">NOT A 무역</div>
                            <div>안전하게 전원</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title">NO SALES</div>
                            <div>제품 "마법의"</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">FRACTAL 수학</div>
                            <div>원래의 형태에서</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">위험 무료</div>
                            <div>접근 가능 TO ALL</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">세로 비율과 숫자</div>
                            <div>자연에 의해 발명</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 "><img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">이
                            스마트 계약이다<i class="fa fa-check remark"></i>
                            <spanclass="remark">검증</span>과<i class="fa fa-code remark"></i> <span class="remark">오픈
                                    소스</span>어디 모든 사람들이 그가 원하는대로만큼을 적립 새로운 아이폰이나 새 아파트 중 하나를 할 수 있습니다. 필요가 나중에이 돈을 상환
                                없습니다.<a class="remark" href="#">보기 계약</a>
                        </p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-cubes remark"></i>에테 리움 : 비트 코인의 인기에 이어 세계에서 두 번째 암호 화폐 및 지능형 계약을 만들 수있는 능력과
                        인기에 대한 첫 번째. 스마트 계약 : 에테 리움 네트워크에로드 한 후 편집하거나 게시 할 수없는 criptomonedas 분배 알고리즘.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-address-card remark"></i>지능형 계약 CRYPTOHANDS도 이론적으로, 아무도 그 제작자를 포함하여, 변경하거나 삭제할
                        수 있습니다, 네트워크 criptomonedas의 에테 리움에로드된다. 따라서, 아무것도 아무것도가 사이트 또는 관리의 폐쇄를 사라 경우에도 시스템의 작업을 중지 할 수
                        있습니다. CRYPTOHANDS 시스템은 사람에 속하고 독립적으로 사이트의 작동하지 않습니다.</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"> <i
                            class="fa fa-user remark"></i>사이트의 관리자가 차단하거나 제거 할 수 있도록 모든 사용자의 계정이 아닌 사이트의 지능형 계약에 의해
                        유지된다. 사이트에 계정 (암호 없음)에서 표시되는 지능형 계약 에테 리움에서 가져온 각 계정에 대한 정보 만, CRYPTOHANDS. 따라서 계정을 해킹하고 회원의 지갑을
                        변경하는 것은 불가능합니다.</div>
                </div>
            </div>
            <!-- .block @e -->
        </div>
    </section>
    <!-- // -->
    <!-- // -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <spanclass="line-4">
                        </span><span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                        <spanclass="line-8">
                            </span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">그것은
                    어떻게 작동합니까?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">에테 리움은 지갑 0.08ETH가 필요합니다.
                    <br>(12시 8분ETH = $
                    <%= (platformData.prices.eth_usd * 0.08).toFixed(2) %>USDT)
                    <br> <b>0 단계 :</b>당신은 자세한 내용을 확인할 수있는 지갑 에테 리움이없는 경우<a style="color: #39d884" href='/faqeth'>에테 리움
                        자주 묻는 질문</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head"><span class="roadmap-time">1 단계</span><span
                                            class="roadmap-title teal">회원 가입</span><img class="roadmap-img"
                                            src="images/dark/hiwall_1.svg" alt=""></div>
                                    <p class="card-text">시스템의 1 단계 등록을 얻을, 당신은 단지 당신의 업 라인 매 2 개월 0.08ETH를 보낼
                                        수있다; 당신 뒤에 오는 첫 번째 사람, 당신은이 기금,뿐만 아니라 매 2 개월 백업합니다. 다른 모든 전송은 이미 원 자금의
                                        비용으로 만들어집니다. 페이지에 간단하고 명확한 가이드
                                        <ahref=" /signup">등록</a>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head"><span class="roadmap-time">2 단계</span><span
                                            class="roadmap-title teal">예금</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i>--><img class="roadmap-img"
                                            src="images/dark/hiwall_2.svg" alt=""></div>
                                    <p class="card-text"><span class="">계정에 로그인</span>(지갑 에테 리움의 주소를 사용하여<span
                                            class="">어떤 암호</span>). 계정이 계약 스마트에, 그리고 웹 사이트에 있기 때문에 암호가 필요하지
                                        않습니다. 따라서, 귀하의 계정이 차단되거나 시스템에서 삭제할 수 없습니다; 심지어 웹 사이트의 관리에 의해. 또한, 당신의 지갑
                                        에테 리움은 해킹 또는 변경할 수 없습니다.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head"><span class="roadmap-time">3 단계</span><span
                                            class="roadmap-title teal">가져 오기 추천</span><img class="roadmap-img"
                                            src="images/dark/hiwall_3.svg" alt=""></div>
                                    <p class="card-text">추천을 얻을 수있는 네 가지 방법이 있습니다 :</p>
                                    <ul class="list list-dot card-text">
                                        <li>당신의 구조 DoubleHands에 추천 유치</li>
                                        <li>(계약 스마트에 예정대로) "오버 플로우"에 업 라인 참조를 가져옵니다.</li>
                                        <li>시스템이 자신을 위해 무료로 추천을 제공 할 것입니다 기다립니다.</li>
                                        <li>귀하의 참조의 CryptoHands는 원자 DoubleHands 참조가 될 것이다.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head"><span class="roadmap-time">4 단계</span><span
                                            class="roadmap-title teal">소득을받을</span><img class="roadmap-img"
                                            src="images/dark/hiwall_4.svg" alt=""></div>
                                    <p class="card-text">당신의 지갑 에테 리움에 직접 지능형 계약에서 자동 트랜잭션을 가져옵니다. 다음 표에 따라, 첫
                                        번째 레벨은 제ETH의 다음 레벨ETH 0.64 및 2.56에서 0.16ETH를 전송한다. (총 8 단계, 한 달에 3500ETH
                                        소득, 연간 40000ETH 수입).<span style="font-weight: bold;">하나는 거래 또는 요청 지불을 수락
                                            할 필요는 없다. 기금은 지갑에 직접 제공.</span></p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head"><span class="roadmap-time">5 단계</span><span
                                            class="roadmap-title teal">매월 반복</span><img class="roadmap-img"
                                            src="images/dark/hiwall_5.svg" alt=""></div>
                                    <p class="card-text">당신이 3,500 개 이상의 익명ETH 510 개 추천이있는 경우 (수치는 결과의 예로서 주어진과
                                        전제 조건없는있다). 다음에 무엇을 할까? 구조를 유지하면서 그것은 매 2 개월 반복 될 수있다. 그리고 적은 수의 사람들이
                                        자신의 소득이 될 것입니다 그들의 오래된 구조를 유지. 그의 rerferencias는 비활성 및 활동의 경우, 같은 라인에 대한
                                        모든 참조하기 위해, "문"을 포기했다.</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head"><span class="roadmap-time">6 단계</span><span
                                            class="roadmap-title teal">무엇이 다음입니까?</span><img class="roadmap-img"
                                            src="images/dark/hiwall_6.svg" alt=""></div>
                                    <p class="card-text">계약은 지능형 네트워크 에테 리움에로드되어 있기 때문에 아무도, 시스템, 지급 정지 또는 메이크업을
                                        변경하여 계정을 폐쇄 할 수 없습니다. 삭제하거나 변경할 수 없습니다. 그들은 웹 사이트없이 추천을 초대 할 수 있습니다, 및
                                        참조는 스마트 계약에 직접 연결합니다. 따라서 시스템이 DoubleHands 에테 리움만큼 존재하며,이 한 인터넷과 같은
                                        존재합니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4"><a href="/comofunciona"
                        class="btn btn-grad">그것이 작동하는 방법의 자세한 내용을 참조하십시오</a></div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="container ov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">배당
                        성향</h2>
                </div>
                <!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid #10122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">수평</th>
                                <th>가격</th>
                                <th>추천</th>
                                <th>수익</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.08</span>ETH</td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">0.16</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.16</span>ETH</td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">0.64</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.32</span>ETH</td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">2.56</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.64</span>ETH</td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">10.24</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">1.28</span> ETH</td>
                                    <td>32</td>
                                    <td><span class="teal" style="font-weight: bold;">40.96</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#6</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span> ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">163.84</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#7</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">5.12</span> ETH</td>
                                    <td>128</td>
                                    <td><span class="teal" style="font-weight: bold;">655.36</span> ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">#8</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" /><span
                                            class="blue" style="font-weight: bold;">10.24</span> ETH</td>
                                    <td>256</td>
                                    <td><span class="teal" style="font-weight: bold;">2621.44</span> ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">총 귀하의 이득 :<img src='images/dark/eth-white.png'
                                        class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span>ETH 매 2 개월 연간 20,000 ETH.<span
                                        style="color:#ff3b30">*</span> <span style="color: #ffe620">**</span>
                                    <span style="color: #39d884 ">***</span></div>
                                <div style="font-size:14px">엄밀히 수입 : ETH 3495.2 20971.2 년 당 64 일 ETH합니다. 당기 순이익
                                    : 년 당 64 일 ETH 3474.8 20848.8 및 ETH.</div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color:#ff3b30">*</span>연간 ETH 20,000의 금액은 첫 해 동안 모든 수준에서 한 단계, 그리고 0
                                %로 경향 수신의 가능성 달성하는 것은 거의 불가능하다, 이론적으로 가능한 최대의 혜택입니다.</div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color: #ffe620">**</span>실제로, 실제 상황에서 절반이 금액에 매우 현실적이며, 수신 확률도 모든 레벨을
                                통해 완벽한 패스를 100 %로 경향이있다</div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #39d884 ">***</span>그러나 "반복"기능 ETH 20,000 (그리고 더 많은, 비활성 참조
                                덕분에)의 가능성이 DoubleHands의 각 참가자에 대한 100 % 경향이있다</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block @e -->
    </section>
    <!-- // -->
    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="section bg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">이익
                </h2>
            </div>
            <!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">위험하지</div>
                            <div class="advantage-desc-left">프로젝트의 비용은 최초의 추천으로 반환됩니다 이개월, 0.08 ETH 이상 통과하지
                                않습니다. 없음 "지불 응용 프로그램은"당신은 기다릴 필요가 없다. 귀하의 자금은 즉시 당신의 지갑에 전송됩니다.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">초대 없음</div>
                            <div class="advantage-desc-left">시스템 발견 참조 자체를 USTE합니다. 참가자들은, 링크 referncia에 도착 이러한
                                통합 이전에 레벨 1을 구입 한 사람의 사용자들 사이에서 균등하게 분배되지.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">당신의 업 라인의 추천</div>
                            <div class="advantage-desc-left">2 개 슬롯이 여덟 번째 단계로 먼저 오름차순 라인을 채울 때, 손님들 추천은 당신 또는
                                당신은 또한 이익을 얻을 수있는 그 contertirán 자신의 소개를 할 것이다.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">추천 Inactivos</div>
                            <div class="advantage-desc-left">비활성 상금을 곱 언급. 귀하의 추천이 5 라인까지의 비활성 상태 인 경우에, 당신은 32
                                개 + 31 이전보다 5 라인과 관련된 모든 거래를 더받을 수 있습니다.</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">CryptoHands 연결</div>
                            <div class="advantage-desc-left">기준 링크와 CryptoHands DoubleHands가 접속된다; 이 두 프로젝트 중
                                하나를 사용하여 단일 구조를 확장 할 수 있으며, 다른 프로젝트의 구조가 자동으로 내장되어 있습니다 이유입니다.</div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;"><img class="banner-gfx-icon banner-gfx-icon-1"
                            src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">이것은 더 중앙에서 제어하지 않는 시스템입니다. (게시판 관리자 포함) 인간의 요소는
                                완전히 존재하지 않는다. 아무도, 시스템 또는 보류? 자금 메이크업의 변화를 막을 수 없습니다. 스마트 오픈 소스 계약은 에테 리움 네트워크를
                                삭제할 수 없습니다.</div>
                            <div class="advantage-value-right teal">지방 분권 총</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">프로젝트 관리는 (은 변경할 수 없습니다), 모든 계산 및 전송이 스마트 계약을 통해
                                만들어진 자금에 대한 액세스 권한을 가지고 있고, 즉시 해당 에테 리움 지갑에 모든 자금을 리디렉션하지 않습니다.</div>
                            <div class="advantage-value-right teal">대표단 사이의 거래</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">프로젝트의 웹 사이트가 존재하는 것을 중단하더라도 사용할 수있는 계약 지능형 시스템은
                                블록의 에테 리움의 사슬에 영원히 남아있을 것이다.</div>
                            <div class="advantage-value-right teal">시스템을 중지 할 수 없습니다</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">받은 수익금은 매년 반복 될 수있다. 당신의 구조에서 더 적은 사람들은이 기능을 더 큰
                                당신의 이익을 사용하는 동안. 모든 비활성 추천도 같은 수준으로 모든 추천에 "게이트웨이"입니다.</div>
                            <div class="advantage-value-right teal">기능 "갱신"</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">CryptoHands에서 업 라인에 가입 할 수 있습니다 "CryptoHands을
                                통해"단순화 된 등록에 감사합니다; 또한, 귀하의 참조의 CryptoHands 자동 DoubleHands 참조가 될 수 있습니다.</div>
                            <div class="advantage-value-right teal">CryptoHands을 통해 등록</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">이 단지의 장점 중 일부입니다. 당신은 어떤
                질문이 있으십니까?
                <br> <a href="/faq" style="color: #39d884 !important" class="">참조 자주 묻는 질문</a>
                <br> <a href="/faq" style="color: #39d884 !important">에테 리움에 대한 FAQ를 참조하십시오</a></div>
        </div>
        </section>
        <!-- // -->
        <section class="section bg-theme tc-light " id="partners">
            <div class="">
                <!-- Section Head @s -->
                <div class="section-head text-center wide-auto-sm tc-light">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">라이브
                        통계</h2>
                </div>
                <!-- .section-head @e -->
                <!-- Block @s -->
                <div class="">
                    <div class="row justify-content-center">
                        <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                            <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                                data-animate="fadeInUp" data-delay=".9"
                                style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                                <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><i
                                        class="fa fa-users" style="font-size:6em"></i></div>
                                <div>
                                    <h3><%=platformData.totalUsers %></h3>
                                    <div>총 참가자</div>
                                </div>
                                <div style="margin-top:20px">
                                    <table class="table text-center" style="width: 100%;">
                                        <tr>
                                            <td class="stats-level-title">레벨 1</td>
                                            <td class="stats-level-num">
                                                <%= platformData.totalUsersByLevel[0].total %>
                                            </td>
                                            <td class="stats-level-title">레벨 2</td>
                                            <td class="stats-level-num">
                                                <%= platformData.totalUsersByLevel[1].total %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="stats-level-title">레벨 3</td>
                                            <td class="stats-level-num">
                                                <%= platformData.totalUsersByLevel[2].total %>
                                            </td>
                                            <td class="stats-level-title">레벨 4</td>
                                            <td class="stats-level-num">
                                                <%= platformData.totalUsersByLevel[3].total %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="stats-level-title">레벨 5</td>
                                            <td class="stats-level-num">
                                                <%= platformData.totalUsersByLevel[4].total %>
                                            </td>
                                            <td class="stats-level-title">레벨 6</td>
                                            <td class="stats-level-num">
                                                <%= platformData.totalUsersByLevel[5].total %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="stats-level-title">레벨 7</td>
                                            <td class="stats-level-num">
                                                <%= platformData.totalUsersByLevel[6].total %>
                                            </td>
                                            <td class="stats-level-title">레벨 8</td>
                                            <td class="stats-level-num">
                                                <%= platformData.totalUsersByLevel[7].total %>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="token-action" style="margin-top:20px"><a
                                        class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login">LOG IN</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                            <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                                data-animate="fadeInUp" data-delay=".9"
                                style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                                <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                        src="images/dark/points.svg" style="height: 100px; width: auto" alt="">
                                </div>
                                <div>
                                    <h3>12636</h3>
                                    <div>손님 온라인</div>
                                </div>
                                <div style="margin-top:20px">
                                    <table class="table">
                                        <tr>
                                            <td class="stats-left">프로젝트의 년</td>
                                            <td class="stats-right"><span class="teal"
                                                    style="font-weight: bold;"><%= platformData.projectTime %></span>오래된
                                                년</td>
                                        </tr>
                                        <tr>
                                            <td class="stats-left">거래</td>
                                            <td class="stats-right"><span class="teal"
                                                    style="font-weight: bold;"><%= platformData.txs.total %></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="stats-left">X가 24시간</td>
                                            <td class="stats-right"><span class="teal"
                                                    style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="token-action" style="margin-top:55px"><a
                                        class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup">계좌 개설</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                            <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                                data-animate="fadeInUp" data-delay=".9"
                                style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                                <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                        src="images/dark/eth-white.png" style="height: 100px; width: auto" alt=""></div>
                                <div style="margin-top:20px">
                                    <table id="txs-table" class="table">
                                        <tr>
                                            <td class="stats-left">BTC 동등한</td>
                                            <td class="stats-right"><span class="teal"
                                                    style="font-weight: bold;"><%= platformData.txs.btc_volume %></span>BTC
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="stats-left">$에 해당</td>
                                            <td class="stats-right"><span class="teal"
                                                    style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="stats-left">최근 24 시간</td>
                                            <td class="stats-right"><span class="teal"
                                                    style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>ETH
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="stats-left">1 ETH</td>
                                            <td class="stats-right">= <span class="teal"
                                                    style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>USDT
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="token-action" style="margin-top:80px"><a
                                        class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                        href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">
                                        SEE 주소</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Block @e -->
            </div>
        </section>
        <!-- // -->
        <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
            <div class="transform-line"></div>
            <div class="container">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Txs">
                        NEW 거래</h2>
                </div>
                <!-- .section-head @e -->
                <!-- Block @s -->
                <div class="row">
                    <div class="col-mb-10 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                        <table class="table table-responsive text-center" style="">
                            <thead>
                                <th style="padding: 0;" class="teal">날짜</th>
                                <th style="padding: 0;" class="teal">수평</th>
                                <th style="padding: 0;" class="teal">양</th>
                                <th style="padding: 0" class="teal">목적지</th>
                            </thead>
                            <tbody>
                                <% for(let tx of platformData.moneyTxs) {%>
                                <tr>
                                    <td>전<span class="timeSince"><%= tx.time %></span></td>
                                    <td>
                                        <%= tx.level %>
                                    </td>
                                    <td>
                                        <%=  platformData.levels[tx.level].price %>
                                    </td>
                                    <td>
                                        <a href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>">
                                            <%= tx.userAddress %>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue">
                            <ahref="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>"> 모든
                                통계는 Etherscan에서 사용할 수 있습니다</a>
                        </div>
                    </div>
                </div>
                <!-- Block @e -->
            </div>
        </section>
        <!-- // -->
        <section class="section bg-theme bg-theme-dark tc-light" id="faqs">
            <div class="container">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">자주
                        묻는 질문 (FAQ)</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">우리는 당신이 시스템의 작동에 대한 질문이있을 수 있습니다
                        알고 있습니다.</p>
                </div>
                <!-- .section-head @e -->
                <!-- Block @s -->
                <div class="nk-block">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10">
                            <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                                <li><a class="active" data-toggle="tab" href="#sistema-1">체계</a></li>
                                <li><a data-toggle="tab" href="#faq-registro">등록</a></li>
                                <li><a data-toggle="tab" href="#faq-referidos">추천</a></li>
                                <li><a data-toggle="tab" href="#faq-niveles">수준</a></li>
                                <li><a data-toggle="tab" href="#faq-repetir">기능 "반복"</a></li>
                                <li><a data-toggle="tab" href="#faq-riesgos">위험</a></li>
                            </ul>
                            <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                                <div class="tab-pane fade show active" id="sistema-1">
                                    <div class="accordion accordion-faq" id="#faq-67">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">유사한
                                                시스템의 출현은 이미 criptomonedas을 존재하기 전에 왜 더
                                                나은 무엇입니까?<span class="accordion-icon accordion-icon-s2"></span>
                                            </h5>
                                            <div id="faq-67" class="collapse " data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>예, 사실은, 이러한 시스템은 5 년간 인터넷의 출현 전에 존재, 그들은 작동합니다. 그러나 그는 몇
                                                        가지 주요 문제가 있었다 :
                                                        <br>
                                                        <br>1) 다른 지불 시스템은 지속적으로 지갑 참가자를 차단.
                                                        <br>2) 누구와 누구에게 기금을 전달 인적 요인과 일정한 절차의 형태로 모든 결과 결과로 확인
                                                        수동 전송은하지 않습니다.
                                                        <br>3) 재발은 없었다. 사람은 한 번 구조를 만들어 한 번 비교적 큰하지만, 돈을 받았다.
                                                        그리고 그들은 깊은 구조로 모든 왜곡을 얻고, 참가자는 더하지 않았다.
                                                        <br>4) 닫기 또는 사이트 시스템의 봉쇄를 의미 해킹, 때로는 해킹 사이트.
                                                        <br>
                                                        <br>Criptomonedas와 에테 리움을 해결해 이러한 모든 문제 :
                                                        <br>
                                                        <br>1) 지갑에도 이론적으로 차단 할 수 없습니다. 동전의 반대 : 어떤 경우에, 당신의 지갑하지
                                                        잃게 컨트롤을한다. 다른 사람과 당신의 지갑을 대체하는 것은 불가능합니다.
                                                        <br>2) 공공 거래 및 인스턴트 자동으로 확인. 인간의 요소가 완전히 제외됩니다.
                                                        <br>3) 우리는 참가자가 이전에 다른 시스템에 적용했던 "반복"기능을했다. 당신은 구조를 만들고
                                                        매년 소득을 받으면. 당신의 구조에서 사람들이 매년 참여를 확장하지 않는 경우, 소득이 많은 시간을
                                                        증가시킨다. 더 많은 페이지 그것은 "REPEAT"절에서 작동하는 방법. 4) 닫기 또는 지능형
                                                        CRYPTOHANDS 계약이 주요 네트워크 에테 리움에로드 아무도 그 개발자를 포함하여, 그것을
                                                        삭제할 수있는 방법으로 사이트가, 시스템의 작동에 영향을 납치.
                                                        <br>
                                                        <br>인류의 역사에서 처음으로, 계정이 불법 복제되지 않습니다 진짜 100 % 보장이, 심지어
                                                        이론적으로 사이트를 닫을 때, 스마트 계약 및 (얼마나 큰 소리에 상관없이)하는이 수단 시스템 자체는
                                                        어쨌든 존재하는 것입니다.
                                                        <br>또한, 세계 어느 프로그래머는 같은 스마트 계약과 같은 스마트 계약에 사이트 구조를 만들
                                                        수있는 구조의 리더를 기반으로 새 사이트를 만들 수 있습니다. 따라서, 시스템은 프로젝트의 관리에
                                                        의한 조치로부터 보호됩니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-67-2">어떻게 여기에 돈을 벌기 위해?<span
                                                    class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>빠른 시작 안내서에<a href="#">홈</a>"작동 방법"섹션입니다.
                                                        <br>자세한 설명은 별도의 페이지에 있습니다.<a href="#">작동 원리</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-67-3">그들은 내 계정을 차단하지 닫거나 있다는 보장은 무엇인가?<span
                                                    class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                                <div class="accordion-content">
                                                    <p>이것은 가장 중요한 질문 중 하나입니다!
                                                        <br>
                                                        <br>인류의 역사에서 처음으로,이 99 %이지만, 아무도 프로젝트 (이 암호 화폐의 기능입니다)의
                                                        관리를 포함하여 당신의 지갑 또는 귀하의 계정을 차단할 수 100 개 % 보장합니다.
                                                        <br>
                                                        <br>guaratees이 페이지에 기록됩니다. 어떻게 마지막 "보장"지점에서 작동합니다.
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-registro">
                                    <div class="accordion accordion-faq" id="faq-68">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">
                                                어떻게 DoubleHands에 등록?<span
                                                    class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                                <div class="accordion-content">
                                                    <p>로그인 (이메일 또는 전화)와 비밀번호에 의해 등록 오래된 개념이다. 메일에 대한 접근의 손실 때문에
                                                        계정에 손실 된 액세스를 의미합니다.
                                                        <br>
                                                        <br>그 라인의 1 수준의 성공적인 구매 등록 사실을 오름차순입니다.
                                                        <br>
                                                        <br>간단한 가이드 페이지 SIGN에 존재 :.
                                                        <br>
                                                        <br>이 섹션 "등록"에서 작동하는 방법 자세한 안내.
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-68-2">그것은 업 라인 (초대)없이 등록 할 수 있습니까?<span
                                                    class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                                <div class="accordion-content">
                                                    <p>업 라인없이 시스템에 로그인하는 것은 불가능합니다. 당신이 업 라인을 지정하지 않으면, 지능형 계약은
                                                        거래를 허용하지 않습니다. 즉 아이디어의 수준에 기본 포인트 중 하나입니다.
                                                        <br>
                                                        <br>필드 "데이터"는 의견이나 지갑의 추가 기능이 아닙니다. 이 사슬 자체 에테 블록의 일부이다.
                                                        <br>
                                                        <br>초청자의 추천 링크 또는 QR 코드를 통해 자동 등록하는 동안, 당신의 업 라인의 주소를
                                                        "데이터"필드를 포함한 모든 데이터가 자동으로 지정됩니다. 그냥 "클릭 한 번으로 등록."버튼을 클릭
                                                        <br>
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-68-3">어떻게 계정에 액세스하려면?<span
                                                    class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                                <div class="accordion-content">
                                                    <p>당신은 페이지에 서명 귀하의 계정에 액세스 할 수 있습니다
                                                        <br>
                                                        <br>당신은 당신의 계정이 해킹 또는 차단 할 수없는 암호 및 계정없이 완전히에 로그온합니다.
                                                        <br>
                                                        <br>는 "로그인"페이지를 작동 방법에 귀하의 계정에 로그온하는 방법에 대해 알아보십시오.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-referidos">
                                    <div class="accordion accordion-faq" id="faq-69">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">
                                                내가 추천을 유치해야합니까?<span class="accordion-icon accordion-icon-s2"></span>
                                            </h5>
                                            <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>시스템의 기초가 참조에서 구조를 구축하는 것입니다 및 참조가 이익의 원천이지만, 흥미로운 사실은 참조가
                                                        필요하다는 것입니다.
                                                        <br>
                                                        <br>초대 이외에, 당신은 두 가지 방법에서 참조를 얻을 수 있습니다 : "오버 플로우"와 "무료
                                                        참조". 이러한 방법 각각에 대해 다음 단락에서 아래를 참조.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-69-2">얼마나 많은 추천을 초대 할 수 있습니다 그리고 그들은 어떻게
                                                분포되어?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>개인적으로, 난 단지 당신에 직접 연결되어라고 2 참조, 초대 할 수 있습니다 "참조에게 1 라인을."
                                                        <br>
                                                        <br>(개인적으로 초대) 2 참조 1 라인 또한 그의 참조 2 초대합니다. 구조 4 이들 참가자들은
                                                        "참조 2 라인"입니다.
                                                        <br>
                                                        <br>그리고, 유사하게함으로써, 기준 (8) 및 참조 3 라인 16 라인 (4)을 갖는다.
                                                        <br>
                                                        <br>이미 두 가지가있는 경우 참조를 초대 계속되면, 이후의 참조는 그 구조의 깊이에 부착하고 10
                                                        라인까지 2, 3의 참고 문헌 등이 될 수 있습니다. 이것은 "오버 플로우"라고합니다. 당신은 오버
                                                        플로우 "?" "무엇"다음 단락에서 "오버 플로우"에 대한 자세한 내용을 볼 수 있습니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-69-3">"오버 플로우"는 무엇입니까?<span
                                                    class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>오버 플로우는 모든 라인의 자신의 업 라인에서 추천을 얻는 방법입니다 당신을 위해, 즉 2 명 추천,
                                                        "오버 플로우"의 다음 통과 참조, 모든 격차를 작성한다.
                                                        <br>
                                                        <br>예 : priumera의 업 라인 (시스템에 초청자는) 두 개의 참조를 초대하고 더 초대 계속
                                                        즉시 광고를 중단하지. 세 번째 기준은 "오버 플로우"에 의해 당신에게있을 것입니다.
                                                        <br>
                                                        <br>주 : 오버 플로우 만 완전히 모든 라인 8을 채울뿐만 아니라 모든 라인 8의 기준 구조체
                                                        (510)에 추가 공간을 충전 라인 (10), 1,536을 하회하지.
                                                        <br>
                                                        <br>라인 (10) 후, 가스의 양이 지불하는 양 이하가된다. 가능한 최대 한도 에테 리움 가스
                                                        8000000. 따라서, 지능형 계약에 의한 무한 오버 플로우가 정의 불가능하기 때문에 무엇보다,
                                                        과잉는 암호 화폐의 에테 리움 자체에 의해 제한됩니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-69-3">무엇 "오버 플로우"작업 라인?<span
                                                    class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>간단히 :
                                                        <br>
                                                        <br>포함 라인 5 스마트 계약을 통해 사이트없이. 오버 플로우 라인은 포함 10까지 실행합니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-69-5">"자유 추천"는 무엇입니까?<span
                                                    class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>무상 참조는 추천 링크없이 어떤 이유로 온 시스템의 구성원입니다.
                                                        <br>
                                                        <br>무상 참조는 시스템 전반에 걸쳐 고르게 분포하고, 이전에 시스템에 기록 된 그 오름차순 라인을
                                                        시작하고있다.
                                                        <br>
                                                        <br>중요 참고 : 참조 지능형 계약을 통해 NO 시스템을 통해 무료로 배포하지만, 사이트의
                                                        시스템에 의해있다.
                                                        <br>
                                                        <br>이 영리한 계약을 만드는 유일한 방법이며,이 이유입니다 :
                                                        <br>
                                                        <br>참조가 큰 돌을 소모 할 수있는 시스템의 성장과 지능적인 계약을 통해 무료로 배포 한 경우
                                                        해당 사용자에게 도움이되지 않을 것 가스를 많이. 은 "오버 플로우"를 포함하여 다른 모든 것은,
                                                        지능형 계약에 의해 배포됩니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-69-6">나는 첫 번째 레벨을 구입하지에 대한 참조를 초대 할 수
                                                있나요?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                            <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                                <div class="accordion-content">
                                                    <p>당신은,하지만 무료로 추천 될 것입니다 수 있으며, 시스템의 다른 구성원을하지 도달한다. 시스템이 구매
                                                        레벨 1 일 이전에 "알"수 없습니다입니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-niveles">
                                    <div class="accordion accordion-faq" id="faq-70">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">
                                                시스템의 수준은 무엇인가?<span class="accordion-icon accordion-icon-s2"></span>
                                            </h5>
                                            <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                                <div class="accordion-content">
                                                    <p>레벨 : 이것은 그에 따라 "깊이"의 참조에서 보수를받을 권리를 부여하는 상태입니다.
                                                        <br>
                                                        <br>예 :
                                                        <br>레벨 1 명명 한 당신은 2 개인적으로 초대 참조 레벨 1 (추천 라인 1) 구입에 대한
                                                        보상을받을 수 있습니다.
                                                        <br>레벨 2는 개인적으로 (참고 문헌 2 선) 위의 (2)를 참조하면 손님의 레벨 2 참조 4
                                                        명을 구입해 보상을받을 권리가 있습니다.
                                                        <br>레벨 3 명명 한 당신은 레벨 3 참조 8 라인 3를 구입에 대한 보상을받을 수 있습니다.
                                                        <br>레벨 6은 64 레벨 6 기준선 (6)을 구입하여 보상을받을 수있는 자격.
                                                        <br>
                                                        <br>레벨 7 현재 등록하면 7 (128)의 참조가 7 라인 구매에 대한 보상을받을 수 있습니다.
                                                        <br>
                                                        <br>그리고 마지막 여덟 번째 수준은 8 라인 8 참조의 제 8 레벨을 구입에 대한 보상을받을
                                                        자격이.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-70-2">나는 3 단계없이 바로 레벨 2 캔 I 구매 레벨 4를
                                                사용한다면?<span class="accordion-icon accordion-icon-s2"></span>
                                            </h5>
                                            <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                                <div class="accordion-content">
                                                    <p>레벨은 순차적 순서로 구입된다. 당신이 3 일을하지 않고 4 레벨을 구입하려고하면, 지능형 계약은
                                                        전송을 허용하지 않습니다. 이 경우, 돈은 아무데도되지 않고 당신과 함께있을 것입니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title collapsed" data-toggle="collapse"
                                                data-target="#faq-70-3">내 추천은, 예를 들어, 라인 3, 레벨 3를 구입하고자하는 경우 어떤
                                                일이 일어날 것입니다,하지만 난 여전히 레벨 2 시스템을 가지고?<span
                                                    class="accordion-icon accordion-icon-s2"></span> </h5>
                                            <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                                <div class="accordion-content">
                                                    <p>다음이 발생합니다 :
                                                        <br>
                                                        <br>나쁜 소식 :
                                                        <br>돈은 당신로 이동하지만,이 경우 같은 줄에 당신의 업 라인, 3하지 않습니다. 당신은 시간에
                                                        레벨을 구입한다면, 이런 일은 발생하지 않을 것이다. 또한, 및 (첫 번째 제외) 이후의 모든 수준은
                                                        자신의하지, 번 돈에서 구입하고 있습니다. 또한. 상황이 "위험"이되고 각 레벨을 구입하는 시간이
                                                        충분하면 사전을 참조하십시오.
                                                        <br>한번 발생하면, 무서운, (첫 번째 제외) 각 레벨에서 이득 이후 수준의 비용보다 몇 배 더
                                                        큰, 심지어 모든 후속 구매 자금, 나중에 레벨을 구입 나중에 경우 참조의 나머지 부분에 대한 동일한
                                                        수준의 그들은 당신로 이동합니다.
                                                        <br>
                                                        <br>좋은 소식 :
                                                        <br>당신의 추천에서 누군가가 시간에 레벨을 구입하지 않는 경우, 돈은 당신이 당신에게 가고있다.
                                                        만약 시스템에서 은퇴 어떤 이유로 예를 들어 당신의 참조도 하나, 3 호선, (예를 들어, 지갑을
                                                        잃어버린 액세스), 모든 참조 8 (안 자신의) 세 번째 줄 전송 돈 당신! 3 선에 다른 모든 참조
                                                        당신은 또한 돈을 전송합니다.
                                                        <br>하나의 예는 참조 용으로 주어진다. 두 개 이상의 무엇이 있는지? 귀하의 소득은 많은 시간을
                                                        증가시킨다.
                                                        <br>
                                                        <br>결과 : 더 많은 거부 또는 비활성 참조가 그 구조에 있고, 사람들은 가장 때로는 소득됩니다
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-repetir">
                                    <div class="accordion accordion-faq" id="faq-71">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">
                                                "반복"기능이란 무엇이며 왜 필요한가요? <span
                                                    class="accordion-icon accordion-icon-s2"></span> </h5>
                                            <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                                <div class="accordion-content">
                                                    <p>"반복"기능은 매 달마다 벌어 들인 수입을 반복 할 수있는 옵션입니다. 또한 시스템을 떠난 각 참조는
                                                        그 보상을 배가시킵니다.

                                                        <br>
                                                        <br> 작동 원리는 페이지에 자세히 설명되어 있습니다.
                                                        <a href="#">작동 원리
                                                        </a> "반복"섹션에서
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-71-4"> 한 달에 레벨을 연장하지 않으면 어떻게됩니까?
                                            <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>귀하의 계정은 시스템에 영구적으로 유지되며 언제든지 레벨을 연장하고 다시 수입을받을 수 있습니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="faq-riesgos">
                                    <div class="accordion accordion-faq" id="faq-72">
                                        <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                            <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">
                                                합법적입니까?
                                                <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                            <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                                <div class="accordion-content">
                                                    <p>예, 아무도 당신에게 다른 사람에게 돈을 송금하도록 강요하지 않기 때문에. 모든 거래는 자발적입니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-72-4">합법적입니까?
                                            <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>예, 아무도 당신에게 다른 사람에게 돈을 송금하도록 강요하지 않기 때문에. 모든 거래는 자발적입니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-72-5"> 여기에 위험이 있습니까? 그렇다면 어느 것입니까?
                                            <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>사이트의 어느 곳에서나 시스템에 위험이 없다고 기록합니다. 이는 모든 돈이 즉시 지갑으로 이체되어 보관됨을
                                                    의미합니다. 이는 위험이 없음을 의미합니다.

                                                    <br>
                                                    <br> 그러나 등록과 첫 번째 참조 등록 사이의 시간 간격에서 0.08 ETH가 업 라인으로 전송되었지만
                                                    상황이 아직 첫 번째 참조에서 수신되지 않은 상황이 발생한다는 점을 고려할 가치가 있습니다. .

                                                    <br> 따라서 기술적으로 이론적으로 최대 위험은 0.08 ETH입니다. 이 0.08 ETH는 첫 번째
                                                    참조에서 즉시 반환됩니다.
                                                    <br>
                                                    <br> 참조를 특별히 초대하지 않더라도 조만간 참여하지 않고 다음과 같은 방법으로 참조를 받게됩니다.

                                                    <br> 1) 오름차순 라인이 넘쳐서

                                                    <br> 2) 무료 시스템 참조.

                                                    <br>
                                                    <br>따라서이 상징적 위험조차도 0이되는 경향이 있습니다.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .col -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .block @e -->
            </div>
        </section>
</main>
<%- include('footer'); -%>