<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title><%= title %> | DoubleHands - Cryptocurrencies로 돈을 버는 가장 쉽고 안전한 방법</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=192">
    <link rel="stylesheet" href="assets/css/style-dark.css?ver=192" id="changeTheme">
    <!-- Extra CSS -->
    <link rel="stylesheet" href="assets/css/theme.css?ver=192">
    <!-- Favicon -->    
    <link rel="apple-touch-icon" sizes="180x180" href="<%= host %>/images/dark/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= host %>/images/dark/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= host %>/images/dark/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= host %>/images/dark/favicon/site.webmanifest">
    <link rel="mask-icon" href="<%= host %>/images/dark/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
        .imageRot {
        -webkit-animation: spin 22s ease-in-out;
        -moz-animation: spin 22s ease-in-out;
        animation: spin 22s ease-in-out;
        }

        @-moz-keyframes spin {
        100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
        }

        @-webkit-keyframes spin {
        100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
        }

        @keyframes spin {
        100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
        }

        @media (max-width: 992px) {
        #signup-container {
        margin-top: 40px;
        height: 60vh !important;
        }
        #signup-innercontainer {
        top: 2vh !important;

        }
        }


        #signup-btn:before{
        /* background-color:#007bff !important; */
        background-color: #1c7545b3 !important;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: red;
        opacity: 1; /* Firefox */
        }
        </style>

</head>


<body class="nk-body body-wider theme-dark mode-onepage">

    <div class="nk-wrap">
        <header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
            <!-- Header @s -->
            <%- include('header__menu') -%>
            <!-- Banner @s -->
            <div class="header-banner bg-theme-dark">
                <div class="nk-banner">
                    <div class="banner banner-mask-fix banner-fs banner-single tc-light">
                        <div class="banner-wrap" style="height: 100%;">

                            <div class="row align-items-center justify-content-center gutter-vr-30px"
                                style="margin-top:50px;height: 100%">

                                <div class="col-lg-6 text-center text-lg-center">
                                    <div style="vertical-align: middle;">
                                        <div class="row">
                                            <div class="col-8 offset-2">
                                                <h1 style="padding:10px">계정 등록</h1>
                                                <div id='signupForm-1' style="display: <%= rid ? 'none' : 'block' %>">
                                                    <h6 style="margin-bottom:40px; color: #dc3535;text-align:justify">
                                                        추천 링크가 없거나 제대로 작동하지 않아 업 라인을 알 수 없습니다..<br><br> 업 라인의 이더 리움 ID
                                                        또는 주소를 알고 있다면 아래 필드에 입력하고 "등록"을 클릭하십시오.</h6>
                                                    <input id="upline"
                                                        placeholder="Ingresa el ID o la dirección de Ethereum de tu línea ascendente "
                                                        type="text" class="input-solid input-solid-md required email"
                                                        style="background:#0b0c22;border:1px solid #171a4b">
                                                    <a id="signup-btn" onclick="App.enterUpline()"
                                                        style="margin-top: 20px;width:100%;padding:20px 40px;background-image: linear-gradient(to right, #39d884 0%, #28a745 100%)"
                                                        href="#"
                                                        class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                        <h5 style="font-size:1em"><i class="fa fa-user-plus"
                                                                style="font-size:15px"></i> 가입</h5>
                                                    </a>
                                                    <h6 style="color: white;margin-top:30px;font-size:16px"
                                                        id="networkResponse"></h6>
                                                    <div style="padding-top:20px">추천:</div>
                                                    <div style="margin-bottom: 40px">
                                                        <p
                                                            style="margin-top: 12px; color: #888888; font-size: 13px; font-weight: 400;">
                                                            <i class="fas fa-desktop"
                                                                style="vertical-align: middle; "></i>
                                                            <span
                                                                style="vertical-align: middle;margin-right: 4px;">:</span>
                                                            <img class="button_signup_descrlogo_img"
                                                                style="display:inline-block;height: 18px;"
                                                                src="images/dark/metamask-fox.svg">
                                                            <i class="fas fa-mobile-alt"
                                                                style="vertical-align: middle; margin-left: 12px;"></i>
                                                            <span
                                                                style="vertical-align: middle;margin-right: 4px;">:</span>
                                                            <img class="button_signup_descrlogo_img"
                                                                style="display:inline-block;height: 18px;"
                                                                src="images/dark/trustwallet_icon.svg">
                                                            <img class="button_signup_descrlogo_img"
                                                                style="display:inline-block;height: 18px;"
                                                                src="images/dark/coinbase_icon.png">

                                                        </p>
                                                    </div>

                                                    <p
                                                        style="position: relative; margin-top: 36px; margin-bottom: 36px; height: 16px; line-height: 16px;">
                                                        <span
                                                            style="position: absolute; top: 50%; left: 0; right: 0; margin-top: -0.5px; width: 100%; height: 1px; background: rgba(242, 244, 255, 0.14);"></span>
                                                        <span
                                                            style="position: relative; height: 16px; line-height: 16px; display: inline-block; ; padding: 0 8px; color: #888888;">ó</span>
                                                    </p>
                                                    <div style="text-align: left;margin-top: 40px;padding-bottom: 10px">
                                                        시스템에서 업 라인을 확보하십시오. 업 라인이 없으면 스마트 계약이 이전을 수락하지 않습니다.</div>

                                                    <a onclick="App.getUpline()"
                                                        style="margin-top: 20px;width:100%;padding:20px 40px" href="#"
                                                        class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                        <h5 style="font-size:1em">오름차순 줄 얻기</h5>
                                                    </a>
                                                </div>
                                                <style>
                                                    .tab-list {
                                                        white-space: nowrap;
                                                        font-size: 0;
                                                        margin-bottom: 15px;
                                                        margin-top: 40px;
                                                        justify-content: center;
                                                    }

                                                    .active>.pa-btn,
                                                    .pa-btn--active {
                                                        background-color: #39d884;
                                                        color: #888888;
                                                        color: #f2f4ff;
                                                        text-decoration: none;
                                                        border-color: #555555;
                                                    }

                                                    .pa-btn--tab.pa-btn {
                                                        border-color: #ffffff33;
                                                        color: #2094fa;
                                                        margin-left: -1px;
                                                        margin-right: -1px;
                                                    }

                                                    @media (max-width:1200px) {
                                                        .pa-btn--tab {
                                                            width: auto;
                                                        }

                                                        .tab-list {
                                                            display: inline-block !important;
                                                        }


                                                    }

                                                    .pa-btn--tab {
                                                        width: auto;
                                                        padding-left: 22px;
                                                        padding-right: 22px;
                                                        border-radius: 0;
                                                    }

                                                    .pa-btn {
                                                        width: 160px;
                                                        white-space: normal;
                                                        border-radius: 2px;
                                                        border-radius: 24px;
                                                        border-radius: 0;
                                                        border: 1px solid #555555;
                                                        color: #2094fa;
                                                        font-family: "Open Sans";
                                                        font-size: 14px;
                                                        font-weight: 600;
                                                        line-height: 1.2;
                                                        text-decoration: none;
                                                        display: inline-block;
                                                        text-transform: uppercase;
                                                        transition: 0.3s all ease;
                                                        padding: 12px 0 12px;
                                                        background: #0b0c22;
                                                        cursor: pointer;
                                                    }
                                                </style>

                                                <div id='signupForm-2' style="display:<%= rid ? 'block' : 'none' %>">
                                                    <h5>(Compra de Nivel 1)</h5>
                                                    <ul class="tab-list text-center"
                                                        style="margin-bottom: 40px;display:flex">
                                                        <li id="method1" class="methodSelector active"><a href="#tab_1"
                                                                data-toggle="tab" class="pa-btn pa-btn--tab"
                                                                aria-expanded="true">자동적으로</a></li>
                                                        <li id="method2" class="methodSelector"><a href="#tab_2"
                                                                data-toggle="tab" class="pa-btn pa-btn--tab"
                                                                aria-expanded="false">수동으로</a></li>
                                                        <li id="method3" class="methodSelector"><a href="#tab_3"
                                                                data-toggle="tab" class="pa-btn pa-btn--tab"
                                                                aria-expanded="false">CryptoHands를 통해</a></li>
                                                    </ul>
                                                    <div id="signupMethod1" class="signupMethod" style="">
                                                        <div style="display: flex;">


                                                            <a id="signup-btn"
                                                                onclick="App.signup(<%= rid && (rid)  %>)"
                                                                style="margin-top: 20px;width:100%;padding:20px 40px;background-image: linear-gradient(to right, #39d884 0%, #28a745 100%)"
                                                                href="#"
                                                                class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                                <h3 style="font-size:1.8em"><i class="fa fa-user-plus"
                                                                        style="font-size:15px"></i> 한 번의 클릭으로 등록
                                                                </h3>
                                                            </a>
                                                        </div>

                                                        <h6 style="color: white;margin-top:30px;font-size:16px"
                                                            id="networkResponse"></h6>
                                                        <div style="padding-top:20px">추천:</div>
                                                        <div style="margin-bottom: 40px">
                                                            <p
                                                                style="margin-top: 12px; color: #888888; font-size: 13px; font-weight: 400;">
                                                                <i class="fas fa-desktop"
                                                                    style="vertical-align: middle; "></i>
                                                                <span
                                                                    style="vertical-align: middle;margin-right: 4px;">:</span>
                                                                <img class="button_signup_descrlogo_img"
                                                                    style="display:inline-block;height: 18px;"
                                                                    src="images/dark/metamask-fox.svg">
                                                                <i class="fas fa-mobile-alt"
                                                                    style="vertical-align: middle; margin-left: 12px;"></i>
                                                                <span
                                                                    style="vertical-align: middle;margin-right: 4px;">:</span>
                                                                <img class="button_signup_descrlogo_img"
                                                                    style="display:inline-block;height: 18px;"
                                                                    src="images/dark/trustwallet_icon.svg">
                                                                <img class="button_signup_descrlogo_img"
                                                                    style="display:inline-block;height: 18px;"
                                                                    src="images/dark/coinbase_icon.png">

                                                            </p>
                                                        </div>

                                                        <p
                                                            style="position: relative; margin-top: 36px; margin-bottom: 36px; height: 16px; line-height: 16px;">
                                                            <span
                                                                style="position: absolute; top: 50%; left: 0; right: 0; margin-top: -0.5px; width: 100%; height: 1px; background: rgba(242, 244, 255, 0.14);"></span>
                                                            <span
                                                                style="position: relative; height: 16px; line-height: 16px; display: inline-block; ; padding: 0 8px; color: #888888;">참고</span>
                                                        </p>
                                                        <div
                                                            style="text-align: justify;margin-top: 40px;padding-bottom: 10px">
                                                            모바일 장치에서 자동 등록을 수행하려면 응용 프로그램을 입력하고 DApp 메뉴 (브라우저)를 선택한 다음
                                                            주소 표시 줄에 참조 링크를 입력해야합니다. 그런 다음 동일한 내장 분산 브라우저에서 등록 페이지로 이동하여
                                                            한 번의 클릭으로 등록하십시오.</div>
                                                    </div>

                                                    <div id="signupMethod2" class="signupMethod" style="display:none">
                                                        <div
                                                            style="text-align: justify; margin-top: 20px; padding-bottom: 10px; font-size: 14px; color: #ffffff; /* font-weight: bold; */ background: #1ca05a; padding: 20px; border-radius: 10px; font-family: sans-serif;">
                                                            중요! 주식 및 교환 서비스에서 스마트 계약으로 자금을 보내지 마십시오. 이 경우 스마트 카운팅은 자금을
                                                            수락하지 않습니다. 먼저 이더 리움 지갑을 등록하고 채우십시오. 귀하의 업 라인의 이더 리움 주소가
                                                            "데이터"필드에 표시된 스마트 지갑으로 만 스마트 계약에 거래하십시오.</div>
                                                        <div
                                                            style="text-align: justify;font-size: 14px; margin-top:20px">
                                                            이더 리움 0.08 ETH 지갑에서 스마트 계약 주소로 발송하십시오. 입력 데이터 필드에 업 라인의 이더
                                                            리움 주소를 입력하십시오.
                                                        </div>
                                                        <div style="text-align: left;margin-top: 30px;">
                                                            <div>
                                                                <div>보내기 (스마트 계약 주소):
                                                                </div>
                                                                <input type="text" readonly
                                                                    value="<%= platformData.contractAddress %>"
                                                                    class="input-solid input-solid-md required email"
                                                                    style="background:#0b0c22;border:1px solid #171a4b">
                                                            </div>
                                                            <div style="margin-top:15px">
                                                                <div>ETH 금액:</div>
                                                                <input type="text" readonly value="0.08"
                                                                    class="input-solid input-solid-md required email"
                                                                    style="background:#0b0c22;border:1px solid #171a4b">
                                                            </div>
                                                            <div style="margin-top:15px">
                                                                <div>DATA (업 라인 주소)를 입력하십시오
                                                                    :</div>
                                                                <input id="uplineManualSignup" type="text" readonly
                                                                    value=""
                                                                    class="input-solid input-solid-md required email"
                                                                    style="background:#0b0c22;border:1px solid #171a4b">
                                                            </div>
                                                            <div
                                                                style="text-align: justify;margin-top:30px; font-size: 14px;">
                                                                성공적인 거래 후 등록 (레벨 1 구매)이 자동으로 완료되며 시스템에 로그인 할 수 있습니다.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="signupMethod3" class="signupMethod" style="display:none">
                                                        <div
                                                            style="text-align: justify;font-size: 14px; margin-top:30px">
                                                            이더 리움 0.08 ETH 지갑에서 스마트 계약 주소로 발송하십시오. 입력 데이터 필드에 업 라인의 이더
                                                            리움 주소를 입력하십시오.
                                                        </div>
                                                        <div style="margin-top:40px;margin-bottom:40px">

                                                            <input type="text" readonly
                                                                value="<%= platformData.contractAddress %>"
                                                                class="input-solid input-solid-md required email"
                                                                style="background:#0b0c22;border:1px solid #171a4b">
                                                        </div>
                                                        <div
                                                            style="text-align: justify;font-size: 14px; margin-top:20px">
                                                            이더 리움 0.08 ETH 지갑에서 스마트 계약 주소로 발송하십시오. 입력 데이터 필드에 업 라인의 이더
                                                            리움 주소를 입력하십시오
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div><!-- .col -->
                                <div id="signup-container" class="col-lg-6 text-center text-lg-center"
                                    style="height: 90vh; background: #0b0c22;padding:0">
                                    <div id="signup-innercontainer"
                                        style="vertical-align: middle;position: relative; top: 15vh">
                                        <div class="row" style="height: 100%;">
                                            <div class="col-8 offset-2">
                                                <img id="headerImg" src="images/dark/blue.png" style="height: 200px;"
                                                    alt="">
                                                <h1 style="margin-top: 40px">DoubleHands</h1>
                                                <h5>세계에서 가장 오래된 공식 및 블록 체인 기술</h5>
                                                <!-- <a style="margin-top: 20px;width:40%;padding:20px 40px" href="#"
                                                    class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                    <h5 style="font-size:1em"><i class="fa fa-user-plus"
                                                            style="font-size:15px;"></i> Registrarme</h5>
                                                </a> -->
                                                <a style="margin-top: 20px;width:40%;padding:20px 40px" href="/login"
                                                    class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                    <h5 style="font-size:1em"><i class="fa fa-user-plus"
                                                            style="font-size:15px;"></i> 로그인</h5>
                                                </a>
                                                <div class="nk-block block-footer" style="margin-top: 60px">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="wgs wgs-text text-center mb-3">
                                                                <ul class="social pdb-m justify-content-center">
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.65"><a
                                                                            href="<%= platformData.facebook %>"><em
                                                                                class="social-icon fab fa-facebook-f"></em></a>
                                                                    </li>
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.7"><a
                                                                            href="<%= platformData.twitter %>"><em
                                                                                class="social-icon fab fa-twitter"></em></a>
                                                                    </li>
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.75"><a
                                                                            href="<%= platformData.youtube %>"><em
                                                                                class="social-icon fab fa-youtube"></em></a>
                                                                    </li>
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.8"><a
                                                                            href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>"><em
                                                                                class="social-icon fab fa-github"></em></a>
                                                                    </li>
                                                                </ul>
                                                                <div class="copyright-text copyright-text-s3 ">
                                                                    <p><span class="d-sm-block">판권 소유. © 2020,
                                                                            DoubleHands
                                                                        </span></p>
                                                                </div>
                                                                <div style="font-size: 14px;margin-top: 20px"><a
                                                                        href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">스마트
                                                                        계약 관리</a></div>
                                                                <div style="font-size: 14px"><a href="/terminos"">이용 약관</a>
                                                                </div>
                                                                <div style=" font-size: 14px"><a
                                                                            href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">오픈
                                                                            소스</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->



                        </div>
                    </div>
                </div><!-- .nk-banner -->
                <div class="nk-ovm mask-c-dark shape-v mask-contain-bottom"></div>

                <!-- Place Particle Js -->
                <div id="particles-bg" class="particles-container particles-bg" data-pt-base="#00c0fa"
                    data-pt-base-op=".3" data-pt-line="#2b56f5" data-pt-line-op=".5" data-pt-shape="#00c0fa"
                    data-pt-shape-op=".2"></div>
            </div>
            <!-- .header-banner @e -->
        </header>

        <div id="tx-alert-success"
            style="position: fixed; bottom: 0; left:0; right: 0; margin: auto; background-color: #39d884; width: 100%; z-index: 20;  padding: 16px 64px; display: none;">
            <div style="color: white; font-weight: 500; font-size: 2em; ">보낸 거래</div>
            <div style="color: white; font-weight: 500; font-size: 1.2em;">거래 상태는 여기에서 확인할 수 있습니다.
                <a style="color: #0c195a; font-weight: 500; text-decoration: underline;" href=""
                    id="signup-tx">etherscan.io</a></div>
        </div>

        <div id="tx-alert-error"
            style="position: fixed; bottom: 0; left:0; right: 0; margin: auto; background-color: #dc3545; width: 100%; z-index: 20;  padding: 16px 64px;display:none ">
            <div style="color: white; font-weight: 500; font-size: 2em; ">거래를 보내는 중 오류 </div>
            <div style="color: white; font-weight: 500; font-size: 1.2em;">작업을 수행하는 중 예기치 않은 오류가 발생했습니다.
            </div>
        </div>

        <div class="modal fade" id="metamaskModal" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em
                            class="ti ti-close"></em></a>
                    <div class="modal-body p-md-4 p-lg-5">

                        <div class="row">
                            <div class="col-10 offset-1 text-center">
                                <h3 class="title title-md">MetaMask 다운로드</h3>
                                <a href="https://metamask.io/"><img src="/images/dark/download-metamask-dark.png"
                                        alt=""></a>
                                <p style="text-align: justify;margin-top:20px">플랫폼을 자동으로 등록하고 들어가려면 Ethereum wallet,
                                    MetaMask for browser를 설치해야합니다.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="preloader"><span class="spinner spinner-round"></span></div>

    <!-- JavaScript -->
    <script src="assets/js/jquery.bundle.js?ver=192"></script>
    <script src="assets/js/scripts.js?ver=192"></script>
    <script src="assets/js/charts.js"></script>
    <script>

        $(document).ready(function () {

            $("#headerImg").addClass("imageRot")

            setTimeout(function () {
                $("#headerImg").removeClass("imageRot")
            }, 22200)

            $('#headerImg').click(function () {
                $("#headerImg").addClass("imageRot")
                setTimeout(function () {
                    $("#headerImg").removeClass("imageRot")
                }, 22200)
            })

            // method selection
            $('#method1').click(function (e) {
                e.preventDefault()
                $('.signupMethod').hide()
                $('.methodSelector').removeClass('active')
                $('#method1').addClass('active')
                $('#signupMethod1').show()
            })

            $('#method2').click(function (e) {
                e.preventDefault()
                $('.signupMethod').hide()
                $('.methodSelector').removeClass('active')
                $('#method2').addClass('active')
                $('#signupMethod2').show()
            })

            $('#method3').click(function (e) {
                e.preventDefault()
                $('.signupMethod').hide()
                $('.methodSelector').removeClass('active')
                $('#method3').addClass('active')
                $('#signupMethod3').show()
            })
        })
    </script>
    <script src="<%= `${host}/assets/js/bundle.js` %>"></script>
    <%- include('language_sidebar'); -%>
</body>

</html>