<%-include('header');-%>
<%-include('language_sidebar');-%>
<main class="nk-pages">
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="what">
        <div class="container">
            <!--Block@s-->
            <div class="nk-block nk-block-text-wrap">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">
                        什么是DoubleHands？</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">产生收入以分散的方式</p>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title">不是投资</div>
                            <div>无需等待</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title">不是工会</div>
                            <div>SAFELY</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title">没有销售</div>
                            <div>产品“神奇的”</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">分形数学</div>
                            <div>在其原来的形式</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">无风险</div>
                            <div>对所有人开放</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">比例和数量</div>
                            <div>发明了NATURE</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 "><img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">
                            这是聪明的合同<i class="fa fa-check remark"></i>
                            <span class="remark">经过验证</span>和<i class="fa fa-code remark"></i>
                            <span class="remark">开源</span>每个人都可以赚取尽可能多的为他想，无论是新的iPhone或新的公寓。无需偿还以后这笔钱。<a class="remark"
                                href="#">查看合同</a></p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-cubes remark"></i>复仇：第二cryptocurrency世界比特币普及后先为普及与创建智能合同的能力。智能合同：一个criptomonedas分布算法，这是不能被编辑或发布后复仇加载到网络。
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-address-card remark"></i>智能合同CRYPTOHANDS被加载到网络criptomonedas复仇，甚至在理论上，谁也不能更改或删除它，包括它的创造者。因此，没有什么，没有什么可以阻止系统的工作，即使它消失的网站或管理的关闭。该CRYPTOHANDS系统不属于任何人，而独立运营的网站。
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"><i
                            class="fa fa-user remark"></i>所有用户的账户是由不在现场智能合同维护，因此该网站的管理员不能阻止他们或删除它们。在该网站上您的帐户（无密码）CRYPTOHANDS每个帐户只有信息，从显示的智能合同复仇拍摄。因此，不可能破解一个帐户，并改变一个部件的钱包。
                    </div>
                </div>
            </div>
            <!-- .block @e -->
        </div>
    </section>
    <!-- // -->
    <!-- // -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line"><span class="line-1"></span><span class="line-2"></span><span
                        class="line-3"></span>
                    <span class="line-4">
                    </span><span class="line-5"></span><span class="line-6"></span><span class="line-7"></span>
                    <span class="line-8">
                    </span>
                </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">
                    它是如何工作的？</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">复仇需要一个钱包和0.08ETH。
                    <br>（12:08ETH =$
                    <%= (platformData.prices.eth_usd * 0.08).toFixed(2) %>USDT）
                    <br> <b>步骤0：</b>如果你没有一个钱包复仇可以查看详细信息<a style="color: #39d884" href='/faqeth'>复仇常见问题解答</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head"><span class="roadmap-time">第1步</span><span
                                            class="roadmap-title teal">注册</span><img class="roadmap-img"
                                            src="images/dark/hiwall_1.svg" alt=""></div>
                                    <p class="card-text">
                                        要注册并获得对系统的1级，你只需要0.08ETH发送到每2个月你的上线;以后你来的第一人，你回这些资金，每两个月为好。所有其它传输是在已经获得的资金为代价。页面上简单和明确的指引<a
                                            href="/signup">注册</a></p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head"><span class="roadmap-time">第2步</span><span
                                            class="roadmap-title teal">存款</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i>--><img class="roadmap-img"
                                            src="images/dark/hiwall_2.svg" alt=""></div>
                                    <p class="card-text"><span class="">登录到您的帐户</span>只用你的钱包复仇的地址（<span
                                            class="">没有密码</span>）。密码不是必需的，因为您的帐户是在合同中智能，网站不上了。因此，您的帐户无法阻止或从系统中删除;即使该网站的管理。此外，你的钱包复仇无法被黑客攻击或更改。
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head"><span class="roadmap-time">第3步</span><span
                                            class="roadmap-title teal">拉下线</span><img class="roadmap-img"
                                            src="images/dark/hiwall_3.svg" alt=""></div>
                                    <p class="card-text">有四种方法来获得推介：</p>
                                    <ul class="list list-dot card-text">
                                        <li>吸引请示你的结构DoubleHands</li>
                                        <li>获取你的上线提及的“溢出”（如期在合同智能）。</li>
                                        <li>等待系统会为自己提供免费推荐。</li>
                                        <li>你引用CryptoHands，原子会变得DoubleHands引用。</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head"><span class="roadmap-time">第4步</span><span
                                            class="roadmap-title teal">获得收入</span><img class="roadmap-img"
                                            src="images/dark/hiwall_4.svg" alt=""></div>
                                    <p class="card-text">从合同直接向智能钱包复仇获取自动交易。根据下表，第一级被转移0.16ETH，在下一水平ETH 0.64和2.56在第三ETH。
                                        （总共8个等级，每月租金3500ETH收入，每年40000ETH收入）。
                                        <span style="font-weight: bold;">一个不需要接受交易或要求付款。这些资金直接到你的钱包。</span>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head"><span class="roadmap-time">第5步</span><span
                                            class="roadmap-title teal">每月重复</span><img class="roadmap-img"
                                            src="images/dark/hiwall_5.svg" alt=""></div>
                                    <p class="card-text">
                                        如果你有超过3500名匿名ETH和510个下线（图中给出的结果的例子，并不是前提条件）。下一步做什么？它可以每两个月重复，同时保持结构。少的人留在旧的结构将是他们的收入。他rerferencias无效，被遗弃，一个“门”在同一行上所有的证明，在闲置的情况下。
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head"><span class="roadmap-time">第6步</span><span
                                            class="roadmap-title teal">下一步是什么？</span><img class="roadmap-img"
                                            src="images/dark/hiwall_6.svg" alt=""></div>
                                    <p class="card-text">
                                        没有人可以关闭帐户，停止支付或更改系统，因为合同被加载到智能网络复仇。您不能删除或更改。他们可以邀请转诊没有一个网站，并参考直接连接到智能合同。因此，系统会长期存在，因为DoubleHands复仇，只要上网本将存在。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4"><a href="/comofunciona"
                        class="btn btn-grad">看到它是如何工作的详细信息</a></div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="container ov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">派息比率</h2>
                </div>
                <!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid #10122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">水平</th>
                                <th>价格</th>
                                <th>介绍人</th>
                                <th>收入</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" />
                                        <span class="blue" style="font-weight: bold;">0.08</span>ETH</td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">0.16</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.16</span>ETH</td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">0.64</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.32</span>ETH</td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">2.56</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.64</span>ETH</td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">10.24</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">1.28</span>ETH</td>
                                    <td>32</td>
                                    <td><span class="teal" style="font-weight: bold;">40.96</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#6</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span> ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">163.84</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#7</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">5.12</span> ETH</td>
                                    <td>128</td>
                                    <td><span class="teal" style="font-weight: bold;">655.36</span> ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">#8</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" /><span
                                            class="blue" style="font-weight: bold;">10.24</span> ETH</td>
                                    <td>256</td>
                                    <td><span class="teal" style="font-weight: bold;">2621.44</span> ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">你在总增益：<img src='images/dark/eth-white.png'
                                        class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span>ETH每两月和每年发生两万ETH。<span
                                        style="color:#ff3b30">*</span>
                                    <spanstyle="color: #ffe620">**</span> <span style="color: #39d884 ">***</span>
                                </div>
                                <div style="font-size:14px">严格收入：ETH 3495.2 20971.2每64年天ETH。净利润：为64天ETH 3474.8
                                    20848.8和ETH每年。</div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color:#ff3b30">*</span>ETH
                                20000每年量的理论最大可能的好处，这几乎是不可能实现与在第一年各级单一步骤，以及接收它趋向于0％的可能性。</div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color: #ffe620">**</span>在实践中，在现实条件下，它是很现实的一半的量，接收的概率趋于100％，即使完全通过所有级别</div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #39d884 ">***</span>但与“重复”功能ETH
                                20,000（多了，多亏了无效参考）的可能性趋于100％DOUBLEWAY的每个参与者</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block @e -->
    </section>
    <!-- // -->
    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="section bg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">好处</h2>
            </div>
            <!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">无风险</div>
                            <div class="advantage-desc-left">您在项目成本不会越过0.08
                                ETH两个月，将与第一引荐返回。没有“支付应用程序”，你不需要等待。您的资金被立即传送到你的钱包。</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">不请自来</div>
                            <div class="advantage-desc-left">系统找到引用USTE本身。参与者不带有链接referncia到达，成为这些巩固和那些谁以前购买1级用户之间平均分配。
                            </div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">从你的上线下线</div>
                            <div class="advantage-desc-left">
                                当2个插槽先填写您的上升线，以第八等级，客人推介会是你的，或者说contertirán自己的推荐中，你还可以得到的利润。</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">推荐Inactivos</div>
                            <div class="advantage-desc-left">不活跃简称乘以你的奖金。如果您的推荐是5日线向上无效的，那么你得到进一步的32个+ 31传送多个与5日线的所有交易。
                            </div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">CryptoHands连接</div>
                            <div class="advantage-desc-left">
                                参考链接CryptoHands和DoubleHands被连接;这就是为什么它能够扩大在这两个项目之一的单一结构，以及其他项目的结构，自动建立。</div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;"><img class="banner-gfx-icon banner-gfx-icon-1"
                            src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">
                                这是一个没有中央控制系统。人的因素（包括板管理员）是完全不存在。没有人能阻止，修改系统或扣压资金。智能开源合同不能被删除复仇网络。</div>
                            <div class="advantage-value-right teal">分权共有</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">
                                项目管理没有获得资金，所有的计算和传输是通过智能合同制造（这是不可能改变），并立即将所有资金重定向到相应的复仇钱包。</div>
                            <div class="advantage-value-right teal">代表团之间的交易</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">即使该项目的网站不复存在，现有的合同智能系统将在块复仇的链条永远留。</div>
                            <div class="advantage-value-right teal">无法停止系统</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">
                                获得的收益可以每年重复。虽然人们在你的结构较少使用此功能，更大的利润。所有未使用的推荐也是一个“关口”的所有转诊到同一水平。</div>
                            <div class="advantage-value-right teal">功能“更新”</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">
                                由于简化注册“通过CryptoHands”可以从CryptoHands加入你的上线;此外，您引用CryptoHands可以自动成为DoubleHands引用。</div>
                            <div class="advantage-value-right teal">通过CryptoHands注册</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">这些都只是一些优势。你有什么问题吗？
                <br> <a href="/faq" style="color: #39d884 !important" class="">参见常见问题解答</a>
                <br> <a href="/faq" style="color: #39d884 !important">请参阅有关的常见问题复仇</a></div>
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light " id="partners">
        <div class="">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm tc-light">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">
                    实时统计
</h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <i class="fa fa-users" style="font-size:6em"></i>
                            </div>
                            <div>
                                <h3><%= platformData.totalUsers %></h3>
                                <div>参加人数
                                </div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table text-center" style="width: 100%;">
                                    <tr>
                                        <td class="stats-level-title">等级 1</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[0].total %></td>
                                        <td class="stats-level-title">等级 2</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[1].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">等级 3</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[2].total %></td>
                                        <td class="stats-level-title">等级 4</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[3].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">等级 5</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[4].total %></td>
                                        <td class="stats-level-title">等级 6</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[5].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">等级 7</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[6].total %></td>
                                        <td class="stats-level-title">等级 8</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[7].total %></td>
                                    </tr>
                                </table>

                            </div>
                            <div class="token-action" style="margin-top:20px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login">登入
</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <img src="images/dark/points.svg" style="height: 100px; width: auto" alt="">
                            </div>

                            <div>
                                <h3>12636</h3>
                                <div>来宾在线</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table">
                                    <tr>
                                        <td class="stats-left">项目年限
                                        </td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.projectTime %></span> años
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">交易次数</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.total %></span></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">Txs 24小时</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:55px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup">开设账户
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px">
                                <img src="images/dark/eth-white.png" style="height: 100px; width: auto" alt="">
                            </div>
                            <div style="margin-top:20px">
                                <table id="txs-table" class="table">
                                    <tr>
                                        <td class="stats-left">相当于 BTC</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.btc_volume %></span> BTC
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">相当于 $</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">最近24小时</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>
                                            ETH</td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">1 ETH</td>
                                        <td class="stats-right">= <span class="teal"
                                                style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>
                                            USDT</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:80px">
                                <a class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                    href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">查看地址
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>

    <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
        <div class="transform-line"></div>
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Transacciones">新交易
                </h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="row">
                <div class="col-mb-10 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                    <table class="table text-center" style="">
                        <thead>
                            <th style="padding: 0;" class="teal">日期
                            </th>
                            <th style="padding: 0;" class="teal">等级
                            </th>
                            <th style="padding: 0;" class="teal">数量
                            </th>
                            <th style="padding: 0" class="teal">目的地
                            </th>
                        </thead>
                        <tbody>
                            <% for(let tx of platformData.moneyTxs) {%>
                            <tr>
                                <td>前 <span class="timeSince"><%= tx.time %></span></td>
                                <td><%= tx.level %></td>
                                <td><%=  platformData.levels[tx.level].price %></td>
                                <td><a href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>"><%= tx.userAddress %></a>
                                </td>
                            </tr>
                            <% } %>

                        </tbody>
                    </table>
                    <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue"><a
                            href="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>">所有统计信息均可在Etherscan上获得
                        </a></div>
                </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>


    <section class="section bg-theme bg-theme-dark tc-light" id="faqs" style="height: 100vh;overflow: hidden;">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">常问问题</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">我们知道您可能对系统的操作问题。</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">系统</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">注册</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">介绍人</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">水平</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">功能“重复”</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">风险</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">
                                            之前类似系统的出现已经存在criptomonedas为什么好？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>是的，的确，存在了5年，互联网出现之前这样的系统，并且他们的工作。然而，他有几大问题：<br><br>1）不同的支付系统不断阻挡钱包参会。<br>2）在人的因素和不断的过程，谁转移的资金给谁，谁形式的所有由此带来的后果确认手动转移是没有的。<br>3）无复发。一个人一旦创建了一个结构，一旦收到钱，虽然比较大。然后，他们把所有的曲折深入到结构，并且参与者没有得到更多。<br>4）关闭或黑客网站意味着系统的封锁，有时黑客网站。<br><br>该Criptomonedas和复仇解决所有这些问题：<br><br>1）电子钱包甚至不能在理论上被阻止。在硬币的反面：在任何情况下，做你的钱包不会失去控制。这将是不可能与别人取代你的钱包。<br>2）公共事务和即时自动确认。人的因素被完全排除。<br>3）我们做了“重复”功能，它在与会者在其他系统之前应用。一旦你创建一个结构，每年获得的收入。如果有人在你的结构不每年延长其参与，你的收入增加了很多倍。更多页它是如何工作的“重复”部分。
                                                    4）关闭或劫持以任何方式影响现场系统的操作中，当智能CRYPTOHANDS合同被加载到所述主网络复仇，没有人可以将其删除，包括它的开发。<br><br>这意味着，在人类历史上第一次（无论多么声音响亮），有一个真正的100％的保证，该帐户将不被盗版，甚至在理论上当网站被关闭，智能合同系统本身将继续反正存在。<br>此外，世界上任何一个程序员可以创建基于相同的智能合同和结构的任何领导人可以使相同的智能合同上的站点结构上的一个新的站点。因此，该系统免受该项目的管理采取任何行动。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">如何赚钱吗？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>Rápidop入门指南是在<a href="#">家</a>在“如何运作”一节。<br>详细说明是一个单独的页面上。<a
                                                        href="#">它是如何工作</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">什么是保证他们不会关闭或挡住我的帐户？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>这是最重要的问题之一！<br><br>对于在人类历史上第一次，有99％，而100个％保证没有人可以阻止你的钱包或您的帐户，包括项目（这是cryptocurrency的功能）的管理。<br><br>该guaratees都写在页面上。它是如何工作的最后一个“担保”点。<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">
                                            如何DoubleHands注册？<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>通过注册登录（电子邮件或电话）和密码是一个过时的概念。由于访问邮件的丢失意味着丢失访问该帐户。<br><br>在成功购买了线的第1级是升序注册的事实。<br><br>简要指南是存在于页SIGN。<br><br>详细指导如何运作的部分“注册”。<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">是否有可能不上线（邀请）来注册？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>这是不可能登录到系统中，而上线。如果没有指定的上线，智能合同将不接受该交易。这是思想水平的根本点之一。<br><br>字段“数据”不评论或钱包的一个附加功能。这是链本身复仇块的一个组成部分。<br><br>而经由邀请者的推荐链接或QR码的自动登记，所有数据，包括与您的上线的地址“数据”字段中，则自动指定。只要按一下按钮“注册在一次点击。”<br><br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">如何访问您的帐户？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>你可以在页面SIGNING访问您的帐户<br><br>您登录到您的帐户是完全没有密码和帐号无法被黑客攻击或阻塞。<br><br>了解如何登录到您的帐户上的工作原理页中的“登录”。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">
                                            我需要吸引下线？<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>尽管该系统的基础是从引用建立一个结构，并引用您的利益之源，一个有趣的事实是，需要引用。<br><br>除了邀请时，你可以从两个方面得到引用：“溢出”和“无参考”。对于这些方法，在下面的段落阅读以下内容。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">有多少下线可以邀请以及它们是如何分配的？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>就个人而言，我只能邀请2个引用，它直接连接到你和被称为“引用一号线。”<br><br>2个引用1号线（由您亲自邀请）还邀请他引用2。这些参与者结构4是“引用第2行”。<br><br>然后，通过类比，它具有参照图8和参考文献第三线16线4。<br><br>如果继续邀请引用时已经有两个，后续引用连接到其结构的深度，成为依此类推，直到第10行第2，第3的引用。这就是所谓的“溢出”。您可以在下面的段落“是什么”溢出“？”看到更多的“溢出”。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">什么是“溢出”？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>溢流是从他们的所有行的上线，获得转诊的方法，该方法，填充所有间隙与2个请示，再下一个经过提及“溢出”，即给你。<br><br>例：priumera上线（邀请者到系统）邀请了两个引用，并继续邀请更多，或者不立即停止广告。第三个参考值将是你的“溢出”。<br><br>注意：溢出不仅填补其所有行8完全，但也落入线10，1536中的所有线路8填充在除了其参考结构510更多的空间的下方。<br><br>线10之后，气体量变得小于付款金额。更重要的是，过度由cryptocurrency复仇本身的限制，因为最大可能的限度复仇气体是8000000。因此，通过智能合同无穷溢出的定义是不可能的。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">什么的“溢出”的工作路线？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>简述：<br><br>如果没有通过智能合同线5包容性网站。溢出线运行，直到10包容性。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">什么是“自由转诊”？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>无偿引用是谁已经前来出于某种原因不推荐链接系统的成员。<br><br>无偿引用均匀分布于整个系统，并与先前被记录在系统的上行线开始。<br><br>重要说明：引用自由穿过智能合同NO系统分布的，而是由网站系统。<br><br>这是一个让聪明合同的唯一的事情，这是为什么：<br><br>如果引用是免费的通过与系统的生长智能合同分布会消耗大量的石头大量气体，这将不利于用户。其他的一切，包括“溢出”被智能合同分配。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">我可以邀请引用不买的第一级？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>你可以，但会成为自由转诊和到达系统的其他成员，而不是你。由于购买1级，系统会先不“知道”。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">
                                            什么是系统中的水平？<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>等级：这是授予在它的“深度”因此引用获得报酬权的状态。<br><br>例如：<br>1级你有权获得奖励购买了2亲自邀请引用的1级（转诊1号线）。<br>等级2为您提供了获得奖励购买2级参考4个客人为他们的客人正确的个人参考文献2以上（参考文献2线）。<br>3级你有权获得奖励购买3级引用8号线3。<br>6级你有权获得奖励购买64平6基准线6。<br><br>7级赋予你获得奖励购买128
                                                    7的参考线7。<br><br>而最后的第八等级赋予你获得奖励购买8行8所引用的第八级。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2">如果我有2级能买到4级不立即3级？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>水平只购买顺序和秩序。如果你尽量买4级，而无需第三，智能合同将不接受转让。在这种情况下，钱是不会去任何地方，并会陪着你。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3">会发生什么，如果我的推荐，例如，3号线，3级想买，但我仍然只有2级系统？<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>将发生以下情况：<br><br>坏消息：<br>这些钱不会去给你，但你的上线在同一条线上，在这种情况下，第3位。如果您在购买时的水平，这将不会发生。此外，所有后续的水平（除第一个），并从赚来的，不是自己的钱购买的。此外。你提前看到当情况变得“危险”，并有足够的时间来购买每个级别。<br>如果发生过一次，不可怕，因为在每个级别（除第一）增益大许多倍的水平的成本，甚至在以后的购买水平，所有后续的购买资金的后一种情况下同级引用的其余部分他们去给你。<br><br>好消息：<br>如果从你的推荐人不买的水平的时候，你的钱将告诉你。如果您引用的一个连，例如，3号线，由于某种原因，从系统退休（例如，失去了获得钱包），然后所有引用8的第三行转让款（不是他）
                                                    YOU！到3号线的所有其他引用您还汇款。<br>一个实例中，给出了参考。如果有两个或更多？你的收入增加了很多倍。<br><br>结果是：更拒绝或无效参考在其结构中，那些最有有时会被你的收入
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">
                                            什么是功能“重复”，为什么有必要吗？<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>“重复”功能是一个选项，可以让你重复的收益每个月获得的所有的时间。此外，每一个离开了系统的倍增奖励引用。<br><br>工作原理进行了详细页上介绍。<a
                                                        href="#">它是如何工作</a>在“重复”。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">如果你在一个月内延伸的水平会发生什么？<span
                                            class="accordion-icon accordion-icon-s2"></span></h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>您的帐户仍保留在系统中，直到永远，在任何时间可以延长，并再次获得收入水平。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1">
                                            版权是什么？<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>是的，因为没有人强迫你汇款给任何人。所有的交易都是自愿的。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">版权是什么？<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>是的，因为没有人强迫你汇款给任何人。所有的交易都是自愿的。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">有没有风险吗？如果是这样，什么？<span
                                            class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>整个网站，我们写在系统中没有任何风险。通过这一点，我们说所有的钱被立即传送到你的钱包，并储存起来。这意味着没有风险。<br><br>然而，这是值得考虑的是，在注册他们的第一个参考的记录之间的时间间隔，这种情况，他转移到他的上线是创造0.08
                                                ETH，但尚未收到第一参考。<br>因此，在技术上的最大理论风险为0.08 ETH。这些ETH
                                                0.08将立即从第一参考返回。<br><br>即使明确没有邀请任何引用，你迟早会在没有他们的参与，通过以下方式接收推荐：<br>1）溢出其上升线，<br>2）自由参考系统。<br><br>因此，即使这种象征性的风险趋近于0。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>