<%- include('dash_header'); -%>
<div id="right-col" class="pa-right-col" style="min-height: 0px; margin-bottom: 0px;">

    <div class="row">
        <div class="col-mb-12 col-sm-12 col-md-12 col-lg-12">
            <div class="pa-well text-center ">
                <h3 style="color: white;padding:30px 0px">
                    交易次数</h3>

                <div>
                    <ul class="tab-list text-center" style="margin-bottom: 40px;display:flex">
                        <li data-table="1" class="methodSelector active"><a href="#tab_1" data-toggle="tab"
                                class="pa-btn pa-btn--tab" aria-expanded="true">已收到
                            </a></li>
                        <li data-table="2" class="methodSelector"><a href="#tab_2" data-toggle="tab"
                                class="pa-btn pa-btn--tab" aria-expanded="false">
                                我的交易</a></li>

                        <li data-table="3" class="methodSelector"><a href="#tab_3" data-toggle="tab"
                                class="pa-btn pa-btn--tab" aria-expanded="false">

                                额外利润</a></li>
                        <li data-table="4" class="methodSelector"><a href="#tab_3" data-toggle="tab"
                                class="pa-btn pa-btn--tab" aria-expanded="false">
                                利润损失</a></li>
                    </ul>
                </div>
                <div class="row" style="margin-top:30px;margin-bottom:30px">
                    <div class="col-mb-12 text-center">
                        <table id="inTxs" class="table table-responsive  table-hover tx-container"
                            style="margin: 0px auto; width: 50% !important; margin-top:40px">
                            <thead>
                                <th style="width: 25%;text-align: left;">来自</th>
                                <th>数量</th>
                                <th>#</th>
                                <th>日期</th>
                            </thead>
                            <tbody>
                                <% let i = 1 %>
                                <% for(tx of userData.levelUps) { %><tr>
                                    <td><a href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>"><%= tx.referral %></a>
                                    </td>
                                    <td><%= platformData.levels[tx.level].price %> ETH</td>
                                    <td><%= i %></td>
                                    <td class="date"><%= tx.time %></td>
                                </tr>
                                <% i++ %>
                                <% } %>
                            </tbody>
                        </table>
                        <!-- My Txs -->
                        <table id="myTxs" class="table table-responsive  table-hover tx-container"
                            style="margin: 0px auto; width: 50% !important;display:none; margin-top:40px">
                            <thead>
                                <th style="width: 25%;text-align: left;">
                                    上升线</th>
                                <th>数量</th>
                                <th>#</th>
                                <th>日期</th>
                            </thead>
                            <tbody>
                                <% i = 1 %>
                                <% for(tx of userData.myTxs) { %><tr>
                                    <% if(tx.name == 'regLevelEvent') %>
                                    <td><a
                                            href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>"><%= tx.name == 'regLevelEvent' ? tx.referrer : tx.tx.input %></a>
                                    </td>
                                    <td><%= platformData.levels[tx.name == 'regLevelEvent' ? 1 : tx.level].price %> ETH
                                    </td>
                                    <td><%= i %></td>
                                    <td class="date"><%= tx.time %></td>
                                </tr>
                                <% i++ %>
                                <% } %>
                            </tbody>
                        </table>

                        <div id="extraEarnings" class="tx-container" style="display: none; margin-top: 40px">
                            <div class="row">
                                <div class="col-mb-8  offset-mb-2 col-md-8 offset-md-2">
                                    <h5 style="color: white;text-align: justify;">您的额外收入是您的收入损失
                                        无效和无效的推荐。
                                        由于计算的优化，额外收入与主要收入一起显示在“已收交易”部分中.</h5>
                                </div>
                            </div>
                        </div>

                        <div id="lostEarnings" class="tx-container" style="display: none; margin-top: 40px">
                            <div class="row">
                                <div class="col-mb-8  offset-mb-2 col-md-8 offset-md-2">
                                    <h5 style="color: white;text-align: justify;">
                                        利润损失-是您从某一行购买了一个推荐人；如果您仍未达到该水平。在这种情况下，资金将直接定向到确定行的上升行，您可以从中购买该水平。
                                        <br> 例如，第三方推荐人想购买第三级，但您仍然不购买第二级。在这种情况下，这笔钱将被重定向到您的第三行上线 <br><br>
                                        在2种情况下会产生利润损失:<br><br>

                                        1）如果您购买了第一个级别，并且随后的每个级别都使用已经从系统中收到的资金逐步购买了，但是它们的参考
                                        他们预先购买了多个级别。这是正常情况，预示着快速增长。他们的利益丧失
                                        以相同方式出现的引荐最终将成为额外收入，并多次增加您的收入。从第二个月开始，您将收到每个级别的每个推荐人的所有款项。<br><br>
                                        2）如果您不按时购买等级，或一个月后不更新等级。在这种情况下，您应该收到的钱将被定向到确定行的上升行。您可以购买或续订一定数量的水平，然后您将再次开始获得利润。您的帐户将永远保留在系统中。<br><br>
                                        如果您的级别处于活动状态，那么即使您的推荐人购买了多个月的同一级别，所有资金也将直接归您所有。如果您没有推荐活动，那么他们在相应级别获得的所有收入都将归您所有。
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>




    <%- include('dash_footer'); -%>