<%-include('header');-%>
<%-include('language_sidebar');-%>
<main class="nk-pages">
    <section class="sectionmask-c-blend-darkbg-theme-dark-alttc-lightov-h" id="what">
        <div class="container">
            <!--Block@s-->
            <div class="nk-blocknk-block-text-wrap">
                <div class="section-headtext-centerwide-auto-sm">
                    <h2 class="titletitle-s4animated" data-animate="fadeInUp" data-delay=".1" title="DOUBLEHANDS">
                        DoubleHandsक्याहै?</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".2">एकविकेन्द्रीकृततरीकेसेआयउत्पन्न</p>
                </div>
                <div class="rowalign-items-centerjustify-content-centerjustify-content-md-betweengutter-vr-30px">
                    <div class="col-mb-9col-sm-7col-md-4col-lg-4">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-calendar-alt"></div>
                            <div class="card-title">नहीं एक निवेश</div>
                            <div>सं नीड के लिए इंतजार</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-chart-line"></div>
                            <div class="card-title">नहीं एक व्यापार</div>
                            <div>सुरक्षित रूप से</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-capsules"></div>
                            <div class="card-title">कोई बिक्री</div>
                            <div>उत्पादों "जादुई"</div>
                        </div>
                    </div>
                </div>
                <!-- .row-->
                <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-project-diagram"></div>
                            <div class="card-title">भग्न गणित</div>
                            <div>अपने मूल रूप में</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-dove"></div>
                            <div class="card-title">जोखिम मुक्त</div>
                            <div>सुलभ सभी</div>
                        </div>
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 ">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9" style="visibility: visible; animation-delay: 0.9s;">
                            <div class="card-icon fa fa-percentage"></div>
                            <div class="card-title">अनुपात और संख्या</div>
                            <div>प्रकृति द्वारा आविष्कार</div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <div class="row justify-content-center" style="margin-top: 50px">
                    <div class="col-mb-10 col-sm-7 col-md-10 col-lg-10 "> <img src="images/dark/eth-white.png"
                            style="visibility: visible; animation-delay: 0.2s; max-width:8%; float: left">
                        <p class="animated fadeInUp" data-animate="fadeInUp" data-delay=".2"
                            style="visibility: visible; animation-delay: 0.2s; margin-top:5px;text-align: justify;">यह
                            स्मार्ट अनुबंध है<i class="fa fa-check remark"></i>
                            <span class="remark">सत्यापित</span>और<i class="fa fa-code remark"></i>
                            <span class="remark">खुला स्रोत</span>जहां हर कोई के रूप में ज्यादा के रूप में वह चाहता है
                            कमा सकते हैं, एक नया iPhone या एक नए अपार्टमेंट या तो। बाद में इस पैसे चुकाने के लिए कोई
                            ज़रूरत नहीं।<a class="remark" href="#">अनुबंध देखें</a></p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center justify-content-md-between "
                    style="margin-top: 40px">
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;"> <i
                            class="fa fa-cubes remark"></i>Ethereum: Bitcoin लोकप्रियता बाद दुनिया का दूसरा
                        cryptocurrency और बुद्धिमान अनुबंध बनाने की क्षमता के साथ लोकप्रियता के लिए पहले। स्मार्ट
                        अनुबंध: एक criptomonedas वितरण एल्गोरिथ्म, जो संपादित नहीं किया जा सकता है या प्रकाशित ethereum
                        के बाद नेटवर्क में लोड।</div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;">
                        <iclass="fa fa-address-card remark">
                            </i>बुद्धिमान अनुबंध CRYPTOHANDS नेटवर्क criptomonedas ethereum में लोड और, यहां तक ​​कि
                            सिद्धांत रूप में, कोई भी इसे बदल सकते हैं या हटा सकते हैं, इसके निर्माताओं सहित है। इसलिए,
                            कुछ भी नहीं है और कुछ भी नहीं प्रणाली के काम करना बंद कर सकते, भले ही वह साइट या प्रशासन के
                            बंद होने गायब हो जाता है। CRYPTOHANDS प्रणाली किसी से संबंध रखते हैं और साइट के स्वतंत्र रूप
                            से संचालित नहीं करता है।
                    </div>
                    <div class="col-mb-9 col-sm-7 col-md-4 col-lg-4 eth-text" style="margin-top: 10px;">
                        <iclass="fa fa-user remark">
                            </i>सभी उपयोगकर्ताओं के खातों, साइट पर नहीं बुद्धिमान अनुबंध द्वारा बनाए रखा जाता है, ताकि
                            साइट के व्यवस्थापक उन्हें नहीं रोक सकते हैं या उन्हें हटा दें। साइट पर आपके खाते (कोई
                            पासवर्ड) में प्रत्येक खाते पर केवल जानकारी से पता चला बुद्धिमान अनुबंध ethereum से लिया
                            CRYPTOHANDS। इसलिए, यह एक खाता हैक और एक सदस्य के बटुए को बदलने के लिए असंभव है।
                    </div>
                </div>
            </div>
            <!-- .block @e -->
        </div>
    </section>
    <!-- // -->
    <!-- // -->
    <section class="section section-tokensale tc-light bg-theme-dark" id="funcionamiento">
        <!-- Block @s -->
        <div class="container">
            <div class="section-head text-center wide-auto-sm tc-light">
                <div class="section-head-line"> <span class="line-1"></span><span class="line-2"></span>
                    <span class="line-3">
                    </span><span class="line-4"></span> <span class="line-5"></span>
                    <span class="line-6">
                    </span><span class="line-7"></span><span class="line-8"></span> </div>
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Funcionamiento">यह
                    कैसे काम करता है?</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">Ethereum एक बटुआ और 0.08ETH की जरूरत है।
                    <br>(12:08ETH = $
                    <%= (platformData.prices.eth_usd * 0.08).toFixed(2) %>USDT)
                    <br> <b>चरण 0:</b>अगर आपकी वॉलेट ethereum अधिक विवरण देख सकते हैं नहीं है, तो<a
                        style="color: #39d884" href='/faqeth'>Ethereum पूछे जाने वाले प्रश्न</a></p>
            </div>
            <!-- Block @s -->
            <div class="nk-block nk-block-roadmap">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadmap-wrap">
                            <div class="roadmap-line"></div>
                            <div class="roadmap roadmap-left  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step">
                                    <div class="roadmap-head"> <span class="roadmap-time">चरण 1</span> <span
                                            class="roadmap-title teal">रजिस्टर</span> <img class="roadmap-img"
                                            src="images/dark/hiwall_1.svg" alt=""> </div>
                                    <p class="card-text">रजिस्टर करने के लिए और सिस्टम पर स्तर 1 मिलता है, आप केवल अपने
                                        upline हर 2 महीने के लिए 0.08ETH भेज दिया; और पहले व्यक्ति है कि आप के बाद आया
                                        है, तो आप इन फंडों, साथ ही हर दो महीने में वापस। अन्य सभी स्थानान्तरण धन पहले से
                                        ही जीता की कीमत पर बना रहे हैं। पृष्ठ पर सरल और स्पष्ट गाइड<a
                                            href="/signup">पंजीकरण</a></p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right  animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-2">
                                    <div class="roadmap-head"> <span class="roadmap-time">चरण 2</span> <span
                                            class="roadmap-title teal">जमा</span>
                                        <!-- <i class="fa fa-user roadmap-img"></i> --><img class="roadmap-img"
                                            src="images/dark/hiwall_2.svg" alt=""> </div>
                                    <p class="card-text"><span class="">अपने खाते में लॉगिन</span>अपने बटुए ethereum का
                                        ही पते का उपयोग करना (<span class="">कोई पासवर्ड</span>)। पासवर्ड की आवश्यकता
                                        नहीं है क्योंकि आपका खाता एक अनुबंध स्मार्ट में है, और नहीं वेबसाइट पर। इसलिए,
                                        आपका खाता अवरोधित नहीं किया जा सकता या सिस्टम से हटा; यहां तक ​​कि वेबसाइट के
                                        प्रशासन द्वारा। इसके अलावा, अपने पर्स ethereum है या उसे हैक नहीं किया जा सकता
                                        बदल दिया है।</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-3">
                                    <div class="roadmap-head"> <span class="roadmap-time">चरण 3</span> <span
                                            class="roadmap-title teal">प्राप्त रेफ़रल</span> <img class="roadmap-img"
                                            src="images/dark/hiwall_3.svg" alt=""> </div>
                                    <p class="card-text">वहाँ रेफरल प्राप्त करने के लिए चार तरीके हैं:</p>
                                    <ul class="list list-dot card-text">
                                        <li>अपने संरचना DoubleHands को रेफरल आकर्षित</li>
                                        <li>"अतिप्रवाह" (अनुबंध स्मार्ट में अनुसूचित के रूप में) करने के लिए अपने upline
                                            संदर्भ प्राप्त करें।</li>
                                        <li>के लिए प्रणाली खुद के लिए मुफ्त रेफरल प्रदान करेगा प्रतीक्षा करें।</li>
                                        <li>आपका संदर्भ CryptoHands, atomically DoubleHands संदर्भ बन जाएगा।</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-4">
                                    <div class="roadmap-head"> <span class="roadmap-time">चरण 4</span> <span
                                            class="roadmap-title teal">आय प्राप्त करते हैं</span> <img
                                            class="roadmap-img" src="images/dark/hiwall_4.svg" alt=""> </div>
                                    <p class="card-text">अनुबंध अपने पर्स ethereum के लिए सीधे बुद्धिमान से स्वत:
                                        लेन-देन प्राप्त करें। निम्न तालिका के अनुसार, प्रथम स्तर 0.16ETH स्थानांतरित कर
                                        रहा है, अगले स्तरETH 0.64 और 2.56 तीसरेETH में कम से। (कुल 8 स्तर, प्रति माह
                                        3500ETH आय, प्रति वर्ष 40000ETH आय)।<span style="font-weight: bold;">एक लेन-देन
                                            या अनुरोध भुगतान स्वीकार जरूरत नहीं है। धन अपने बटुए पर सीधे आते हैं।</span>
                                    </p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-5">
                                    <div class="roadmap-head"> <span class="roadmap-time">चरण 5</span> <span
                                            class="roadmap-title teal">हर महीने दोहराएँ</span> <img class="roadmap-img"
                                            src="images/dark/hiwall_5.svg" alt=""> </div>
                                    <p class="card-text">आप एक से अधिक 3,500 गुमनामETH और 510 रेफरल है (आंकड़े एक परिणाम
                                        का एक उदाहरण के रूप में दिया जाता है और एक शर्त नहीं हैं)। आगे क्या करना है?
                                        जबकि एक संरचना को बनाए रखना यह हर दो महीने में दोहराया जा सकता है। और कम लोगों
                                        को उनके पुराने ढांचे में रहने अपनी आय हो जाएगा। उनकी rerferencias निष्क्रिय और
                                        छोड़ दिया, एक "दरवाजा" एक ही लाइन पर अपने सभी संदर्भों को, निष्क्रियता के मामले
                                        में।</p>
                                </div>
                            </div>
                            <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".2">
                                <div class="roadmap-step roadmap-step-6">
                                    <div class="roadmap-head"> <span class="roadmap-time">चरण 6</span> <span
                                            class="roadmap-title teal">क्या करना है?</span> <img class="roadmap-img"
                                            src="images/dark/hiwall_6.svg" alt=""> </div>
                                    <p class="card-text">कोई भी आपके खाते,, प्रणाली के लिए बंद भुगतान या किए जाने वाले
                                        परिवर्तन बंद कर सकते हैं के बाद से अनुबंध इंटेलिजेंट नेटवर्क ethereum में भरी
                                        हुई है। आप उसे हटा या परिवर्तन नहीं कर सकते। वे एक वेबसाइट के बिना रेफरल
                                        आमंत्रित कर सकते हैं, और संदर्भ एक स्मार्ट अनुबंध करने के लिए सीधे जोड़ता है।
                                        इसलिए, प्रणाली के रूप में वहाँ DoubleHands ethereum जब तक उपलब्ध नहीं होगा, और
                                        इस रूप में लंबे समय के रूप में इंटरनेट उपलब्ध नहीं होगा।</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
                <div class="text-center animated" data-animate="fadeInUp" data-delay=".4"> <a href="/comofunciona"
                        class="btn btn-grad">यह कैसे काम करता की अधिक विवरण देखें</a> </div>
            </div>
            <!-- Block @e -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light section-dark-bg" id="ganancias">
        <div class="container">
            <div class="container ov-h">
                <div class="section-head text-center wide-auto-sm">
                    <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Gana">पेआउट
                        अनुपात</h2>
                </div>
                <!-- .section-head @e -->
            </div>
            <!-- Block @s -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <table id="#ganancias-table" class="table   text-center"
                            style="margin: 0px auto;float:none;border: 2px solid #10122d;border-radius: 5px !important;background: #10122ddb;border-collapse: separate !important;table-layout: fixed; word-wrap: break-word; ">
                            <thead>
                                <th style="padding-top:50px">स्तर</th>
                                <th>कीमत</th>
                                <th>रेफ़रल</th>
                                <th>राजस्व</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#1</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.08</span>ETH</td>
                                    <td>2</td>
                                    <td><span class="teal" style="font-weight: bold;">0.16</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#2</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.16</span>ETH</td>
                                    <td>4</td>
                                    <td><span class="teal" style="font-weight: bold;">0.64</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#3</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.32</span>ETH</td>
                                    <td>8</td>
                                    <td><span class="teal" style="font-weight: bold;">2.56</span>ETH</td>
                                </tr>
                                <tr>
                                    <td>#4</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">0.64</span>ETH</td>
                                    <td>16</td>
                                    <td><span class="teal" style="font-weight: bold;">10.24</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#5</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">1.28</span> ETH</td>
                                    <td>32</td>
                                    <td><span class="teal" style="font-weight: bold;">40.96</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#6</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">2.56</span> ETH</td>
                                    <td>64</td>
                                    <td><span class="teal" style="font-weight: bold;">163.84</span> ETH</td>
                                </tr>
                                <tr>
                                    <td>#7</td>
                                    <td><img src='images/dark/eth-white.png' class="table-eth-logo" /> <span
                                            class="blue" style="font-weight: bold;">5.12</span> ETH</td>
                                    <td>128</td>
                                    <td><span class="teal" style="font-weight: bold;">655.36</span> ETH</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:50px">#8</td>
                                    <td> <img src='images/dark/eth-white.png' class="table-eth-logo" /><span
                                            class="blue" style="font-weight: bold;">10.24</span> ETH</td>
                                    <td>256</td>
                                    <td><span class="teal" style="font-weight: bold;">2621.44</span> ETH</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top:20px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-10 col-xl-12 " style="background: #10122d;">
                        <div class="row">
                            <div class="col-12 text-center" style="padding: 40px 30px 10px 30px">
                                <div style="font-size: 1.2em">कुल में आपका लाभ:<img src='images/dark/eth-white.png'
                                        class="table-eth-logo" /> <span class="teal"
                                        style="font-weight: bold;">3,500</span>ETH हर दो महीने और प्रति वर्ष 20,000
                                    ETH।<span style="color:#ff3b30">*</span> <span style="color: #ffe620">**</span>
                                    <span style="color: #39d884 ">***</span></div>
                                <div style="font-size:14px">कड़ाई से आय: ETH 3495.2 20,971.2 64 दिन और ETH प्रति वर्ष के
                                    लिए। शुद्ध आय: 64 दिनों के लिए ETH 3474.8 20848.8 और ETH प्रति वर्ष।</div>
                            </div>
                        </div>
                        <div class="row" style="text-align: center;">
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color:#ff3b30">*</span>प्रति वर्ष ETH 20000 की राशि सैद्धांतिक अधिकतम संभव
                                लाभ है, यह पहले साल के दौरान सभी स्तरों पर एक ही चरण, और यह 0% जाता प्राप्त करने की
                                संभावना के साथ प्राप्त करने के लिए लगभग असंभव है।</div>
                            <div class="col-mb-12 col-sm-4 col-4" style="padding:20px 30px 30px; font-size: 14px"> <span
                                    style="color: #ffe620">**</span>व्यवहार में, वास्तविक स्थितियों में यह इस आधा राशि
                                के लिए काफी यथार्थवादी है, और प्राप्त करने की संभावना भी सभी स्तरों के माध्यम से एक पूरी
                                पास के साथ 100% जाता है</div>
                            <div class="col-mb-12 col-sm-4  col-4" style="padding:20px 30px 30px; font-size: 14px">
                                <span style="color: #39d884 ">***</span>लेकिन "दोहराने" समारोह के साथ ETH 20,000 (और
                                अधिक, प्रयोग में नहीं संदर्भ के लिए धन्यवाद) की संभावना DoubleHands के प्रत्येक भागीदार
                                के लिए 100% जाता है</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block @e -->
    </section>
    <!-- // -->

    <style>
        .advantage-container {
            margin-bottom: 54px;
            display: block;
        }

        .advantage-value-left {
            display: inline-block;
            width: 128px;
            text-align: right;
            padding-right: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-left {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-left: 15px;
            position: relative;
        }

        .advantage-desc-left:before {
            left: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        .advantage-value-right {
            display: inline-block;
            width: 128px;
            text-align: left;
            padding-left: 15px;
            vertical-align: top;
            line-height: normal;
            padding-top: 23px;
            font-size: 18px;
            font-weight: 700;
        }

        .advantage-desc-right {
            display: inline-block;
            max-width: calc(100% - 140px);
            font-size: 14px;
            padding-right: 15px;
            position: relative;
            text-align: right;
        }

        .advantage-desc-right:before {
            right: 0;
            content: ' ';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            background: #888888;
            background: rgba(242, 244, 255, 0.14);
        }

        @media (max-width: 992px) {}

        .stats-level-title {
            font-size: 12px !important;
            padding: 10px 3px !important;
            text-align: right;
        }

        .stats-level-num {
            padding: 10px 3px !important;
            text-align: left;
            color: #39d884;
            font-weight: bold;
            padding-right: 20px !important;
        }

        .stats-left {
            text-align: left;
            font-size: 12px !important;
            padding: 10px 20px !important;
        }

        .stats-right {
            text-align: right;
            padding: 10px 20px !important;
        }

        #txs-table .table td {
            padding: 0px;
        }
    </style>
    <section class="section bg-theme-dark tc-light ov-h " id="ventajas">
        <div class="">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Ventajas">लाभ</h2>
            </div><!-- .section-head @e -->
            <div class="nk-block ov-h">
                <div class="row justify-content-center" style="padding-top: 40px">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important; ">
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">कोई जोखिम</div>
                            <div class="advantage-desc-left">परियोजना में अपनी लागत में दो महीने, जो पहली बार रेफरल के
                                साथ
                                लौटा दी जाएगी के लिए 0.08 ETH के ऊपर से गुजरती नहीं होंगे। नहीं "भुगतान अनुप्रयोगों" और
                                आप
                                इंतजार की जरूरत नहीं है। आपकी राशि तुरंत अपने बटुए के लिए स्थानांतरित कर रहे हैं।</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">निमंत्रण के बिना</div>
                            <div class="advantage-desc-left">प्रणाली पाता संदर्भ में ही USTE करने के लिए। प्रतिभागियों
                                को एक
                                लिंक referncia के साथ आ नहीं इन समेकित और जो पूर्व में खरीदारी करने स्तर 1 से
                                उपयोगकर्ताओं
                                के बीच समान रूप से वितरित हो जाते हैं।</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">अपने upline से रेफ़रल</div>
                            <div class="advantage-desc-left">2 स्लॉट आठवें स्तर पर पहली बार अपने आरोही लाइन भरने जब,
                                मेहमानों के लिए रेफरल तुम्हारा है, या उस contertirán खुद रेफरल जिसमें आप भी लाभ मिलता हो
                                जाएगा।</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">रेफरल Inactivos</div>
                            <div class="advantage-desc-left">निष्क्रिय अपनी जीत गुणा करने के लिए भेजा। अगर आपकी सिफ़ारिश
                                5
                                वीं लाइन में प्रयोग में नहीं है, तो आप 32 + 31 स्थानान्तरण 5 वीं पंक्ति से संबंधित सभी
                                लेन-देन की अधिक आगे प्राप्त करते हैं।</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-value-left teal">CryptoHands कनेक्शन</div>
                            <div class="advantage-desc-left">संदर्भ लिंक CryptoHands और DoubleHands जुड़े हैं; कारण है
                                कि यह
                                दो परियोजनाओं में से एक में अपने एकल संरचना का विस्तार करने के लिए संभव है, और अन्य
                                परियोजना
                                की संरचना स्वचालित रूप से बनाया गया है यही कारण है।</div>
                        </div>
                    </div>
                    <div id="advantages-logo" class="col-mb-10 col-sm-2 col-md-2 col-lg-2 col-xl-2 "
                        style="text-align: center;"><img class="banner-gfx-icon banner-gfx-icon-1"
                            src="images/dark/eth-white.png"
                            style="position: relative;top:33.33%;height: 25%; width: auto;left:0 !important" alt="">
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-3 col-xl-3 "
                        style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">यह एक ऐसी प्रणाली है कि कोई केन्द्र नियंत्रित है। मानव
                                कारक
                                (बोर्ड प्रशासक सहित) पूरी तरह से अनुपस्थित है। कोई भी बंद कर सकते हैं, सिस्टम या रोक फंड
                                में
                                किए गए परिवर्तन। स्मार्ट खुला स्रोत अनुबंध हटाया नहीं जा सकता ethereum नेटवर्क।</div>
                            <div class="advantage-value-right teal">विकेन्द्रीकरण कुल</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">परियोजना प्रबंधन (इसे बदलने के लिए संभव नहीं है) फंड, सभी
                                गणना और स्थानान्तरण एक स्मार्ट अनुबंध के माध्यम से किया जाता है के लिए उपयोग नहीं है, और
                                तुरंत इसी ethereum पर्स के लिए सभी निधियों अनुप्रेषित।</div>
                            <div class="advantage-value-right teal">प्रतिनिधिमंडलों के बीच लेन-देन</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right ">यहां तक ​​कि अगर इस परियोजना की वेबसाइट अस्तित्व में रह
                                गए,
                                अनुबंध बुद्धिमान उपलब्ध सिस्टम ब्लॉक ethereum की श्रृंखला में हमेशा के लिए रहेगा।</div>
                            <div class="advantage-value-right teal">सिस्टम को रोकने में असमर्थ</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">प्राप्त आय हर साल दोहराया जा सकता है। जबकि अपने ढांचे में
                                कम
                                लोगों को इस समारोह, अपने लाभ अधिक से अधिक इस्तेमाल करते हैं। सभी निष्क्रिय रेफरल भी एक
                                ही
                                स्तर के लिए सभी रेफरल के लिए एक "प्रवेश द्वार" कर रहे हैं।</div>
                            <div class="advantage-value-right teal">समारोह "नवीनीकृत करें"</div>
                        </div>
                        <div class="advantage-container">
                            <div class="advantage-desc-right">सरलीकृत पंजीकरण "CryptoHands के माध्यम से" CryptoHands से
                                अपने
                                upline शामिल हो सकते हैं के लिए धन्यवाद; इसके अलावा, आपके संदर्भ CryptoHands DoubleHands
                                संदर्भ स्वचालित रूप से बन सकता है।</div>
                            <div class="advantage-value-right teal">CryptoHands के माध्यम से रजिस्टर</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">ये सिर्फ कुछ लाभ कर रहे हैं। यदि
                आप
                कोई प्रश्न है?<br> <a href="/faq" style="color: #39d884 !important" class="">पूछे जाने वाले प्रश्न
                    देखें</a><br> <a href="/faq" style="color: #39d884 !important">ethereum के बारे में पूछे जाने वाले
                    प्रश्न देखें</a></div>
        </div>
    </section><!-- // -->
    <section class="section bg-theme tc-light " id="partners">
        <div class="">
            <!-- Section Head @s -->
            <div class="section-head text-center wide-auto-sm tc-light">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Estadísticas">लाइव
                    सांख्यिकी</h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="">
                <div class="row justify-content-center">
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2" style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><i
                                    class="fa fa-users" style="font-size:6em"></i></div>
                            <div>
                                <h3><%=platformData.totalUsers %></h3>
                                <div>कुल प्रतिभागियों</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table text-center" style="width: 100%;">
                                    <tr>
                                        <td class="stats-level-title">स्तर 1</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[0].total %></td>
                                        <td class="stats-level-title">स्तर 2</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[1].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">स्तर 3</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[2].total %></td>
                                        <td class="stats-level-title">स्तर 4</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[3].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">स्तर 5</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[4].total %></td>
                                        <td class="stats-level-title">स्तर 6</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[5].total %></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-level-title">स्तर 7</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[6].total %></td>
                                        <td class="stats-level-title">स्तर 8</td>
                                        <td class="stats-level-num"><%= platformData.totalUsersByLevel[7].total %></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:20px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/login">लॉग में</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/points.svg" style="height: 100px; width: auto" alt=""></div>
                            <div>
                                <h3>12636</h3>
                                <div>मेहमानों को ऑनलाइन</div>
                            </div>
                            <div style="margin-top:20px">
                                <table class="table">
                                    <tr>
                                        <td class="stats-left">परियोजना के वर्ष</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.projectTime %></span>वर्ष
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">लेन-देन</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.total %></span></td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">XS 24 घंटे</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hTotal %></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:55px"><a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round" href="/signup">खाता
                                    खोलें</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-mb-10 col-sm-10 col-md-10 col-lg-8 col-xl-2 " style="margin-top: 20px">
                        <div class="token-status token-status-s5 bg-theme-alt round no-bd animated fadeInUp"
                            data-animate="fadeInUp" data-delay=".9"
                            style="visibility: visible; animation-delay: 0.9s;height: 100%;">
                            <div class="token-box token-box-s3" style="padding-top:50px;padding-bottom:50px"><img
                                    src="images/dark/eth-white.png" style="height: 100px; width: auto" alt=""></div>
                            <div style="margin-top:20px">
                                <table id="txs-table" class="table">
                                    <tr>
                                        <td class="stats-left">बराबर बीटीसी</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.btc_volume %></span>बट्स
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">डॉलर के समतुल्य</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.usd_volume %></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">पिछले 24 घंटे</td>
                                        <td class="stats-right"><span class="teal"
                                                style="font-weight: bold;"><%= platformData.txs.last24hVolume %></span>ETH
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stats-left">1 ETH</td>
                                        <td class="stats-right">= <span class="teal"
                                                style="font-weight: bold;">$<%= platformData.prices.eth_usd %></span>USDT
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="token-action" style="margin-top:80px"> <a
                                    class="btn btn-md btn-grad btn-grad-alternet btn-round"
                                    href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>"> देखें
                                    ADDRESS</a></div>
                        </div>
                    </div>
                </div>
            </div><!-- Block @e -->
        </div>
    </section> <!-- // -->
    <section class="section bg-theme-alt tc-light section-connect" id="media-partner">
        <div class="transform-line"></div>
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="Transacciones">नए
                    लेनदेन
                </h2>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="row">
                <div class="col-mb-10 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                    <table class="table text-center" style="">
                        <thead>
                            <th style="padding: 0;" class="teal">तिथि</th>
                            <th style="padding: 0;" class="teal">स्तर</th>
                            <th style="padding: 0;" class="teal">मात्रा</th>
                            <th style="padding: 0" class="teal">गंतव्य</th>
                        </thead>
                        <tbody><% for(let tx of platformData.moneyTxs) {%><tr>
                                <td>पूर्व<span class="timeSince"><%= tx.time %></span></td>
                                <td><%= tx.level %></td>
                                <td><%=  platformData.levels[tx.level].price %></td>
                                <td><a href="<%= `${etherscanExplorer}/tx/${tx.txHash}` %>"><%= tx.userAddress %></a>
                                </td>
                            </tr><% } %> </tbody>
                    </table>
                    <div style="text-align: center;margin-top:40px;font-weight: bold;" class="blue">
                        <ahref="<%= `${etherscanExplorer}/address/${platformData.contractAddress}` %>"> सभी आंकड़े
                            Etherscan
                            में उपलब्ध हैं</a>
                    </div>
                </div>
            </div> <!-- Block @e -->
        </div>
    </section> <!-- // -->
    <section class="section bg-theme bg-theme-dark tc-light" id="faqs">
        <div class="container">
            <div class="section-head text-center wide-auto-sm">
                <h2 class="title title-s4 animated" data-animate="fadeInUp" data-delay=".1" title="FAQS">अक्सर पूछे जाने
                    वाले सवाल</h2>
                <p class="animated" data-animate="fadeInUp" data-delay=".2">हम जानते हैं कि आप प्रणाली के संचालन के बारे
                    में
                    सवाल हो सकते हैं।</p>
            </div><!-- .section-head @e -->
            <!-- Block @s -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <ul class="nav tab-nav tab-nav-line mgb-r animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="active" data-toggle="tab" href="#sistema-1">प्रणाली</a></li>
                            <li><a data-toggle="tab" href="#faq-registro">पंजीकरण</a></li>
                            <li><a data-toggle="tab" href="#faq-referidos">रेफ़रल</a></li>
                            <li><a data-toggle="tab" href="#faq-niveles">स्तरों</a></li>
                            <li><a data-toggle="tab" href="#faq-repetir">फंक्शन "दोहराएँ"</a></li>
                            <li><a data-toggle="tab" href="#faq-riesgos">जोखिम</a></li>
                        </ul>
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="tab-pane fade show active" id="sistema-1">
                                <div class="accordion accordion-faq" id="#faq-67">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-67">इससे
                                            पहले
                                            इसी तरह की प्रणाली के उद्भव पहले से ही अस्तित्व में criptomonedas ऐसा क्यों
                                            है
                                            बेहतर है?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67" class="collapse " data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>हाँ, वास्तव में, ऐसी प्रणालियों 5 साल के लिए और इंटरनेट के आगमन से
                                                    पहले
                                                    से ही अस्तित्व में है, और वे काम करते हैं। हालांकि, उन्होंने कई
                                                    प्रमुख
                                                    समस्या नहीं थी:<br><br>1) विभिन्न भुगतान प्रणाली लगातार पर्स
                                                    प्रतिभागियों को अवरुद्ध।<br>2) मानव कारक और निरंतर प्रक्रियाओं, कौन
                                                    किसे
                                                    और जो करने के लिए धन का तबादला के रूप में सभी परिणामी परिणामों के
                                                    साथ
                                                    पुष्टिकरण मैनुअल स्थानान्तरण नहीं है।<br>3) कोई पुनरावृत्ति था। एक
                                                    व्यक्ति को एक बार एक ढांचा बनाया और एक बार पैसा प्राप्त है, हालांकि
                                                    अपेक्षाकृत बड़े। और फिर वे सब मोड़ संरचना में गहरी हो गया, और
                                                    भागीदार
                                                    अधिक नहीं मिला।<br>4) बंद या हैक एक साइट प्रणाली के एक नाकाबंदी का
                                                    मतलब,
                                                    और कभी कभी हैक साइटों।<br><br>Criptomonedas और ethereum हल करती है
                                                    इन
                                                    सभी समस्याओं:<br><br>1) बटुआ भी सिद्धांत रूप में अवरुद्ध नहीं किया
                                                    जा
                                                    सकता। सिक्के के रिवर्स: किसी भी मामले में, अपने बटुए की नहीं खो
                                                    नियंत्रण
                                                    करते हैं। यह दूसरों के साथ अपने बटुए को बदलने के लिए असंभव हो
                                                    जाएगा।<br>2) सार्वजनिक लेनदेन और तुरंत स्वत: पुष्टियों। मानव कारक
                                                    पूरी
                                                    तरह से बाहर रखा गया है।<br>3) हम "दोहराएँ" समारोह है, जो
                                                    प्रतिभागियों को
                                                    पहले से अन्य प्रणालियों में आवेदन किया था किया था। एक बार जब आप एक
                                                    संरचना बनाने और हर साल आय प्राप्त करते हैं। अपने ढांचे में लोगों को
                                                    हर
                                                    साल अपनी भागीदारी का विस्तार नहीं करता है, अपनी आय में कई बार बढ़
                                                    जाती
                                                    है। पृष्ठ पर अधिक कैसे यह "दोहराएं" खंड में काम करता है। 4) बंद या
                                                    अपहरण
                                                    के रूप में बुद्धिमान CRYPTOHANDS अनुबंध मुख्य नेटवर्क ethereum में
                                                    लोड
                                                    किया जाता है और कोई भी इसे हटाने के लिए, इसके डेवलपर्स सहित कर सकते
                                                    हैं
                                                    किसी भी तरह से साइट, प्रणाली के संचालन को प्रभावित।<br><br>इसका मतलब
                                                    है
                                                    कि मानव जाति के इतिहास में पहली बार के लिए (कोई कैसे ध्वनि जोर से
                                                    बात),
                                                    वहाँ कोई वास्तविक 100% गारंटी है कि खाते पायरेटेड नहीं किया जाएगा,
                                                    और
                                                    यहां तक ​​कि सैद्धांतिक रूप से जब साइट बंद कर दिया है, स्मार्ट
                                                    अनुबंध और
                                                    सिस्टम में ही वैसे भी मौजूद रहेंगे।<br>इसके अलावा, दुनिया में किसी
                                                    भी
                                                    प्रोग्रामर ही स्मार्ट अनुबंध और संरचना के किसी भी नेता एक ही स्मार्ट
                                                    अनुबंध पर एक साइट संरचना कर सकते हैं के आधार पर एक नया साइट बना सकते
                                                    हैं। इसलिए, प्रणाली परियोजना के प्रशासन द्वारा कोई भी कार्रवाई करने
                                                    से
                                                    सुरक्षित है।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-2">कैसे पैसे बनाने के लिए यहाँ?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-2" class="collapse show" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>त्वरित आरंभ गाइड में है<a href="#">घर</a>अनुभाग "यह कैसे काम करता"
                                                    में।<br>विस्तृत निर्देश एक अलग पृष्ठ पर कर रहे हैं।<a href="#">यह
                                                        कैसे
                                                        काम करता</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-67-3">गारंटी देता है कि वे बंद नहीं करने या अपना खाता
                                            अवरुद्ध
                                            कर देगा क्या हैं?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-67-3" class="collapse" data-parent="#faq-67">
                                            <div class="accordion-content">
                                                <p>यह सबसे महत्वपूर्ण प्रश्नों में से एक है!<br><br>मानव जाति के इतिहास
                                                    में
                                                    पहली बार के लिए, वहाँ 99% है, लेकिन 100% गारंटी देता है कि कोई भी
                                                    अपने
                                                    बटुए या आपके खाते, परियोजना (इस cryptocurrency की एक विशेषता है) के
                                                    प्रशासन सहित ब्लॉक कर सकते हैं।<br><br>guaratees पेज पर लिखा है। यह
                                                    पिछले "गारंटी" बिंदु में काम करता है।<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-registro">
                                <div class="accordion accordion-faq" id="faq-68">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-68-1">कैसे
                                            DoubleHands में रजिस्टर करने के लिए?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-1" class="collapse show" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>लॉगिन (ईमेल या टेलीफोन) और पासवर्ड द्वारा पंजीकरण एक पुरानी अवधारणा
                                                    है।
                                                    मेल के लिए उपयोग के नुकसान के बाद से खाते में खो पहुँच का मतलब
                                                    है।<br><br>अपनी लाइन के 1 स्तर के सफल खरीद पंजीकरण के तथ्य आरोही
                                                    है।<br><br>संक्षिप्त गाइड पेज पर हस्ताक्षर में मौजूद
                                                    है:।<br><br>विस्तृत
                                                    गाइड कैसे यह अनुभाग "रजिस्टर" में काम करता है।<br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-2">यह upline (आमंत्रणकर्ता) के बिना रजिस्टर करने के लिए
                                            संभव है?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-2" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>यह अपलाइन के बिना सिस्टम में लॉग इन करने के लिए असंभव है। आप अपलाइन
                                                    निर्दिष्ट नहीं करते हैं, बुद्धिमान अनुबंध लेनदेन स्वीकार नहीं
                                                    करेंगे। यह
                                                    विचार के स्तर में मौलिक बिंदुओं में से एक है।<br><br>क्षेत्र "डाटा"
                                                    एक
                                                    टिप्पणी या किसी बटुए की एक अतिरिक्त सुविधा नहीं है। इस श्रृंखला में
                                                    ही
                                                    ethereum ब्लॉक का एक अभिन्न हिस्सा है।<br><br>जबकि एक रेफ़रल लिंक या
                                                    आमंत्रणकर्ता का QR कोड के माध्यम से स्वत: पंजीकरण, अपने upline के
                                                    पते के
                                                    साथ "डाटा" क्षेत्र सहित सभी डेटा, स्वचालित रूप से निर्दिष्ट कर रहे
                                                    हैं।
                                                    बस "एक क्लिक में रजिस्टर।" बटन पर क्लिक<br><br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-68-3">कैसे अपने खाते का उपयोग करने के लिए?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-68-3" class="collapse" data-parent="#faq-68">
                                            <div class="accordion-content">
                                                <p>आप पृष्ठ पर हस्ताक्षर पर अपने खाते का उपयोग कर सकते हैं<br><br>आप पर
                                                    लॉग
                                                    ऑन करने आपके खाते के पासवर्ड और खाते के बिना पूरी तरह से है काट दिया
                                                    नहीं जा सकता है या अवरुद्ध कर दिया।<br><br>पर अपने खाते पर लॉग ऑन
                                                    करने
                                                    के लिए कैसे कैसे यह "लॉगिन" में पेज काम करता है जानें।</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-referidos">
                                <div class="accordion accordion-faq" id="faq-69">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-69-1">मैं
                                            रेफरल
                                            को आकर्षित करने की जरूरत है?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-1" class="collapse show" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>हालांकि प्रणाली के आधार संदर्भों से एक संरचना का निर्माण करना है, और
                                                    संदर्भ अपने लाभ के स्रोत हैं, एक दिलचस्प तथ्य यह है कि संदर्भ के लिए
                                                    आवश्यक हैं है।<br><br>निमंत्रण के अलावा, आप दो तरह से संदर्भ प्राप्त
                                                    कर
                                                    सकते हैं: "Overflows" और "मुक्त संदर्भ"। इन तरीकों में से प्रत्येक
                                                    के
                                                    लिए, निम्नलिखित पैराग्राफ में नीचे पढ़ें।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-2">कितने रेफरल आमंत्रित कर सकते हैं और वे कैसे वितरित
                                            कर
                                            रहे हैं?<span class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-2" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>व्यक्तिगत रूप से, मैं केवल 2 संदर्भ, जो सीधे आप से जुड़े होते हैं और
                                                    कहा
                                                    जाता है आमंत्रित कर सकते हैं "संदर्भ 1 लाइन।"<br><br>2 संदर्भ 1 लाइन
                                                    (व्यक्तिगत रूप से आपके द्वारा आमंत्रित किया) भी अपने संदर्भ के 2
                                                    आमंत्रित किया है। संरचना 4 में इन प्रतिभागियों "संदर्भ 2 लाइन" कर
                                                    रहे
                                                    हैं।<br><br>फिर, सादृश्य द्वारा, यह संदर्भ 8 और संदर्भ 3 लाइन 16
                                                    लाइन 4
                                                    है।<br><br>तो जब पहले से ही दो है संदर्भ आमंत्रित करने के लिए जारी
                                                    है,
                                                    बाद के संदर्भ इसकी संरचना की गहराई से जुड़ा हुआ है और और 10 वीं लाइन
                                                    तक
                                                    इतने पर 2nd, 3rd के संदर्भ बन गया है। यह "अतिप्रवाह" कहा जाता है। आप
                                                    नीचे दिए गए पैरा अतिप्रवाह "?" "क्या है" में "अतिप्रवाह" के बारे में
                                                    अधिक देख सकते हैं।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">"अतिप्रवाह" क्या है?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>अतिप्रवाह सभी लाइनों के उनके upline, से रेफरल प्राप्त करने की विधि है
                                                    जो,
                                                    2 रेफरल, "अतिप्रवाह" के आगे गुजर संदर्भ, आप के लिए यानी के साथ सभी
                                                    अंतराल को भरने।<br><br>उदाहरण: priumera upline (सिस्टम के लिए
                                                    आमंत्रणकर्ता) दो संदर्भों आमंत्रित किया और अधिक आमंत्रित जारी रखा,
                                                    या
                                                    शीघ्र ही विज्ञापन नहीं रोका। तीसरे संदर्भ "अतिप्रवाह" द्वारा किया
                                                    जाएगा।<br><br>नोट: Overflows केवल अपने सभी लाइनों 8 पूरी तरह से भर
                                                    नहीं,
                                                    लेकिन यह भी लाइन 10 1536 सभी लाइनों 8 में अपने संदर्भ संरचना 510 के
                                                    अलावा और अधिक स्थान भरने से नीचे गिर।<br><br>रेखा 10 के बाद, गैस
                                                    मात्रा
                                                    भुगतान की राशि की तुलना में अधिक हो जाता है। इतना ही नहीं,
                                                    ज्यादतियों,
                                                    cryptocurrency ethereum अपने आप में सीमित हैं के बाद से अधिकतम संभव
                                                    सीमा
                                                    ethereum गैस है 8000000. इसलिए, बुद्धिमान अनुबंध द्वारा अनंत
                                                    अतिप्रवाह
                                                    परिभाषा से असंभव है।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-3">क्या "अतिप्रवाह" काम की लाइन?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-3" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>संक्षेप में:<br><br>लाइनों 5 समावेशी के लिए एक स्मार्ट अनुबंध के
                                                    माध्यम
                                                    से एक साइट के बिना। अतिप्रवाह लाइन 10 समावेशी तक चलेगा।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-5">"मुक्त रेफरल" क्या हैं?<span
                                                class="accordion-icon accordion-icon-s2"></span></h5>
                                        <div id="faq-69-5" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>अनावश्यक संदर्भ प्रणाली जो रेफरल लिंक के बिना किसी कारण के लिए आए हैं
                                                    के
                                                    सदस्य हैं।<br><br>अनावश्यक संदर्भ प्रणाली भर में समान रूप से वितरित,
                                                    और
                                                    उन आरोही लाइनों जो पहले से प्रणाली में दर्ज किए गए के साथ शुरू कर
                                                    रहे
                                                    हैं।<br><br>महत्वपूर्ण नोट: संदर्भ बुद्धिमान अनुबंध के माध्यम से
                                                    नहीं
                                                    प्रणाली के माध्यम से नि: शुल्क वितरित किया जाता है, लेकिन साइट की
                                                    प्रणाली द्वारा।<br><br>यह केवल एक चीज है कि चतुर अनुबंध बनाता है और
                                                    यह
                                                    क्यों है:<br><br>यदि संदर्भ प्रणाली के विकास के साथ बुद्धिमान अनुबंध
                                                    के
                                                    माध्यम से नि: शुल्क वितरित किए गए बड़े पत्थरों का उपभोग होता है कि
                                                    गैस
                                                    का एक बहुत है, जो उपयोगकर्ताओं के लिए फायदेमंद नहीं होगा। बाकी सब
                                                    कुछ,
                                                    "अतिप्रवाह" सहित बुद्धिमान अनुबंध द्वारा वितरित किया जाता है।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-69-6">मैं पहली बार के स्तर का नहीं खरीदने के लिए संदर्भ को
                                            आमंत्रित कर सकते हैं?<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-69-6" class="collapse" data-parent="#faq-69">
                                            <div class="accordion-content">
                                                <p>तुम्हें पता है, लेकिन मुक्त रेफरल हो जाते हैं और सिस्टम के अन्य
                                                    सदस्यों
                                                    तक पहुँचते हैं, आप नहीं कर सकते हैं। प्रणाली खरीदने स्तर 1 से पहले
                                                    "पता"
                                                    नहीं होगा के बाद से।</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-niveles">
                                <div class="accordion accordion-faq" id="faq-70">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-70-1">
                                            प्रणाली
                                            में स्तर क्या हैं?<span class="accordion-icon accordion-icon-s2"></span>
                                        </h5>
                                        <div id="faq-70-1" class="collapse show" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>स्तर: इस राज्य कि अपनी "गहराई" तदनुसार में संदर्भों से पारिश्रमिक
                                                    प्राप्त
                                                    करने का अधिकार देता है है।<br><br>उदाहरण:<br>स्तर 1 मिलती आप 2 से
                                                    व्यक्तिगत रूप से आमंत्रित संदर्भ का स्तर 1 (रेफरल लाइन 1) खरीदने के
                                                    लिए
                                                    एक पुरस्कार प्राप्त करने के लिए।<br>स्तर 2 आप अपने मेहमानों के लिए
                                                    स्तर
                                                    2 सन्दर्भ 4 मेहमानों की खरीद के लिए एक पुरस्कार प्राप्त करने का
                                                    अधिकार
                                                    देता है व्यक्तिगत रूप से का संदर्भ 2 (संदर्भ 2 लाइन) के ऊपर।<br>स्तर
                                                    3
                                                    मिलती आप स्तर 3 संदर्भ 8 लाइन 3 खरीद के लिए एक पुरस्कार प्राप्त करने
                                                    के
                                                    लिए।<br> स्तर 6 आपको लाइन 6 पर 64 संदर्भों के स्तर 6 खरीदने के लिए
                                                    एक
                                                    इनाम प्राप्त करने का हक देता है।
                                                    <br><br> स्तर 7 आपको लाइन 7 पर अपने संदर्भ 128 के स्तर 7 की खरीद के
                                                    लिए
                                                    एक इनाम प्राप्त करने का हक देता है।
                                                    <br><br> और अंतिम आठवें स्तर आपको लाइन 8 पर 8 संदर्भों के आठवें स्तर
                                                    की
                                                    खरीद के लिए एक इनाम प्राप्त करने का अधिकार देता है।</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-2"> यदि मेरे पास स्तर 2 है, तो क्या मैं स्तर 3 के बिना
                                            स्तर
                                            4 को तुरंत खरीद सकता हूं?
                                            <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-70-2" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>स्तर केवल क्रमिक रूप से और क्रम में खरीदे जाते हैं। यदि आप 3rd के
                                                    बिना
                                                    4th लेवल खरीदने की कोशिश करते हैं, तो स्मार्ट कॉन्ट्रैक्ट ट्रांसफर
                                                    को
                                                    स्वीकार नहीं करेगा। इस मामले में, पैसा कहीं भी नहीं जाएगा और आपके
                                                    साथ
                                                    रहेगा।
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title collapsed" data-toggle="collapse"
                                            data-target="#faq-70-3"> क्या होगा यदि मेरा रेफरल, उदाहरण के लिए, पंक्ति 3,
                                            मुझे
                                            स्तर 3 खरीदना चाहता है, लेकिन मेरे पास अभी भी सिस्टम में केवल स्तर 2 है?

                                            <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-70-3" class="collapse" data-parent="#faq-70">
                                            <div class="accordion-content">
                                                <p>निम्नलिखित होगा:
                                                    <br><br> बुरी खबर:
                                                    <br> पैसा आपके पास नहीं जाएगा, लेकिन उसी लाइन के आपके अपलाइन पर, इस
                                                    मामले में 3rd। यदि आप समय पर स्तर खरीदते हैं, तो यह नहीं होगा। इसके
                                                    अलावा, बाद के सभी स्तरों (पहले को छोड़कर) पहले से अर्जित धन से खरीदे
                                                    जाते हैं, अपने स्वयं के नहीं से। इसके अलावा। आप अग्रिम में देखेंगे
                                                    जब
                                                    स्थिति "खतरनाक" हो जाएगी, और आपके पास प्रत्येक स्तर खरीदने के लिए
                                                    पर्याप्त समय होगा। <br> यदि यह एक बार हुआ है, यह डरावना नहीं है,
                                                    क्योंकि
                                                    प्रत्येक स्तर में लाभ (पहले एक को छोड़कर) स्तर की लागत से कई गुना
                                                    अधिक
                                                    है, और इस मामले में भी स्तर देर से खरीदने के बाद, सभी बाद की खरीद के
                                                    लिए
                                                    धन बाकी संदर्भों के लिए समान स्तर आपके पास जाता है।
                                                    <br><br> अच्छी खबर:
                                                    <br> यदि आपका कोई संदर्भ समय पर स्तर नहीं खरीदता है, तो आपके लिए
                                                    पैसा
                                                    आपके पास जाता है। यदि आपके संदर्भ में से एक भी, उदाहरण के लिए, लाइन
                                                    3,
                                                    किसी कारण से सिस्टम से वापस ले लिया गया (उदाहरण के लिए, बटुए तक
                                                    पहुंच खो
                                                    दिया), तो तीसरी पंक्ति के धन हस्तांतरण के सभी संदर्भ 8 (आपका नहीं)
                                                    आप
                                                    को! तीसरी पंक्ति में अन्य सभी संदर्भ भी धन हस्तांतरित करते हैं।
                                                    <br> एक उदाहरण केवल संदर्भ के लिए दिया गया है। और अगर दो या कई हैं?
                                                    आपकी
                                                    आय कई गुना बढ़ जाती है।
                                                    <br><br> परिणाम: आपके द्वारा अपनी संरचना में अस्वीकार किए गए या
                                                    निष्क्रिय किए गए अधिक संदर्भ, कभी-कभी, आपके INCOME के ​​माध्यम से हो
                                                    जाएंगे
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-repetir">
                                <div class="accordion accordion-faq" id="faq-71">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-71-1">
                                            "रिपीट"
                                            फ़ंक्शन क्या है और यह क्यों आवश्यक है?
                                            <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-71-1" class="collapse show" data-parent="#faq-71">
                                            <div class="accordion-content">
                                                <p>"रिपीट" फ़ंक्शन एक विकल्प है जो आपको हर महीने हर समय अर्जित की गई
                                                    कमाई को
                                                    दोहराने की अनुमति देता है। इसके अलावा, सिस्टम को छोड़ने वाले इसके
                                                    प्रत्येक संदर्भ में इसका इनाम कई गुना अधिक है।
                                                    <br><br>
                                                    ऑपरेशन के सिद्धांत को पृष्ठ पर विस्तार से वर्णित किया गया है।
                                                    <a href="#">यह कैसे काम करता है
                                                    </a> "पुनरावृत्ति" अनुभाग में।
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-71-4">
                                        यदि आप एक महीने में स्तरों का विस्तार नहीं करते हैं तो क्या होगा?
                                        <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-71-4" class="collapse" data-parent="#faq-71">
                                        <div class="accordion-content">
                                            <p>आपका खाता सिस्टम में हमेशा के लिए रहता है, और किसी भी समय आप स्तरों को
                                                बढ़ा
                                                सकते हैं और फिर से आय प्राप्त कर सकते हैं।
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="faq-riesgos">
                                <div class="accordion accordion-faq" id="faq-72">
                                    <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                        <h5 class="accordion-title" data-toggle="collapse" data-target="#faq-72-1"> क्या
                                            यह
                                            कानूनी है?
                                            <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                        <div id="faq-72-1" class="collapse show" data-parent="#faq-72">
                                            <div class="accordion-content">
                                                <p>हां, चूंकि कोई भी आपको किसी को पैसे हस्तांतरित करने के लिए मजबूर नहीं
                                                    करता है। सभी लेनदेन स्वैच्छिक हैं।
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-4">
                                        क्या यह कानूनी है? <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-4" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>हां, चूंकि कोई भी आपको किसी को पैसे हस्तांतरित करने के लिए मजबूर नहीं
                                                करता
                                                है। सभी लेनदेन स्वैच्छिक हैं।</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item accordion-item-s4 bg-theme-alt">
                                    <h5 class="accordion-title collapsed" data-toggle="collapse"
                                        data-target="#faq-72-5">
                                        क्या यहां कोई जोखिम है? यदि हां, तो कौन सा?
                                        <span class="accordion-icon accordion-icon-s2"></span> </h5>
                                    <div id="faq-72-5" class="collapse" data-parent="#faq-72">
                                        <div class="accordion-content">
                                            <p>साइट पर हर जगह हम लिखते हैं कि सिस्टम में कोई जोखिम नहीं है। इससे हमारा
                                                तात्पर्य यह है कि सारा पैसा तुरंत आपके वॉलेट में ट्रांसफर हो जाता है और
                                                उसमें स्टोर हो जाता है। इसका मतलब है कि कोई जोखिम नहीं है।
                                                <br><br> हालांकि, यह विचार करने योग्य है कि आपके पंजीकरण और आपके पहले
                                                संदर्भ
                                                के पंजीकरण के बीच के समय अंतराल में, एक स्थिति बनती है जिसमें 0.08 ETH
                                                आपके
                                                अपलाइन में स्थानांतरित कर दिया गया था, लेकिन आपने अभी तक उन्हें अपने
                                                पहले
                                                संदर्भ से प्राप्त नहीं किया है ।
                                                <br>इसलिए, तकनीकी रूप से अधिकतम सैद्धांतिक जोखिम 0.08 ETH है। इन 0.08
                                                ETH को
                                                पहले संदर्भ से तुरंत वापस कर दिया जाएगा।
                                                <br><br> यहां तक ​​कि अगर आप विशेष रूप से किसी भी संदर्भ को आमंत्रित
                                                नहीं
                                                करते हैं, तो जल्दी या बाद में आप अपनी भागीदारी के बिना निम्नलिखित तरीकों
                                                से
                                                संदर्भ प्राप्त करेंगे:
                                                <br> 1) इसकी आरोही लाइनों के अतिप्रवाह के कारण,
                                                <br> 2) मुक्त प्रणाली संदर्भ।
                                                <br><br> इसलिए, यहां तक ​​कि यह प्रतीकात्मक जोखिम भी 0 हो जाता है।
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
</main><%- include('footer'); -%>