<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>लॉग इन | DoubleHands - La क्रिप्टोकरेंसी के साथ पैसा कमाने का सबसे आसान और सुरक्षित तरीका más fácil y segura de ganar dinero con Criptomonedas</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=192">
    <link rel="stylesheet" href="assets/css/style-dark.css?ver=192" id="changeTheme">
    <!-- Extra CSS -->
    <link rel="stylesheet" href="assets/css/theme.css?ver=192">

    < <style>
        .imageRot {
        -webkit-animation: spin 22s ease-in-out;
        -moz-animation: spin 22s ease-in-out;
        animation: spin 22s ease-in-out;
        }

        @-moz-keyframes spin {
        100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
        }

        @-webkit-keyframes spin {
        100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
        }

        @keyframes spin {
        100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
        }

        @media (max-width: 992px) {
        #signup-container {
        margin-top: 40px;
        height: 60vh !important;
        }
        #signup-innercontainer {
        top: 2vh !important;

        }
        }


        #auto-login-btn:before{
        background-color:#1c7545b3 !important
        }

        </style>

</head>


<body class="nk-body body-wider theme-dark mode-onepage">

    <div class="nk-wrap">
        <header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
            <!-- Header @s -->
            <%- include('header__menu') -%>
            <!-- Banner @s -->
            <div class="header-banner bg-theme-dark">
                <div class="nk-banner">
                    <div class="banner banner-mask-fix banner-fs banner-single tc-light">
                        <div class="banner-wrap" style="height: 100%;">

                            <div class="row align-items-center justify-content-center gutter-vr-30px"
                                style="margin-top:50px;height: 100%">

                                <div class="col-lg-6 text-center text-lg-center">
                                    <div style="vertical-align: middle;">
                                        <div class="row">
                                            <div class="col-8 offset-2">
                                                <h1 style="padding:10px">लॉग इन करें</h1>
                                                <h6 style="margin-bottom:40px">हम कभी भी आपसे आपकी निजी कुंजी दर्ज करने के लिए नहीं कहते हैं</h6>

                                                <a id="auto-login-btn" onclick="App.login()"
                                                    style="margin-top: 20px;width:100%;padding:20px 40px;background-image: linear-gradient(to right, #39d884 0%, #28a745 100%)"
                                                    href="#"
                                                    class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                    <h5 style="font-size:1em"><i class="fa fa-sign-in-alt"
                                                            style="font-size:15px"></i> अपने आप साइन इन करें
                                                    </h5>
                                                </a>
                                                <h6 style="color: white;margin-top:30px;font-size:16px"
                                                    id="networkResponse"></h6>
                                                <div style="padding-top:20px">के लिए अनुशंसित:</div>
                                                <div style="margin-bottom: 40px">
                                                    <p
                                                        style="margin-top: 12px; color: #888888; font-size: 13px; font-weight: 400;">
                                                        <i class="fas fa-desktop" style="vertical-align: middle; "></i>
                                                        <span style="vertical-align: middle;margin-right: 4px;">:</span>
                                                        <img class="button_signup_descrlogo_img"
                                                            style="display:inline-block;height: 18px;"
                                                            src="images/dark/metamask-fox.svg">
                                                        <i class="fas fa-mobile-alt"
                                                            style="vertical-align: middle; margin-left: 12px;"></i>
                                                        <span style="vertical-align: middle;margin-right: 4px;">:</span>
                                                        <img class="button_signup_descrlogo_img"
                                                            style="display:inline-block;height: 18px;"
                                                            src="images/dark/trustwallet_icon.svg">
                                                        <img class="button_signup_descrlogo_img"
                                                            style="display:inline-block;height: 18px;"
                                                            src="images/dark/coinbase_icon.png">

                                                    </p>
                                                </div>

                                                <p
                                                    style="position: relative; margin-top: 36px; margin-bottom: 36px; height: 16px; line-height: 16px;">
                                                    <span
                                                        style="position: absolute; top: 50%; left: 0; right: 0; margin-top: -0.5px; width: 100%; height: 1px; background: rgba(242, 244, 255, 0.14);"></span>
                                                    <span
                                                        style="position: relative; height: 16px; line-height: 16px; display: inline-block; ; padding: 0 8px; color: #888888;">ó</span>
                                                </p>
                                                <div
                                                    style="text-align: left;margin-top: 40px;padding-left: 10px;padding-bottom: 10px">
                                                    <img src="images/dark/eth-white.png" style="height: 20px;" alt="">
                                                    आपका ETH पता</div>

                                                <input id="manualLoginAccount"
                                                    placeholder="Ingresa la dirección de tu monedero de Ethereum"
                                                    type="text" class="input-solid input-solid-md required email"
                                                    style="background:#0b0c22;border:1px solid #171a4b">
                                                <a onclick="App.manualLogin()"
                                                    style="margin-top: 20px;width:100%;padding:20px 40px" href="#"
                                                    class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                    <h5 style="font-size:1em">मैन्युअल रूप से लॉगिन करें</h5>
                                                </a>

                                            </div>
                                        </div>

                                    </div>
                                </div><!-- .col -->
                                <div id="signup-container" class="col-lg-6 text-center text-lg-center"
                                    style="height: 90vh; background: #0b0c22;padding:0">
                                    <div id="signup-innercontainer"
                                        style="vertical-align: middle;position: relative; top: 20vh">
                                        <div class="row" style="height: 100%;">
                                            <div class="col-8 offset-2">
                                                <img id="headerImg" src="images/dark/blue.png" style="height: 200px;"
                                                    alt="">
                                                <h1 style="margin-top: 40px">DoubleHands</h1>
                                                <h5>दुनिया का सबसे पुराना सूत्र और ब्लॉकचेन तकनीक</h5>
                                                <a style="margin-top: 20px;width:40%;padding:20px 40px" href="/signup"
                                                    class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme ">
                                                    <h5 style="font-size:1em"><i class="fa fa-user-plus"
                                                            style="font-size:15px;"></i> साइन अप करें</h5>
                                                </a>

                                                <div class="nk-block block-footer" style="margin-top: 60px">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="wgs wgs-text text-center mb-3">
                                                                <ul class="social pdb-m justify-content-center">
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.65"><a
                                                                            href="<%= platformData.facebook %>"><em
                                                                                class="social-icon fab fa-facebook-f"></em></a>
                                                                    </li>
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.7"><a
                                                                            href="<%= platformData.twitter %>"><em
                                                                                class="social-icon fab fa-twitter"></em></a>
                                                                    </li>
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.75"><a
                                                                            href="<%= platformData.youtube %>"><em
                                                                                class="social-icon fab fa-youtube"></em></a>
                                                                    </li>
                                                                    <li class="animated" data-animate="fadeInUp"
                                                                        data-delay="1.8"><a
                                                                            href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>"><em
                                                                                class="social-icon fab fa-github"></em></a>
                                                                    </li>
                                                                </ul>
                                                                <div class="copyright-text copyright-text-s3 ">
                                                                    <p><span class="d-sm-block">सभी अधिकार सुरक्षित। © 2020,
                                                                            DoubleHands
                                                                        </span></p>
                                                                </div>
                                                                <div style="font-size: 14px;margin-top: 20px"><a
                                                                        href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">स्मार्ट कॉन्ट्रैक्ट मैनेजमेंट</a></div>
                                                                <div style="font-size: 14px"><a href="/terminos"">नियम और शर्तें</a>
                                                                </div>
                                                                <div style=" font-size: 14px"><a
                                                                            href="<%= `${etherscanExplorer}address/${platformData.contractAddress}` %>">खुला स्रोत</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .col -->
                            </div><!-- .row -->



                        </div>
                    </div>
                </div><!-- .nk-banner -->
                <div class="nk-ovm mask-c-dark shape-v mask-contain-bottom"></div>

                <!-- Place Particle Js -->
                <div id="particles-bg" class="particles-container particles-bg" data-pt-base="#00c0fa"
                    data-pt-base-op=".3" data-pt-line="#2b56f5" data-pt-line-op=".5" data-pt-shape="#00c0fa"
                    data-pt-shape-op=".2"></div>
            </div>
            <!-- .header-banner @e -->
        </header>

        

        <div class="modal fade" id="metamaskModal" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"><em
                            class="ti ti-close"></em></a>
                    <div class="modal-body p-md-4 p-lg-5">
                        
                        <div class="row">
                            <div class="col-10 offset-1 text-center">
                                <h3 class="title title-md">मेटामास्क डाउनलोड करें</h3>
                                <a href="https://metamask.io/"><img src="/images/dark/download-metamask-dark.png" alt=""></a>
                                <p style="text-align: justify;margin-top:20px">स्वचालित रूप से प्लेटफ़ॉर्म को पंजीकृत करने और दर्ज करने के लिए आपको ब्राउज़र के लिए एथेरम वॉलेट, मेटामास्क स्थापित करना होगा.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="preloader"><span class="spinner spinner-round"></span></div>

    <!-- JavaScript -->
    <script src="assets/js/jquery.bundle.js?ver=192"></script>
    <script src="assets/js/scripts.js?ver=192"></script>
    <script src="assets/js/charts.js"></script>
    <script>

        $(document).ready(function () {

            $("#headerImg").addClass("imageRot")

            setTimeout(function () {
                $("#headerImg").removeClass("imageRot")
            }, 22200)

            $('#headerImg').click(function () {
                $("#headerImg").addClass("imageRot")
                setTimeout(function () {
                    $("#headerImg").removeClass("imageRot")
                }, 22200)
            })

            
        })
    </script>
    <script src="<%= `${host}/assets/js/bundle.js` %>"></script>
</body>

</html>